<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:outputLabel for="beanBulletins" value="Bulletins:"/>
	<h:panelGroup>
		<a4j:region>
		<rich:extendedDataTable id="beanBulletins" value="#{bulletinList}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Name:" />
		       </f:facet>
		       <h:outputText value="#{row.name}" />
		    </rich:column>

			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Message:" />
		       </f:facet>
		       <h:outputText value="#{row.message}" />
		    </rich:column>


			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Expiration:" />
		       </f:facet>
		       <h:outputText value="#{row.expirationDate}" />
		    </rich:column>
		    
		    <rich:column>
		    	<f:facet name="header">
		    		<h:outputText value="CSR:" />
		    	</f:facet>
		    	<h:outputText value="#{row.csr}" />
		    </rich:column>

			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Edit:" />
                       </f:facet>
                       <a4j:commandLink 
                           id="editBulletin" 
                           value="Edit"
                           execute="@this"
                           immediate="true"
                           action="#{bean.setCurrentBulletin(row)}"
                           render=":bulletinModal :bulletinModalForm"
                           oncomplete="showPopup('bulletinModal');">
                           <a4j:param name="cid"
                                      value="#{javax.enterprise.context.conversation.id}" />
                       </a4j:commandLink>

                        </rich:column>
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Delete:" />
                            </f:facet>
                            <a4j:commandLink value="Delete" action="#{bean.removeBulletin(row)}" render="#{render}:beanBulletins" />
                        </rich:column>
                </rich:extendedDataTable>
		</a4j:region>
			
		
		<a4j:region>
			<a4j:commandLink 
				id="addBulletin" 
				value="Add Bulletin"
				styleClass="btn btn-primary"
				execute="@this"
				immediate="true"
				action="#{bean.createBulletin()}"
				render=":bulletinModal :bulletinModalForm"
				oncomplete="showPopup('bulletinModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
		</a4j:region>
		
	</h:panelGroup>
	<h:outputText/>
	
</ui:composition>