<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="account" required="true" />
		<composite:attribute name="render" />
	</composite:interface>

	<composite:implementation>

		<rich:popupPanel id="accountSameRootModal" autosized="true" resizeable="false"
			moveable="false" domElementAttachment="parent">
			<h:form id="accountSameRootModalForm">
				<a4j:region>
					<f:facet name="header">
						<h:outputText value="Add Account" />
					</f:facet>
					<f:facet name="controls">
						<h:commandLink value="X" style="cursor:pointer">
							<rich:componentControl target="accountSameRootModal" operation="hide" />
						</h:commandLink>
					</f:facet>

					<apd:search searchBean="#{accountSearchBean}"
						detailsRegion="accountSameRootModalForm" searchRegion="searchingAccountSameRootModal" />
					<h:inputHidden id="sameRootValidate" validator="#{cc.attrs.actionBean.rootValidation}" />
					<rich:message for="sameRootValidate" styleClass="error" />
					
					<apd:account id="accountToAdd" account="#{cc.attrs.account}" />
					
					
					<div class="btn-group" layout="block">
						<a4j:commandLink value="Confirm"
								action="#{cc.attrs.actionBean.addChildAccount()}"
								render="work:accountParentChildSection:parentChildArea accountSameRootModalForm" 
								execute="@region"
								styleClass="btn btn-primary"
								oncomplete="hidePopup('sectionChildLinkModal:accountSameRootModal');" >
								<a4j:param name="cid"
									value="#{javax.enterprise.context.conversation.id}" />
						</a4j:commandLink>
							
						<a4j:commandLink 
							value="Cancel" 
							styleClass="btn btn-primary"
							immediate="true"
							render="accountSameRootModalForm"
							action="#{cc.attrs.actionBean.setLinkingAccount(false)}" 
							oncomplete="hidePopup('sectionChildLinkModal:accountSameRootModal');">
							<a4j:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
							<f:actionListener binding="#{cc.attrs.actionBean.clearAccount()}" />
						</a4j:commandLink>
					</div>
				</a4j:region>
			</h:form>
		</rich:popupPanel>

	</composite:implementation>

</ui:composition>