<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface>
        <composite:attribute name="actionBean" required="true" />
        <composite:attribute name="accountCollection" required="true" />
    </composite:interface>

    <composite:implementation>
        <h:panelGroup id="parentChildArea" layout="block">
            <div layout="block">
            	<h:outputText value="#{validation['account.addchild.disabled']}" rendered="#{cc.attrs.actionBean.changeParentDisabled}"/>
                <a4j:commandLink 
                    id="changeParentAccountBtn" 
                    value="Change Parent"
                    rendered="#{!cc.attrs.actionBean.changeParentDisabled}"
                    styleClass="btn btn-primary"
                    execute="@this"
                    action="#{cc.attrs.actionBean.setChildOrParent('parent')}"
                    render=":sectionChildLinkModal:accountSameRootModal :sectionChildLinkModal:accountSameRootModalForm"
                    oncomplete="showPopup('sectionChildLinkModal:accountSameRootModal');">
                    <a4j:param name="cid"
                               value="#{javax.enterprise.context.conversation.id}" />
                </a4j:commandLink>
            </div>
            <div layout="block">
                <apd:account account="#{cc.attrs.actionBean.account}" />
            </div>
            
            <!-- TODO: fix this as part of PHOEN-4721 -->
        	<c:if test="#{false}">
            <div layout="block">
                <apd:accountList actionBean="#{cc.attrs.actionBean}" accountCollection="#{cc.attrs.accountCollection}" render="work" />
            </div>
            <h:outputText value="#{validation['account.addchild.disabled']}" rendered="#{cc.attrs.actionBean.addChildDisabled}"/>
            <a4j:commandLink 
                id="linkChildAccountBtn" 
                value="Link Child"
                rendered="#{!cc.attrs.actionBean.addChildDisabled}"
                styleClass="btn btn-primary"
                execute="@this"
                action="#{cc.attrs.actionBean.setChildOrParent('child')}"
                render=":sectionChildLinkModal:accountSameRootModal :sectionChildLinkModal:accountSameRootModalForm"
                oncomplete="showPopup('sectionChildLinkModal:accountSameRootModal');">
                <a4j:param name="cid"
                           value="#{javax.enterprise.context.conversation.id}" />
            </a4j:commandLink>
            </c:if>
            
        </h:panelGroup>
    </composite:implementation>

</ui:composition>