<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="address" required="true" />
		<composite:attribute name="readonly" required="false" default="false"/>
		<composite:attribute name="showLabels" required="false" default="true"/>
	</composite:interface>

	<composite:implementation>
		<f:event listener="#{addressBean.setAddress(cc.attrs.address)}" type="preRenderView" />
		<h:panelGroup>
			<div>
				<h:selectOneMenu id="addrType" value="#{cc.attrs.address.type}"
					converter="#{addressTypeBean.converter}"
					required="true" immediate="true"
                    requiredMessage="#{validation['address.field.type.required']}"
                    rendered="#{!cc.attrs.readonly}">
                    <f:selectItem itemLabel="Select..." noSelectionOption="true"/>
					<f:selectItems value="#{addressTypeBean.all}" var="type"
						itemValue="#{type}" itemLabel="#{type.name}" />
					<f:ajax listener="#{addressComponentBean.isShowAdditionalFields}" render=":sectionAddressModal:addressModalForm" immediate="true" />
				</h:selectOneMenu>
				<rich:message for="addrType" styleClass="error" />
				<h:outputText id="addrTypeRO" value="#{cc.attrs.address.type.name}" rendered="#{cc.attrs.readonly}"/>
				<br />
				
				<a4j:commandLink value="SAME AS BILLTO" action="#{addressComponentBean.copyBillTo(cc.attrs.address)}"
					immediate="true" rendered="#{!cc.attrs.readonly}" render=":sectionAddressModal:addressModalForm"
					execute="@this" id="copyBillto" />
				
				<br />
				
				<h:outputText value="NAME: " rendered="#{cc.attrs.showLabels}" />
				<h:inputText id="addrName" value="#{cc.attrs.address.name}" size="100" maxlength="100" 
					rendered="#{!cc.attrs.readonly}"/>
				<h:outputText id="addrNameRO" value="#{cc.attrs.address.name}" rendered="#{cc.attrs.readonly}"/>
				<br />
				
				<h:outputText value="COMPANY NAME: " rendered="#{cc.attrs.showLabels}" />
				<h:inputText id="addrCompany" value="#{cc.attrs.address.company}" size="100" maxlength="100" 
					rendered="#{!cc.attrs.readonly}"/>
				<h:outputText id="addrCompanyRO" value="#{cc.attrs.address.company}" rendered="#{cc.attrs.readonly}"/>
				<br />
				
				<h:outputText value="LINE 1: " rendered="#{cc.attrs.showLabels}" />
				<h:inputText id="addrLine1" value="#{cc.attrs.address.line1}" size="100" maxlength="100" required="true"
					requiredMessage="#{validation['address.field.line1.required']}" rendered="#{!cc.attrs.readonly}"/>
				<rich:message for="addrLine1" styleClass="error" />
				<h:outputText id="addrline1RO" value="#{cc.attrs.address.line1}" rendered="#{cc.attrs.readonly}"/>
				<br />
				
				<h:outputText value="LINE 2: " rendered="#{cc.attrs.showLabels}" />
				<h:inputText id="addrLine2" value="#{cc.attrs.address.line2}" size="100" maxlength="100" rendered="#{!cc.attrs.readonly}"/>
				<rich:message for="addrLine2" styleClass="error" />
				<h:outputText id="addrline2RO" value="#{cc.attrs.address.line2}" rendered="#{cc.attrs.readonly}"/>
				<br />
				
				<h:panelGroup rendered="#{cc.attrs.readonly}">
					<h:outputText value="CITY STATE ZIP: " rendered="#{cc.attrs.showLabels}" />
					<h:outputText id="addrCityStateZipRO" 
						value="#{cc.attrs.address.city}, #{cc.attrs.address.state} #{cc.attrs.address.zip}" />
					<rich:message for="addrCityStateZipRO" styleClass="error" />
					<br />
				</h:panelGroup>
				
				<h:panelGroup id="cityStateZipCountry">
				
				<h:panelGroup rendered="#{!cc.attrs.readonly and addressBean.inUs}">
					
					<h:outputText value="CITY: " rendered="#{cc.attrs.showLabels}" />
					<h:inputText id="addrCity" value="#{cc.attrs.address.city}" disabled="#{true}" required="true"
	                        	requiredMessage="#{validation['address.field.city.required']}" />
					<rich:tooltip>#{validation['cashout.enterzip']}</rich:tooltip>
					<rich:message for="addrCity" styleClass="error" />
					<br />
				
					<h:outputText value="STATE: " rendered="#{cc.attrs.showLabels}" />
                    <h:inputText id="addrState" value="#{cc.attrs.address.state}" disabled="#{true}" required="true" 
                    			requiredMessage="#{validation['address.field.state.required']}" />
                    <rich:tooltip>#{validation['cashout.enterzip']}</rich:tooltip>
					<rich:message for="addrState" styleClass="error" />
					<br />
				
					<h:outputText value="ZIP: " rendered="#{cc.attrs.showLabels}" />
					<rich:autocomplete id="addrZip" value="#{addressBean.zip}" required="true" 
                       	requiredMessage="#{validation['address.field.zip.required']}"
                        autocompleteMethod="#{zipSearchBean.zipSearch}" showButton="true" minChars="5" 
                        onblur="#{rich:component('addrZip')}.hidePopup();" mode="ajax" selectFirst="false" 
                        var="option" fetchValue="#{option.searchString.concat(':').concat(option.index)}" 
                        onkeydown="#{rich:component('addrZip')}.showPopup();" validator="#{addressBean.zipValidator}"
                                      style="#{ component.valid ? '' : 'border-color:red;'}">
                        <a4j:ajax event="selectitem" render="cityStateZipCountry" />
                        <a4j:ajax event="blur" render="cityStateZipCountry" />
                        <rich:column>  
                               <h:outputText value="#{option.city.concat(', ').concat(option.state).concat(' [').concat(option.county).concat(' County]')}"/>  
                           </rich:column>
			   		</rich:autocomplete>
					<rich:message for="addrZip" styleClass="error" />
					<br />
				</h:panelGroup>
				
				<h:panelGroup rendered="#{!cc.attrs.readonly and !addressBean.inUs}">
					<h:outputText value="CITY: " rendered="#{cc.attrs.showLabels}" />
					<h:inputText id="addrCityFree" value="#{cc.attrs.address.city}" size="50" maxlength="50" required="true" 
						requiredMessage="#{validation['address.field.city.required']}" />
 					<rich:message for="addrCityFree" styleClass="error" />
 					<br />
 					
 					<h:outputText value="STATE: " rendered="#{cc.attrs.showLabels}" />
					<h:inputText id="addrStateFree" value="#{cc.attrs.address.state}" size="50" maxlength="50" required="true" 
						requiredMessage="#{validation['address.field.state.required']}" />
 					<rich:message for="addrStateFree" styleClass="error" />
 					<br />
 					
 					<h:outputText value="ZIP: " rendered="#{cc.attrs.showLabels}" />
					<h:inputText id="addrZipFree" value="#{cc.attrs.address.zip}" size="25" maxlength="25" required="true"
						requiredMessage="#{validation['address.field.zip.required']}" />
 					<rich:message for="addrZipFree" styleClass="error" />
 					<br />
				</h:panelGroup>
				
				</h:panelGroup>

				<h:outputText value="COUNTRY: " rendered="#{cc.attrs.showLabels}" />
				<h:selectOneMenu id="addrCountry" value="#{addressBean.country}" rendered="#{!cc.attrs.readonly}"
					immediate="true" >
					<f:selectItems value="#{addressBean.countries}" />
		   			<f:ajax event="change" render="cityStateZipCountry" immediate="true" />
				</h:selectOneMenu>
				<rich:message for="addrCountry" styleClass="error" />
				<h:outputText id="addrCountryRO" value="#{cc.attrs.address.country}" rendered="#{cc.attrs.readonly}"/>
				<br />

				<ui:repeat var="field" value="#{forgeview:asList(cc.attrs.address.fields)}">
					<h:selectOneMenu value="#{field.type}" rendered="#{!cc.attrs.readonly}"
						converter="#{addressPropertyTypeBean.converter}">
						<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
						<f:selectItems value="#{addressPropertyTypeBean.all}" var="fieldType"
							itemValue="#{fieldType}" itemLabel="#{fieldType.name}" />
					</h:selectOneMenu>
					
					<h:inputText value="#{field.value}" rendered="#{!cc.attrs.readonly}"/>
					<h:outputText value="#{field.type.name}: #{field.value}" rendered="#{cc.attrs.readonly}"/>
					<br />
				</ui:repeat>
				
				<c:if test="#{propertiesBean.get('project.state', 'isPreRelease', 'false') eq 'true'}">
					<h:outputText value="APPROVED SHIPTO ID: " />
					<h:inputText id="shiptoIdApproved" rendered="#{!cc.attrs.readonly}" value="#{cc.attrs.address.shipToId}" />
					<rich:message for="shiptoIdApproved" styleClass="error" />
					<h:outputText id="shiptoIdApprovedRO" value="#{cc.attrs.address.shipToId}" rendered="#{cc.attrs.readonly}"/>
				</c:if>
				<br />
			</div>
		</h:panelGroup>
	</composite:implementation>

</ui:composition>