<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="render" required="false" />
		<composite:attribute name="editable" required="false" default="true" />
		
	</composite:interface>

	<composite:implementation>
		<h:panelGroup>
			<apd:addressListPagination id="addressListPaginated" actionBean="#{cc.attrs.actionBean}" rendered="#{not cc.attrs.editable}" addressCollection="#{cc.attrs.actionBean.addressPageItems}" render="render" editable="#{cc.attrs.editable}" />
			<a4j:commandLink value="Add Address"  styleClass="btn btn-primary"
				action="#{cc.attrs.actionBean.createAddress()}"
				immediate="true"
				render="#{cc.attrs.render} :sectionAddressModal:addressModalForm"
				oncomplete="showPopup('sectionAddressModal:addressModal');"
				rendered="#{cc.attrs.editable}">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
		</h:panelGroup>
	</composite:implementation>

</ui:composition>