<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="addressCollection" required="true" />
		<composite:attribute name="addressPagination" required="false" />
                <composite:attribute name="editable" required="false" default="true" />
		<composite:attribute name="render" />
	</composite:interface>

	<composite:implementation>

<style>
.rf-edt-hdr-c {
	border-right: none;
	border-bottom: none;
}
.rf-edt-c {
	height: 100%;
	border-right: none;
	border-bottom: none;
}
.rf-edt-cnt td {
	border-bottom: 1px solid #9FC0E9;
	border-right: 1px solid #9FC0E9;
}
</style>
		<h:panelGroup>
				<a4j:region>
					<rich:dataTable id="addressTable" 
						value="#{addressComponentBean.setAndGetAddressList(forgeview:asList(cc.attrs.addressCollection))}"
						var="address" rows="10">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Address" />
							</f:facet>
							<div>
								<apd:address address="#{address}" readonly="true"/>
							</div>
						</rich:column>
						<rich:column rendered="#{cc.attrs.editable}">
							<f:facet name="header">
								<h:outputText value="Edit" />
							</f:facet>
							<a4j:commandLink 
								id="editAddress" 
								value="Edit "
								action="#{cc.attrs.actionBean.setCurrentAddress(address)}" 
								render="#{cc.attrs.render} :sectionAddressModal:addressModalForm"
								oncomplete="showPopup('sectionAddressModal:addressModal');">
								<a4j:param name="cid"
									value="#{javax.enterprise.context.conversation.id}" />
							</a4j:commandLink>
						</rich:column>
						<rich:column rendered="#{cc.attrs.editable}">
							<f:facet name="header">
								<h:outputText value="Remove" />
							</f:facet>
							<a4j:commandLink value="Remove"
								action="#{cc.attrs.actionBean.removeAddress(address)}"
								render="#{cc.attrs.render}" />
						</rich:column>
					</rich:dataTable>
					<rich:dataScroller for="addressTable" maxPages="10">
						<f:facet name="first">
							<h:outputText value="First"/>
						</f:facet>
						<f:facet name="last">
								<h:outputText value="Last"/>
						</f:facet>
					</rich:dataScroller>
				</a4j:region>
			</h:panelGroup>
			<h:outputText />
	</composite:implementation>

</ui:composition>
