<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="products" required="true" />
		<composite:attribute name="label" required="false" default="Featured Products"/>
	</composite:interface>

	<composite:implementation>
		<h:panelGroup styleClass="mobileHide featuredProductsPanel" layout="block"
			rendered="#{not empty cc.attrs.products}">
			<div class="featuredProductsTitle">
				<strong>#{cc.attrs.label}</strong>
			</div>
			<ul class="nav nav-tabs nav-stacked-featured">
				<a4j:repeat var="product" value="#{cc.attrs.products}">
					<li class="featuredProducts">
						<div class="featuredProduct">
							<div align="center" class="featuredProductImageWrapper">
								<a href="#{product.detailsLink}&amp;prevPageNumber=#{parentBean== null?'1':parentBean.getPageNumber()}">
									<img src="#{product.mainImageUrl}" class="featuredProductImage" />
								</a>
							</div>
							<div class="product-info">
								<h:panelGroup layout="block"
									rendered="#{not empty product.manufacturerName}"
									styleClass="manufacturer"><Strong>
									                        #{product.manufacturerName}
									 </Strong>
							    </h:panelGroup>
								<h:panelGroup layout="block"
									rendered="#{not empty product.name}" styleClass="title">
									<a href="#{product.detailsLink}&amp;prevPageNumber=#{parentBean== null?'1':parentBean.getPageNumber()}">#{product.name}</a>
								</h:panelGroup>

								<div class="sku-no-break">
									<h:panelGroup layout="block"
										rendered="#{not empty product.manufacturerSku}"
										styleClass="manufacturer">
										<h:outputText value="Mfr. SKU: #{product.manufacturerSku}" />
									</h:panelGroup>
									<div class="manufacturer">
										<h:outputText value="SKU: #{product.customerSku}" />
									</div>
								</div>

								<apd:addToCart product="#{product}" />
							</div>
						</div>
					</li>
				</a4j:repeat>
			</ul>

		</h:panelGroup>
	</composite:implementation>

</ui:composition>