<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="hierarchyNode" required="true" />

		<composite:attribute name="showSkus" default="true" />
		<composite:attribute name="showSkuTypes" default="true" />
		<composite:attribute name="showParent" default="true" />
		<composite:attribute name="showChildren" default="true" />
		<composite:attribute name="showDescription" default="true" />
		
		<composite:attribute name="allowSkusInput" default="true" />
		<composite:attribute name="allowSkuTypesInput" default="true" />
		<composite:attribute name="allowParentInput" default="true" />
		<composite:attribute name="allowChildrenInput" default="true" />
		<composite:attribute name="allowDescriptionInput" default="true" />
		
		<composite:attribute name="allowInput" default="true" />
	</composite:interface>

	<composite:implementation>
		<h:panelGroup>
		
			<h:panelGroup rendered="#{cc.attrs.showDescription}">
				<h:outputLabel value="Description: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowDescriptionInput}" >
					<h:inputText value="#{cc.attrs.hierarchyNode.description}" size="50" maxlength="50" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowDescriptionInput}" >
					<h:outputText value="#{cc.attrs.hierarchyNode.description}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>
			
			<h:panelGroup rendered="#{cc.attrs.showParent}">
				<h:outputLabel value="Parent: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowParentInput}" >
					<h:inputText value="#{cc.attrs.hierarchyNode.parent.description}" size="50" maxlength="50" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowParentInput}" >
					<h:outputText value="#{cc.attrs.hierarchyNode.parent.description}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>
			
			<h:panelGroup rendered="#{cc.attrs.showChildren}" >
				<h:outputLabel value="Children:" />
				<ui:repeat var="child" value="#{forgeview:asList(cc.attrs.hierarchyNode.children)}" >
					<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowChildrenInput}" >
						<h:inputText value="#{child.description}" size="50" maxlength="50" />
					</h:panelGroup>
					<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowChildrenInput}" >
						<h:outputText value="#{child.description}" />
					</h:panelGroup>
					<br />
				</ui:repeat>
			</h:panelGroup>

			<h:panelGroup rendered="#{cc.attrs.showSkuTypes}">
				<h:outputLabel value="SKU Types: " />
				<ui:repeat var="skuType" value="#{forgeview:asList(cc.attrs.hierarchyNode.skuTypes)}">
					<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowSkuTypesInput}" >
						<h:inputText value="#{skuType.value}" size="50" maxlength="50" />
					</h:panelGroup>
					<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowSkuTypesInput}" >
						<h:outputText value="#{skuType.value}" />
					</h:panelGroup>
					<br />
				</ui:repeat>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{cc.attrs.showSkus}">
				<ui:repeat var="sku" value="#{forgeview:asList(cc.attrs.hierarchyNode.skus)}">
					<h:outputLabel value="#{sku.skuType.name} SKU: " />
					<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowSkusInput}" >
						<h:inputText value="#{sku.value}" size="50" maxlength="50" />
					</h:panelGroup>
					<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowSkusInput}" >
						<h:outputText value="#{sku.value}" />
					</h:panelGroup>
					<br />
				</ui:repeat>
			</h:panelGroup>
			
		</h:panelGroup>
	</composite:implementation>

</ui:composition>