<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="item" required="true" />
		<composite:attribute name="render" />
	</composite:interface>

	<composite:implementation>

		<rich:popupPanel id="itemModal" autosized="true" resizeable="false"
			moveable="false" domElementAttachment="parent">
			<h:form id="itemModalForm">
				<a4j:region>
					<f:facet name="header">
						<h:outputText value="Add Item" />
					</f:facet>
					<f:facet name="controls">
						<h:commandLink value="X" style="cursor:pointer">
							<rich:componentControl target="itemModal" operation="hide" />
						</h:commandLink>
					</f:facet>

					<a4j:outputPanel id="itemSearchRegion">
						<apd:search searchBean="#{replacementSkuSearchBean}"
							detailsRegion=":sectionItemModal:itemModalForm :sectionItemModal:itemModalForm:selectedItem"
							searchRegion="itemModalSearch"
							requireSelection="true" />
					</a4j:outputPanel>
<ui:remove>
					<apd:item id="selectedItem" item="#{cc.attrs.item}" 
						allowInput="false" 
						showReplacement="false" 
						showCustomerCosts="false" 
						showItemClassifications="false"
						showSearchTerms="false"
						showManufacturer="false"
						showProperties="false"
						showDescription="false"
						 />
</ui:remove>

					<div class="buttons">
						<a4j:commandLink value="Confirm" styleClass="btn btn-primary"
							render="#{cc.attrs.render} itemModalForm"
							execute="@region"
							action="#{cc.attrs.actionBean.addItem(replacementSkuSearchBean.clearSelection().item)}"
							oncomplete="hidePopup('sectionItemModal:itemModal');" >
							<a4j:param name="cid"
									value="#{javax.enterprise.context.conversation.id}" />
						</a4j:commandLink>
						<a4j:commandLink value="Cancel" styleClass="btn btn-primary"
							immediate="true" 
							render="itemModalForm"
							action="#{replacementSkuSearchBean.clearSelection()}"
							oncomplete="hidePopup('sectionItemModal:itemModal');" >
							
						</a4j:commandLink>
					</div>
				</a4j:region>
			</h:form>
		</rich:popupPanel>

	</composite:implementation>

</ui:composition>