<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="item" required="true" />

		<composite:attribute name="showName" default="true" />
		<composite:attribute name="showSkus" default="true" />
		<composite:attribute name="showManufacturer" default="true" />
		<composite:attribute name="showDescription" default="true" />
		<composite:attribute name="showItemCategory" default="true" />
		<composite:attribute name="showVendorCatalog" default="true" />
		<composite:attribute name="showItemClassifications" default="true" />
		<composite:attribute name="showSearchTerms" default="true" />
		<composite:attribute name="showCustomerCosts" default="true" />
		<composite:attribute name="showProperties" default="true" />
		<composite:attribute name="showReplacement" default="true" />
		<composite:attribute name="showHierarchy" default="true" />
		<composite:attribute name="showProtectedCommodityCode" default="true" />		
		
		<composite:attribute name="allowNameInput" default="true" />
		<composite:attribute name="allowSkusInput" default="true" />
		<composite:attribute name="allowManufacturerInput" default="true" />
		<composite:attribute name="allowDescriptionInput" default="true" />
		<composite:attribute name="allowItemCategoryInput" default="true" />
		<composite:attribute name="allowVendorCatalogInput" default="true" />
		<composite:attribute name="allowItemClassificationsInput" default="true" />
		<composite:attribute name="allowSearchTermsInput" default="true" />
		<composite:attribute name="allowCustomerCostsInput" default="true" />
		<composite:attribute name="allowPropertiesInput" default="true" />
		<composite:attribute name="allowReplacementInput" default="true" />
		<composite:attribute name="allowHierarchyInput" default="true" />
		
		<composite:attribute name="allowInput" default="true" />		
	</composite:interface>

	<composite:implementation>
		<h:panelGroup layout="block" >
			<h:panelGroup id="itemName" rendered="#{cc.attrs.showName}" layout="block" >
				<h:outputLabel value="Name: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowNameInput}" >
					<h:inputText value="#{cc.attrs.item.name}" size="50" maxlength="50" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowNameInput}" >
					<h:outputText value="#{cc.attrs.item.name}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>
			
			<h:panelGroup id="discontinuedIndicator" rendered="#{cc.attrs.item.status != null and cc.attrs.item.status.toString().equals('DISCONTINUED')}" layout="block" >
					<h:outputText value='This item has been discontinued.' rendered='#{cc.attrs.item.getPropertyReadOnly("discontinuedDate") == null}' />
					<h:outputText value='This item was discontinued on #{cc.attrs.item.getPropertyReadOnly("discontinuedDate").value}' rendered='#{cc.attrs.item.getPropertyReadOnly("discontinuedDate") != null}'/>
				<br />
			</h:panelGroup>

			<h:panelGroup id="itemSkus" rendered="#{cc.attrs.showSkus}" layout="block" >
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowSkusInput}" >
					<ui:repeat var="sku" value="#{forgeview:asList(cc.attrs.item.skus)}">
						<h:outputLabel value="#{sku.type.name} SKU: " />
						<h:inputText value="#{sku.value}" size="50" maxlength="50" />
						<br />
					</ui:repeat>
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowSkusInput}" >
					<ui:repeat var="sku" value="#{forgeview:asList(cc.attrs.item.skus)}">
						<h:outputLabel value="#{sku.type.name} SKU: " />
						<h:outputText value="#{sku.value}" />
						<br />
					</ui:repeat>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup id="itemDesc" rendered="#{cc.attrs.showDescription}" layout="block" >
				<h:outputLabel value="Description: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowDescriptionInput}" >
					<h:inputText value="#{cc.attrs.item.description}" size="50" maxlength="50" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowDescriptionInput}" >
					<h:outputText value="#{cc.attrs.item.description}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>
			
			<h:panelGroup id="itemProtectedCommoditycode" rendered="#{cc.attrs.showProtectedCommodityCode}" layout="block" >
				<h:outputLabel value="Protected Commodity Code: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowProtectedCommodityCodeInput}" >
					<h:inputText value="#{cc.attrs.item.protectedCommodityCode}" size="50" maxlength="50" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowProtectedCommodityCodeInput}" >
					<h:outputText value="#{cc.attrs.item.protectedCommodityCode}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>
			
			<h:panelGroup id="itemManufact" rendered="#{cc.attrs.showManufacturer}" layout="block" >
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowManufacturerInput}" >
					<apd:manufacturer id="itemManufactInfoEdit" manufacturer="#{cc.attrs.item.manufacturer}" allowInput="false" />
					<h:commandLink action="#{cc.attrs.actionBean.createManufacturer()}" value="Change Manufacturer" styleClass="btn btn-primary" >
						<rich:componentControl target="manufacturerModal" operation="show" />
					</h:commandLink>
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowManufacturerInput}" >
					<apd:manufacturer id="itemManufactInfoNoEdit" manufacturer="#{cc.attrs.item.manufacturer}" allowInput="false" />
				</h:panelGroup>
				<br />
			</h:panelGroup>

			<h:panelGroup id="itemHierarchy" rendered="#{cc.attrs.showHierarchy}">
				<h:outputLabel value="Hierarchy Node: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowHierarchyInput}">
					<h:outputText value="#{cc.attrs.item.hierarchyNode != null ? cc.attrs.item.hierarchyNode.description.concat(' ').concat(cc.attrs.item.hierarchyNode.publicId.toString()) : 'NONE'}" />
					<h:commandLink value="Change Node" styleClass="btn btn-primary" >
						<rich:componentControl target="hierarchyNodeModal" operation="show" />
					</h:commandLink>
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowHierarchyInput}">
					<h:outputText value="#{cc.attrs.item.hierarchyNode != null ? cc.attrs.item.hierarchyNode.description : 'NONE'}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>

			<h:panelGroup id="itemCat" rendered="#{cc.attrs.showItemCategory}" layout="block" >
				<h:outputLabel value="Pricing Category: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowItemCategoryInput}" >
					<h:outputText value="#{cc.attrs.item.itemCategory != null ? cc.attrs.item.itemCategory.name : 'NONE'}" />
					<h:commandLink action="#{cc.attrs.actionBean.createManufacturer()}" value="Change Pricing Category" styleClass="btn btn-primary" >
						<rich:componentControl target="itemCategoryModal" operation="show" />
					</h:commandLink>
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowItemCategoryInput}" >
					<h:outputText value="#{cc.attrs.item.itemCategory.name}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>
			
			<h:panelGroup id="itemVendCatalog" rendered="#{cc.attrs.showVendorCatalog}" layout="block" >
				<h:outputLabel value="Vendor Catalog: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowVendorCatalogInput}" >
					<h:inputText value="#{cc.attrs.item.vendorCatalog.name}" size="50" maxlength="50" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowVendorCatalogInput}" >
					<h:outputText value="#{cc.attrs.item.vendorCatalog.name}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>

			<h:panelGroup id="itemClass" rendered="#{cc.attrs.showItemClassifications}" layout="block" >
				<h:outputLabel value="Item Classifications: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowItemClassificationsInput}">
					<ui:repeat var="itemClassification" value="#{forgeview:asList(cc.attrs.item.itemClassifications)}">
						<apd:itemClassification itemClassification="#{itemClassification}" />
						<br />
					</ui:repeat>
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowItemClassificationsInput}">
					<apd:classificationList classificationCollection="#{forgeview:asList(cc.attrs.item.itemClassifications)}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>
			
			<h:panelGroup id="itemSearchTerms" rendered="#{cc.attrs.showSearchTerms}" layout="block" >
				<h:outputLabel value="Search Terms: " />
				<h:outputText value="#{cc.attrs.item.searchTerms}" />
				<br />
			</h:panelGroup>
			
			<h:panelGroup id="protectedItemSearchTerms" rendered="#{cc.attrs.showSearchTerms}" layout="block" >
				<h:outputLabel value="Protected (tenant-defined) Search Terms: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowSearchTermsInput}" >
					<h:inputText value="#{cc.attrs.item.protectedSearchTerms}" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowSearchTermsInput}" >
					<h:outputText value="#{cc.attrs.item.protectedSearchTerms}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>
			
			<h:panelGroup id="itemProps" rendered="#{cc.attrs.showProperties}" layout="block" >
				<h:outputLabel value="Properties: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowPropertiesInput}" >
					<apd:itemPropertyTable propertyCollection="#{forgeview:asList(cc.attrs.item.properties)}" actionBean="#{itemBean}" />
					<h:commandLink value="Add Property" styleClass="btn btn-primary" >
						<rich:componentControl target="itemPropertyModal" operation="show" />
					</h:commandLink>
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowPropertiesInput}" >
					<apd:itemPropertyTable propertyCollection="#{forgeview:asList(cc.attrs.item.properties)}" actionBean="#{itemBean}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>

			<h:panelGroup id="itemCustCosts" rendered="#{cc.attrs.showCustomerCosts}" layout="block" >
				<h:outputLabel value="Customer Costs: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowCustomerCostsInput}" >
					<ui:repeat var="cost" value="#{forgeview:asList(cc.attrs.item.customerCosts)}">
						<apd:customerCost customerCost="#{cost}" showItem="false" allowCustomerInput="false" />
						<br />
					</ui:repeat>
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowCustomerCostsInput}" >
					<ui:repeat var="cost" value="#{forgeview:asList(cc.attrs.item.customerCosts)}">
						<apd:customerCost customerCost="#{cost}" showItem="false" allowInput="false" />
						<br />
					</ui:repeat>
				</h:panelGroup>
				<br />
			</h:panelGroup>
			
			<h:panelGroup id="itemReplacement" rendered="#{cc.attrs.showReplacement}" layout="block" >
				<h:outputLabel value="Replacement: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowReplacementInput}" >
					<h:outputText value="#{cc.attrs.item.replacement != null ? cc.attrs.item.replacement.name : 'NONE'}" />
					<h:commandLink value="Change Replacement" styleClass="btn btn-primary" >
						<rich:componentControl target="itemModal" operation="show" />
					</h:commandLink>
					<a4j:commandLink value="Clear Replacement" styleClass="btn btn-primary" action="#{itemBean.clearReplacement(cc.attrs.item)}" render="itemReplacement" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowReplacementInput}" >
					<h:outputText value="#{cc.attrs.item.replacement != null ? cc.attrs.item.replacement.name : 'NONE'}" />
				</h:panelGroup>
				<br />
			</h:panelGroup>
			
		</h:panelGroup>
	</composite:implementation>

</ui:composition>
