<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:a4j="http://richfaces.org/a4j">

    <cc:interface>
        <cc:attribute name="pageDisplay" required="true" />
        <cc:attribute name="render" required="false" default="result-pages" />
        <cc:attribute name="forceDisplay" required="false" default="false" />
        <cc:attribute name="styleClass" required="false" default="pagination pagination-centered" />
    </cc:interface>

    <cc:implementation>
        <c:if test="#{cc.attrs.pageDisplay.shouldShowPagination or cc.attrs.forceDisplay}">
            <div id="result-pages" class="#{cc.attrs.styleClass}">
                        <a4j:commandLink immediate="true" render=":#{cc.attrs.render}" execute="@this"
                                         action="#{cc.attrs.pageDisplay.setPage(1)}">
                            <i class="icon-fast-backward"></i>
                        </a4j:commandLink>
                        <a4j:commandLink immediate="true" render=":#{cc.attrs.render}" execute="@this"
                                         action="#{cc.attrs.pageDisplay.setPage(cc.attrs.pageDisplay.page - 1)}">
                            <i class="icon-step-backward"></i>
                        </a4j:commandLink>
                    	Page 
						<h:selectOneMenu style="width:auto; margin-bottom:0px;" 
								value="#{cc.attrs.pageDisplay.page}" immediate="true">
							<f:selectItems value="#{cc.attrs.pageDisplay.pageNumbers}" />
							<a4j:ajax event="change" render=":#{cc.attrs.render}" execute="@this" />
						</h:selectOneMenu>
						of #{cc.attrs.pageDisplay.pageQuantity}
                        <a4j:commandLink immediate="true" render=":#{cc.attrs.render}" execute="@this"
                                         action="#{cc.attrs.pageDisplay.setPage(cc.attrs.pageDisplay.page + 1)}">
                            <i class="icon-step-forward"></i>
                        </a4j:commandLink>
                        <a4j:commandLink immediate="true" render=":#{cc.attrs.render}" execute="@this"
                                         action="#{cc.attrs.pageDisplay.setPage(cc.attrs.pageDisplay.pageQuantity)}">
                            <i class="icon-fast-forward"></i>
                        </a4j:commandLink>
            </div>
        </c:if>
    </cc:implementation>
</html>