<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="process" required="true" />
	</composite:interface>

	<composite:implementation>
		<h:panelGroup>
			<div>
				<h:selectOneMenu value="#{cc.attrs.process.name}"
					converter="#{processBean.converter}">
					<f:selectItems value="#{processBean.all}" var="type"
						itemValue="#{type}" itemLabel="#{type.name}" />
				</h:selectOneMenu>
				<br />

				<ui:repeat var="processVariable" value="#{forgeview:asList(#{cc.attrs.process.processConfigurations})}">
					<h:selectOneMenu value="#{processVariable.name}"
						converter="#{processVariableBean.converter}">
						<f:selectItems value="#{processVariableBean.all}" var="fieldType"
							itemValue="#{fieldType}" itemLabel="#{fieldType.name}" />
					</h:selectOneMenu>
					
					<h:inputText value="#{processVariable.value}" />
				</ui:repeat>
			</div>
		</h:panelGroup>
	</composite:implementation>

</ui:composition>