<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="process" required="true" />
		<composite:attribute name="render" />
	</composite:interface>

	<composite:implementation>
		<h:outputText value="Add Process" />
		<h:panelGroup>
			<a4j:region>
				<div>
					<apd:process id="processToAdd" process="#{cc.attrs.process}" />
				</div>
				<div>
					<h:commandLink value="Add Variable"
						action="#{cc.attrs.actionBean.addProcessVariable()}"						
						styleClass="btn btn-primary" />
					<h:commandLink value="Confirm"
						action="#{cc.attrs.actionBean.addProcess()}"
						styleClass="btn btn-primary" />
				</div>
			</a4j:region>
		</h:panelGroup>
		<h:outputText />

	</composite:implementation>

</ui:composition>