<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="sku" required="true" />
		
		<composite:attribute name="showSkuType" default="true" />
		<composite:attribute name="showValue" default="true" />
		<composite:attribute name="showItem" default="true" />
		
		<composite:attribute name="allowSkuTypeInput" default="true" />
		<composite:attribute name="allowValueInput" default="true" />
		<composite:attribute name="allowItemInput" default="true" />
		
		<composite:attribute name="allowInput" default="true" />
	</composite:interface>

	<composite:implementation>
		<h:panelGroup>
		
				<h:panelGroup rendered="#{cc.attrs.showSkuType}">
					<h:outputLabel value="SKU Type: " />
					<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowSkuTypeInput}" >
						<h:selectOneMenu id="skuType" value="#{cc.attrs.sku.type}"
							disabled="#{cc.attrs.sku.id != null}"
							converter="#{skuTypeBean.converter}" 
							required="true"
	    					requiredMessage="#{validation['field.propertyType.required']}">
	    					<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
							<f:selectItems value="#{skuTypeBean.all}" var="type"
								itemValue="#{type}" itemLabel="#{type.name}" />
						</h:selectOneMenu>
						<rich:message for="skuType" styleClass="error" />
					</h:panelGroup>
					<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowSkuTypeInput}" >
						<h:outputText value="#{cc.attrs.sku.type.name}" />
					</h:panelGroup>
					<br />
				</h:panelGroup>

				<h:panelGroup rendered="#{cc.attrs.showValue}">
					<h:outputLabel value="Value: " />
					<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowValueInput}" >
						<h:inputText id="skuValue" value="#{cc.attrs.sku.value}" required="true" size="50" maxlength="50" />
	  					<rich:message for="skuValue" styleClass="error" />
					</h:panelGroup>
					<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowValueInput}" >
						<h:outputText value="#{cc.attrs.sku.value}" />
					</h:panelGroup>
					<br />
				</h:panelGroup>
				
				<h:panelGroup rendered="#{cc.attrs.showItem}" >
					<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowItemInput}" >
						<apd:item item="#{cc.attrs.sku.item}" />
					</h:panelGroup>
					<h:panelGroup rendered="#{!cc.attrs.showItem or !cc.attrs.allowItemInput}" >
						<apd:item item="#{cc.attrs.sku.item}" />
					</h:panelGroup>
				</h:panelGroup>
				
		</h:panelGroup>
	</composite:implementation>

</ui:composition>