<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="skuCollection" required="true" />
	</composite:interface>

	<composite:implementation>
		<h:panelGroup>
			<apd:skuList id="skuList" actionBean="#{cc.attrs.actionBean}" skuCollection="#{cc.attrs.skuCollection}" render="work:skuSection:skuList:skuTable" />

			<a4j:commandLink value="Add SKU" styleClass="btn btn-primary"
				action="#{cc.attrs.actionBean.createSku()}"
				render="#{cc.attrs.render} :sectionSkuModal:skuModalForm"
				oncomplete="showPopup('sectionSkuModal:skuModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
			<h:inputHidden id="skuValidate" validator="#{cc.attrs.actionBean.validateUniqueSkus}" />
			<rich:message for="skuValidate" styleClass="error" />
		</h:panelGroup>
	</composite:implementation>

</ui:composition>