<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:forgeview="http://jboss.org/forge/view"
                template="/WEB-INF/templates/ecommerceMarketplacePunchoutWrapperTemplate.xhtml">
    
    <f:metadata>
        <f:viewParam name="punchoutZipCode" value="#{punchOutIframeBean.punchoutZipCode}" required="false" />
        <f:event type="preRenderView" listener="#{punchOutIframeBean.initPunchout()}"  />
    </f:metadata>
    
    <ui:define name="page_content">
	   
	   <ui:include src="/WEB-INF/components/inserts/experience/serviceLogModals.xhtml" />
        <div id="iframe_top_div">
             <div id="header" class="navbar navbar-fluid container">
             	<a href="#"><img height="50" src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/APD-logo.png" width="201"/></a>
		        <ul class="nav pull-right navTopLinks">
					<li class="dropdown mobileHide accountDD">
	                    <a href="#" class="dropdown-toggle" 
	                    		data-hover="dropdown" data-delay="1000" data-close-others="false">
	                        #{display['nav.top.account']}
	                    </a>
	                    <ul class="dropdown-menu">
				      		<li>
				      			<a href="#createIssueLog" data-toggle="modal">#{display['nav.top.issue']}</a>
				           	</li>
	                    </ul>
	                    
					</li>
				</ul>
			</div>
			<h:panelGrid columns="2" >  
				<h:panelGroup id="contact_div" layout="block" >		
					<div id="contactEmail-content"  style="font-family:Calibiri, Candara, Franklin Gothic;">
				    	<h:outputText rendered="#{not empty punchOutIframeBean.contactEmail}" value="Email #{punchOutIframeBean.contactEmail}" /><br />		    	
				    </div>
				    <div id="contactPhone-content1"  style="font-family:Calibiri, Candara, Franklin Gothic;">		    	
				    	<h:outputText rendered="#{not empty punchOutIframeBean.contactPhoneNumber}" value=" Call #{punchOutIframeBean.contactPhoneNumber}" />
				    </div>
			    </h:panelGroup>			  		    
		    </h:panelGrid>
        </div>
        <h:panelGroup id="iframe_bottom_div" layout="block">
            <iframe id="punchoutIframe" src="#{punchOutIframeBean.iframeUrl}">
                Your browser does not support iframes
            </iframe>
        </h:panelGroup>

    </ui:define>
   
</ui:composition>