<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:forgeview="http://jboss.org/forge/view"
                template="/WEB-INF/templates/ecommerceMarketplaceWelcomePageTemplate.xhtml">


    <ui:define name="page_content">
        
        <ui:include src="/WEB-INF/components/inserts/experience/bulletinDisplay.xhtml" />
        
        <h:form id="zipCodeForm" rendered="#{welcomeBean.renderZipCodeForm()}"> 
            <div class="hero-unit">
                <div class="control-group">
                    <label class="control-label" for="zipInputText">Please Enter Your Billing Zip Code</label>
                    <h:panelGroup layout="block" styleClass="control-group">
                        <h:panelGroup layout="block" class="controls">
                            <h:inputText id="zipInputText" styleClass="form-control input-md" value="#{welcomeBean.zipCode}" required="true" 
                                         validator="zipCodeValidator"/>
                            <rich:message for="zipInputText" styleClass="error" />
                        </h:panelGroup>
                    </h:panelGroup>
                </div>  
                <div class="control-group">
                    <div class="controls">
                        <h:commandLink id="catalogGoToButton" styleClass="btn btn-primary" value="Go To Catalog" 
                                       action="#{welcomeBean.punchout()}" />
                    </div>
                </div>
            </div>
        </h:form>
        <h:form id="punchoutForm" class="form-horizontal" rendered="#{not welcomeBean.renderZipCodeForm()}">
            <div class="hero-unit">
                <h:commandLink styleClass="btn btn-primary" value="Go To Catalog" action="#{welcomeBean.punchout()}" />
            </div>
        </h:form>
    </ui:define>
</ui:composition>
