<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/WEB-INF/layout/reports/reportsTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich">

	<ui:param name="pageTitle" value="AR Invoice Report" />

	<ui:define name="header">
		AR Invoice Report
	</ui:define>

	<ui:define name="subheader" />
	
	<ui:define name="reportsMain">
		<h:form id="reports-form">
			
			<label for="arAccount">Filter by client name (ctrl-click to select multiple values):</label>
			<h:selectManyListbox id="arAccount" value="#{arReportBean.accounts}"
				required="#{not workflowTaskBean.hasPermission('view data for all accounts')}">
		   			<f:selectItems value="#{arReportBean.availableAccounts}"
		   				 var="account" itemValue="#{account}" itemLabel="#{account}" />
			</h:selectManyListbox>
			<rich:message for="arAccount" />
			<br />
			<label for="invoiceStartDate">Earliest Invoice Date (inclusive):</label>
			<rich:calendar id="invoiceStartDate" value="#{arReportBean.invoiceStartDate}" required="true" />
			<rich:message for="invoiceStartDate" />
			<br />
			<label for="invoiceEndDate">Latest Invoice Date (inclusive):</label>
			<rich:calendar id="invoiceEndDate" value="#{arReportBean.invoiceEndDate}" required="true" />
			<rich:message for="invoiceEndDate" />
			<br />
			<h:commandLink value="Download Report CSV" action="#{arReportBean.generateReport()}" />
		</h:form>
	</ui:define>
</ui:composition>