<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/WEB-INF/layout/transactionTemplate.xhtml"
        xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:a4j="http://richfaces.org/a4j">
    <ui:define name="header">
        Transaction History Report
    </ui:define>
    <ui:define name="reportsMain">
        <div><h2>Transaction Detail</h2></div>
        <div><h4>Order Number: #{transactionHistoryBean.customerOrder.apdPo.value}</h4></div>
        <div><h5>Transaction on: #{transactionHistoryBean.currentCreditCardTransactionLog.timestamp}</h5></div>
        <div>Authorization Type: #{transactionHistoryBean.currentCreditCardTransactionLog.transactionType}</div>
        <div>Authorization Code: #{transactionHistoryBean.currentCreditCardTransactionLog.authCode}</div>
        <div>Credit Card Number: #{transactionHistoryBean.currentCreditCardTransactionLog.cardIdentifier}</div>
        <div>Transaction Total: #{forgeview:toCurrency(transactionHistoryBean.currentCreditCardTransactionLog.totalAmount)}</div>
        <div></div>
        <div>Customer Code: #{transactionHistoryBean.customerOrder.apdPo.value}</div>
        <ui:repeat var="item" value="#{transactionHistoryBean.currentCreditCardTransactionLog.lineItemXShipments}">
            <div>Item Amount: #{item.lineItem.totalPrice} </div>
            <div>Item Description: #{item.lineItem.description}</div>
            <div>Item Part Number: #{item.lineItem.apdSku}</div>
            <div>Item Quantity: #{item.quantity}</div>
            <div>Item Unit Of Measure: #{item.lineItem.unitOfMeasure.name}</div>
        </ui:repeat>
        <div>Name on Card: #{transactionHistoryBean.currentCreditCardTransactionLog.nameOnCard} </div>
        <div>Number of Items: #{transactionHistoryBean.currentCreditCardTransactionLog.itemCount} </div>
        <div>Ship to Street: #{transactionHistoryBean.currentCreditCardTransactionLog.customerOrder.address.line1}</div>
        <div>Ship to Zip: #{transactionHistoryBean.currentCreditCardTransactionLog.customerOrder.address.zip}</div>
        <div>Order Total: #{forgeview:toCurrency(transactionHistoryBean.customerOrder.orderTotal)}</div>
        <div>Transaction Number: #{transactionHistoryBean.currentCreditCardTransactionLog.transactionKey}</div>
        <c:if test="#{not empty transactionHistoryBean.currentCreditCardTransactionLog.failureReason}">
            <div>Failure Reason: #{transactionHistoryBean.currentCreditCardTransactionLog.failureReason}</div>
            <c:if test="#{not empty transactionHistoryBean.currentCreditCardTransactionLog.failureDetails}">
                <div>Error Details: </div>
                <ui:repeat var="error" value="#{transactionHistoryBean.currentCreditCardTransactionLog.failureDetails}">
                    <div>#{error}</div>
                </ui:repeat>
            </c:if>
        </c:if>
    </ui:define>
</ui:composition>