<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/WEB-INF/layout/transactionTemplate.xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:a4j="http://richfaces.org/a4j">
    <ui:define name="header">
        Transaction History Report
    </ui:define>
    <ui:define name="reportsMain">
        <h:form>
            <div>
            	<table>
                	<tr>
                		<td><h5 style="color: #f60011"> #{propertiesBean.get('tenant','code')} PO # </h5></td>
                		<td><h:inputText value="#{transactionHistoryBean.apdPo}"/></td>   
                		<td><h:commandLink styleClass="btn" action="#{transactionHistoryBean.setCustomerOrderByApdPO()}" value=" Get Transactions" /></td>
                	</tr>
                </table>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
