<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/WEB-INF/layout/transactionTemplate.xhtml"
        xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
        xmlns:a4j="http://richfaces.org/a4j">
     <f:metadata>
        <f:viewParam name="apdPo" value="#{transactionHistoryBean.apdPo}" />
        <f:event type="preRenderView" listener="#{transactionHistoryBean.setCustomerOrderByApdPO()}" />
    </f:metadata>
    <ui:define name="header">
        Transaction History Report
    </ui:define>    
    <ui:define name="reportsMain">
    	<h:form>
            <div>
                <table>
                	<tr>
                		<td><h5 style="color: #f60011"> #{propertiesBean.get('tenant','code')} PO # </h5></td>
                		<td><h:inputText value="#{transactionHistoryBean.apdPo}"/></td>
                		<td><h:commandLink styleClass="btn" action="#{transactionHistoryBean.setCustomerOrderByApdPO()}" value=" Get Transactions" /></td>
                	</tr>
                </table>
            </div>
        </h:form>
    	<div>
	    	<table>
	    		<tr>
	    			<td><h2>Transactions for Order </h2></td>
	    			<td><h2 style="color: #f60011"> #{transactionHistoryBean.customerOrder.apdPo.value}</h2></td>
	    		</tr>
	    	</table>
    	</div>
    	<table class="table table-hover table-striped">
    	<tr><th class="span2">Order Total:</th><td class="span2"><h:outputText value="#{forgeview:toCurrency(transactionHistoryBean.customerOrder.calculatedTotal)}" /></td></tr>
    	<tr><th class="span2">Amount Collected:</th><td class="span2"><h:outputText value="#{forgeview:toCurrency(transactionHistoryBean.customerOrder.calculatedPaidTotal)}" /></td></tr>
    	<tr><th class="span2">Amount Due:</th><td class="span2">#{forgeview:toCurrency(transactionHistoryBean.getAmountDue())}</td></tr>
    	</table>
        
        <div id="transactions">
            <h:form>
            	<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th class="span2">Transaction Date</th>
							<th class="span2">Charge Amount</th>
							<th class="span2">Transaction Type</th>
							<th class="span2">Authorization Code</th>
							<th class="span2">Transaction Number</th>
						</tr>
					</thead>
	    			<tbody>
                		<ui:repeat var="transaction" value="#{transactionHistoryBean.customerOrder.creditCardTransactionLogs}">
                    		<tr>
                    			<td class="span2">#{transaction.timestamp}</td>
                    			<td class="span2">#{forgeview:toCurrency(transaction.totalAmount)}</td>
                    			<td class="span2">#{transaction.transactionType}</td>
                    			<td class="span2">#{transaction.failureReason != null ? "DECLINED ".concat(transaction.failureReason) : transaction.authCode}</td>
                    			<td class="span2"><h:commandLink action="#{transactionHistoryBean.setTransactionLog(transaction)}" >#{transaction.transactionKey}</h:commandLink></td>
                    		</tr>
						</ui:repeat>
					</tbody>
                </table>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
