<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:forgeview="http://jboss.org/forge/view">
    <rich:popupPanel id="cxmlCustomerCredentialToModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
        <h:form id="cxmlCustomerToCredentialForm">
            <a4j:region>
                <f:facet name="header">
                    <h:outputText value="Create To Credential" />
                </f:facet>
            
                <ui:include src="/admin/cxml/cxmlCredentialEdit.xhtml">
                    <ui:param name="cxmlCredential" value="#{bean.currentCustomerToCredential}" />
                </ui:include>

                <div class="btn-group" layout="block">
                    <a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
                                     render="#{render}:customerToCredentials" 
                                     execute="@region"
                                     action="#{bean.saveCurrentCustomerToCredential()}"
                                     oncomplete="hidePopup('cxmlCustomerCredentialToModal');" />
                    <a4j:commandLink value="Cancel"
                                     styleClass="btn btn-primary" 
                                     immediate="true"
                                     action="#{bean.clearFields('cxmlCustomerCredentialToModal')}"
                                     oncomplete="hidePopup('cxmlCustomerCredentialToModal');" />
                </div>

            </a4j:region>
        </h:form>

    </rich:popupPanel>	
</ui:composition>