<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

    
    <h:panelGroup layout="block">
        <a4j:region>
            <h:outputLabel for="customerToCredentials" value="#{labelText}:"/>
            <rich:extendedDataTable id="customerToCredentials" value="#{toCredentialList}" var="row" >
                <rich:column>
                    <f:facet name="header">
                        <h:outputText value="Domain:" />
                    </f:facet>
                    <h:outputText value="#{row.domain}" />
                </rich:column>

                <rich:column>
                    <f:facet name="header">
                        <h:outputText value="Identifier:" />
                    </f:facet>
                    <h:outputText value="#{row.identifier}" />
                </rich:column>

                <rich:column>
                    <f:facet name="header">
                        <h:outputText value="Edit:" />
                    </f:facet>
                    <a4j:commandLink 
                        id="customerEditToCredential" 
                        value="Edit "
                        execute="@this"
                        immediate="true"
                        action="#{bean.setCurrentCustomerToCredential(row)}"
                        render="cxmlCustomerCredentialToModal cxmlCustomerToCredentialForm"
                        oncomplete="showPopup('cxmlCustomerCredentialToModal');">
                        <a4j:param name="cid"
                                   value="#{javax.enterprise.context.conversation.id}" />
                    </a4j:commandLink>                    
                </rich:column>
                 <rich:column>
                    <f:facet name="header">
                        <h:outputText value="Delete:" />
                    </f:facet>
                     <a4j:commandLink value="Delete" action="#{bean.removeCurrentCustomerToCredential(row)}" render="#{render}:customerToCredentials" />
                 </rich:column>
            </rich:extendedDataTable>
        </a4j:region>


        <a4j:region>
            <a4j:commandLink 
                id="customerAddToCredential" 
                value="Add To Credential"
                styleClass="btn btn-primary"
                execute="@this"
                immediate="true"
                action="#{bean.createCustomerToCredential()}"
                render="cxmlCustomerCredentialToModal cxmlCustomerToCredentialForm"
                oncomplete="showPopup('cxmlCustomerCredentialToModal');">
                <a4j:param name="cid"
                           value="#{javax.enterprise.context.conversation.id}" />
            </a4j:commandLink>
        </a4j:region>

    </h:panelGroup>
    <h:outputText/>

</ui:composition>