<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/layout/administrationTemplate.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{cxmlConfigurationBean.id}" />
        <f:event type="preRenderView" listener="#{cxmlConfigurationBean.retrieve}" />
    </f:metadata>

    <ui:param name="pageTitle" value="Update cXML Configuration" />

    <ui:define name="header">
        cXML Configuration
    </ui:define>

    <ui:define name="subheader" />

    <ui:define name="footer" />

    <ui:define name="main">
        <h:form id="cxmlConfigurationEditForm">
            <h:panelGroup id="cxmlConfigurationEdit_area" layout="block">
                <ui:include src="/admin/cxml/cxmlConfigurationSearch.xhtml" />
                <ui:include src="/admin/cxml/cxmlConfigurationDetails.xhtml" />
            </h:panelGroup>
            <div id="cxml-configuration-edit-btn-block" class="btn-group" layout="block">
                <h:commandLink value="Save" action="#{cxmlConfigurationBean.update}" styleClass="btn btn-success" >
                    <i class="icon-ok"></i>
                </h:commandLink>
                <h:commandLink value="Delete" action="#{cxmlConfigurationBean.delete}" styleClass="btn btn-danger">
                    <i class="icon-trash"></i>
                </h:commandLink>
            </div>
        </h:form>
        <ui:include src="/admin/cxml/cxmlCredentialToModal.xhtml">
            <ui:param name="bean" value="#{cxmlConfigurationBean}" />
            <ui:param name="render" value="cxmlConfigurationEditForm" />
        </ui:include>
        <ui:include src="/admin/cxml/cxmlCredentialFromModal.xhtml">
            <ui:param name="bean" value="#{cxmlConfigurationBean}" />
            <ui:param name="render" value="cxmlConfigurationEditForm" />
        </ui:include>
        <ui:include src="/admin/cxml/cxmlCredentialSenderModal.xhtml">
            <ui:param name="bean" value="#{cxmlConfigurationBean}" />
            <ui:param name="render" value="cxmlConfigurationEditForm" />
        </ui:include>
    </ui:define>
</ui:composition>
