<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
    <div id="paymentInfoBlock" layout="block">
        <p>
            <h:outputLabel for="beanPaymentInformation" value="Payment Information:"/>
            <h:inputText id="beanPaymentInformation" disabled="true" value="#{paymentInformation != null ? 'Payment Information Set' : 'None Selected'}" />
        </p>        
    </div>
    <div id="payment-btn-block" layout="block">
        <a4j:region>
            <a4j:commandLink 
                id="editPaymentInformation" 
                value="Edit Payment Information"
                execute="@this"
                immediate="true"
                action="#{bean.fetchPaymentInformation()}"
                render=":paymentInformationModal :paymentInformationModalForm"
                oncomplete="showPopup('paymentInformationModal');"
                styleClass="btn btn-primary">
                <a4j:param name="cid"
                           value="#{javax.enterprise.context.conversation.id}" />
            </a4j:commandLink>
            <a4j:commandLink 
                id="removePaymentInformation" 
                value="Clear Payment Information"
                execute="@this"
                immediate="true"
                action="#{bean.clearPaymentInformation()}"
                render=":beanPaymentInformation"
                styleClass="btn btn-primary">
                <a4j:param name="cid"
                           value="#{javax.enterprise.context.conversation.id}" />
            </a4j:commandLink>
        </a4j:region>
    </div>
</ui:composition>

