<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="paymentInformationPersonModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="paymentInformationPersonModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Select Person" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('paymentInformationPersonModal')}.hide(); #{rich:component('notificationModal')}.show(); return false;" />
   			</f:facet>
   			
   			<label for="personFirstName">First Name</label>
   			<h:inputText id="personFirstName" value="#{personBean.firstName}" />
   			
   			<label for="personLastName">Last Name</label>
   			<h:inputText id="personLastName" value="#{personBean.lastName}" />
   			
   			<label for="personEmail">Email</label>
   			<h:inputText id="personEmail" value="#{personBean.email}" />
      		
      		<div class="buttons">
				<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
					render="paymentInformationModalForm:paymentInformationContactInfo paymentInformationPersonModalForm" 
					action="#{bean.currentPaymentInformation.setContact(personBean.persistPerson())}"
					oncomplete="hidePopup('paymentInformationPersonModal'); showPopup('paymentInformationModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn btn-primary" immediate="true" 
					render="paymentInformationPersonModalForm"
					action="#{personBean.clear()}"
					oncomplete="hidePopup('paymentInformationPersonModal'); showPopup('paymentInformationModal');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
</ui:composition>