<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<h:panelGrid columnClasses="label,component,required" columns="3">

		<h:outputLabel value="Item:" />
		<apd:item id="currentItem" item="#{itemBean.item}"
			allowVendorCatalogInput="false"
			allowItemClassificationsInput="false"
			allowManufacturerInput="false"
			showSkus="false"
			showProperties="false"
			allowProtectedCommodityCodeInput="#{itemBean.isProtectedCommodityCodeEditable()}" />
		<h:outputText />
		
		<ui:include src="/admin/property/propertyRelation.xhtml">
			<ui:param name="bean" value="#{itemBean}" />
			<ui:param name="typeBean" value="#{itemPropertyTypeBean}" />
			<ui:param name="propertyList" value="#{forgeview:asList(bean.item.properties)}" />
			<ui:param name="render" value="work" />
		</ui:include>

		<h:outputLabel value="SKUs" />
		<apd:skuSection id="skuSection" actionBean="#{itemBean}"
			skuCollection="#{itemBean.item.skus}" />
		<h:outputText />

	</h:panelGrid>

</ui:composition>