<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich">

<a4j:jsFunction name="logoutUser" action="#{userManager.logout()}" />
		
		<h:outputScript library="js" name="jquery-2.0.2.min.js" />
		<!-- bootstrap (all browsers) -->
        <h:outputScript name="js/bootstrap.js" />
        <h:outputScript name="js/jquery.idletimer.js" />
        <h:outputScript name="js/jquery.idletimeout.js" />
        <h:outputScript name="js/jquery.backstretch.min.js" />

        <!-- if lte IE 7 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 7]&gt;"/>
            <h:outputScript name="js/ie7_below.js"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
		<script>
                $.idleTimeout('#idletimeout', '#idletimeout a', {
                idleAfter: 1200,
                pollingInterval: 240,
                keepAliveURL: '/customerservice/poll',
                serverResponseEquals: 'OK',
                onTimeout: function(){
                $(this).slideUp();
                logoutUser();
                },
                onIdle: function(){
                $(this).slideDown(); // show the warning bar
                },
                onCountdown: function( counter ){
                $(this).find("span").html( counter ); // update the counter
                },
                onResume: function(){
                $(this).slideUp(); // hide the warning bar
                }
                });
   		</script>  
 </ui:composition> 		