<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/layout/administrationTemplate.xhtml">
	
<ui:define name="main">
	<h:message />
	<div class="tab-pane fade in active" id="manualOrder">       
            <div class="row apdMarginTop container">
            <div class="row-fluid">
            	<h:form id="checkout">
	                <div class="span6 fl-wrapper">
	                    <div class="span6">
	                        <h5>Create Quote</h5>
	                    
	                    <div class="clearfix"></div>
	                   
		           			<h:outputLabel for="userInput" value="Input username associated with order" binding="#{manualOrderSelectionBean.userInput}"/>
							<h:inputText id="userInput" value="#{manualOrderSelectionBean.login}" immediate="true">
								<a4j:ajax event="blur" render="credentialSelection" />
							</h:inputText>
							<br />
							<h:message id="userInputErrorMsg" class="error" for="#{manualOrderSelectionBean.userInput.clientId}" style="color:red;"/>
							<br />
		            		<h:outputLabel value="Select one of the following credentials associated with this user" for="credentialSelection" />
							<h:selectOneMenu id="credentialSelection" value="#{manualOrderSelectionBean.axcxu}" 
								converter="#{manualOrderSelectionBean.axcxuConverter}" required="true" requiredMessage="#{validation['user.credential.required']}">
								<f:selectItems value="#{forgeview:asList(manualOrderSelectionBean.userAxcxus)}" var="cred" itemValue="#{cred}" 
									itemLabel="#{cred.label}" />
							</h:selectOneMenu>
							<br />
							<h:message id="credentialErrorMsg" class="error" for="credentialSelection" style="color:red;"/>
							<br />
							<a4j:commandLink render="checkout" value="Enter Quote Details" styleClass="btn"
								action="quoteOrderPlace.xhtml?faces-redirect=true" />							
							
						</div>
	                </div>
	             </h:form>
	             <h:form id="manual">        
					 <div class="span5 fl-wrapper">
	                    <div>
	                        <h5>Search Request For Quote</h5>
	                    </div>
	                    <div class="clearfix"></div>
	           			<h:outputLabel for="orderNumberInput" value="Quote #" binding="#{manualOrderSelectionBean.orderNumberInput}"/>
						<h:inputText id="orderNumberInput" value="#{manualOrderSelectionBean.orderNumber}" valueChangeListener="#{manualOrderSelectionBean.searchRequestForQuote}" immediate="true" >
							<a4j:ajax event="blur" render="manual" />
						</h:inputText>
						<br />
						<h:message id="orderNumberInputErrorMsg" class="error" for="#{manualOrderSelectionBean.orderNumberInput.clientId}" style="color:red;"/>
						<br />
						<a4j:commandLink render="manual" value="Search Quote" disabled="#{not manualOrderSelectionBean.orderFound}" 
							rendered="#{not manualOrderSelectionBean.orderFound}" styleClass="btn"
							action="quoteOrderPlace.xhtml?faces-redirect=true" immediate="true"/>
						<a4j:commandLink render="manual" value="Edit Quote" disabled="#{not manualOrderSelectionBean.orderFound}" 
							rendered="#{manualOrderSelectionBean.orderFound}" styleClass="btn"
							action="quoteOrderPlace.xhtml?faces-redirect=true" immediate="true"/>
	                </div>
	        	</h:form>
            </div>          
           </div>        
	</div>
</ui:define>
</ui:composition>