<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{loginCarouselDisplayBean.retrieve}" />
	</f:metadata>

	<ui:param name="pageTitle" value="Login Carousel Display" />

	<ui:define name="header">
		Login Carousel Display
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="work">
            <ui:include src="/admin/loginCarouselDisplay/loginCarouselDisplayRelation.xhtml">
				<ui:param name="bean" value="#{loginCarouselDisplayBean}" />
				<ui:param name="loginCarouselDisplayList" value="#{bean.loginCarouselDisplayList}" />
				<ui:param name="render" value="work" />
			</ui:include>
			<div id="loginCarouselDisplay-edit-btn-block" class="btn-group" layout="block">
                <h:commandLink value="Save" action="#{loginCarouselDisplayBean.update}" styleClass="btn btn-success" >
                    <i class="icon-ok"></i>
                </h:commandLink>
            </div>

		</h:form>
        <ui:include src="/admin/loginCarouselDisplay/loginCarouselDisplayModal.xhtml">
            <ui:param name="bean" value="#{loginCarouselDisplayBean}" />
            <ui:param name="render" value="work" />
        </ui:include>
	</ui:define>

</ui:composition>