<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:outputLabel for="beanLoginCarouselDisplays" value="Login Carousel Displays:"/>
	<h:panelGroup>
		<a4j:region>
		<rich:extendedDataTable id="beanLoginCarouselDisplays" value="#{loginCarouselDisplayList}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Subdomain:" />
		       </f:facet>
		       <h:outputText value="#{row.subdomain}" />
		    </rich:column>

			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Background Image URL:" />
		       </f:facet>
		       <h:outputText value="#{row.backgroundImageUrl}" />
		    </rich:column>

			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Header:" />
		       </f:facet>
		       <h:outputText value="#{row.header}" />
		    </rich:column>

			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Link Text:" />
		       </f:facet>
		       <h:outputText value="#{row.linkText}" />
		    </rich:column>

			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Edit:" />
                       </f:facet>
                       <a4j:commandLink 
                           id="editLoginCarouselDisplay" 
                           value="Edit"
                           execute="@this"
                           immediate="true"
                           action="#{bean.setCurrentLoginCarouselDisplay(row)}"
                           render=":loginCarouselDisplayModal :loginCarouselDisplayModalForm"
                           oncomplete="showPopup('loginCarouselDisplayModal');">
                           <a4j:param name="cid"
                                      value="#{javax.enterprise.context.conversation.id}" />
                       </a4j:commandLink>

                        </rich:column>
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Delete:" />
                            </f:facet>
                            <a4j:commandLink value="Delete" action="#{bean.removeLoginCarouselDisplay(row)}" render="#{render}:beanLoginCarouselDisplays" />
                        </rich:column>
                </rich:extendedDataTable>
		</a4j:region>
			
		
		<a4j:region>
			<a4j:commandLink 
				id="addLoginCarouselDisplay" 
				value="Add Login Carousel Display"
				styleClass="btn btn-primary"
				execute="@this"
				immediate="true"
				action="#{bean.createLoginCarouselDisplay()}"
				render=":loginCarouselDisplayModal :loginCarouselDisplayModalForm"
				oncomplete="showPopup('loginCarouselDisplayModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
		</a4j:region>
		
	</h:panelGroup>
	<h:outputText/>
	
</ui:composition>