<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:composite="http://java.sun.com/jsf/composite">
	<div>
		<h:outputLabel value="Subdomain:"/>
		<h:inputText id="carouselSubdomain" value="#{loginCarouselDisplay.subdomain}" />
		<rich:message for="carouselSubdomain" styleClass="error" />
	</div>
	<div>
		<h:outputLabel value="Background Image URL:"/>
		<h:inputText id="carouselBackgroundImageUrl" value="#{loginCarouselDisplay.backgroundImageUrl}" />
		<rich:message for="carouselBackgroundImageUrl" styleClass="error" />
	</div>
	<div>
		<h:outputLabel value="Header:"/>
		<h:inputText id="carouselHeader" value="#{loginCarouselDisplay.header}" />
		<rich:message for="carouselHeader" styleClass="error" />
	</div>
	<div>
		<h:outputLabel value="Body:"/>
		<h:inputText id="carouselBody" value="#{loginCarouselDisplay.body}" />
		<rich:message for="carouselBody" styleClass="error" />
	</div>
	<div>
		<h:outputLabel value="Link Text:"/>
		<h:inputText id="carouselLinkText" value="#{loginCarouselDisplay.linkText}" />
		<rich:message for="carouselLinkText" styleClass="error" />
	</div>
	<div>
		<h:outputLabel value="Link URL:"/>
		<h:inputText id="carouselLinkUrl" value="#{loginCarouselDisplay.linkUrl}" />
		<rich:message for="carouselLinkUrl" styleClass="error" />
	</div>
      		
</ui:composition>