<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceGeneralInformationTemplate.xhtml">
    <ui:define name="page_title">DEALER SPECIFIC INFORMATION HERE</ui:define>
    <ui:define name="page_content">
	    <h3>DEALER SPECIFIC INFORMATION HERE</h3>
	    <p>
			DISPLAY DEALER SPECIFIC INFORMATION HERE
	    </p>
            <br/> 
</ui:define>
</ui:composition>