<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceGeneralInformationTemplate.xhtml">
    <ui:define name="page_title">Marfield - Guarantee and Returns</ui:define>
    <ui:define name="page_content">
    	<h3>Guarantee and Returns</h3>
	      <p>Your complete satisfaction is our priority. 
	      If you are dissatisfied with the quality of our product, you will receive equal replacement or full credit.
		  All return authorizations must be requested through our Customer Service department within 60 days of receipt of product shipment.
		  </p>
		  
		  <p>Contact us Toll Free 1-877-245-9122 or via email service@marfield.com.</p>
	
	      
	
        <br/> 
  </ui:define>
</ui:composition>