<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceGeneralInformationTemplate.xhtml">
    <ui:define name="page_title">American Product Distributors - Privacy Statement</ui:define>
    <ui:define name="page_content">
            <h3>
                Privacy Statement
			</h3>
			<p>
					It is APD's policy to respect and protect the privacy of our customers and the users of americanproduct.com
				(hereinafter called the "Site"). Through this Internet Privacy Statement, APD wants to reassure users of the
				Site that we will not sell, share, or rent user information to others in a manner different than as set forth
				in this Internet Privacy Statement.</p><p>
				
				PLACING OF ORDERS AND COLLECTION OF INFORMATION</p><p>
				
				APD collects information from the users of the Site at several different points on the Site. For example, we
				collect and/or request information when a user:</p><p>
				
				1.Places an Order<br/>
				2.Registers on the Site<br/>
				3.Requests notification of an order status<br/>
				4.Participates in a survey<br/>
				5.Submits an email</p><p>
				
				In order to fulfill the requests of Site users in the above instances, the user may be requested to also
				provide contact and/or credit card information. If we have trouble processing an order, a request, or
				completing a delivery, this contact information will be used by APD to contact the user.</p><p>
				
				GATHERING AND SHARING INFORMATION, LINKS TO EXTERNAL AND CO-BRANDED WEBSITES</p><p>
				
				The APD Site is hosted by a trusted third party partner who codes and manages the application programs that
				are used in the Site. This trusted third party partner also collects and holds the data that is gathered by
				the Site during the shopping session of the user. The data collected contains personally identifying
				information (i.e. name of user, credit card number, and shipping address) and also non-personally identifying
				information (i.e. goods being purchased).  This data is only shared with other parties necessary to the
				fulfillment and delivery of orders, as described further in this section.</p><p>
				
				We will monitor traffic patterns on the Site and gather broad demographic information for aggregate use to
				analyze trends and administer the Site in order to improve its layout and design and to permit Site
				personalization and streamlining to create the best shopping experience we can for our users. In order for us
				to perform analysis permitting such personalization and improvement of site design and user experience, we may
				employ suitable third parties with whom we share the information necessary to accomplish these objectives.
				These statistics include no personally identifying information whatsoever.</p><p>
				
				Where appropriate, we will share aggregated statistical information with our business partners. These
				statistics include no personally identifying information whatsoever.</p><p>
				
				We will use a credit card processing company to bill purchasers of goods and services from the Site, and
				depending upon the goods and services being ordered and where they are being shipped, we may also use outside
				suppliers and/or delivery companies to assist us in fulfilling and delivering the orders. We will share with
				them the information necessary to enable such card processing, fulfillment, and delivery of goods (i.e. name,
				address, and as appropriate, payment information).</p><p>
				
				Additionally, we partner with trusted third parties to provide Site users with APD approved unique offers or
				services which may be of value to our users. In such instances, we would share a user's name and address with
				a trusted third party to enable them to notify the user of the unique offer or service. We will never provide
				credit card information and you will always be provided with the opportunity to unsubscribe from any such
				available list.</p><p>
				
				APD may provide personally identifying and account information in special cases such as enforcement of our
				Terms of Site Use, or as required by law or legal process to protect and defend the rights and safety of our
				Site and its users. This includes exchanging information with other companies for purposes of fraud and credit
				risk reduction precautions.</p><p>
				
				Our Site also contains links to external Internet sites as well as co-branded sites, which may be operated by
				an external party and they may have privacy practices that differ from those here at americanproduct.com. A
				co-branded site is a Website, usually operated by a third party, and displaying that third-party's name along
				with the APD name and logo. Such co-branded sites offer APD approved goods and services to our users. When you
				click on links that may take you to such external or co-branded sites, you will be subject to their privacy
				policies, and we encourage you to become familiar with that party's privacy policies as these may differ from
				those utilized on our Site. Please note that this privacy statement applies solely to information collected by
				APD on our Site and, while we strongly support the protection of privacy on the Internet, we cannot be
				responsible for the privacy practices of other Websites, uses of the information collected by other Websites,
				or the content of those other Websites.</p><p>
				
				CONSENT</p><p>
				
				By using our Site, the user agrees to the terms and conditions set forth in this Internet Privacy Statement
				and the Site Terms of Use INCLUDING ALL LIMITATIONS OF DAMAGES PROVISIONS which are integral part hereof and
				the user consents to the collection and use of this information by APD as disclosed in this Internet Privacy
				Statement. We may revise this APD Internet Privacy Statement or the Site Terms of Use at any time by updating
				these postings. By using this Site you agree to be bound by any such revisions in effect at the time of use
				and should therefore periodically visit this page and the Site Terms of Use page to determine the appropriate
				current policies applicable to users of the Site.</p><p>
				
				SURVEYS AND CONTESTS</p><p>
				
				From time to time, we might request information from the users of the Site via surveys or contests.
				Participation in these surveys or contests is voluntary, and the users of the Site have a choice whether or
				not to disclose this information. Information requested might include contact information (such as your name
				and shipping address), and demographic information (such as zip code, age level, etc.). W use such information
				to notify contest winners, award prizes, and for analyzing the Site traffic to improve the user's experience
				on the APD Site.</p><p>
				
				SECURITY INFORMATION</p><p>
				
				Strong precautions are definitely taken to protect the information of the users of our Site. When Site users
				submit sensitive information via the Site, that Information is protected both online and off-line. We take
				credit card information security seriously and use a number of technical solutions to make shopping safe at
				our Site. Additionally, your information is encrypted and is protected utilizing the industry standard Secure
				Sockets Layer (SSL) encryption software. While on a secure page, such as our order form, the lock icon on the
				bottom of Web browsers such as Netscape Navigator and Microsoft Internet Explorer becomes locked, as opposed
				to un-locked, or open, when you are simply "surfing".</p><p>
				
				While we use SSL encryption to protect sensitive information online, we also seek to protect user-information
				off-line. All of the information of our Site's users, including the sensitive information mentioned above, is
				maintained in a restricted section in our designated offices. Only those of our authorized employees who need
				the information to perform a specific job (for example, our account or customer service representatives) are
				granted access to personally identifiable information. Furthermore, our employees are kept up-to-date on our
				security and privacy practices and procedures. If you have any questions about the security at our Site, you
				can send an e-mail to #{pageCssBean.privacyEmail}.</p><p>
				
				COOKIES</p><p>
				
				You might have heard of the term "cookies". Cookies are routinely used by most, if not all, E-commerce
				merchants, including APD. A cookie is a portion of data stored on a user's hard drive through the Web browser
				program containing information about the user which enables us to track and personalize the Site to enhance
				your experience. For instance, by setting up a cookie on our Site, we can provide you with storage of items in
				your shopping cart between visits. However, if a user rejects the cookie, the user may still use our Site
				although we will be unable to provide that user with the personalized shopping experience we can offer using
				the cookie data. If you have any questions about our use of cookies, please send an e-mail to
				#{pageCssBean.privacyEmail}.</p><p>
				
				SPECIAL OFFERS, ACCOUNT UPDATES AND OPTING OUT</p><p>
				
				APD occasionally may send our customers and the users of the Site announcements and updates, which contain
				important information about the Site and service offerings which we believe to be of value to our customers
				and users. In order to do this, we may enhance or merge the information we collect on the Site with data from
				third parties for purposes of marketing products or services to our customers and users.</p><p>
				
				We may communicate with the users of the Site via e-mail, telephone, mail, or fax in order to adequately
				provide requested services, content, product information, notification of special offers, or in regard to
				customer service issues relating to an account. The users of the Site are always given ample opportunity to
				"opt-out" of having their online information used for purposes not directly related to the Site at the point
				at which we ask for the information or when they receive an online requested promotional communication.</p><p>
				
				For example, our e-mail messages have an "unsubscribe" feature for users of the Site who purchase from us, but
				don't want to be notified about special offers in the future. Users can merely "Reply" back to the e-mail
				message and type "unsubscribe" in the subject field. Upon receipt of the user reply, we will remove that
				e-mail address from our e-mail list. If a user has more than one e-mail address, he or she should include the
				other addresses as well to ensure proper updating of user account information.</p><p>
				
				Users of the Site can always update the personally identifying information that they have provided to APD
				simply by accessing and updating their account information on the Site or by e-mailing us at
				#{pageCssBean.privacyEmail}.</p><p>
				
				©COPYRIGHT 2011, American Product Distributors, Inc.</p><p>
				    </p>
                                    <br/>
    </ui:define>
</ui:composition>