<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceGeneralInformationTemplate.xhtml">
    <ui:define name="page_title">Rebate Center</ui:define>
    <ui:define name="page_content">
            <h3 class="text-center">
                Rebate Center
            </h3>
            <ul>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/Scotch Laminator Rebate 6.30.2013.pdf">
                    	Scotch Laminator Rebate 6.30.2013.pdf
                   	</h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/Post-It Accessories Reward-6.30.2013.pdf">
                    	Post-It Accessories Reward-6.30.2013
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/hp_printcart_20rebate_4.13.pdf">
                    	hp printcart 20rebate 4.13
                    </h:outputLink>
                </li>    
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/Boise Apsen Rebate 5.15.2013.pdf">
                    	Boise Apsen Rebate 5.15.2013.pdf
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/3M DryErase Boards Rebate 6.30.2013.pdf">
                    	3M DryErase Boards Rebate 6.30.2013.pdf
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/Scotch Post It Rebate 6.30.2013.pdf">
                    	Scotch Post It Rebate 6.30.2013.pdf
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/boise_aspen50_5rebate.pdf">
                    	boise aspen50 5rebate
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/scotch_laminator_10rebate.pdf">
                    	scotch laminator 10rebate
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/Energizer Battery Rebate 6.30.2013.pdf">
                   		Energizer Battery Rebate 6.30.2013.pdf
                   	</h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/avery_labels_25gc_4.13.pdf">
                    	avery labels 25gc 4.13
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/3m_dryersbrds_25rebate.pdf">
                    	3m dryersbrds 25rebate
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/energizer_25gc_batteries_4.13.pdf">
                    	energizer 25gc batteries 4.13
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/scotchpostit_50purch_strbksgc.pdf">
                   		scotchpostit 50purch strbksgc
                   	</h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/Pentel EnerGel Visa Gift Card-6.30.2013.pdf">
                    	Pentel EnerGel Visa Gift Card-6.30.2013
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/Cardinal Gift Card-12.31.2013.pdf">
                    	Cardinal Gift Card-12.31.2013
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/Post-It Tumbler Offer-6.30.2013.pdf">
                    	Post-It Tumbler Offer-6.30.2013
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/Avery Labels Rebate  6.30.2013.pdf">
                    	Avery Labels Rebate  6.30.2013.pdf
                    </h:outputLink>
                </li>
                <li>
                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/HP Cartridges Rebate  6.30.2013.pdf">
                    	HP Cartridges Rebate  6.30.2013.pdf
                    </h:outputLink>
                </li>
            </ul>
    </ui:define>
</ui:composition>