<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceGeneralInformationTemplate.xhtml">
    <ui:define name="page_title">American Product Distributors - Security Information</ui:define>
    <ui:define name="page_content">
		<h3>Security Information</h3>
		
		<p>		
		APD takes credit card information security seriously and uses a variety of technical solutions to make
		shopping safe at APD Online. Once you enter your credit card number, we will never display the entire card
		number. We will only display the last four digits of your card preceded with asterisks.</p><p>
		
		SECURE SOCKET LAYERS (SSL)</p><p>
		
		Our secure server software encrypts information, to ensure that your transactions stay private and protected.
		Additionally, the APD Online fulfillment system is not connected to the Internet and is not accessible in any
		way, which keeps your information secure once it reaches us.</p><p>
		
		©COPYRIGHT 2011, American Product Distributors, Inc.</p><p>
		</p>
	</ui:define>
</ui:composition>