<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">
	
	    <h:panelGroup id="hierarchyNodeParent" >
				<h:outputLabel value="Parent Hierarchy Node: " />
				<h:panelGroup >
					<h:outputText value="#{hierarchyNodeBean.hierarchyNode.parent.description != null ? hierarchyNodeBean.hierarchyNode.parent.description  : 'NONE'}" />
					<h:commandLink value="Parent Node" styleClass="btn btn-primary" >
						<rich:componentControl target="parentHierarchyNodeModal" operation="show" />
					</h:commandLink>
				</h:panelGroup>
				<br />
		</h:panelGroup>
		
		<h:panelGroup>
			Type: <h:outputText value="#{hierarchyNodeBean.hierarchyNode.type}" />				
		</h:panelGroup>
		

		<h:outputLabel for="hierarchyNodeDescription" value="Description:"/>
			<h:panelGroup>
				<h:inputText id="hierarchyNodeDescription" value="#{hierarchyNodeBean.hierarchyNode.description}"
					required="true" requiredMessage="Description is a required field."/>
				<rich:message for="hierarchyNodeDescription" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
			
			<h:outputLabel for="hierarchyNodePublicID" value="Public ID:"/>
			<h:panelGroup>
				<h:inputText id="hierarchyNodePublicID" value="#{hierarchyNodeBean.hierarchyNode.publicId}"
					required="true" requiredMessage="Public ID is a required field."/>
				<rich:message for="hierarchyNodePublicID" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
			
			<h:outputLabel for="hierarchyNodeType" value="Type:"/>
			<h:panelGroup>
				<h:inputText id="hierarchyNodeType" value="#{hierarchyNodeBean.hierarchyNode.type}"
					required="true" requiredMessage="Type is a required field."/>
				<rich:message for="hierarchyNodeType" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
			
</ui:composition>
