<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="parentHierarchyNodeModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="parentHierarchyNodeModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Select Credential" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" immediate="true" 
					render="parentHierarchyNodeModalForm" action="#{parentHierarchyNodeSearchBean.clearSelection()}" 
					oncomplete="hidePopup('parentHierarchyNodeModal');" />
   			</f:facet>
   			
   			<a4j:outputPanel id="parentHierarchyNodeSearchRegion">
				<apd:search searchBean="#{parentHierarchyNodeSearchBean}" detailsRegion="parentHierarchyNodeModalForm" 
					searchRegion="parentHierarchyNodeSearchRegion" requireSelection="true" />
      		</a4j:outputPanel>
      		
      		<div class="buttons">
				<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
					render="#{render} parentHierarchyNodeModalForm" 
					action="#{hierarchyNodeBean.hierarchyNode.setParent(parentHierarchyNodeSearchBean.clearSelection())}"
					oncomplete="hidePopup('parentHierarchyNodeModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn btn-primary" immediate="true" 
					render="parentHierarchyNodeModalForm"
					action="#{parentHierarchyNodeSearchBean.clearSelection()}"
					oncomplete="hidePopup('parentHierarchyNodeModal');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
</ui:composition>