<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>Bad Request</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <h:outputStylesheet name="css/bootstrap/bootstrap.css" />
        <h:outputStylesheet name="css/bootstrap/bootstrap-responsive.css" />
        <h:outputStylesheet name="css/main/ecommerce.css" />
        <h:outputStylesheet name="css/main/ecommerce-responsive.css" />
        <h:outputStylesheet name="css/fonts/stylesheet.css" />
        <ui:include src="WEB-INF/templates/dynamicCss.xhtml" />
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
    </h:head>
    <h:body>
    <div id="bodyWrapper">
        <div class="containerFull">
            <div class="apd-container">  
    			<h:form>
	                <div id="header" class="navbar navbar-fluid container">
	                    <a href="#{linksBean.home}"><img height="50" src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/APD-logo.png" width="201"/></a>
	                </div>
	                <h2>400</h2>
	                <p>We apologize for the inconvenience. <h:commandLink action="#{loginBean.logout}" value="Click here" /> to return to the login page. If this problem persists, please contact customer service at #{pageCssBean.callUsPhone}.</p>
				</h:form>
            </div>
        </div>
    </div>
    </h:body>
    <h:outputScript library="js" name="jquery-2.0.2.min.js" />
    <h:outputScript library="js" name="bootstrap.js" />
    <h:outputScript library="js" name="jquery.backstretch.min.js" />
    <!--          [if lt IE 9]>
                            <script src="/shopping/resources/js/html5shiv.js"></script>
                            <script src="/shopping/resources/js/html5shiv-printshiv.js"></script>
                    <![endif]
              
              [if lte IE 8]>
              <link rel="stylesheet" href="/shopping/resources/css/ie8_below.css">
              <![endif]-->
    <script>
        $.backstretch("#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/background/apd-Background.jpg");
    </script>
</html>
