<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommercePeekProductDetailsTemplate.xhtml">

    <f:metadata>
        <f:viewParam name="vendorName" value="#{peekProductDetailsBean.vendorName}" required="true" />
        <f:viewParam name="apdSku"
                     value="#{peekProductDetailsBean.apdSku}" required="true" />        
        <f:event type="preRenderView" listener="#{peekProductDetailsBean.retrieve}"/>
    </f:metadata>

    <ui:define name="page_content">
        <div id="login-header" class="row-fluid">
            <div class="span4">
                <a href="#{linksBean.home}"><img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/APD-logo.png" width="201" height="50"/></a>
            </div>
        </div>
        <div class="row-fluid border-full" style="margin-top:10px"/>
        <div class="row apdMarginTop container">
            <h:form id="productDetailsForm">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="span12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <a4j:repeat var="image" value="#{peekProductDetailsBean.fetchItemImages()}" rowKeyVar="i">
                                        <h:panelGroup rendered="#{i lt 4}">
                                            <h:panelGroup rendered="#{i==0}">
                                                <div class="active item" data-slide-number="#{i}"><img src="#{image.imageUrl}" class="crop250by250"/></div>
                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{i!=0}">
                                                <div class="item" data-slide-number="#{i}"><img src="#{image.imageUrl}" class="crop250by250"/></div>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </a4j:repeat>
                                </div>                                
                            </div>

                        </div><!-- Bottom switcher of slider -->
                        <ul class="thumbnails mobileHide">
                            <a4j:repeat var="image" value="#{peekProductDetailsBean.fetchItemImages()}" rowKeyVar="i">
                                <h:panelGroup rendered="#{i lt 4}">
                                    <li class="span3">
                                        <a class="thumbnail" id="carousel-selector-#{i}"><img src="#{image.imageUrl}" class="crop60by60"/></a>
                                    </li>         
                                </h:panelGroup>
                            </a4j:repeat>
                        </ul>
                    </div> 
                    <!-- ======= DESCRIPTION ======== -->			
                    <div class="span6 productContent">
                        <div class="span12 product-Title">
                        	<h:panelGroup rendered="#{not empty peekProductDetailsBean.product.brandImage}" >
	                            	<img  src="#{peekProductDetailsBean.product.brandImage}" class="crop75by75" />
	                        </h:panelGroup>
                            <h3 class="text-left">#{peekProductDetailsBean.productName}</h3>
                            <h:panelGroup rendered="#{not empty peekProductDetailsBean.sellingPoints}" layout="block" styleClass="span12 product-desc">
                                	<ul class="descBullet">
                                		<a4j:repeat value="#{peekProductDetailsBean.sellingPoints}" var="sellingPoint">
											<li><p><h:outputText value="#{sellingPoint.value}" /></p></li>
										</a4j:repeat>
									</ul>
							</h:panelGroup>        

                            <div class="span12 product-features">
                            	<div>
	                            	<p class="product-manufacture">MFR. SKU: #{peekProductDetailsBean.productManufacturer}</p>
	                            	<p class="product-sku">SKU: #{peekProductDetailsBean.productSku} </p>
	                                <a4j:repeat rendered="#{not empty peekProductDetailsBean.product.iconMap.keySet()}" value="#{viewUtils.mapToList(peekProductDetailsBean.product.iconMap)}" var="entry" rowKeyVar="index">
	                                    <img  src="#{entry.key}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
	                                </a4j:repeat>
	                                <h:panelGroup rendered="#{not empty peekProductDetailsBean.product.forModelNumbers}" >
											      <p class="product-sku">
											      	<strong>For use with / fits: </strong>
											      	#{peekProductDetailsBean.product.forModelNumbers}
											      </p>							     
									</h:panelGroup>
								</div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- ======= DESCRIPTION END ======== -->
                    <h:outputScript name="js/spinner.js" target="head" />
                            <script type="text/javascript">
                            init("productDetailsForm","1");
                    </script>
                    <div class="span2">
                     <div class="qtyContainer" id="add">
                        <div class="pull-left">
                            <h:outputLabel style="display:none" id="vendor" value="#{peekProductDetailsBean.vendorName}"/>
                            <h:outputLabel style="display:none" id="sku" value="#{peekProductDetailsBean.apdSku}"/>
                        </div>
                     </div>

                    </div>
                </div>
                <!-- ====== ADDED THIS CLASS ====== -->        
                <div class="clearfix"></div>
                <!-- ====== TABS ====== -->        
                <div class="row-fluid container pd-tabcontainer">
                    <div class="span9 offset4">
                        <div class="tabbable pd-tabs">
                            <ul class="nav nav-tabs" id="productDetailTabs">
                            	<a4j:repeat value="#{productRelationshipBean.orderedRelationshipTabList}" var="relationshipName" rowKeyVar="index">
	                                <li class="#{peekProductDetailsBean.shouldRenderTab('relationshipTab'.concat(index), productTab) ? 'active' : ''}">
	                                    <a data-toggle="tab" class="show-in-modern-browsers" href="#relationshipTab#{index}">
	                                        <h5>#{relationshipName}</h5></a>	                                   
	                                </li>
                            	</a4j:repeat>
                                <li class="#{peekProductDetailsBean.shouldRenderTab('tab1', productTab) ? 'active' : ''}">
                                    <a data-toggle="tab" href="#tab1">
                                        <h5>#{display['details.product.productDetails']}</h5></a>
                                </li>
                                <li class="#{peekProductDetailsBean.shouldRenderTab('tab2', productTab) ? 'active' : ''}">
                                    <a data-toggle="tab" href="#tab2">
                                        <h5>#{display['details.product.classifications']}</h5></a>
                                </li>
                            </ul>

                            <ui:include src="/WEB-INF/components/inserts/product/productTabs.xhtml">
                                <ui:param name="detailsBean" value="${peekProductDetailsBean}" />
                                <ui:param name="isPeekProduct" value="true" />
                            </ui:include>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>        
        <div id="push"></div>         
    </ui:define>

</ui:composition>
