<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		
	<h:outputLabel for="cashoutPageDisplay" value="Cashout Page:"/>
	<a4j:region id="cashoutPageDisplay">
		<h:outputText id="cashoutPageOutput" value="#{(credentialBean.credential.cashoutPage != null) ? credentialBean.credential.cashoutPage.toString() : 'None Selected'}"/>
		<h:commandLink value="Select Cashout Page" styleClass="btn btn-primary">
			<rich:componentControl target="cashoutPageModal" operation="show" />
		</h:commandLink>
	</a4j:region>
	<h:outputText/>

</ui:composition>