<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:outputLabel value="Approver:"/>
		<h:panelGroup>
		<a4j:outputPanel id="credentialApproverUser">
			<h:outputText value="#{bean.credential.user.person.firstName} #{bean.credential.user.person.lastName}" 
				rendered="#{bean.credential.user != null}" />
			<h:outputText value="None Selected" 
				rendered="#{bean.credential.user == null}" />
		</a4j:outputPanel>
		<a4j:commandLink value="Set Approver" styleClass="btn btn-primary" render="#{render}:credentialApproverUser:approverUserModalForm" 
				onclick="#{rich:component('approverUserModal')}.show(); return false;" />
		
		<a4j:commandLink value="Clear Approver" styleClass="btn btn-primary" 
			render=":credentialApproverUser"  action="#{bean.clearApprover()}" />
		</h:panelGroup>
		<h:outputText/>
	
</ui:composition>