<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		
	<h:outputLabel for="catalogDisplay" value="Catalog:"/>
	<a4j:region id="catalogDisplay">
		<h:outputText id="catalogOutput" value="#{(credentialBean.credential.catalog != null) ? credentialBean.credential.catalog.name : 'None Selected'}"/>
		<h:commandLink value="Select Catalog" styleClass="btn btn-primary">
			<rich:componentControl target="catalogModal" operation="show" />
		</h:commandLink>
		<a4j:commandLink 
                id="unselectCatalog" 
                value="Unselect Catalog"
                execute="@this"
                immediate="true"
                action="#{credentialBean.removeCatalogFromCredential()}"
                render=":catalogOutput"
                styleClass="btn btn-primary">
                <a4j:param name="cid"
                           value="#{javax.enterprise.context.conversation.id}" />
            </a4j:commandLink>
	</a4j:region>
	<h:outputText/>

</ui:composition>