<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		
	<h:outputLabel for="credentialPOCommunicationD" value="PO Acknowledgment Destination:"/>
	<h:panelGroup>
		<h:inputText id="credentialPOCommunicationD" value="#{credentialBean.credential.poAcknowledgementDestination}" />
	</h:panelGroup>
	<h:outputText/>
	
		<h:outputLabel for="credentialPOCommunication" value="PO Acknowledgment Method:"/>
	<h:panelGroup>
		<h:selectOneMenu id="credentialPOCommunication" value="#{credentialBean.credential.poAcknowledgementMessageType}">
	    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
   			<f:selectItems value="#{credentialBean.communicationMessageType}" />
   		</h:selectOneMenu>
	</h:panelGroup>
	<h:outputText/>	
	
	<hr />
	
	<h:outputLabel for="credentialSHCommunicationD" value="Shipment Notification Destination:"/>
	<h:panelGroup>
		<h:inputText id="credentialSHCommunicationD" value="#{credentialBean.credential.shipmentNotificationDestination}" />
	</h:panelGroup>
	<h:outputText/>	
	
	<h:outputLabel for="credentialSHCommunication" value="Shipment Notification Method:"/>
	<h:panelGroup>
		<h:selectOneMenu id="credentialSHCommunication" value="#{credentialBean.credential.shipmentNotificationMessageType}">
	    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
   			<f:selectItems value="#{credentialBean.communicationMessageType}" />
   		</h:selectOneMenu>
	</h:panelGroup>
	<h:outputText/>	
	
	<hr />
	
	<h:outputLabel for="credentialINCommunicationD" value="Invoice Destination:"/>
	<h:panelGroup>
		<h:inputText id="credentialINCommunicationD" value="#{credentialBean.credential.invoiceDestination}" />
	</h:panelGroup>
	<h:outputText/>	
	
	<h:outputLabel for="credentialINCommunication" value="Invoice Method:"/>
	<h:panelGroup>
		<h:selectOneMenu id="credentialINCommunication" value="#{credentialBean.credential.invoiceMessageType}">
	    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
   			<f:selectItems value="#{credentialBean.communicationMessageType}" />
   		</h:selectOneMenu>
	</h:panelGroup>
	<h:outputText/>	
	
	<h:outputLabel for="credentialCICommunicationD" value="Credit Invoice Destination:"/>
	<h:panelGroup>
		<h:inputText id="credentialCICommunicationD" value="#{credentialBean.credential.creditInvoiceDestination}" />
	</h:panelGroup>
	<h:outputText/>	
	
	<h:outputLabel for="credentialCICommunication" value="Credit Invoice Method:"/>
	<h:panelGroup>
		<h:selectOneMenu id="credentialCICommunication" value="#{credentialBean.credential.creditInvoiceMessageType}">
	    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
   			<f:selectItems value="#{credentialBean.communicationMessageType}" />
   		</h:selectOneMenu>
	</h:panelGroup>
	<h:outputText/>

</ui:composition>