<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:forgeview="http://jboss.org/forge/view">
				
	<c:if test="#{propertiesBean.get('project.state', 'isPreRelease', 'false') eq 'true'}">
		<h:outputLabel for="credentialBeanCredentialId" value="System ID:"/>
		<h:outputText id="credentialBeanCredentialId" value="#{credentialBean.credential.id}"/>
		<h:outputText/>
	</c:if>
		
	<h:outputLabel for="credentialBeanCredentialName" value="Name:"/>
	<h:panelGroup>
		<h:inputText id="credentialBeanCredentialName" value="#{credentialBean.credential.name}"/>
		<h:message for="credentialBeanCredentialName" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialSkuType" value="Sku Type:"/>
	<h:panelGroup>
       <h:selectOneMenu id="credentialBeanCredentialSkuType" value="#{credentialBean.credential.skuType}"
       		converter="#{skuTypeBean.converter}">
	    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
   			<f:selectItems value="#{skuTypeBean.all}"
   				 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
   		</h:selectOneMenu>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialPartnerId" value="Partner ID (will be lowercased):"/>
	<h:inputText id="credentialBeanCredentialPartnerId" value="#{credentialBean.credential.partnerId}"/>
		<h:message for="credentialBeanCredentialPartnerId" styleClass="error"/>
	<h:panelGroup>
      
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialTerms" value="Invoice Terms:"/>
	<h:panelGroup>
       <h:selectOneMenu id="credentialBeanCredentialTerms" value="#{credentialBean.credential.terms}">
	    	<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
			<f:selectItems value="#{credentialBean.allTerms}" />
   		</h:selectOneMenu>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialStoreCredit" value="Store Credit:"/>
	<h:panelGroup>
		<h:inputText id="credentialBeanCredentialStoreCredit" value="#{credentialBean.credential.storeCredit}"/>
		<h:message for="credentialBeanCredentialStoreCredit" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialAuthorizeAddresses" value="Authorize Addresses:"/>
	<h:panelGroup>
		<h:selectBooleanCheckbox id="credentialBeanCredentialAuthorizeAddresses" value="#{credentialBean.credential.authorizeAddress}" />
		<h:message for="credentialBeanCredentialAuthorizeAddresses" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialActivationDate" value="Activation Date:"/>
	<h:panelGroup>
		<rich:calendar id="credentialBeanCredentialActivationDate" value="#{credentialBean.credential.activationDate}" />
		<h:message for="credentialBeanCredentialActivationDate" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialExpirationDate" value="Expiration Date:"/>
	<h:panelGroup>
		<rich:calendar id="credentialBeanCredentialExpirationDate" value="#{credentialBean.credential.expirationDate}" />
		<h:message for="credentialBeanCredentialExpirationDate" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialWillCallEdiOverride" value="Override EDI Shipping to Will Call:"/>
	<h:panelGroup>
		<h:selectBooleanCheckbox id="credentialBeanCredentialWillCallEdiOverride" value="#{credentialBean.credential.willCallEdiOverride}"/>
	</h:panelGroup>
	<h:outputText/>
	<h:outputLabel for="credentialBeanCredentialWrapAndLabel" value="Wrap and Label:"/>
	<h:panelGroup>
		<h:selectBooleanCheckbox id="credentialBeanCredentialWrapAndLabel" value="#{credentialBean.credential.wrapAndLabel}"/>
	</h:panelGroup>
	<h:outputText/>
	<h:outputLabel for="credentialBeanCredentialAdot" value="ADOT:"/>
	<h:panelGroup>
		<h:selectBooleanCheckbox id="credentialBeanCredentialAdot" value="#{credentialBean.credential.adot}"/>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialCsrPhone" value="Customer Service Contact Phone:"/>
	<h:panelGroup>
		<h:inputText id="credentialBeanCredentialCsrPhone" value="#{credentialBean.credential.csrPhone}"/>
		<h:message for="credentialBeanCredentialCsrPhone" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialCsrEmail" value="Customer Service Contact Email:"/>
	<h:panelGroup>
		<h:inputText id="credentialBeanCredentialCsrEmail" value="#{credentialBean.credential.csrEmail}"/>
		<h:message for="credentialBeanCredentialCsrEmail" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="credentialBeanCredentialSelectionImage" value="Credential Selection Image (for tiled credential selection page in shopping):"/>
	<h:panelGroup>
		<h:inputText id="credentialBeanCredentialSelectionImage" value="#{credentialBean.credential.credentialSelectionImage}"/>
		<h:message for="credentialBeanCredentialSelectionImage" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
        
        <h:outputLabel for="userGuideFileName" value="User Guide File Name:"/>
        <h:panelGroup>
            <h:inputText id="userGuideFileName" value ="#{credentialBean.credential.userGuideFileName}"/>
            <h:message for="userGuideFileName" styleClass="error"/>
        </h:panelGroup>
        
        <h:outputLabel for="customOrderFileName" value="Custom Order Guide File Name:"/>
        <h:panelGroup>
            <h:inputText id="customOrderFileName" value ="#{credentialBean.credential.customOrderFileName}"/>
            <h:message for="customOrderFileName" styleClass="error"/>
        </h:panelGroup>
        
        <h:outputLabel for="specialOrderFileName" value="Special Order Guide File Name:"/>
        <h:panelGroup>
            <h:inputText id="specialOrderFileName" value ="#{credentialBean.credential.specialOrderFileName}"/>
            <h:message for="specialOrderFileName" styleClass="error"/>
        </h:panelGroup>
            
	<h:outputLabel for="notificationLimits" value="Send Notifications:"/>
	<h:panelGroup id="notificationLimits">
		<a4j:repeat var="limit" value="#{forgeview:asList(credentialBean.credential.notificationLimits)}">
			<h:outputText value="#{limit.eventType}" />
			<h:selectOneMenu value="#{limit.limitType}">
				<f:selectItems value="#{credentialBean.limitTypes}" />
			</h:selectOneMenu>
			<br />
		</a4j:repeat>
	</h:panelGroup>
	<rich:message for="notificationLimits" styleClass="error" />

</ui:composition>