<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:panelGroup layout="block">
	
		<ui:remove>
			The different sections should be collapsible, as per PHOEN-973.
		</ui:remove>
		
		<ui:include src="credentialInfo.xhtml" />
		<hr/>
		<ui:include src="credentialProperties.xhtml" />
                <hr/>
		<ui:include src="credentialRole.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="roleList" value="#{forgeview:asList(bean.credential.roles)}" />
			<ui:param name="render" value="work" />
		</ui:include>
				<hr/>
		<ui:include src="limitApproval.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="limitApprovalList" value="#{forgeview:asList(bean.credential.limitApproval)}" />
			<ui:param name="render" value="work" />
		</ui:include>
                <hr/>
        <ui:include src="credentialApprover.xhtml">			
        	<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
				<hr/>    
		<ui:include src="credentialPermission.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="permissionList" value="#{forgeview:asList(bean.credential.permissions)}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<hr/>
		<ui:include src="credentialCatalog.xhtml" />
                <hr/>
		<ui:include src="credentialCashoutPage.xhtml" />
		<hr/>
                <ui:include src="credentialCommunication.xhtml" />               
                <hr/>
                <ui:include src="credentialPaymentInfo.xhtml" />
                <hr/>
		<ui:include src="credentialPoNumbers.xhtml" />
		<hr/>
		<ui:include src="credentialAccountRln.xhtml" />
                <hr/>
                <ui:include src="/admin/notificationProperties/notificationRelation.xhtml" >
                    <ui:param name="bean" value="#{credentialBean}" />
                    <ui:param name="notifications" value="#{forgeview:asList(credentialBean.credential.notificationProperties)}" />
					<ui:param name="showOverride" value="#{false}" />
                </ui:include>
		<hr/>
		<ui:include src="credentialBulletins.xhtml" />
		<hr/>
		<ui:include src="credentialIpWhitelist.xhtml" />
		<hr/>
		<ui:include src="credentialXVendors.xhtml" />
                <hr/>
                <h:panelGroup id="punchoutTypeBlock" layout="block">
                    <h3>
                        Punchout Type<i id="punchoutTypeInfoIcon" class="icon-question-sign"/>
                    </h3>
                    <h:selectOneMenu id="punchoutTypeSelection" immediate="true" 
                                     value="#{credentialBean.credential.punchoutType}" required="false">
                        <f:selectItem itemLabel="Select a PunchoutType" noSelectionOption="true"/>
                        <f:selectItems value="#{credentialBean.punchoutTypes}"
                                       var="type" itemValue="#{type}" itemLabel="#{type.label}" />
                    </h:selectOneMenu>
                </h:panelGroup>
                <hr/>
                <h:panelGroup id="punchoutOperationBlock" layout="block">
                    <h3>
                        Punchout Operation Allowed<i id="punchoutOperationInfoIcon" class="icon-question-sign"/>
                    </h3>
                    <h:selectOneMenu id="operationsAllowedSelection" immediate="true" 
                                     value="#{credentialBean.credential.punchoutOperationAllowed}" required="false">
                        <f:selectItem itemLabel="Select an Allowed Punchout Operation" noSelectionOption="true"/>
                        <f:selectItems value="#{credentialBean.punchoutOperationsAllowed}"
                                       var="type" itemValue="#{type}" itemLabel="#{type}" />
                    </h:selectOneMenu>
                </h:panelGroup>
                <hr/>
                <h:panelGroup id="credentialOutgoingCxmlBlock" layout="block">
                    <h3>Vendor Cxml Configuration Settings</h3>
                    <ui:include src="/admin/cxml/cxmlToCredentialRelation.xhtml">
                        <ui:param name="bean" value="#{credentialBean}" />
                        <ui:param name="labelText" value="Outgoing To Credentials"/>
                        <ui:param name="toCredentialList" value="#{forgeview:asList(bean.credential.outgoingToCredentials)}" />
                        <ui:param name="render" value="work" />
                    </ui:include>
                    
                    <ui:include src="/admin/cxml/cxmlFromCredentialRelation.xhtml">
                        <ui:param name="bean" value="#{credentialBean}" />
                        <ui:param name="labelText" value="Outgoing From Credentials"/>
                        <ui:param name="fromCredentialList" value="#{forgeview:asList(bean.credential.outgoingFromCredentials)}" />
                        <ui:param name="render" value="work" />
                    </ui:include>
                    
                    <ui:include src="/admin/cxml/cxmlSenderCredentialRelation.xhtml">
                        <ui:param name="bean" value="#{credentialBean}" />
                        <ui:param name="labelText" value="Outgoing Sender (Marketplace) Credentials"/>
                        <ui:param name="senderCredentialList" value="#{forgeview:asList(bean.credential.outgoingSenderCredentials)}" />
                        <ui:param name="render" value="work" />
                    </ui:include>
                </h:panelGroup>
                <h:panelGroup id="senderSharedSecretBlock" layout="block">
                    <h:outputLabel for="senderSharedSecret" value="Outgoing (Marketplace) Shared Secret:" />
                    <h:inputText id="senderSharedSecret" styleClass="input-xlarge"
                                 value="#{credentialBean.credential.outgoingSenderSharedSecret}" required="false" />
                    <rich:message for="senderSharedSecret" styleClass="error" />
                </h:panelGroup>
                <h:panelGroup id="vendorNameBlock" layout="block">
                	<h:outputLabel for="vendorName" value="Vendor Name:" />
                	<h:inputText id="vendorName" styleClass="input-xlarge"
                			value="#{credentialBean.credential.vendorName}" required="false" />
                	<rich:message for="vendorName" styleClass="error"/>
                </h:panelGroup>
                
                <h:panelGroup id="deploymentModeBlock" layout="block">
		            <h:outputLabel for="deploymentMode" value="Deployment Mode:" />
		            <h:selectOneMenu id="deploymentMode" value="#{credentialBean.credential.deploymentMode}" immediate="true" required="false">
		            	<f:selectItem itemLabel="Select a Deployment Mode" noSelectionOption="true"/>
		                <f:selectItems value="#{credentialBean.deploymentModes}" var="depMode" itemLabel="#{depMode.label}" itemValue="#{depMode}" />
		            </h:selectOneMenu>
		            <rich:message for="deploymentMode" styleClass="error" />
		        </h:panelGroup>
                <h:panelGroup id="punchoutUrlBlock" layout="block">
                    <h:outputLabel for="punchoutUrl" value="Vendor Punchout URL:" />
                    <h:inputText id="punchoutUrl" styleClass="input-xlarge"
                                 value="#{credentialBean.credential.vendorPunchoutUrl}" required="false"/>
                    <rich:message for="punchoutUrl" styleClass="error" />
                </h:panelGroup>
                <h:panelGroup id="orderUrlBlock" layout="block">
                    <h:outputLabel for="orderUrl" value="Vendor Order URL:" />
                    <h:inputText id="orderUrl" styleClass="input-xlarge"
                                 value="#{credentialBean.credential.vendorOrderUrl}" required="false"/>
                    <rich:message for="orderUrl" styleClass="error" />
                </h:panelGroup>
                <h:panelGroup id="credentialPunchoutZipCodeBlock" layout="block">
                    <h:outputLabel for="credentialPunchoutZipCodeInput" value="Credential Default Punchout Zip Code:" />
                    <h:inputText id="credentialPunchoutZipCodeInput" styleClass="input-xlarge"
                                 value="#{credentialBean.credential.defaultPunchoutZipCode}" validator="zipCodeValidator" required="false"/>
                    <rich:message for="credentialPunchoutZipCodeInput" styleClass="error" />
                </h:panelGroup>
                <hr/>
                
                
                 <h:panelGroup id="customerOutgoingCxmlHeaderInfoBlock" layout="block">
                     <h3>Customer Cxml Header Configuration 
                         <i id="customerCxmlInfoIcon" class="icon-question-sign"/>
                     </h3>
                    <ui:include src="/admin/cxml/cxmlCustomerToCredentialRelation.xhtml">
                        <ui:param name="bean" value="#{credentialBean}" />
                        <ui:param name="labelText" value="Customer To Credentials"/>
                        <ui:param name="toCredentialList" value="#{forgeview:asList(bean.credential.customerOutoingToCred)}" />
                        <ui:param name="render" value="work" />
                    </ui:include>
                    
                    <ui:include src="/admin/cxml/cxmlCustomerFromCredentialRelation.xhtml">
                        <ui:param name="bean" value="#{credentialBean}" />
                        <ui:param name="labelText" value="Customer From Credentials"/>
                        <ui:param name="fromCredentialList" value="#{forgeview:asList(bean.credential.customerOutoingFromCred)}" />
                        <ui:param name="render" value="work" />
                    </ui:include>
                    
                    <ui:include src="/admin/cxml/cxmlCustomerSenderCredentialRelation.xhtml">
                        <ui:param name="bean" value="#{credentialBean}" />
                        <ui:param name="labelText" value="APD Marketplace Sender Credentials"/>
                        <ui:param name="senderCredentialList" value="#{forgeview:asList(bean.credential.customerOutoingSenderCred)}" />
                        <ui:param name="render" value="work" />
                    </ui:include>
                </h:panelGroup>
                <h:panelGroup id="customerSharedSecretBlock" layout="block">
                    <h:outputLabel for="customerSharedSecret" value="APD Marketplace Shared Secret:" />
                    <h:inputText id="customerSharedSecret" styleClass="input-xlarge"
                                 value="#{credentialBean.credential.customerOutgoingSharedSecret}" required="false" />
                    <rich:message for="customerSharedSecret" styleClass="error" />
                </h:panelGroup>
                <h:panelGroup id="customerReturnCartBlock" layout="block">
                    <h:outputLabel for="customerReturnCartDomain" value="APD Marketplace Return Cart Domain:" />
                    <h:inputText id="customerReturnCartDomain" styleClass="input-xlarge"
                                 value="#{credentialBean.credential.returnCartCredentialDomain}" required="false" />
                    <rich:message for="customerReturnCartDomain" styleClass="error" />
                    <h:outputLabel for="customerReturnCartIdentity" value="APD Marketplace Return Cart Identity:" />
                    <h:inputText id="customerReturnCartIdentity" styleClass="input-xlarge"
                                 value="#{credentialBean.credential.returnCartCredentialIdentity}" required="false" />
                    <rich:message for="customerReturnCartIdentity" styleClass="error" />
                </h:panelGroup>
        </h:panelGroup>
	<hr/>
</ui:composition>