<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:outputLabel for="limitApprovals" value="Limit Approval:"/>
	<h:panelGroup>
		<a4j:region>
			<rich:dataTable id="limitApprovals" value="#{limitApprovalList}" var="row" >
				<rich:column>
			       <f:facet name="header">
			         <h:outputText value="Type:" />
			       </f:facet>
			       <h:outputText value="#{row.type.type}" />
			    </rich:column>
			    
			    <rich:column>
			       <f:facet name="header">
			         <h:outputText value="Value:" />
			       </f:facet>
			       <h:outputText value="#{row.value}" />
			    </rich:column>
			    
			    <rich:column>
			       <f:facet name="header">
			         <h:outputText value="Limit:" />
			       </f:facet>
			       <h:outputText value="#{row.limit}" />
			    </rich:column>
		
				<rich:column>
			       <f:facet name="header">
			         <h:outputText value="Action:" />
			       </f:facet>
			       <a4j:commandLink value="Remove" action="#{bean.credential.limitApproval.remove(row)}" render="limitApprovals"/>
			    </rich:column>
			</rich:dataTable>
		</a4j:region>
		
		<a4j:region>
			<a4j:commandLink 
				id="addLimitApproval" 
				value="Add Limit Approval"
				styleClass="btn btn-primary"
				execute="@this"
				immediate="true"
				action="#{bean.createLimitApproval()}"
				render="limitApprovalEditModalForm"
				oncomplete="showPopup('limitApprovalEditModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
	    </a4j:region>
		</h:panelGroup>
	<h:outputText/>
	
</ui:composition>