<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:outputLabel for="beanFields" value="Fields:"/>
	<h:panelGroup>
		<a4j:region>
		<rich:extendedDataTable id="beanFields" value="#{cashoutPageXFieldList}" var="fieldConfig" >
			
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Canonical Name:" />
		       </f:facet>
		       <h:outputText value="#{fieldConfig.field != null ? fieldConfig.field.name : ''}" />
		    </rich:column>
		    
		    <rich:column>
		       <f:facet name="header">
		         <h:outputText value="Inbound Mapping:" />
		       </f:facet>
		       <h:outputText value="#{fieldConfig.inboundMapping}" />
		    </rich:column>
		    
		    <rich:column>
		       <f:facet name="header">
		         <h:outputText value="Displayed Label:" />
		       </f:facet>
		       <h:outputText value="#{fieldConfig.label}" />
		    </rich:column>
		    
		    <rich:column>
		       <f:facet name="header">
		         <h:outputText value="Include Label In Notifications:" />
		       </f:facet>
		       <h:outputText value="#{fieldConfig.includeLabelInMapping ? 'X' : ''}" />
		    </rich:column>
			
		    <rich:column>
		       <f:facet name="header">
		         <h:outputText value="Default Value:" />
		       </f:facet>
			   <h:outputText value="#{forgeview:isCurrencyType(fieldConfig.field.name) ? forgeview:toCurrency(fieldConfig.defaultValue) : fieldConfig.defaultValue}"/>
		    </rich:column>

			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Required:" />
		       </f:facet>
		       <h:outputText value="#{fieldConfig.required ? 'X' : ''}" />
		    </rich:column>
		    
		    <rich:column>
		       <f:facet name="header">
		         <h:outputText value="Updatable:" />
		       </f:facet>
		       <h:outputText value="#{fieldConfig.updatable ? 'X' : ''}" />
		    </rich:column>
		    
		    <rich:column>
		       <f:facet name="header">
		         <h:outputText value="Outbound Mapping:" />
		       </f:facet>
		       <h:outputText value="#{fieldConfig.mapping != null ? fieldConfig.mapping.name : ''}" />
		    </rich:column>
		    
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Action:" />
		       </f:facet>
                            <a4j:commandLink 
                                id="editField" 
                                value="Edit"
                                execute="@this"
                                immediate="true"
                                action="#{bean.setCurrentCashoutPageXField(fieldConfig)}"
                                render=":cashoutPageXFieldModal :cashoutPageXFieldModalForm"
                                oncomplete="showPopup('cashoutPageXFieldModal');">
                                <a4j:param name="cid"
                                           value="#{javax.enterprise.context.conversation.id}" />
                            </a4j:commandLink>

                        </rich:column>
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Delete:" />
                            </f:facet>
                            <a4j:commandLink value="Delete" action="#{bean.removeCashoutPageXField(fieldConfig)}" 
                                             render="#{render}:beanFields" />
                        </rich:column>
		</rich:extendedDataTable>
		</a4j:region>
		<a4j:region>
			<a4j:commandLink 
				id="addField" 
				value="Add Field"
				styleClass="btn btn-primary"
				execute="@this"
				immediate="true"
				action="#{bean.createCashoutPageXField()}"
				render=":cashoutPageXFieldModal :cashoutPageXFieldModalForm"
				oncomplete="showPopup('cashoutPageXFieldModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
		</a4j:region>
	</h:panelGroup>
	<h:outputText/>
	
</ui:composition>