CatalogUploadRouterBean.maxConnections=10
CatalogUploadRouterBean.concurrentConsumers=10
OutboundCxmlBean.maxConnections=2
OutboundCxmlBean.concurrentConsumers=2
OutboundXMLBean.maxConnections=2
OutboundXMLBean.concurrentConsumers=2
TaxRateBean.maxConnections=2
TaxRateBean.concurrentConsumers=2
OutboundCSVBean.maxConnections=2
OutboundCSVBean.concurrentConsumers=2
OutboundEDIBean.maxConnections=2
OutboundEDIBean.concurrentConsumers=2
UsscoXmlRouterBean.maxConnections=2
UsscoXmlRouterBean.concurrentConsumers=2
CsvCreaterBean.maxConnections=3
CsvCreaterBean.concurrentConsumers=3
InboundEDIRouterBean.maxConnections=2
InboundEDIRouterBean.concurrentConsumers=2
CsvWriterServiceBean.maxConnections=1
CsvWriterServiceBean.concurrentConsumers=1
HAFTPServiceBean.maxConnections=1
HAFTPServiceBean.concurrentConsumers=1
OutboundEmailBean.maxConnections=2
OutboundEmailBean.concurrentConsumers=2
ExecutorBean.maxConnections=1
ExecutorBean.concurrentConsumers=1
SolrUpdateBean.maxConnections=10
SolrUpdateBean.concurrentConsumers=10

queueConsumeDelay={{ amq_consume_delay }}
