email.service.access-key={{ aws_access_key }}
email.service.secret-key={{ aws_secret_access_key }}
storage.service.access-key={{ aws_access_key }}
storage.service.secret-key={{ aws_secret_access_key }}
message.service.bucketName={{ s3_bucket_name_env_prefix }}-messages
