jmsBrokerUrl={{ amq_server_list }}

ecdb2HAEndpoint=activemq:queue:queue.ecdb2-data

itemProcessSource=activemq:queue:queue.ecdb2-data?selector=type%3D%27item%27
relationshipProcessSource=activemq:queue:queue.ecdb2-data?selector=type%3D%27relationship%27
brandProcessSource=activemq:queue:queue.ecdb2-data?selector=type%3D%27brand%27
usscoRelationshipProcessSource=activemq:queue:queue.ecdb2-data?selector=type%3D%27usscoRelationship%27
itemProcessTarget={{ batch_rest_base_url }}/items/xmlUpdate
relationshipProcessTarget={{ batch_rest_base_url }}/items/link

aggregationSize=500
aggregationTimeout=10000
