edi850PartnerEndpoint=ftp://{{ capital_ftp_username }}@{{ capital_ftp_hostname }}{{ capital_ftp_path_outbound }}?password={{ capital_ftp_password }}&binary=true&passiveMode=true
backupPartnerEndpoint=ftp://{{ capital_ftp_username }}@{{ capital_ftp_hostname }}{{ capital_ftp_path_outbound_backup }}?password={{ capital_ftp_password }}&binary=true&passiveMode=true&fileName=${date:now:yyyy-MM-dd}/${header.CamelFileName}
edi850Source=activemq://queue:queue.edi-outbound-850
edi850ResendSource=activemq:queue:queue.edi-outbound-850-raw
edi850Endpoint=direct:capital850Endpont
edi850LogSource=direct:capitalLogSource
edi997ResendSource=activemq:queue:queue.edi-outbound-997-resend
edi997PartnerEndpoint=ftp://{{ capital_ftp_username }}@{{ capital_ftp_hostname }}{{ capital_ftp_path_outbound }}?password={{ capital_ftp_password }}&binary=true&passiveMode=true
ediFATransactionSource=direct:capitalFASource
ediINTransactionSource=direct:capitalINSource
ediPRTransactionSource=direct:capitalPRSource
ediSHTransactionSource=direct:capitalSHSource
ediInboundSource=ftp://{{ capital_ftp_username }}@{{ capital_ftp_hostname }}{{ capital_ftp_path_inbound }}?password={{ capital_ftp_password }}&binary=true&passiveMode=true&move=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
edi997OutboundSource=activemq:queue.queue.edi-outbound-997
ediInboundTransactionSource=activemq:queue:queue.edi-inbound?selector=partnerId%3D%27capital%27
ediUnknownTransactionOutput=activemq:queue.edi-inbound-transaction-dlq
edi997Output={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement
edi855Output={{ batch_rest_base_url }}/workflow/order/po-acknowledgement
edi856Output={{ batch_rest_base_url }}/workflow/order/advanced-shipment-notice
edi810Output={{ batch_rest_base_url }}/workflow/order/invoice
edi810CreditOutput={{ batch_rest_base_url }}/workflow/order/creditInvoice
transactionMetadataURI={{ batch_rest_base_url }}/workflow/order/transaction
edi855FaSource=direct:edi855FaSourcecapital
APDsenderCode="{{ apd_edi_sender_code }}"
partnerSenderCode="{{ capital_edi_sender_code }}"
testIndicator={{ edi_message_env_indicator }}
send997=true
edi997FormattedSource=direct:capitalFormattedSource
edi997LogSource=direct:capitalLogSource
edi997OutboundLogSource=direct:capitalOutboundLogSource
edi855FaPrepare=direct:edi855FaPreparecapital
edi855FormattedSource=direct:edi855FormatSourcecapital
edi855LogSource=direct:edi855LogSourcecapital

allowedManifestFilenames=NGC_050_NGC_HII,NGC_009_NGC_HII,NOVANT_053_METRO,NOVANT_001_METRO,CHS_053_METRO_CHARLOTTE,CHS_001_METRO_CHARLOTTE,RSFH_001_METRO_CHARLESTON,RSFH_053_METRO_CHARLESTON,CHS_053_APD_PICKUP,CHS_001_APD_PICKUP

decryptionEnabled=false
differentCreditInvoice=true
edi850AS2EndpointDownNotify=direct:as2EndpointDownNotifycapital
emailNofityOnAs2DownFrom={{ as2_ftp_server_down_email_from }}
emailNofityOnAs2DownTo={{ as2_ftp_server_down_email_to }}

accountNumber=062101800

