jmsBrokerUrl={{ amq_server_list }}

jmsBrokerRestUrl={{ amq_server_rest_list }}
jmsBrokerRestCredentials={{ amq_server_rest_credentials }}
jmsBrokerName={{ amq_server_broker_name }}

catalogUnprocessedSource=activemq:queue.catalog-unprocessed?concurrentConsumers=20
catalogCheckSource=activemq:queue.catalog-check?concurrentConsumers=20

smartSearchInsertSource=activemq:queue.smartsearch-insert?concurrentConsumers=10
smartSearchInsertTarget={{ batch_rest_base_url }}/catalogMessages/smartSearchInsert

catalogProcessBatchSize=20
catalogCheckBatchSize=100
csvCreationSource=activemq:queue.catalog-processed?concurrentConsumers=10
csvCheckCompleteSource=activemq:queue.catalog-csv-check-complete?concurrentConsumers=1
jmsBatchSize=100
csvWriterSource=activemq:queue.catalog-csv-rows?concurrentConsumers=1
csvBatchSize=100
csvTimerHour={{ catalog_processing_timer_hour }}
csvTimerMinute=30
csvTimerSecond=0

csvGenerationTimerHour=0
csvGenerationTimerMinute=0
csvGenerationTimerSecond=0

reindexTimerHour=0
reindexTimerMinute=0
reindexTimerSecond=0

usscoXmlTimerHour={{ catalog_processing_timer_hour }}
usscoXmlTimerMinute=0
usscoXmlTimerSecond=0

solrItemUpdateQueueConnectionJndi=java:/catalog-broker/ConnectionFactory
solrItemUpdateQueueJndi=java:/catalog-broker/solr-atomic-updateq

executeScheduledActionsUrl={{ batch_rest_base_url }}/catalogTimeouts/executeScheduledActions
scheduledCsvRegenerationUrl={{ batch_rest_base_url }}/catalogTimeouts/scheduledCsvRegeneration
scheduledReindexUrl={{ batch_rest_base_url }}/catalogTimeouts/scheduledReindex
