#filter widget properties
SOLR_UPDATE_SERVER_URL=http://solr1.{{ ec2_internal_domain }}:8080/solr/,http://solr2.{{ ec2_internal_domain }}:8080/solr/
SOLR_UPDATE_SERVER_QUEUE_SIZE=10000
SOLR_UPDATE_SERVER_THREAD_COUNT=4
zooKeeperUrlList={{ zooKeeperUrls }}
jmsBrokerUrl={{ amq_server_list }}
CXML_ENDPOINT_REQUEST_PATH=/shopping/cxml

walkInsAccount=WALK-INS
walkInsCredentials=Office Supplies/Maintenance\, Repair and Operations

FILTERS_TO_SHOW=4
ATTRIBUTES_TO_SHOW=10
isDevelopmentMode=false
coreItemIconUrl=https://{{ cloudfront_domain }}/phoenix-icons/core.png

MAX_CREDIT_CARD_ATTEMPTS_PER_DAY=5

ussco.stockcheck.timeout=2000

sprichards.stockcheck.groupcode={{ sp_richards_stockcheck_groupcode }}
sprichards.stockcheck.userid={{ sp_richards_stockcheck_userid }}
sprichards.stockcheck.password={{ sp_richards_stockcheck_password }}
sprichards.stockcheck.customernumber={{ sp_richards_stockcheck_customernumber }}

conversation.concurrentAccess.timeout=5000

registration.email.invalid.summary=The domain for this email address is invalid.
registration.email.invalid.detail=The domain for this email address is invalid.

costcenter.spending.limit=This order will exceed the spending limit for this cost center.

directAccessUsernameKey=business
directAccessPasswordKey=business
