jmsBrokerUrl={{ amq_server_list }}
emailOrderSource=activemq:queue:queue.email-order-outbound
emailInvoiceSource=activemq:queue:queue.email-invoice-outbound
emailCreditInvoiceSource=activemq:queue:queue.email-credit-invoice-outbound
emailPurchaseOrderSource=activemq:queue:queue.email-purchase-order-outbound
emailShipmentNoticeSource=activemq:queue:queue.email-shipment-notice-outbound
emailCardNotificationSource=activemq:queue:queue.email-card-notification-outbound
emailRequestForQuoteSource=activemq:queue:queue.email-requestForQuote-outbound
emailProformaInvoiceSource=activemq:queue:queue.email-proforma-invoice-outbound

