# Message Routing settings 
camel.activemq.uri.messageSelector=partnerId%3D%27fritolay%27
camel.direct.uri.suffix=_fritolay

# XCBL settings
xcbl.decryption.armored=true
xcbl.decryption.enabled=true
xcbl.xmlns.qualifier=rrn:org.xcbl:schemas/xcbl/v3_5/xcbl35.xsd

xcbl.inbound.partnerEndpoint.uri=activemq:queue:queue.xcbl-inbound?selector=partnerId%3D%27fritolay%27
xcbl.outbound.partnerEndpoint.uri=ftp://{{ fritolay_ftp_username }}@{{ fritolay_ftp_hostname }}/outbound{{ fritolay_ftp_path }}?password\={{ fritolay_ftp_password }}&binary\=true&passiveMode\=true
xcbl.order.dataformat.class=rrn.org_xcbl.schemas.xcbl.v3_5.xcbl35.Order
xcbl.order.translator.class=com.apd.phoenix.service.integration.camel.processor.xcbl.XCBLOrderTranslator
