
jmsBrokerUrl={{ amq_server_list }}

apd.purchaseOrder.uri={{ batch_rest_base_url }}/workflow/order/purchase-order-request

apd.functionalAck.uri={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement

apd.transactionLog.uri={{ batch_rest_base_url }}/messages/

deny.order.queue=activemq:queue.deny-order-queue

account.lineage.queue=activemq:queue.account-lineage-generation
