inboundEdiSource=ftp\://{{ marfield_ftp_username }}@{{ marfield_ftp_hostname }}/{{marfield_ftp_path}}?password\={{ marfield_ftp_password }}&move\=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&disconnect\=true&binary\=true&passiveMode\=true&delay=60000
processorEndpoint=direct:marfieldShipNoticeEndpoint
shipmentNoticeLogSource=direct:marfieldShipmentNoticeLogSource
shipmentNoticeFormattedSource=direct:marfieldShipmentNoticeFormattedSource
shipmentNoticeLogDLQ=activemq:queue.inbound-marfield-ship-notice-dlq
shipmentNoticeDLQ=activemq:queue.inbound-marfield-ship-notice-dlq
