marquetteInvoiceSource=activemq:queue:csv-outbound-marquette-customer-invoice
detailsFileEndpointDLQ=activemq:queue:marquette-details-file-endpoint-DLQ
transmittalFileEndpointDLQ=activemq:queue:marquette-transmittal-file-endpoint-DLQ
marquetteFTPDestinationDLQ=activemq:queue:marquette-ftp-destination-DLQ
invoicePDFEndpointDLQ=activemq:queue:marquette-invoice-pdf-generation-DLQ
detailsFileEndpoint=direct:detailsFileEndpoint
transmittalFileEndpoint=direct:transmittalFileEndpoint
internalDestination=direct:internalDestination
backupPartnerSource=direct:marquetteBackupPartnerSource
invoicePDFEndpoint=activemq:queue:marquette-invoice-pdf-generation-queue
marquettePdfRetrievalEndpoint=direct:marquettePdfRetrievalEndpoint
marquetteFTPDestination=ftp://{{ marquette_ftp_username }}@{{ marquette_ftp_hostname }}/{{ marquette_ftp_path }}?password\={{ marquette_ftp_password }}&binary\=true&passiveMode\=true&stepwise\=false
backupPartnerEndpoint=ftp://{{ marquette_ftp_username_backup }}@{{ marquette_ftp_hostname_backup }}/{{ marquette_ftp_path_backup }}?password\={{ marquette_ftp_password_backup }}&binary\=true&passiveMode\=true&fileName=Marquette_${date:now:yyyy-MM-dd}/${header.CamelFileName}

remit.marquette.name=Marquette Commercial Finance
remit.marquette.street=NW 6333; P.O. Box 1450
remit.marquette.city.state=Minneapolis, MN 55485-6333
