<module xmlns="urn:jboss:module:1.1" name="com.mysql">
    <resources>
        <resource-root path="{{ jdbc_driver_file }}"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
    </dependencies>
</module>