# To change this template, choose Tools | Templates
# and open the template in the editor.

serviceUrl={{ payment_gateway_service_url }}
cardManagementServiceUrl={{ payment_gateway_card_management_url }}
#Client Credentials
#The following properties are deprecated, values in tenant.properties should be used instead.
ClientCode=APDI
UserName=Linxtrans
Password={{ payment_gateway_password }}
MerchantCode=APDI
LocationCode={{ payment_gateway_location_code }}
TerminalCode={{ payment_gateway_terminal_code }}

DEFAULT_CARD_VAULT_CUSTOMER_NAME={{ card_vault_customer_name }}
DEFAULT_CARD_VAULT_CUSTOMER_CODE={{ card_vault_customer_code }}

#If "true", this logs credit card information in plaintext. Should be set to "false" in QA and Production
logTransactionContent=false

#Currently deprecated
#keyPassword={{ key_password }}
#keyStorePassword={{ keystore_password }}
#keyStoreLoc=clientKeystore.jks

technicalErrorRetryAttempts=5

serviceConnectTimeoutSeconds=60
serviceRecieveTimeoutSeconds=180

cardStorageConnectTimeoutSeconds=60
cardStorageRecieveTimeoutSeconds=180
