isPreRelease={{project_state_isPreRelease}}
hosted.zone.apex={{ hosted_zone }}
tenant={{ tenant_id }}
dbConnectionUsername={{ phoenix_db_username }}
isProductionEnvironment={{ production_environment_deployed }}
