
assignedTasksUrl={{ batch_rest_base_url }}/workflow/task/assigned
taskContentUrl={{ batch_rest_base_url }}/workflow/task/taskContent
orderTasksUrl={{ batch_rest_base_url }}/workflow/task/orderTasks
startTaskStatusUrl={{ batch_rest_base_url }}/workflow/task/startStatus
