logTransactionContent=false

serviceUrl={{ smart_search_base_url }}/eCatalog/catalog/001/sync
serviceUrlMasterData={{ smart_search_base_url }}/eCatalog/masterData/001/sync
typeaheadUrl={{ smart_search_typeahead_url }}

sortByPriceQuantity=250

smartsearchCatalogUpdateQueueConnectionJndi=java:/catalog-broker/ConnectionFactory
smartsearchCatalogUpdateQueueJndi=java:/catalog-broker/smartsearch-catalog-message
updateSource=catalog-broker:queue.smartsearch-catalog-message
updateSourceAggregated=activemq:queue.smartsearch-catalog-message-aggregated

aggregationSize=2000
aggregationTimeout=10000
catalogConnectionTimeout=120000
