jmsBrokerUrl={{ amq_server_list }}
solomonOrdersSource=activemq:queue:queue.csv-outbound-po?selector=partnerId%3D%27American%20Product%20Distributors%27
solomonOrdersEndpoint=ftp://{{ solomon_ftp_username }}@{{ solomon_ftp_hostname }}/outbound{{ solomon_ftp_path }}/orders?password\={{ solomon_ftp_password }}&binary\=false&passiveMode\=true
solomonOrdersEndpointDlq=activemq:queue:queue.csv-solomon-order-dlq
solomonShipConfirmSource=activemq:queue:queue.csv-ship-confirmation
solomonShipConfirmationEndpoint=ftp://{{ solomon_ftp_username }}@{{ solomon_ftp_hostname }}/outbound{{ solomon_ftp_path }}/shipConfirm?password\={{ solomon_ftp_password }}&binary\=false&passiveMode\=true
solomonShipConfirmationEndpointDlq=activemq:queue:queue.csv-ship-confirmation-dlq

solomonPickListSource=ftp://{{ solomon_ftp_username }}@{{ solomon_ftp_hostname }}/inbound{{ solomon_ftp_path }}/picklist?password\={{ solomon_ftp_password }}&binary\=false&passiveMode\=true&move=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
solomonPickListEmailTo={{ solomonPicklistEmailTo }}
solomonPickListEmailFrom={{ solomonPicklistEmailFrom }}
solomonPickListEmailCC={{ solomonPickListEmailCC }}