taxDataCreateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27bulkCreate%27
taxDataUpdateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27update%27
taxRateUpdateEndpoint={{ batch_rest_base_url }}/tax/bulkUpdate
taxRateDeleteEndpoint={{ batch_rest_base_url }}/tax/delete
taxHAEndpoint=activemq:queue:queue.tax-data

zipPlusFourUpdateEndpoint={{ batch_rest_base_url }}/tax/zipPlusFour/bulkUpdate
zipPlusFourDeleteEndpoint={{ batch_rest_base_url }}/tax/zipPlusFour/delete
zipPlusFourCreateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27zipBulkCreate%27
zipPlusFourUpdateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27zipUpdate%27

militaryZipUpdateEndpoint={{ batch_rest_base_url }}/tax/militaryZip/bulkUpdate
militaryZipDeleteEndpoint={{ batch_rest_base_url }}/tax/militaryZip/delete
militaryZipCreateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27militaryZipBulkCreate%27
militaryZipUpdateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27militaryZipUpdate%27

jmsBrokerUrl={{ amq_server_list }}
