id= {{ item[0].id }}
name= {{ item[0].name }}
schema.name= {{ item[0].schema }}
code= {{ item[0].code }}
jbpm.schema.name= {{ item[0].jbpmSchema }}
#comma separated list supported, but first entry will be used in situations where detected domain from web request is not available
domain= {{ item[0].domain }}
default_public_domain= {{ item[0].default_public_domain }}
punchoutBaseLoginUrl= {{ item[0].default_public_domain }}/shopping/ecommerce/cxml/punchout.xhtml?punchoutToken=
fax_number= {{ item[0].fax_number }}
customer_service_phone_number= {{ item[0].customer_service_phone_number }}
customer_service_phone_number.area={{ item[0].customer_service_phone_number_area }}
customer_service_phone_number.line={{ item[0].customer_service_phone_number_line }}
special_orders_email_address={{ item[0].special_orders_email_address }}
sales_email_address={{ item[0].sales_email_address }}
privacy_page_email_address={{ item[0].privacy_page_email_address }}
csr.address.name={{ item[0].customer_service_from_name }}
csr.address.street={{ item[0].customer_service_from_street }}
csr.address.city={{ item[0].customer_service_from_city }}
csr.address.state={{ item[0].customer_service_from_state }}
csr.address.zip={{ item[0].customer_service_from_zip }}
csr.address.country.iso={{ item[0].customer_service_from_country_iso }}
csr.address.country.name={{ item[0].customer_service_from_country_name }}
csr.address.duns={{ item[0].customer_service_from_duns }}
csr.email={{ item[0].customer_service_email }}

workflowErrorFrom= {{ item[0].workflowErrorFrom }}
workflowErrorTo= {{ item[0].workflowErrorTo }}
workflowErrorCC= {{ item[0].workflowErrorCC }}

content.service.secure.tenant.domain=https://{{ item[0].tenant_cloudfront_domain }}

inbound.edi.partners={{ item[0].inbound_edi_partners }}

edi997FromEmail={{ item[0].edi997_from_email }}
edi997NotificationToEmails={{ item[0].edi997_to_emails }}
edi997DealerSenderId={{ item[0].edi997_dealer_senderId }}

internal.emails.backup={{ item[0].internal_emails_backup }}
internal.emails.order.canceled={{ item[0].internal_emails_order_canceled }}
internal.emails.invoice.errors={{ item[0].internal_emails_invoice_errors }}
internal.emails.order.acknowledgment.errors={{ item[0].internal_emails_order_acknowledgment_errors }}
internal.emails.shipment.notification.errors={{ item[0].internal_emails_shipment_notification_errors }}
internal.emails.apd.shipto={{ item[0].internal_emails_apd_shipto }}
internal.emails.staples.shipto={{ item[0].internal_emails_staples_shipto }}
internal.emails.order.failed={{ item[0].internal_emails_order_failed }}
internal.emails.user.modification.bcc.confirmation={{ item[0].internal_emails_user_modification_bcc_confirmation }}
internal.emails.ap.credit={{ item[0].internal_emails_ap_credit }}
internal.emails.noreply={{ item[0].internal_emails_noreply }}
internal.emails.invoice.ap.report={{ item[0].internal_emails_invoice_ap_report }}
internal.emails.invoice.ar.report={{ item[0].internal_emails_invoice_ar_report }}
internal.emails.invoice.daily.charge.report={{ item[0].internal_emails_invoice_daily_charge_report }}
internal.emails.tax.upload={{ item[0].internal_emails_tax_upload }}
internal.emails.ses.failure={{ item[0].internal_emails_ses_failure }}
internal.emails.duplicate.cust.po={{ item[0].internal_emails_duplicate_cust_po }}
internal.emails.edi.864.error={{ item[0].internal_emails_edi_864_error }}
internal.emails.edi.error={{ item[0].internal_emails_edi_error }}
internal.emails.edi.order.not.found.error={{ item[0].internal_emails_edi_order_not_found_error }}
internal.emails.marquette.error={{ item[0].internal_emails_marquette_error }}
internal.emails.workflow.resubmitted.error={{ item[0].internal_emails_workflow_resubmitted_error }}
internal.emails.vendor.po.cc={{ item[0].internal_emails_workflow_resubmitted_error }}

defaultApproverLogin={{ item[0].defaultApproverLogin }}

jumptrackEmailTo={{ item[0].jumptrack_email_to }}
jumptrackEmailFrom={{ item[0].jumptrack_email_from }}
jumptrackEmailCC={{ item[0].jumptrack_email_cc }}
! Only enable in production since there is no test account
jumptrackEnabled={{ item[0].jumptrack_enabled }}

marfield_integration_enabled={{ item[0].marfield_integration_enabled }}
marfieldShipmentReportEmailFrom={{ item[0].marfield_error_email_from }}
marfieldShipmentReportEmailTo={{ item[0].marfield_error_email_to }}
marfieldShipmentReportEmailCC={{ item[0].marfield_error_email_cc }}

shipManifestReportFrom={{ item[0].ship_manifest_report_from }}
shipManifestReportTo={{ item[0].ship_manifest_report_to }}
shipManifestReportCC={{ item[0].ship_manifest_report_cc }}
shipManifestCustomers={{ item[0].ship_manifest_customers }}
shipManifestRecipients={{ item[0].ship_manifest_daily_recipients }}

logo={{ item[0].logo }}

marquette_enabled={{ item[0].marquette_enabled }}

3dsi_user_name={{ item[0].cc_3dsi_user_name }}
3dsi_password={{ item[0].cc_3dsi_password }}
3dsi_client_code={{ item[0].cc_3dsi_client_code }}
3dsi_merchant_code={{ item[0].cc_3dsi_merchant_code }}
3dsi_location_code={{ item[0].cc_3dsi_location_code }}
3dsi_terminal_code={{ item[0].cc_3dsi_terminal_code }}
3dsi_customer_code={{ item[0].cc_3dsi_customer_code }}

taxCreateSource=ftp://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].tax_data_create_ftp_path }}?password\={{ item[0].internal_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000
taxUpdateSource=ftp://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].tax_data_update_ftp_path }}?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000
zipCreateSource=ftp://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].tax_zip_create_ftp_path }}?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000
zipUpdateSource=ftp://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].tax_zip_update_ftp_path }}?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000
militaryZipCreateSource=ftp://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].tax_militaryZip_create_ftp_path }}?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000
militaryZipUpdateSource=ftp://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].tax_militaryZip_update_ftp_path }}?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000

xcbl.enabled={{ item[0].xcbl_integration_enabled }}
inbound.xcbl.camel.entry.point=ftp://{{ item[0].xcbl_ftp_username }}@{{ item[0].xcbl_ftp_hostname }}/{{ item[0].xcbl_ftp_path }}?password\={{ item[0].xcbl_ftp_password }}&binary\=true&passiveMode\=true&move\=processed

smart_search_user= {{ item[0].smart_search_user }}
smart_search_password= {{ item[0].smart_search_password }}

ship_manifest_delivery_region= {{ item[0].ship_manifest_delivery_region }}
ship_manifest_distribution_name= {{ item[0].ship_manifest_distribution_name }}
ship_manifest_delivery_line_name= {{ item[0].ship_manifest_delivery_line_name }}
ship_manifest_delivery_line_description= {{ item[0].ship_manifest_delivery_line_description }}
ship_manifest_ussco_delivery_line_name= {{ item[0].ship_manifest_ussco_delivery_line_name }}
ship_manifest_ussco_delivery_line_description= {{ item[0].ship_manifest_ussco_delivery_line_description }}

default_credential_selection_layout={{ item[0].default_credential_selection_layout }}
default_top_level_categories={{ item[0].default_top_level_categories }}
default_catalog_search_type={{ item[0].default_catalog_search_type }}

usps_encryption_key_file_name={{ item[0].usps_encryption_key_file_name }}
usps_encryption_key_user_id={{ item[0].usps_encryption_key_user_id }}
usps_decryption_key_file_name={{ item[0].usps_decryption_key_file_name }}
usps_decryption_key_user_id={{ item[0].usps_decryption_key_user_id }}
usps_decryption_key_password={{ item[0].usps_decryption_key_password }}

pepsi_decryption_key_file_name={{ item[0].pepsi_decryption_key_file_name }}
pepsi_decryption_key_user_id={{ item[0].pepsi_decryption_key_user_id }}
pepsi_decryption_key_password={{ item[0].pepsi_decryption_key_password }}

fritolay_decryption_key_file_name={{ item[0].fritolay_decryption_key_file_name }}
fritolay_decryption_key_user_id={{ item[0].fritolay_decryption_key_user_id }}
fritolay_decryption_key_password={{ item[0].fritolay_decryption_key_password }}

issuelog.notification.email={{ item[0].issuelog_notification_email }}

#These flags control the header menu in the customer service app, and conditionally turn on the Jumptrack and Dynamics menu items when set to 'true' (case sensitive)
cs_menu_display_jumptrack={{ item[0].cs_menu_display_jumptrack }}
cs_menu_display_dynamics={{ item[0].cs_menu_display_dynamics }}

#This flag control to display inventory module in customer service.
create_pro_forma_invoice={{ item[0].create_pro_forma_invoice }}
inventory_access={{ item[0].inventory_access }}

