
#Tenant and subdomain logic is as follows:
#If the tenant is APD:
#  1. Check <subdomain>_<propertyname> (for example, demo_copyright)
#  2. Check www_<propertyname> (for example, www_copyright)
#If the tenant is not APD:
#  1. Check <tenantName>_<subdomain>_<propertyName< (for example, TenantB_sub_copyright)
#  2. Check <tenantName>_www_<propertyName< (for example, TenantB_www_copyright)
#  3. Check www_<propertyName< (for example, www_copyright)
#See PageCssBean for logic implementation

www_customerServiceInfo=Customer Service: 800-849-5842 | sales@americanproduct.com
www_callUsPhone=800-849-5842
www_callUsDays=Monday-Friday
www_callUsHrs=8:00 am-8:00 pm est
www_emailUsAddress=sales@americanproduct.com
www_visitUsSite=http://www.americanproduct.com
www_visitUsSiteToDsiplay=www.AmericanProduct.com
www_facebook=http://www.facebook.com/americanproduct
www_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
www_WelcomeImage=default.png
www_youtube=http://www.youtube.com/user/TheAPDStory
www_wordpress=http://americanproduct.wordpress.com/
www_copyright=American Product Distributors Inc.
www_aboutUsUrl=www.americanproduct.com/index.php/home
www_contactUsUrl=http://www.americanproduct.com/index.php/contact
www_returnPolicyUrl=/shopping/ecommerce/information/returns.xhtml
www_termsOfUseUrl=/shopping/ecommerce/information/termsOfUse.xhtml
www_securityUrl=/shopping/ecommerce/information/security.xhtml
www_privacyUrl=/shopping/ecommerce/information/privacy.xhtml
www_createUserRequest_instructions=If your company is tax-exempt, then please contact us at 1-800-849-5842 or sales@americanproduct.com.
www_showTrustKeeperPopup=true

css_customerServiceInfo=Customer Service 855.804.5089 | CSS@AmericanProduct.com
css_callUsPhone=855.804.5089
css_callUsDays=Monday-Friday
css_callUsHrs=8:00am-8:00pm est.
css_emailUsAddress=CSS@AmericanProduct.com
css_Logo=CHS.png
css_facebook=http://www.facebook.com/americanproduct
css_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
css_youtube=http://www.youtube.com/user/TheAPDStory
css_wordpress=http://americanproduct.wordpress.com/
css_WelcomeImage=CSS.png

walmart_customerServiceInfo=Customer Service 877.381.1664 | Walmart@AmericanProduct.com
walmart_callUsPhone=877.381.1664
walmart_callUsDays=Monday-Friday
walmart_callUsHrs=8:00am-8:00pm est.
walmart_emailUsAddress=Walmart@AmericanProduct.com
walmart_Logo=Walmart.png
walmart_hqemail=
walmart_facebook=http://www.facebook.com/americanproduct
walmart_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
walmart_youtube=http://www.youtube.com/user/TheAPDStory
walmart_wordpress=http://americanproduct.wordpress.com/
walmart_WelcomMessageHeader=Welcome WalMart Associates
walmart_WelcomMessage=We have been awarded a term contract to \
supply office products to Walmart and Sams Club headquarters as well as providing products \
to new locations around the world. As a supply chain integrator\, we are a supply \"partner\" that enables \
Walmart to consolidate\, procure\, control and efficiently manage high volume item purchases. \
We have created a customized on-line ordering portal exclusively for Walmart. We trust that you \
will enjoy this unique on-line purchasing experience each and every time you log on.

novant_customerServiceInfo=Customer Service 888.245.8588 | Novant@AmericanProduct.com
novant_callUsPhone=888.245.8588
novant_callUsDays=Monday-Friday
novant_callUsHrs=8:00am-8:00pm est.
novant_emailUsAddress=Novant@AmericanProduct.com
novant_Logo=Novant.png
novant_facebook=http://www.facebook.com/americanproduct
novant_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
novant_youtube=http://www.youtube.com/user/TheAPDStory
novant_wordpress=http://americanproduct.wordpress.com/

ebiz_customerServiceInfo=Customer Service 800.849.5842 | sales@AmericanProduct.com
ebiz_callUsPhone=800.849.5842
ebiz_callUsDays=Monday-Friday
ebiz_callUsHrs=8:00am-8:00pm est.
ebiz_emailUsAddress=sales@AmericanProduct.com
ebiz_Logo=eBiz.png
ebiz_facebook=http://www.facebook.com/americanproduct
ebiz_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
ebiz_youtube=http://www.youtube.com/user/TheAPDStory
ebiz_wordpress=http://americanproduct.wordpress.com/

fema_customerServiceInfo=Customer Service 800.849.5842 | sales@AmericanProduct.com
fema_callUsPhone=800.849.5842
fema_callUsDays=Monday-Friday
fema_callUsHrs=8:00am-8:00pm est.
fema_emailUsAddress=sales@AmericanProduct.com
fema_Logo=FEMA.png
fema_facebook=http://www.facebook.com/americanproduct
fema_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
fema_youtube=http://www.youtube.com/user/TheAPDStory
fema_wordpress=http://americanproduct.wordpress.com/

cnts_customerServiceInfo=Customer Service 855.211.4941 | Cintas@AmericanProduct.com
cnts_callUsPhone=855.211.4941
cnts_callUsDays=Monday-Friday
cnts_callUsHrs=8:00am-8:00pm est.
cnts_emailUsAddress=Cintas@AmericanProduct.com
cnts_Logo=Cintas.png
cnts_facebook=http://www.facebook.com/americanproduct
cnts_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
cnts_youtube=http://www.youtube.com/user/TheAPDStory
cnts_wordpress=http://americanproduct.wordpress.com/
cnts_WelcomeImage=CINTAS.png

tema_customerServiceInfo=Customer Service 877.769.0752 | TEMA@AmericanProduct.com
tema_callUsPhone=877.769.0752
tema_callUsDays=Monday-Friday
tema_callUsHrs=8:00am-8:00pm est.
tema_emailUsAddress=TEMA@AmericanProduct.com
tema_Logo=TEMA.png
tema_facebook=http://www.facebook.com/americanproduct
tema_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
tema_youtube=http://www.youtube.com/user/TheAPDStory
tema_wordpress=http://americanproduct.wordpress.com/
tema_WelcomeImage=TEMA.png

image.name.errorLogin1=400x600
image.name.register1=400x600
image.name.createRequest1=400x600
image.name.modificationRequest1=400x600
image.name.productDetailsBean1=128x128
image.name.searchUtilities1=128x128
image.name.lineItemToProduct1=153x153.png
image.name.home1=1x240x400
image.name.home2=2x240x400
image.name.banner=970x90
image.name.shoppingBanner=728x90
image.name.ip-banner=ip-banner

image.link.destination.errorLogin1=
image.link.destination.register1=
image.link.destination.createRequest1=
image.link.destination.modificationRequest1=
image.link.destination.productDetailsBean1=
image.link.destination.searchUtilities1=
image.link.destination.lineItemToProduct1=
image.link.destination.home1=
image.link.destination.home2=
image.link.destination.banner=
image.link.destination.shoppingBanner=
image.link.destination.ip-banner=

marfield_customerServiceInfo=Customer Service 877.245.9122 | service@marfield.com
marfield_callUsPhone=877.245.9122
marfield_callUsDays=Monday-Friday
marfield_callUsHrs=6:30am-4:00pm cst.
marfield_emailUsAddress=service@marfield.com
marfield_Logo=marfield.png
marfield_visitUsSite=http://www.marfield.com
marfield_visitUsSiteToDsiplay=www.Marfield.com
marfield_linkedin=http://http://www.linkedin.com/company/marfield-corporate-stationery
marfield_WelcomeImage=marfield_welcome.png
marfield_returnPolicyUrl=/shopping/ecommerce/information/marfieldReturns.xhtml
marfield_aboutUsUrl=http://marfield.com/about-us.shtml 
marfield_contactUsUrl=http://marfield.com/contact-us.shtml

rdu_customerServiceInfo=Customer Service 877.769.0752 | RDU@AmericanProduct.com
rdu_callUsPhone=877.769.0752
rdu_callUsDays=Monday-Friday
rdu_callUsHrs=8:00am-8:00pm est.
rdu_emailUsAddress=rdu@AmericanProduct.com
rdu_Logo=RDU.png
rdu_facebook=http://www.facebook.com/americanproduct
rdu_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
rdu_youtube=http://www.youtube.com/user/TheAPDStory
rdu_wordpress=http://americanproduct.wordpress.com/

cincinnati_customerServiceInfo=Customer Service 513.591.7700 | cincinnati@elinkgateway.com
cincinnati_callUsPhone=513.591.7700
cincinnati_callUsDays=Monday-Friday
cincinnati_callUsHrs=7:30am-5:00pm est.
cincinnati_emailUsAddress=cincinnati@elinkgateway.com
cincinnati_visitUsSite=http://www.cincinnati-oh.gov/cityofcincinnati/
cincinnati_visitUsSiteToDsiplay=www.cincinnati-oh.gov
cincinnati_facebook=https://www.facebook.com/CityOfCincy
cincinnati_linkedin=https://www.linkedin.com/company/city-of-cincinnati
cincinnati_WelcomeImage=cincinnati_welcome.png
cincinnati_youtube=
cincinnati_wordpress=
cincinnati_copyright=Value Innovation Technologies.
cincinnati_aboutUsUrl=
cincinnati_contactUsUrl=
cincinnati_returnPolicyUrl=

gsa_customerServiceInfo=Customer Service 877.769.0752 | GSA@AmericanProduct.com
gsa_callUsPhone=877.769.0752
gsa_callUsDays=Monday-Friday
gsa_callUsHrs=8:00am-8:00pm est.
gsa_emailUsAddress=GSA@AmericanProduct.com
gsa_Logo=GSA.png
gsa_facebook=http://www.facebook.com/americanproduct
gsa_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
gsa_youtube=http://www.youtube.com/user/TheAPDStory
gsa_wordpress=http://americanproduct.wordpress.com/

frb_customerServiceInfo=Customer Service 855.804.5809 | FRB@AmericanProduct.com
frb_callUsPhone=855.804.5809
frb_callUsDays=Monday-Friday
frb_callUsHrs=8:00am-8:00pm est.
frb_emailUsAddress=FRB@AmericanProduct.com
frb_Logo=FRB.png
frb_facebook=http://www.facebook.com/americanproduct
frb_linkedin=http://www.linkedin.com/company/american-product-distributors-inc-
frb_youtube=http://www.youtube.com/user/TheAPDStory
frb_wordpress=http://americanproduct.wordpress.com/

demo_customerServiceInfo=Customer Service 855-736-6975 | Sales@ValueInnovationTech.com
demo_callUsPhone=Dealer's #
demo_callUsDays=Monday-Friday
demo_callUsHrs=7:30am-5:00pm est.
demo_emailUsAddress=Support@DealerDomain.com
demo_visitUsSite=Sales@DealerDomain.com
demo_visitUsSiteToDsiplay=Sales@DealerDomain.com
demo_facebook=#
demo_linkedin=#
demo_WelcomeImage=
demo_youtube=#
demo_wordpress=#
demo_copyright=Value Innovation Technologies.
demo_aboutUsUrl=/shopping/ecommerce/information/demo.xhtml
demo_contactUsUrl=/shopping/ecommerce/information/demo.xhtml
demo_returnPolicyUrl=/shopping/ecommerce/information/demo.xhtml
demo_termsOfUseUrl=/shopping/ecommerce/information/demo.xhtml
demo_securityUrl=/shopping/ecommerce/information/demo.xhtml
demo_privacyUrl=/shopping/ecommerce/information/demo.xhtml
demo_createUserRequest_instructions=Dealer specific registration instructions here.
demo_showTrustKeeperPopup=false

