! See USPS EDI Implimentation Guide V6_2_-2 page 21
! Change to just "USPSWEB" when in production environment
applicationRecieversCodeISA={{ usps_edi_receiver_code }}
applicationRecieversCodeGS={{ usps_edi_receiver_code }}
! Change to "P" in productoin environment
testIndicator={{ edi_message_env_indicator }}
edi832.contractNo=2DOSEQ-10-B-0033
edi832.supplierId=943879320