ediInboundSource=ftp\://{{ usps_ftp_username }}@{{ usps_ftp_hostname }}/{{ usps_ftp_path_inbound }}?password\={{ usps_ftp_password }}&binary\=true&passiveMode\=true&disconnect\=true&move=original&delay=60000
ediUnknownTransactionOutput=activemq:queue.edi-inbound-transaction-dlq
ediInboundTransactionSource=activemq:queue:queue.edi-inbound?selector=partnerId%3D%27usps%27
ediPOTransactionSource=direct:uspsPOSource
edi850Output={{ batch_rest_base_url }}/workflow/order/purchase-order-request
edi850Endpoint=direct:usps850Endpont
edi850LogSource=direct:uspsLogSource
edi850InboundLogSource=direct:edi850InboundLogSourceUsps
edi810Source=activemq:queue:queue.edi-outbound-810?selector=partnerId%3D%27usps%27
edi810LogSource=direct:usps810LogSource
edi810PartnerEndpoint=ftp://{{ usps_ftp_username }}@{{ usps_ftp_hostname }}/{{ usps_ftp_path_outbound }}?password={{ usps_ftp_password }}&binary=true&passiveMode=true
edi855Source=activemq:queue:queue.edi-outbound-855?selector=partnerId%3D%27usps%27
edi855PartnerEndpoint=ftp://{{ usps_ftp_username }}@{{ usps_ftp_hostname }}/{{ usps_ftp_path_outbound }}?password={{ usps_ftp_password }}&binary=true&passiveMode=true
backupPartnerEndpoint=ftp://{{ apd_ftp_username }}@{{ apd_ftp_hostname }}/usps/backup?password={{ apd_ftp_password }}&binary=true&passiveMode=true&fileName=${date:now:yyyy-MM-dd}/${header.CamelFileName}
edi856Source=activemq:queue:queue.edi-outbound-856?selector=partnerId%3D%27usps%27
edi856PartnerEndpoint=ftp://{{ usps_ftp_username }}@{{ usps_ftp_hostname }}/{{ usps_ftp_path_outbound }}?password={{ usps_ftp_password }}&binary=true&passiveMode=true
encryptionIsArmored=true
encryptionEnabled=true
decryptionIsArmored=true
decryptionEnabled=true

ediFATransactionSource=direct:uspsFASource
edi997ResendSource=activemq:queue:queue.edi-outbound-997-resend
edi997PartnerEndpoint=ftp://{{ usps_ftp_username }}@{{ usps_ftp_hostname }}/{{ usps_ftp_path_outbound }}?password={{ usps_ftp_password }}&binary=true&passiveMode=true
edi997Output={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement
edi997OutboundSource=activemq:queue.queue.edi-outbound-997
edi997FormattedSource=direct:USPS997FormattedSource
edi997LogSource=direct:USPS997LogSource
edi997OutboundLogSource=direct:USPS997OutboundLogSource
testIndicator=T
edi832CatalogSinkDlq=activemq:queue:queue.edi-outbound-832-dlq
edi832CatalogSink=direct:uspsEdiCatalogSink
edi832CsvOutput=ftp://{{ usps_ftp_username }}@{{ usps_ftp_hostname }}/{{ usps_ftp_path_outbound }}?password={{ usps_ftp_password }}&binary=true&passiveMode=true
edi832CsvSink=direct:csvSink
edi832CsvSinkDLQ=activemq:queue:queue.edi-outbound-832-csv-sink-dlq
edi832DataSource=activemq:queue:queue.edi-outbound-832?selector=partnerId%3D%27usps%27
edi832DataFormatModelPackage=com.apd.phoenix.service.integration.usps.model
ediAGTransactionSource=direct:uspsAGTransactionSource
edi824logOutput=http://placeholder
edi824logSource=direct:usps824LogSource
edi824output={{ batch_rest_base_url }}/errorEmail/send
edi824OutputDlq=activemq:queue.edi-inbound-824-dlq
edi824OrgFormattedSource=direct:uspsEdi824OrgFormattedSource

edi850FaSource=direct:edi850FaSourceUsps
edi850InboundFormatSource=direct:edi850InboundFormatSourceUsps
APDsenderCode="PHOEN          "
partnerSenderCode="0000000000     "
edi850FaPrepare=direct:edi850FaPrepareUsps
senderId=usps
ediFTPEndpointDownNotify810=direct:uspsFTPEndPointDownNotify810
ediFTPEndpointDownNotify855=direct:uspsFTPEndPointDownNotify855
ediFTPEndpointDownNotify856=direct:uspsFTPEndPointDownNotify856
