edi850PartnerEndpoint=ftp://{{ item[0].ussco_ftp_username }}@{{ item[0].ussco_ftp_hostname }}{{ item[0].ussco_ftp_path_outbound }}?password={{ item[0].ussco_ftp_password }}&binary=true&passiveMode=true
backupPartnerEndpoint=ftp://{{ item[0].ussco_ftp_username }}@{{ item[0].ussco_ftp_hostname }}{{ item[0].ussco_ftp_path_outbound_backup }}?password={{ item[0].ussco_ftp_password }}&binary=true&passiveMode=true&fileName=${date:now:yyyy-MM-dd}/${header.CamelFileName}
edi850Source=activemq://queue:queue.edi-outbound-850
edi850ResendSource=activemq:queue:queue.edi-outbound-850-raw
edi850Endpoint=direct:ussco850Endpont
edi850LogSource=direct:usscoLogSource
edi997ResendSource=activemq:queue:queue.edi-outbound-997-resend
edi997PartnerEndpoint=ftp://{{ item[0].ussco_ftp_username }}@{{ item[0].ussco_ftp_hostname }}{{ item[0].ussco_ftp_path_outbound }}?password={{ item[0].ussco_ftp_password }}&binary=true&passiveMode=true
ediFATransactionSource=direct:usscoFASource
ediINTransactionSource=direct:usscoINSource
ediPRTransactionSource=direct:usscoPRSource
ediSHTransactionSource=direct:usscoSHSource
ediInboundSource=ftp://{{ item[0].ussco_ftp_username }}@{{ item[0].ussco_ftp_hostname }}{{ item[0].ussco_ftp_path_inbound }}?password={{ item[0].ussco_ftp_password }}&binary=true&passiveMode=true&move=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
edi997OutboundSource=activemq:queue.queue.edi-outbound-997
ediInboundTransactionSource=activemq:queue:queue.edi-inbound?selector=partnerId%3D%27ussco%27
ediUnknownTransactionOutput=activemq:queue.edi-inbound-transaction-dlq
edi997Output={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement
edi855Output={{ batch_rest_base_url }}/workflow/order/po-acknowledgement
edi856Output={{ batch_rest_base_url }}/workflow/order/advanced-shipment-notice
edi810Output={{ batch_rest_base_url }}/workflow/order/invoice
edi810CreditOutput={{ batch_rest_base_url }}/workflow/order/creditInvoice
transactionMetadataURI={{ batch_rest_base_url }}/workflow/order/transaction
edi855FaSource=direct:edi855FaSourceUssco
APDsenderCode="{{ apd_edi_sender_code }}"
partnerSenderCode="{{ ussco_edi_sender_code }}"
testIndicator={{ edi_message_env_indicator }}
send997=true
edi997FormattedSource=direct:usscoFormattedSource
edi997LogSource=direct:usscoLogSource
edi997OutboundLogSource=direct:usscoOutboundLogSource
edi855FaPrepare=direct:edi855FaPrepareUssco
edi855FormattedSource=direct:edi855FormatSourceUssco
edi855LogSource=direct:edi855LogSourceUssco

shipmanifest.email.subject={{ ussco_shipmanifest_notification_email_subject }}
manifestSource=ftp\://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].ussco_ftp_path_inbound_manifest }}?password\={{ item[0].internal_ftp_password }}&binary\=true&passiveMode\=true&preMove=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
allowedManifestFilenames=NGC_050_NGC_HII,NGC_009_NGC_HII,NOVANT_053_METRO,NOVANT_001_METRO,CHS_053_METRO_CHARLOTTE,CHS_001_METRO_CHARLOTTE,RSFH_001_METRO_CHARLESTON,RSFH_053_METRO_CHARLESTON,CHS_053_APD_PICKUP,CHS_001_APD_PICKUP

decryptionEnabled=false
differentCreditInvoice=true
edi850AS2EndpointDownNotify=direct:as2EndpointDownNotifyUSSCO
emailNofityOnAs2DownFrom={{ as2_ftp_server_down_email_from }}
emailNofityOnAs2DownTo={{ as2_ftp_server_down_email_to }}

itemSource=ftp://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].ussco_ftp_path_inbound_items }}?password={{ item[0].internal_ftp_password }}&binary=true&passiveMode=true&delete=true
relationshipSource=ftp://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].ussco_ftp_path_inbound_relationships }}?password={{ item[0].internal_ftp_password }}&binary=true&passiveMode=true&delete=true
brandSource=ftp://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].ussco_ftp_path_inbound_brands }}?password={{ item[0].internal_ftp_password }}&binary=true&passiveMode=true&delete=true
usscoRelationshipSource=ftp://{{ item[0].internal_ftp_username }}@{{ item[0].internal_ftp_hostname }}{{ item[0].ussco_ftp_path_inbound_ussco_relationships }}?password\={{ item[0].internal_ftp_password }}&binary\=true&passiveMode\=true&delete\=true
