/*
        General css to apply to all ecommerce pages
*/
body {
	font-size: 1em;
	font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
	line-height: 1.4;
	padding-top: 0px;
	color: #555555;
	padding-bottom: 0;
	-ms-overflow-style: scrollbar;
}

* {
	margin: 0;
}

html,body {
	height: 100%;
	width: 100%;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #f6000d;
	font-weight: normal;
}

h3 {
	font-family: 'OpenSansRegular', sans-serif;
	color: #f6000d;
}

h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 0.875em;
}

h5 {
	font-weight: normal;
	font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

h1 a,h1 a:hover,h2 a,h2 a:hover,h3 a,h3 a:hover,h4 a,h4 a:hover,h5 a,h5 a:hover
	{
	color: #10165d;
}

p,a,.help-inline {
	line-height: normal;
	font-size: 0.875em;
}

p,.help-inline {
	color: #555555;
	padding-left: 0px;
}

#novantInfo p, #novantInfo li, #novantInfo h1{
	color: #006;
}

a {
	color: #10165d
}

/*
 * Font Size Conversions PX to EM
 * 11px = 0.6875em
 * 12px = 0.75em
 * 14px = 0.875em
 * 16px = 1em
 * 18px = 1.125em
 * 21px = 1.3125
 */
input,select,textarea,button,keygen,isindex,legend {
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
}

label,input,button,select,textarea {
	font-size: 0.75em;
	font-weight: normal;
	line-height: 20px;
	color: #555555;
}

#bodyWrapper {
	border-top: 0px solid #09397e;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	position: absolute;
	height: auto;
	width: auto;
}

.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	width: 100%;
}

.container-fluid {
	padding-left: 8px;
	padding-right: 8px;
}

#push,#footer {
	height: 60px;
}
/*
.containerFull
{
        max-width: 1000px;
        background: transparent url(/shopping/resources/img/background/bkgrd_repeatLrg.png) repeat-y scroll 0px 0px;
        margin: 0 auto -96px;
        padding-bottom:0px;
        height:100%
        
}
*/
.apd-container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	max-width: 960px;
	margin: 0 auto;
	width: auto;
	background-color: #FFF;
}

.apd-container {
	padding-bottom: 159px;
}

/* ==================================== */
/*   TOP RIGHT DROP DOWN                */
/* ==================================== */
.navbar .nav>li>a,.logoutButtonForm,.logoutButtonForm a,.logOutBtn,.logOutBtn a
	{
	color: #555555;
	float: none;
	padding: 0px 0px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 0.875em;
	text-transform: uppercase
}

.navTopLinks {
	padding-top: 15px;
	margin-right: 0px !important;
	float: left !important;
}

.navTopLinks li .divider {
	padding: 0;
	/* removing dividers, until we determine whether they should be displayed, and how */
	display: none !important;
}

.navTopLinks li {
	padding: 0 0px 0 0px;
}

.navTopLinks li last-child {
	padding: 0px;
}

.navbar .divider-vertical {
	border-left: 1px solid #CCC;
	border-right: 1px solid #FFFFFF;
	height: 17px;
	margin: 5px 0px 0px 0px;
	padding: 0;
}

#shopping-dd-li {
	float: none !important;
	display: block !important;
}

#cart-dropdown-count {
	font-size: 0.75em;
}

#shopping-cart-dropdown .dropdown-menuShopingCart {
	list-style: none outside none;
	width: 100%;
	margin: 5px;
}

#shopping-cart-dropdown #cart-dropdown-text {
	color: #f60011;
}

#shopping-cart-dropdown .dropdown-menu {
	background-color: #e8ecf8;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	right: 0px;
}

#shopping-cart-dropdown .dropdown-menu .shopping-container {
	width: 95%;
	margin: 10px auto 0;
	background-color: #FFF;
	border: 1px solid #999;
}

/*====== HOVER EVENTS =====*/
#shopping-cart-dropdown {
	background-color: #e8ecf8;
	border-left: 1px solid #e8ecf8;
	border-right: 1px solid #e8ecf8;
	border-top: 1px solid #e8ecf8;
}

#shopping-cart-dropdown:hover {
	background-color: #FFF;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.accountDD {
	background-color: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
}

.accountDD:hover {
	background-color: #FFF;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navTopLinks .dropdown-menu {
	border: 1px solid #CCCCCC;
	margin-right: -1px;
	border-radius: 0px;
}

.navbar .navTopLinks>.accountDD>.dropdown-menu:after {
	border-bottom: 10px solid #FFFFFF;
	border-left: 38px solid #FFFFFF;
	border-right: 38px solid #FFFFFF;
	content: "";
	display: inline-block;
	position: absolute;
	right: 0;
	top: -6px;
	width: 0;
}

.shopping-dd {
	width: 344px;
}

.shopping-dd li {
	margin-bottom: 10px;
}

.shopping-dd li:last-child {
	margin-bottom: 0px;
}

#shopping-cart-dropdown .dropdown-menu .shopping-container img {
	float: left;
	padding-top: 0px;
}

.shopping-container .header {
	background-color: #e5e5e5;
}

.shopping-container .header p {
	font-size: 0.775em;
	line-height: 20px;
	margin: 0 0 10px 10px;
}

.shoppingCart-dd-itemPic {
	float: left;
}

.shoppingCart-dd-item {
	font-size: 0.875em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: normal;
	float: left;
	padding-left: 8px;
	width: 190px;
}

.shoppingCart-total {
	font-size: 0.875em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	float: right;
	margin-right: 15px;
	width: 95%;
	border-top: 1px solid #cccccc;
}

.dd-checkout {
	bottom: 0;
	position: relative;
	top: 32px;
	z-index: 1000;
	border-radius: 0px 0px 6px 6px !important;
}
/* ===== BUTTONS ====== */
.btnRed {
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #cccccc;
	*border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	text-transform: uppercase;
}

.btnRemove {
	margin-top: -12px;
	padding: 0 2px;
}

.btnRemoveComp {
	margin: 5px;
	padding: 0 2px;
}

.btn-primary {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 2px 10px;
	text-align: center;
	vertical-align: middle;
}

.btn-secondary {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #CCFF33;
	background-image: linear-gradient(to bottom, #CCFF33, #CCFF33);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #CCFF33;
	border-image: none;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 15px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	vertical-align: middle;
	text-transform: uppercase;
}

/*
button.btn, input.btn[type="button"]:hover { background-color: #e9666d;
}
*/
.smallBtn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	line-height: 24px;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	padding: 0px 8px;
}

.smallBtn:hover,.smallBtn:focus,.smallBtn:active,.smallBtn.active,.smallBtn.disabled,.smallBtn[disabled]
	{
	color: #FFF;
	text-decoration: none;
	background-color: #c70007;
	*background-color: #c70007;
	background-color: #c70007;
	background-image: linear-gradient(to bottom, #c70007, #c70007);
}

.smallBtn:active,.smallBtn.active {
	background-color: #c70007;
}

.smallBtnDisabled {
	border-image: none;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	line-height: 20px;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	vertical-align: middle;
	margin: 10px 0 15px 0;
	padding: 0px 8px;
	text-transform: uppercase;
}

.btn-primaryDisabled {
	border-image: none;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 4px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	vertical-align: middle;
}

.checkoutBtn,.placeOrderBtn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #59bd7a;
	background-image: linear-gradient(to bottom, #59bd7a, #009933);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #009933;
	border-image: none;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	line-height: 30px;
	margin-bottom: 0;
	text-align: center;
	padding: 0 10px 0 10px;
	text-shadow: 0 1px 1px #000000;
	vertical-align: middle;
	margin: 10px 0 15px 0;
	text-transform: uppercase;
}

.checkoutBtn:hover,.checkoutBtn:focus,.checkoutBtn:active,.checkoutBtn.active,.checkoutBtn.disabled,.checkoutBtn[disabled],.placeOrderBtn:hover,.placeOrderBtn:focus,.placeOrderBtn:active,.placeOrderBtn.active,.placeOrderBtn.disabled,.placeOrderBtn[disabled]
	{
	color: #FFF;
	background-color: #59bd7a;
	background-image: linear-gradient(to bottom, #009933, #59bd7a);
	background-repeat: repeat-x;
	*background-color: #59bd7a;
}

.checkoutBtn,.placeOrder {
	margin-right: 20px;
}

.placeOrderBtn.placeOrderBtnTop {
	margin: 0px;
}

.rightSideBtn.rightSideBtnTop {
	line-height: 32px;
	margin-bottom: 10px;
}

.checkoutMsg {
	line-height: 32px;
	color: red;
}

.dd-item-name,.dd-item-name a {
	color: #10165d;
	padding-bottom: 5px;
}



.filterList{
	margin-bottom:0px;
}

.filterListItem a {
	padding: 0px 2px 0px 2px;
}

.nav-tabs.nav-stacked>.avaliableFilter > a{
	border-top: 0px;
	border-bottom: 0px;
	padding-top: 3px;
  	padding-bottom: 3px;
}

.filterListHeaderTop {
	margin-top: 0px !important;
}

.filterListHeader, .filterListHeaderTop {
	margin-top:10px;
	background-color: #e6e6e6;
}

.filterListSubHeader{
	background-color: #F5F5F5;
	
}
.filterList{
	margin-bottom:0px;
}

.filterListItem a {
	padding: 0px 2px 0px 2px;
}

.nav-tabs.nav-stacked>.avaliableFilter > a{
	border-top: 0px;
	border-bottom: 0px;
	padding-top: 3px;
  	padding-bottom: 3px;
}

.nav-tabs.nav-stacked>.filterListItem>div {
	border-top: 0px;
	border-bottom: 0px;
	padding: 2px 12px;
}

.nav-tabs.nav-stacked>.avaliableFilterControl > a {
	text-align:right;
}

.nav-tabs.nav-stacked > .allFilterControlButton > a{
	color: rgb(246, 0, 13);
	border-top: 1px solid #cccccc;
}

.filterListSubHeader{
	background-color: #F5F5F5;
}

.dd-item-name a:hover {
	text-decoration: underline
}

.dd-item-qty,.dd-item-price {
	font-weight: normal;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
}

.navbar .nav>li>.dropdown-menu:after {
	border-bottom: 10px solid #FFF;
	border-left: 40px solid #FFF;
	border-right: 40px solid #FFF;
	content: "";
	display: inline-block;
	right: 0px;
	position: absolute;
	top: -6px;
	width: 37px
}

.navbar .pull-right>li>.dropdown-menu:before,.navbar .nav>li>.dropdown-menu.pull-right:before
	{
	left: auto;
	right: 12px;
}

/* ==================================== */
/*   MAIN NAV BAR                       */
/* ==================================== */
#top-container {
	clear: both;
}

.navbar-search {
	margin-top: 0px;
}

.navbar-search input {
	border-radius: 0 0 0 0;
	margin-bottom: 0;
	margin-top: 5px;
	width: 250px;
}

.btn-group {
	display: inline-block;
	width: 100%;
}

#search-dropdown {
	border: 1px solid #CCCCCC;
	border-radius: 0 0 0 0;
	font-size: 11px;
	letter-spacing: 0.05em;
	margin-top: 5px;
	width: 48px;
}

.navbar-search input {
	border-radius: 0 0 0 0;
	margin-bottom: 0;
	margin-top: 5px;
	width: 250px;
}

.fornav {
	position: relative;
	margin-left: -22px;
	top: -3px;
	z-index: 2;
}

.expressOrder.radio input[type="radio"],.checkbox input[type="checkbox"]
	{
	float: left;
	margin-right: -20px;
}

.expressOrder label {
	margin-right: 30px;
	font-size: 0.6875em;
}

.expressOrderLink {
	font-weight: normal;
	font-size: 1.3em;
	font-family: 'Open Sans Condensed', sans-serif;
	position: relative;
	z-index: 10;
	top: -20px;
}

#header img {
	padding-top: 25px;
	float: left;
}

#blue-navbar .navbar-inner {
	background-color: #e8e8e8;
	background-image: linear-gradient(to bottom, #e8e8e8, #FFF);
	background-repeat: repeat-x;
	border-radius: 0px;
	border: 0px;
	border-left: 1px solid #D4D4D4;
	border-right: 1px solid #D4D4D4;
	border-top: 1px solid #D4D4D4;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	min-height: 43px;
	max-height: 43px;
	padding-left: 0px;
	padding-right: 0px;
}

.subnav {
	background-image: none;
	border: none;
	border-radius: 0px;
	min-height: 45px;
	width: 100%;
}

.subnav .nav>li>a {
	border-left: 0;
	border-radius: 0 0 0 0;
	border-right: 0;
	margin: 0;
	padding-bottom: 0px;
	padding-top: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.subnav .nav-tabs>li,.nav-pills>li {
	border-right: 1px solid #CCCCCC;
	float: left;
	cursor: pointer;
}

.subnav .nav-tabs>li,.nav-pills>li:last-child {
	border-right: none;
}

.nav-pills>li>a {
	border-radius: 0;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 24px;
	padding-left: 24px;
	font-size: 17px;
	color: #10165d;
	text-transform: uppercase;
	height: 45px;
	line-height: 40px;
	border-left: 1px solid #D4D4D4;
}

.nav>li>a:hover,.nav>li>a:focus {
	text-decoration: none;
	color: #10165d;
	background-color: #CCCCCC;
}

/*============= The asterisk at the start of the line of CSS that you want to apply  only to  IE7. =================*/
.searchBoxWrapper {
	width: 460px;
	*width: 462px;
	height: 31px;
	margin-top: 5px;
	margin-left: 5px;
}

.searchBoxContainerInner .searchSelectContainer {
	margin-right: 5px;
	float: right;
}

.searchBoxContainerInner .twitter-typeahead {
	display: block !important;
}

.searchBoxContainerInner .twitter-typeahead .tt-hint{
	color: white;
}


.searchBoxContainerInner {
	height: 30px;
	float: left;
}

.searchBoxContainerInner, .searchBoxContainerInner .searchSelectContainer {
	width: 400px;
}

.dropdownSelectContainer {
	float: left;
}

.searchSelectContainer {
	float: left;
	width: 281px;
}

.searchSelectContainer input[type="text"] {
	border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
	width: 100%;
}

.cartridgeNumberContainer input[type="text"] {
	width: 100%;
}


.modelNumberContainer input[type="text"] {
	width: 100%;
}

.icon-refine-search {
	position: relative;
	top: -2px;
	left: -24px;
}

#refine-search-icon {
	width: 15px;
}

#search-icon {
	width: 18px;
	z-index: 5000;
}

#searchButton {
	margin-top: -1px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	padding: 4px 15px;
}

.animateDD,#searchDD {
	width: 90px;
	background: rgb(237, 237, 237); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%,
		rgba(209, 209, 209, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237,
		237, 237, 1) ), color-stop(100%, rgba(209, 209, 209, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%,
		rgba(209, 209, 209, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237, 237, 237, 1) 0%,
		rgba(209, 209, 209, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237, 237, 237, 1) 0%,
		rgba(209, 209, 209, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%,
		rgba(209, 209, 209, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ededed',
		endColorstr='#d1d1d1', GradientType=0 ); /* IE6-9 */
}

.nav-pills .topSearch .form-search .input-append .bootstrap-select .dropdown-menu>li>a:hover,.nav-pills .topSearch .form-search .input-append .bootstrap-select .dropdown-menu>li>a:focus
	{
	color: #10165d;
	text-decoration: underline;
	background-color: transparent;
}

.nav-pills .dropdown-menu {
	margin-top: -2px;
	background-image:none !important;
	background-color:#274166 !important;
}

.nav-pills .dropdown-menu>li>a {
	color: #fff;
	padding: 4px 4px 4px 25px;
	font-weight: bold;
	font-size: 0.75em;
}

.nav-pills .dropdown-menu>li>a:hover,.nav-pills .dropdown-menu>li>a:focus
	{
	color: #10165d;
	background-color: #ccc;
	text-decoration: underline;
}

.nav-pills.dropdown-menu>li>a:hover,.nav-pills.dropdown-menu>li>a:focus,.nav-pills.dropdown-submenu:hover>a,.nav-pills.dropdown-submenu:focus>a
	{
	color: #999;
	text-decoration: none;
	background-color: transparent;
	background-image: none;
}

nav-pills .dropdown-menu>li>a span {
	color: #7d7d7d;
}

/* ==================================== */
/*   BREADCRUMBS                        */
/* ==================================== */
.breadcrumb {
	background-color: transparent;
	border-radius: 0px;
	list-style: none outside none;
	margin: 0;
	padding: 0 0 0 10px;
	width: 100%;
}

.breadcrumb>.active {
	color: #555555;
	font-size: 0.75em;
}

.breadcrumb li,.breadcrumb li a {
	font-family: Arial, Helvetica, sans-serif;
	color: #10165d;
	font-size: 0.875em;
}

/*
 * Font Size Conversions PX to EM
 * 10px = 0.6875em
 * 11px = 0.75em
 * 12px = 0.875em
 * 14px = 1em
 * 16px = 1.125em
 * 18px = 1.3125
 */

/* ==================================== */
/*   LEFT NAV BAR                       */
/* ==================================== */

/*.row-fluid .span2  { width: 20.894%;  }*/
.apdMarginTop {
	margin: 0 auto;
}

.apdCenter {
	margin: 0 auto;
}

.apdMarginTop .span2 {
	margin-left: 3px;
}

.apdMarginTop .refine-search-box {
	margin-left: 0px;
}

.nav-tabs.nav-stacked>li:first-child>a {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.nav-tabs.nav-stacked>li:last-child>a {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.nav-tabs.nav-stacked>li>a {
	border: none;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #FFF;
	border-radius: 0 0 0 0;
	font-family: 'OpenSansRegular', sans-serif;
	color: #10165D;
	font-size: 12px;
	line-height: 17px;
}

.nav-tabs.nav-stacked>li>div {
	border: none;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #FFF;
	border-radius: 0 0 0 0;
	font-family: 'OpenSansRegular', sans-serif;
	color: #10165D;
	font-size: 12px;
	line-height: 17px;
}

.nav-tabs.nav-stacked-featured>li>div {
	border: none;
	border-top: 0px solid #cccccc;
	border-right: 0px solid #cccccc;
	border-bottom: 0px solid #cccccc;
	border-left: 0px solid #FFF;
	border-radius: 0 0 0 0;
	font-family: 'OpenSansRegular';
	color: #10165D;
	font-size: 12px;
	line-height: 17px;
}

.featuredProductBtn {
	font-size: 8px;
}

.selected {
	background: #cccccc;
}

.nav-tabs.nav-stacked>li>a.selected:hover {
	background: white;
}

.nav-stacked-featured {
	margin-bottom: 0px !important;
}

.category-menu-left-small {
	width: 200px !important;
}

.category-menu-left {
	width: 402px !important;
}

.category-menu-left, .category-menu-left-small {
	top: 100% !important;
}

.dropdown-submenu>a:after {
	border-color: transparent;
	border-style: none;
	border-width: 0px;
	content: " ";
	display: block;
	float: right;
	height: 0;
	margin-right: 0px;
	margin-top: 0px;
	width: 0;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a
	{
	color: #ffffff;
	text-decoration: none;
	background-color: #cccccc;
	background-image: none;
}

.dropdown-menu>li>a:active,.dropdown-submenu:hover>a:active,.dropdown-submenu:active>a
	{
	color: #ffffff;
	text-decoration: none;
	background-color: #000;
	background-image: -moz-linear-gradient(left, #f0f0f0, #fff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0),
		to(#fff) );
	background-image: -webkit-linear-gradient(left, #f0f0f0, #fff);
	background-image: -o-linear-gradient(left, #f0f0f0, #fff);
	background-image: linear-gradient(to right, #f0f0f0, #fff);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',
		endColorstr='#fff', GradientType=0 );
}

.dropdown-submenu>.dropdown-menu {	
	border-radius: 0 6px 6px 6px;
	left: 100%;
	margin-left: -1px;
	margin-top: 0;
	top: 0;
	z-index: 1100;
}

.nav-stacked .dropdown-menu {
	border: 5px solid rgba(0, 0, 0, 0.2);
}

.category-menu>li {	
	width: 200px;
	line-height: 20px;
	float: left;
}

.category-item ul {
	list-style-type: none;
}

.category-header {
	font-size: 0.75em;
	color: #fff;
	font-weight: bold;
	white-space: normal !important;
}

.category-item .submenu ul {
	margin: 0;
}

.category-item>.submenu>li {
	width: 200px;
	float: left;
}

.category-item>.submenu>li>a:focus {
	color:#fff;	
}


/* ==================================== */
/*   MAIN SECTION                       */
/* ==================================== */
.home .span10 {
	width: 660px;
	float: right;
	padding: 15px 0;
}

#user-welcome {
	display: inline-block;
	margin-right: 10px;
	float: left;
	width: 75%;
}

#logout-form a {
	display: inline-block;
	float: right;
	font-size: 14px;
	width: 20%;
}

.btn-apd, .smallBtn, .btn-primary, .btnRed {
	background-color: #c11414 !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd1313",
		endColorstr="#c11414" );
	background-image: -khtml-gradient(linear, left top, left bottom, from(#dd1313),
		to(#c11414) );
	background-image: -moz-linear-gradient(top, #dd1313, #c11414);
	background-image: -ms-linear-gradient(top, #dd1313, #c11414);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd1313),
		color-stop(100%, #c11414) );
	background-image: -webkit-linear-gradient(top, #dd1313, #c11414);
	background-image: -o-linear-gradient(top, #dd1313, #c11414);
	background-image: linear-gradient(#dd1313, #c11414);
	border-color: #c11414 #c11414 #c11414;
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

.btn-continue {
    margin: 40px 0;
    padding: 6px 30px;
    border-radius: 5px;
    font-size: 14px;
}

/* ==================================== */
/*   HOME PAGE													*/
/* ==================================== */
.sectionBorders {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.FeaturedWidth .span3 {
	border: 1px solid #e9efee;
    float: left;
    margin: 17px 14px 0 0;
    padding: 10px 12px 17px 12px;
    width: 200px;
    color: #274165;
}

.featured-product { /*text-align: center;*/
	border-right: 1px solid #CCCCCC;
}

.featured-product .thumbnail {
	border: none;
	border-radius: 0px;
	box-shadow: none;
	display: block;
	line-height: 20px;
	padding: 13px 4px;
	transition: all 0.2s ease-in-out 0s;
}

.product-info {
	float: left;
	padding-left: 5px;
	padding-right: 12px;
}

.product-infoComp {
	float: left;
	padding: 0 10px 0 15px;
}

.productDetail-longDesc {
	float: left;
	margin-top: 0px !important;
}

.product-info .title,.product-info .title a,.product-infoComp .title,.product-infoComp .title a
	{
	word-wrap: break-word;
	font-size: 12px;
	line-height: 1.75;
	color: #10165d;
	cursor: pointer;
	padding-right: 0px;
	display: block;
}

.sku-no-break {
	white-space: nowrap;
}

.product-info .title:hover,.product-info .title a:hover,.product-infoComp .title:hover,.product-infoComp .title a:hover
	{
	text-decoration: underline;
}

.product-info .manufacturer,.product-info .sku,.price-per-unit,.units,.product-infoComp .manufacturer,.product-infoComp .sku,.product-infoComp .price-per-unit,.product-infoComp .units
	{
	font-size: 12px;
	color: #555555;
	cursor: pointer;
	margin-right: 0px;
	line-height: 1.75;
}

.product-icons {
	padding-bottom: 16px;
}

.fixed-height-short {
	height: 16px;
	/* overflow is hidden, fixed height ensures standard component height */
	overflow: hidden;
}

.fixed-height-tall {
	height: 48px;
	/* overflow is hidden, fixed height ensures standard component height */
	overflow: hidden;
}

.qty input {
	height: 14px;
	margin: 2px 5px 2px 0;
	width: 15px;
    padding:4px !important;
    text-align:center;
}

.qtyContainer img {
	border: 0 none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

.addBtn {
	margin: 20px 10px 0 0;
}

.wizard-card table td,.wizard-card table th {
	vertical-align: top;
}

#progress-label {
	margin-left: 40%;
}

.favoritesCon {
	padding-right: 10px;
}

#favoritesTable a {
	font-weight: normal;
	font-size: 1em;
	color: #10165d;
	font-family: Arial, Helvetica, sans-serif;
}

#favoritesTable a:hover {
	text-decoration: underline;
}

.table th,.table td {
	border-bottom: none;
}

#favoritesTable tr:last-child {
	border-bottom: 1px solid #cccccc;
}

.table th,.table td {
	border-top: none;
	line-height: 20px;
	padding: 8px;
	text-align: left;
	vertical-align: top;
}

.table th {
	font-weight: normal;
	font-size: 1em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.table td {
	font-weight: normal;
	font-size: 0.75em;
	font-family: Arial, Helvetica, sans-serif;
}

.table-bordered th,.table-bordered td {
	border-left: none;
}

.smallIcon {
	margin-top: 5px;
}

.darkBkgrd {
	background-color: #e5e5e5
}

.grayBkgrd {
	background-color: #f2f2f2
}

#daily-offer-wrapper {
	padding: 15px 0;
	width: 245px;
	margin-left: 3px;
	float: left;
}

/* ==================================== */
/*   ICONS			                   			*/
/* ==================================== */



.icon-printAPD,.icon-holdAPD,.icon-returnAPD,.icon-emptyAPD,.icon-cartAPD,.icon-starAPD
	{
	background-repeat: no-repeat;
	display: inline-block;
	height: 22px;
	background-position: left;
	margin-top: 1px;
	vertical-align: middle;
	width: 22px;
}

/* ==================================== */
/*   PAGINATION			                    */
/* ==================================== */
.pagination {
	margin: 20px 0;
}

.pagination-centered {
	font-size: 14px;
}

.pagination ul {
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	margin-left: 0;
	border-radius: 0px;
}

.pagination ul>li {
	display: inline;
}

.pagination ul>li>a,.pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	color: #10165d;
	border: none;
	border-left-width: 0;
}

.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span
	{
	color: #555555;
	text-decoration: underline;
	background-color: transparent;
}

.pagination ul>.active>a,.pagination ul>.active>span {
	color: #555555;
	cursor: default;
}

.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus
	{
	color: #555555;
	cursor: default;
	background-color: transparent;
}

.pagination ul {
	border-radius: 4px 4px 4px 4px;
	box-shadow: none;
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
}

/* ==================================== */
/*   COMPARISONS                				*/
/* ==================================== */
.shoppoingCart-Header h3,.shoppoingCart-Header p {
	display: inline-block;
}

.product_comparison {width: 200px;}

.sectionBordersFull {
	border: 1px solid #CCCCCC;
	width: 95%;
}

.featured-product:last-child {
	border-right: none;
}

.sectionBordersFull .span2 {
	width: 20%;
}

.rightLink {
	margin: 22px 20px 0 0;
}

.grayHeaderBox {
	width: 100%;
	line-height: 30px;
	height: 30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #e5e5e5;
}

.grayHeaderBox h5 {
	margin-left: 10px;
	line-height: 10px;
}

.compWhite ul,.compGray ul {
	margin: 0 0 0px 0px;
}

.compWhite li,.compGray li,.compWhite li p,.compGray li p {
	line-height: 28px !important;
	margin: 0 0 0px;
}

.compWhite {
	line-height: 28px;
	background-color: #FFF;
	font-size: .875em;
	padding-left: 5px;
	padding-right: 5px
}

.compGray {
	line-height: 28px;
	background-color: #f2f2f2;
	font-size: .875em;
	padding-left: 5px;
	padding-right: 5px
}
/* ==================================== */
/*   NOTIFICATIONS                      */
/* ==================================== */
.notifications {
	position: fixed;
}

.notifications.top-right {
	left: 10px;
	top: 25px;
}

.notifications.top-left {
	left: 10px;
	top: 25px;
}

.notifications.bottom-left {
	left: 10px;
	bottom: 25px;
}

.notifications.bottom-right {
	right: 10px;
	bottom: 25px;
}

.notifications>div {
	position: relative;
	z-index: 9999;
	margin: 5px 0px;
}

.notifications.center {
	top: 48%;
	left: 0;
	width: 100%;
}

.notifications.center>div {
	margin: 5px auto;
	width: 20%;
	text-align: center;
}

.notifications.shopping-cart {
	z-index: 9999;
}

#shopping-popup-message {
	min-width: 275px;
	max-width: 275px;
	position: fixed;
}

.message-popup {
	background-color: #fffefc;
	border: 1px solid #aaaaaa;
	padding: 15px 15px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#shopping-popup-message h5 {
	background-color: #D4CFC7;
	border-color: #D4CFC7;
	border-width: 1px;
	border-style: solid;
}

/* ==================================== */
/*   FOOTER                             */
/* ==================================== */

.footer {
	clear: both;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px 0 35px 0;
}

.footer-nav {
	padding: 0 10px;
}

footer .container {
	width: 960px;
}

footer ul {
	margin: 0;
	list-style-type: none;
}

footer li {
	display: inline;
	float: left;
}

footer div>* {
	padding: 0px 0 0 0px;
}

footer nav {
	text-align: right;
}

footer p,footer ul {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 0.6875em;
}

footer p {
	text-align: left;
}

footer a {
    color: #6f7072;
    display: block;
    font-size: 12px;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
}

.accordion-heading {
	border: 1px solid #ccc;
}

#footer-upper {
    background: #e8ecf8;
}

#footer-lower {
    clear: both;
    width: 100%;
    background: #fff;
}

#footer-lower p {
    color: #3c5a98;
    font-size: 11px;
    font-style: italic;
    padding: 20px 15px;
}

.footer-column {
    display: inline-block;
    /*============= The asterisk at the start of the line of CSS that you want to apply  only to  IE7. =================*/
    *display: inline;
    vertical-align: middle;
    padding: 14px 20px 14px 0px;
}

#footer-column-right {
    float: right;
    padding: 30px 10px 0px 30px;
    /*============= The asterisk at the start of the line of CSS that you want to apply  only to  IE7. =================*/
    *padding-top: 0px;
}

.footer-image {
	/* the maximum height of images in the footer is slightly less than 
	the total height of the footer, to ensure large images don't break it */
    max-height: 60px;
}

.footer-social-image {
	/* determined by height of footer div, which is determined by line-height
	of all elements inside <body> */
	height: 22px;
}

/* ==================================== */
/*   LOGIN 				                */
/* ==================================== */
.loginLogo {
	margin-left: 10px;
}

.login-row{
	margin-top: 4px;
}

#login-header {
	padding-top: 20px;
	padding-left: 9px;
	border-color: #111111;
}

#clogin-header{
    padding-top:20px;
    padding-left:9px;
}

input.modal-submit {
	margin-left: 5px;
	margin-bottom: 9px;
}

.addToListModal{
	height: 250px;
}
.addToListModalBody{
	overflow-y: visible; 
}

.ui-input-invalid {
	border: 1px solid #D00000 !important;
}

#login_form .loginRow label {
	margin-bottom: 0;
}

#shopNowBtn{
    width: 300px;
    height: 35px;
    margin-left: 25px;
    font-size: 20px;
}

#clearScreenBtn{
    width: 100px
    height: 35px;
    color: Yellow;
}

#directAccessImg
{
    margin-left: 25px;
}

#login_form input[type="text"], #login_form input[type="password"] {
	width: 90%;
	border: 0 none;
	border-radius: 20px;
	padding: 3px 5px;
	color: #777777;
}

textarea,input[type="text"],input[type="password"],input[type="username"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 0px;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	padding: 4px 0 4px 4px;
	border-radius: 0px;
}

input,textarea,.uneditable-input {
	width: auto
}

.loginBtn {
	margin-top: 40px
}

.loginMgn-right {
	margin-top: 30px;
	margin-right: 10px !important;
}

.loginMgn-left {
	margin-top: 30px;
	margin-left: 35px !important;
}


#loginMain{
    background-color: #000000;
    border-style:none;
}

#loginHeader{
    padding-top:20px;
    padding-left:9px;
}

#loginShopNowBtn{
    padding-top: 10px;
    padding-left:10px;
    margin: 10px;
}

#loginHeader #loginHomeRow {
    margin: 0 auto; 
    text-align: center; 
    width: 945px; 
    height: 30px;     
}

#loginHeader #loginHomeRow #homeLbl{
    padding-top:8px; 
    padding-left:5px; 
    float: left;
}	

#customerServiceInfo{    
    padding-top:8px; 
    padding-right:5px; 
    float: right;
}

#loginLogoRow{
    margin: 0 auto; 
    text-align: center; 
    width: 100%; 
    padding-top: 15px;
}

#chsLogo{
    float: left; 
    visibility: hidden;
}

#apdLogo{
     float: right; 
     padding-right:10px;
}

#login_form{
    float: right;
    width: 500px;
    margin: 25px 0 0 0;
}

#login-field{
	/*
    width:450px;
    border: none;
    */
    width: 540px;
    border-bottom: 1px solid #ccc;
    margin-right: 40px;
    margin-left: 30px;
    padding: 30px 0 10px 0;
}

#login-TabName1{
    padding-left:0; 
    font-size:30px;
    margin-bottom: 24px;
    padding-bottom:10px;
    border-bottom: 1px solid #ccc;
}

.loginRow {
	margin-bottom: 10px;
}

.loginRow #login-UsernameLbl{
    /*padding-left: 10px; 
    font-size:25px;*/

    display: inline;
    text-transform: uppercase;
}

.loginRow #login-UsernameFld{
    padding-left: 0;
}

.loginRow #login-PasswordLbl{
    padding-left: 10px; 
    padding-top: 25px; 
    font-size:25px
}

.loginRow #login-PasswordFld{
    padding-left: 0;
}

#loginBtnRow{
    padding-left:10px;
    padding-top:0;
}

#loginBtnRow .btnRed {
	color: #fff;
	float: right;
	margin-right: 50px;
}

#rememberLbl{
    padding-left: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.customerRegFont{
    font-size:15px;
}


.loginRegistered{
    font-family: Arial, Helvetica, sans-serif;
}


#footerLbl{
	font-size:20px; 
	text-align:left; 
	padding-left: 10px; 
	padding-top:10px; 
	color: DarkBlue;
}

#footerTitles, .footerTitles{
   font-size:20px;
   text-align:left;
   padding-left: 0;
   padding-top: 5px;
   color: DarkBlue;
   margin-bottom: 10px;
}

#loginHeader{
    padding-top:20px;
    padding-left:9px;
    padding-bottom: 25px;
}

#loginHeader #loginHomeRow{    
    margin: 0 auto; 
    text-align: center; 
    width: 945px; 
    height: 30px;     
}

#loginHeader #loginHomeRow #homeLbl{
    padding-top:8px; 
    padding-left:5px; 
    float: left;
}	

#customerServiceInfo{    
    padding-top:8px; 
    padding-right:5px; 
    float: right;
}

#loginLogoRow{
    margin: 0 auto; 
    text-align: center; 
    width: 100%; 
    padding-top: 15px;
}

#chsLogo{
    float: left;
}

#apdLogo{
     float: left; 
     padding-right:10px;
}

#login-TabName1{
    padding-left:0; 
    font-size:30px;
    color: #f60011;
    font-family: ;
}

#login-UsernameLbl{
    padding-left: 10px; 
    font-size:25px;
    display: inline;
}

#login-UsernameFld{
    padding-left: 0;
    display: inline;
}

#login-PasswordLbl{
    padding-left: 10px; 
    padding-top: 25px; 
    font-size:25px;
    display: inline;
    text-transform: uppercase;
}

#login-PasswordFld{
    padding-left: 0;
    display: inline;
}

#loginBtnRow{
    padding-left:10px;
    padding-top:0;
}

#submit{
    float:left; 
    font-size:15px; 
    width:150px; 
    height:35px; 
    border:1px solid #C0C0C0;
}

#loginForgot{
    padding-top: 55px;
    font-family: Arial, Helvetica, sans-serif;
}

#customerRegFont{
    font-size:15px;
}

#loginFollowUs{
    float: left; 
    width:180px; 
    height:150px; 
    padding: 0 19px;
    /*border: 1px solid #C0C0C0;*/
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    position: relative;
}

#loginFollowUs a.firstSocialLink { border-left: none; }

#loginFollowUs a.facebook { background-position: 15px 0; }
#loginFollowUs a.linkedin { background-position: -30px 0; }
#loginFollowUs a.youtube { background-position: -75px 0; }
#loginFollowUs a.wordpress { background-position: -120px 0; }



#followUsImages{
    float: left; 
    padding-left:10px; 
    padding-top: 5px;
}

#loginCallUs{
    float: left; 
    width:180px; 
    height:150px;
    padding: 0 19px; 
    border-right: 1px solid #d9d9d9;
    position: relative;
}

#loginCallUs .footerIcon {
	background-position: -28px 0;
}

#loginCallUsInfoPad{
	font-size:15px; 
	text-align:left; 
	padding-left: 0px; 
	padding-top:10px;
}

#loginCallUsInfo{
	font-size:15px; 
	text-align:left; 
	padding-left: 20px;
}

#loginEmailUs{
    float: left; 
    width:180px; 
    height: 150px;
    padding: 0 19px;
    border-right: 1px solid #d9d9d9;
    position: relative;
}

#loginEmailUs .footerIcon {
	background-position: -56px 0;
}

#loginVisitUs{
    float: left; 
    width:180px; 
    height: 150px;
    padding: 0 19px;
    border-right: 1px solid #d9d9d9;
    position: relative;
}

#loginVisitUs .footerIcon {
	background-position: -84px 0;
}

#uMaintenance{
    float:left; 
    font-size:15px;
    margin-left:50px;
    margin-top: 10px;
    width:250px; 
    height:35px; 
    border:1px solid #C0C0C0;
}

#uRegistration{
    float:left; 
    font-size:15px;
    margin-left:50px;
    margin-top: 10px;
    width:250px; 
    height:35px; 
    border:1px solid #C0C0C0;
}

.userMaintenanceBtns{
   float:left; 
   margin-left: 30px; 
   font-size: 15px; 
   border:1px solid #C0C0C0; 
   width:200px; 
   height:50px
}

#loginTableHeader{
   text-align: center;
}

#loginTableRow{
   text-align: left;
   padding-left: 2px;
}

.subDomainLogoWrapper {
	height: 100px;
	width: 200px;
	float: right;
}

.subDomainLogoWrapper > img {
	max-height: 75px;
	max-width: 200px;
	float: right;
}

#login-options-row > a {
	border-left: 1px solid #b8bbca;
	margin-left: 5px;
	padding-left: 7px;
	text-decoration: none;
	font-size: 17px;
}

#login-validation-row {
	height: 1.4em;
}

#rememberChk {
	margin: 0;
}

#loginCarousel {
	width: 960px;
	height: 610px;
	position: relative;
}

#loginCarousel .singleCarouselWrapper {
	position: static;
	display: none;
}

#homePageCarousel .singleCarouselWrapper {
	position: static;
	display: none;
}

.singleCarouselText {
	float: left;
	opacity: 0.9;
	padding: 15px 30px 15px 30px;
	width: 380px;
	position:relative; 
	top:330px;
	left:550px;
	height: 0px;
}

.singleCarouselText > h2 {
	color: #ea3240;
	font-size: 24px;
	font-family: 'OpenSansExtrabold';
	text-shadow: 1px 1px #bf6d78;
	font-weight: normal;
}

.singleCarouselText > p {
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	margin: 15px 0;
}

.singleCarouselLink {
	margin: 40px 0 20px 0;
	float: left;
}

.singleCarouselLink a {
	background: #516580 none repeat scroll 0 0;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'OpenSansBold';
	letter-spacing: 1px;
}

.singleCarouselLink a:hover {
	color: #ea3240;
}

.singleCarouselImage {
	max-width: 960px;
	max-height: 610px;
}

.singleCarouselImageHomePage {
	max-width: 960px;
	max-height: 400px;
}

#loginSubmit{
    float:left; 
    font-size:15px; 
    width:150px; 
    border:1px solid #C0C0C0;
    margin: 0px;
    border-radius: 20px;
    padding: 2px 12px;
}

/* ==================================== */
/*   SHOPPING CART                     */
/* ==================================== */
.shoppingCart-ContainerMain {
	margin-left: 0px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
}

.shoppingCart-Container {
	margin-left: 0px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
}

.row-fluid [class*="span"] {
	margin-left: 0px !important;
}

.borderBottom {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}

.borderBottomPro {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	padding-top: 14px;
	clear: both;
}

.borderBottomPro:last-child {
	border-bottom: none;
	padding-bottom: 15px;
	padding-top: 14px;
}

.productTable [class*="span1"] {
	margin-left: 20px !important;
}

.product-title a {
	color: #10165d;
	font-size: 0.875em;
	line-height: normal;
}

.product-man,.product-sku,.product-units,.product-Exprice
	{
	color: #555555;
	font-size: 12px;
	line-height: normal;
}

.productFeature,.product-Exprice,.product-ExpriceHeader {
	text-align: center;
}

.marginRight {
	margin-left: 0px;
	width: 100%;
	margin-bottom: 20px;
}

.shoppoingCart-Header {
	margin-left: 18px;
}

.shoppoingCart-Header h3 {
	line-height: none;
}

.CartLink,.CartLink a {
	line-height: 40px;
	margin-right: 20px;
	text-align: right;
}

.productBorder {
	border-bottom: 1px solid #cccccc;
}

.productBorder:last-child {
	border-bottom: none;
}

.shoppingCart-Container .table {
	margin-bottom: 0px;
	width: 100%;
}

.shoppingCart-Container table td {
	padding: 20px 0 19px 10px;
}

.subtotalBox {
	border: 1px solid #cccccc;
	background-color: #ededed;
}

.subtotal-Header {
	font-weight: bold;
	font-size: .875em;
	line-height: 30px;
}

.subtotal-Price {
	margin-right: 70px;
	line-height: 30px;
}

.seeMoreHeader {
	width: 99.7%;
	margin-left: 0px;
	background-color: #EDEDED;
	border: 1px solid #CCCCCC;
	margin-top: 20px;
}

.seeMoreContainer {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 100px;
}

.seeMoreContainer .span6 {
	width: 49.99%;
	padding: 20px 0 10px 5px;
}

.seeMoreContainer p {
	margin: 0 0 2px;
}

.seeMoreContainer .padding-right {
	padding-right: 9px;
}

.seeMoreHeader h5 {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.3125em;
	font-weight: normal;
	margin-top: 5px;
}

.marginNone {
	margin-left: 0px;
}

.border-full {
	border: 1px solid #CCCCCC;
}

.shoppingBtns {
	line-height: 60px;
}

.rightSideBtn {
	float: left;
	margin-right: 15px;
}

.rightSideBtn:last-child {
	float: right;
	margin-right: 0px;
	padding-right: 0px !important;
}

#shoppingCart .span12 {
	margin-left: 0;
}

#shoppingCart .borderBottomPro {
	width: 99%;
}

#shoppingCart .similar-ItemsWrapper .fl-wrapper {
	padding-left: 0 !important;
}

.big-red-title-center {
	text-align: center;
}

.big-red-title, .big-red-title-center {
	color: #f6000d;
	font-size: 18px;
	line-height: 24px;
}

/* ==================================== */
/*   PRODUCT SEARCH                     */
/* ==================================== */
.productSearch .span10 {
	margin-left: 0;
	width: 80%;
}

main-Header h3,.main-Header p {
	display: inline-block;
	margin: 0px 0;
}

.main-Header {
	width: 100%;
}

.rightLinkPS .span1 {
	width: 48px;
}

.rightLinkPS {
	margin: 0px;
}

.rightLinkPS .help-inline {
	margin-top: -11px;
}

.marginLeft25 {
	margin-left: 25px;
}

.borderBottomPS {
	border-bottom: 1px solid #ccc;
	line-height: 5px;
	margin-bottom: 15px;
	min-height: 10px !important;
}

.ps-image {
	margin-right: 5px;
}

.btnsPS {
	float: right !important;
}

.psBtn {
	float: right;
}

.search-header {
	background-color: transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.search-header>*,.search-header select {
	margin-bottom: 0;
}

.row-fluid [class*="span"]:first-child {
	margin-left: 0px;
}

.row-fluid [class*="span"] {
	margin-left: 0px;
}

.search-header {
	background-color: #F5F5F5;
	border-radius: 0px;
	line-height: 40px;
	padding-left: 15px;
}

.breadcrumb .dropdown {
	line-height: 40px;
	margin-right: 10px;
}

.product-dd {
	padding-top: 19px;
}

/* ==================================== */
/*   PRODUCT DETAILS		                */
/* ==================================== */
.returnLink {
	padding: 0 0 10px 0;
}

.carousel {
	line-height: 1;
	margin-bottom: 20px;
	position: relative;
	width: 254px;
}

.carousel-inner {
	width: 100%;
	padding: 0;
}

.carousel-inner .item {
	border: 2px solid #ccc;
}

.carousel-inner .item  a {
	margin-left: 38px;
}

.carousel-inner .item  img {
	display: initial !important;
}

.carousel-control {
	background: none;
	border: none;
	border-radius: 23px 23px 23px 23px;
	color: #FFFFFF;
	font-size: 60px;
	font-weight: 100;
	height: 40px;
	left: 15px;
	line-height: 30px;
	margin-top: -20px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 40px;
}

.thumbnail {
	border: none;
	border-radius: 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	display: block;
	line-height: 20px;
	padding: 4px;
	transition: all 0.2s ease-in-out 0s;
}

.pd-tabcontainer {
	margin-top: 30px;
}

.pd-sim-container {
	margin-left: 15px;
	margin-top: 15px;
}

.pd-left {
	float: left;
}

.productContent {
	margin-top: 15px;
}

.product-manufacture {
	font-size: 0.875em;
	font-weight: normal;
}

.product-sku {
    line-height: 20px;
    margin-top: 10px;
    font-size: 12px;
}

.product-price-pd {
	font-size: 1.3125em;
	display: inline;
}

.product-desc {
	min-height: 1px !important;
}

.product-desc p {
	font-size: 12px;
	line-height: 17px;
}

/*============= The asterisk at the start of the line of CSS that you want to apply  only to  IE7. =================*/
ul.descBullet li {
	*margin-left: 1em;
	color: #f60011;
}

ul.descBullet li p {
	color: #555555;
	margin: 0 0 .8px;
}
}

hr {
	margin: 5px 0;
}

.listInput input,textarea,.uneditable-input {
	width: 94%;
}

.addtoList {
	padding-top: 10px;
}

.substitutions p {
	font-size: 0.875em;
}

.substitutions p a {
	font-size: 1em;
	color: #10165d;
}
/*
 * Font Size Conversions PX to EM
 * 10px = 0.6875em
 * 11px = 0.75em
 * 12px = 0.875em
 * 14px = 1em
 * 16px = 1.125em
 * 18px = 1.3125
 */
.pd-tabs .nav-tabs>li>a {
	border: 1px solid #ccc;
	border-bottom-color: transparent;
	border-radius: 0;
	line-height: 20px;
	padding: 0px;
	list-style: none;
    float: left;
    position: relative;
    top: 0;
    padding: 0;
    white-space: nowrap;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin: 0;
}

.divInside-Fade h5 {
	margin: 5px 0 0 10px;
}

#productDetailTabs>li,#relatedItemTabs>li,.divInside-Fade {
	border-radius: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #e6e6e6;
	border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin: 1px .2em 0 0;
}

#productDetailTabs>.active,#relatedItemTabs>.active {
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #FFF;
}

#productDetailTabs,#relatedItemTabs {
	list-style: none outside none;
	margin-bottom: -1px;
	margin-left: 10px;
	border: 1px solid #aaaaaa;
	border-bottom-width: 0px;
    background: #cccccc;
    color: #222222;
    font-weight: bold;
    float: left;
    overflow-y: overlay;
    height: 43px;
}

#productDetailTabs h5 {
	font-size: 14px;
	margin: 10px 5px !important;
	color: #212121;
}

.tab-content {
	border: 1px solid #ccc;
	margin-left: 10px;
	padding: 10px 0 0 0;
	width: 98% !important;
	/*============= The asterisk at the start of the line of CSS that you want to apply  only to  IE7. =================*/
	*width: 100% !important;
}

.productDetails p {
	line-height: 16px;
	margin: 10px;
	font-size: 12px;
}

p.bold {
    font-weight: bold;
}

.whiteBkgrd-pd {
	background-color: #fff;
	line-height: 30px;
}

.grayBkgrd-pd {
	background-color: #f2f2f2;
	line-height: 30px;
}

.headerBkgrd-pd {
	background-color: #e5e5e5;
	line-height: 30px;
}

.productDetails h4 {
	font-size: 1em;
	font-weight: normal;
	margin: 0px 0;
}

.pd-productContainer {
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
}

.addToList {
    border-bottom: 1px solid #c9cfd8;
    color: #445a7a;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
}

.addToListWrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.detailsAddToList:hover{
    border-bottom:1px solid #fff;
    text-decoration: none;
}

#pd-main-image-wrapper {
	margin-left: 10px !important;
}

.pd-add-to-cart-info {
	padding-bottom: 10px;
	clear: both;
}

/* ==================================== */
/*   ORDER PAGES 				                */
/* ==================================== */
.orderLink {
	padding-left: 5px;
}

.orderHeader h3,.orderHeader p,.orderBtnRight p,.orderHeader span {
	display: inline-block;
}

.orderHeader p a,.orderBtnRight p a {
	color: #10165d;
}

.orderHeader p a:hover,a:focus,.orderBtnRight p a:hover {
	text-decoriation: underline;
}

.filterContainer {
	border-bottom: 1px solid #cccccc;
}

.filterContainer p {
	line-height: 32px;
}

.filterContainer .checkbox input[type="checkbox"] {
	float: left;
	margin-right: 0;
}

.filterChevron {
	margin-top: 10px;
	margin-bottom: 10px;
}

.filterCategoryName {
	color: black;
}

.filterCategoryName:hover {
	color: black;
	text-decoration: none;
}

.productContainer {
	padding-right: 0px;
}

.productContainer .span2 {
	width: 14.5299%;
}

.divBorder {
	background-color: #eee;
	border: 1px solid #888;
	border-radius: 3px;
}

.billingContainer {
	height: 200px;
}

.shippingContainer {
	height: 200px;
}

.orderContainer {
	height: 200px;
}

.actions .qty-label {
	width: 30px;
}

.actions .qty input {
	width: 25px;
	margin: 2px 5px 2px 0px;
}

.actions>a {
	margin: 20px 0 0 4px;
	color: #FFF;
}

.actions .qty {
	width: 65px;
}

.actions>* {
	float: left;
}

.actions .qty>* {
	float: left;
}

/*
.product-info {
        width:65%;
        float:left;
        padding-left:10px;
}
*/
.price-per-unit {
	float: left;
	padding-bottom: 15px;
}


.units {
	width: 10%;
	float: left;
}

.row-fluid.item {
	border-bottom: 1px solid #CCC;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
}

.row-fluid.item img {
	display: block;
	margin: auto;
}

.row-fluid .header a {
	font-size: 16px;
	font-weight: bold;
}

.productContainer .span10 {
        width: 76%;        
}

.productContainer .span6 {
	width: 60.624%;
}

.product-info .compare>* {
	float: left;
}

.compare {
	padding: 0 0 0 0;
}

.compare input {
	margin: 4px 5px 0 0;
}

.compare label {
	font-weight: bold;
}

.span2 .qty textarea,.span2 #qtyBox {
	width: 32px;
}

.qtyBox {
	width: 32px;
}

.qtyBtn {
	height: 12px;
	width: 11px;
	margin-bottom: 2px;
}

.btnAddtoCart {
	margin-top: 25px;
}

.fl-wrapper {
	padding: 0 20px 0 20px !important;
}

.fl-container {
	border: 1px solid #ccc;
}

.fl-container h4 {
	font-size: 1em;
	display: inline;
}

.fl-container p,.fl-container h4 {
	color: #555555;
	padding: 0 5px 0 10px;
	line-height: 28px;
	margin: 0px;
	font-weight: normal;
}

.removeList p {
	font-size: 0.7em;
	float: right;
}

.actionContainer {
	padding-left: 10px;
}

.input-append .add-on,.input-prepend .add-on {
	background-color: transparent;
	border: none;
}

.input-prepend.input-append input,.input-prepend.input-append select,.input-prepend.input-append .uneditable-input
	{
	border-radius: 0 0 0 0;
	margin-bottom: 10px;
}

.accordion {
	margin-bottom: 10px;
}

.accordion-inner {
	border-top: none;
	padding: 9px 15px;
}

.accordion-group {
	border-top: none;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	margin-bottom: 10px;
}

.accordion-heading {
	border: none;
	border-left: none;
	border-right: none;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.accordion-heading .accordion-toggle {
	display: block;
	padding: 6px;
}

.accordion-heading h5 {
	font-size: 1.3125em;
	font-weight: normal;
}

.fl-wrapper input[class*="span"],.fl-wrapper select[class*="span"],.fl-wrapper textarea[class*="span"],.fl-wrapper .uneditable-input[class*="span"]
	{
	float: left;
}

.fl-wrapper label {
	line-height: 30px;
}

.totalPrice {
	font-weight: bold;
	font-size: 1em;
}

.orderBox {
	border: 1px solid #ccc;
	background-color: #ededed;
	padding: 5px;
	margin-bottom: 15px;
}

.orderDetails p {
	font-size: .75em;
	line-height: normal;
	margin: 5px 0 5px 0;
}

.orderDetails p a {
	color: #101a58;
	line-height: normal;
	margin: 5px 0 5px 0;
	font-size: 1em;
}

.text-to {
	text-align: left;
}

.fl-wrapper {
	margin-left: 0px !important;
}

.pContainer {
	margin: 0 0 20px 60px;
	padding: 5px 0 20px 0;
}

.pImg-Container {
	margin: 0 10px 0 0;
	width: 10%;
	float: left;
}

.pDesc-Container {
	margin: 0 10px 0 0;
}

.pFeature-Container {
	margin: 0 10px 0 0;
	width: 60px;
}

.pQuantity-Container {
	margin: 0 10px 0 0;
	width: 130px;
}

.pUnits-Container {
	margin: 0 10px 0 0;
	width: 60px;
}

.pPriceUnit-Container {
	margin: 0 10px 0 0;
	width: 60px;
}

.pPriceExtend-Container {
	margin: 0 10px 0 0;
	width: 105px;
}

.pRemove-Container {
	margin: 0 10px 0 0;
	width: 60px;
	text-align: center;
}

.similar-ItemsWrapper {
	margin: 0 30px 0 10px;
	width: 99%;
}

.row-fluid .similar-ItemsContainer {
	border: 1px solid #cccccc;
	padding: 10px 5px 10px 5px;
	width: 50% !important;
}

.similar-ItemsWrapper .sQuantityContainer {
	margin: 0 0 0 0;
	width: 95px !important;
}

.similar-ItemsWrapper .fl-wrapper {
	padding-left: 30px !important;
}

.divInside-Fade h5,.divInside-Fade p {
	display: inline-block
}

.marginBottom {
	margin-bottom: 30px;
}

.sortByLabel {
	margin-top: -11px;
	margin-right: 5px;
	font-size: 14px;
}

.error-text {
	color: #f6000d;
}

.dateselection-no-month tr[id] {
	display: none;
}

/*Twitter TypeAhead Styling Begin*/
.twitter-typeahead .tt-query,.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}

.tt-dropdown-menu {
	min-width: 180px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.tt-suggestion {
	display: block;
	padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0077b3) );
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',
		endColorstr='#ff0077b3', GradientType=0 )
}

.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}

.tt-suggestion p {
	margin: 0;
}

.addtoListInput.typeahead {
	margin-top: 0px;
}
/*Twitter TypeAhead Styling End*/

/*Express Order Table*/
#expressOrdertable {
	border: 1px solid #dddddd;
}

.crop153by153 {
	width: 153px;
	height: 153px;
	overflow: hidden;
}

.productListImage {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

.homePageImage {
	width: 123px;
	height: 123px;
	overflow: hidden;
}

.crop250by250 {
	width: 250px;
	height: 250px;
	overflow: hidden;
}

.crop60by60 {
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.crop400by600 {
	width: 400px;
	height: 600px;
	overflow: hidden;
}

.crop75by75 {
	width: 75px;
	height: 75px;
	overflow: hidden;
}

.productIconImage {
	width: 20px;
	height: 20px;
	overflow: hidden;
}

.checkout-dropdown {
	width: 100%;
}

/*User Requests*/
form#userRequest label {
	width: 370px;
	font-size: 17px;
	padding-left: 10px;
}

form#userRequest select {
	width: 180px;
}

form#userRequest div.submit {
	height: 60px;
	padding-top: 20px;
}

form#userRequest .select-action label {
	width: auto;
	padding-right: 5px;
	padding-left: 5px;
}

form#userRequest label.inline-input {
	width: 25px;
	padding-left: 7px;
	padding-right: 2px;
}

.subDomainMessageBlock {
	margin-top: 100px;
}

.errorLink {
	font-size: 1.5em;
	text-decoration: underline;
	color: #0000ff;
}

a:hover .errorLink {
	color: #1122cc;
}

#idletimeout {
	background: #CC5100;
	border: 3px solid #FF6500;
	color: #fff;
	font-family: arial, sans-serif;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	position: relative;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 100000;
	display: none;
}

#idletimeout a {
	color: #fff;
	font-weight: bold
}

#idletimeout span {
	font-weight: bold
}

#iframe_container {
	padding-top: 15px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#iframe_top_div {
	padding-top: 15px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 20%;
	text-align: center;
}

#iframe_bottom_div {
	position: absolute;
	top: 20%;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
}

#punchoutIframe {
	width: 100%;
	height: 100%;
}

.rf-cal-extr {
	background-color: white;
}

.info-header {
        text-align: center;
}

.info-buttons {
        margin:10px;
}

#topBanner {
	width: 100%;
	height: 90px;
}

#shoppingBanner {
	width: 100%;
	height: 90px;
}

.topLevelOptionSelect {
	font-weight: bold !important;
}

#manufacturerList li{ display:none;
}

#categoryList li{ display:none;
}
#globalTypeList li{display:none;
}

.attributeList li{
	display:none;
}

.registrationPassword{
	width: auto !important;
}

.featuredProductsTitle{
    background: #e6e6e6;
    color: #274165;
    font-family: 'OpenSansSemibold';
    border: 1px solid #cccccc;
    font-size: 14px;
    line-height: 30px;
    padding-left: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.foundItemsTitle {
	color: rgb(246, 0, 13);
	font-size: 20px;
	font-family: 'OpenSansLight', sans-serif;
	font-weight: bold;
}

.featuredProducts{
	border: 1px solid #CCCCCC;
}

.featuredProduct{
	margin: 5px 5px 10px 5px;
}

.featuredProduct .smallBtnDisabled{
	margin:0 0 0 0;
}

.featuredProductPrice{
	font-size: 14px;
    display: block;
    line-height: 45px;
    font-family: 'OpenSansRegular';
    text-transform: uppercase;
    clear: both;
	color: #f6000d;
}

.featuredProductAddToCart{
	margin-top: 5px;
}

.featuredProductsPanel{
	color: #10165D;
	width: 221px;
	float: right;
}

.featuredProductImage {
	max-width: 200px;
	max-height: 115px;
	overflow: hidden;
}

.featuredProductImageWrapper {
	width: 200px;
	height: 115px;
}

.nav-banner-message {
	margin: 0;
	line-height: 100%;
	padding: 8px 0 0 30px;
}

.shoppingMainLogo {
	max-height: 76px;
	max-width: 201px;
}

#bannerMessageContainer {
	height: 35px;
	padding-right: 5px;
}

.product-wrapper {
	margin-top: 10px;
}

.headerNoMargin {
	margin: 0;
}

#topNavOptionsWrapper {
	display: inline-block;
	float: right;
}

.productCompareThumbnailWrapper {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin-left: 4px;
	border: 1px solid #ccc;
	float:left;
}

.productCompareThumbnail {
	max-height: 40px;
	max-width: 40px;	
}

.searchMessage {
	font-weight: bold;
	font-size: 1em;
}

/* ==================================== */
/*   CREDENTIAL SELECTION			                   			*/
/* ==================================== */

.credentialSelectionMessage {
    color: #e11919;
    font-size: 24px;
    margin: 40px 0px 50px 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.credentialSelectionDropdown {
    padding: 5px;
    width: 450px;
}

.credential-tiles-tile:first-child {
    padding-left: 0px;
}

#credentialSelectForm {
	margin: 0 0 20px 10px;
}

/*wrapper starts*/
#wrapper{
	width:1000px;
	padding:0 20px;
	}
.clear{
	clear:both;
	}
	
/*header starts*/
#header{
	background:#e8ecf8;
	width:960px;
	}
	
#hdr-upr{
	padding:30px 5px 5px 5px;
	}

#logo{
	float:left;
	padding-left:10px;
	}	
#hdr-img{
	float:right;
	padding-right:10px;
	}
#hdr-left-text {
	width:260px;
	float:left;
	}	
#hdr-left-text h1 {
  color: #ea3441;
  font-family: "BebasNeue";
  font-size: 30px;
  font-weight: normal;
  padding: 10px 0 0 15px;
  text-transform: uppercase;
}
#hdr-form{
	width:460px;
	float:right;
	padding-top:5px;
	}
.field {
  float: left;
  width: 175px;
}
.field-enter {
  border: 0 none;
  border-radius: 20px;
  margin: 10px 0;
  padding: 3px 20px;
  color: #b9bbcb;
  width:120px;
  font-size:11px;
  letter-spacing:1px;
}

.login-btn {
  font-family: 'OpenSansSemibold';
  background: #eb3240 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 10px;
  padding: 2px 24px;
  text-transform: uppercase;
  cursor:pointer;
}
.login-btn:hover{
	color:#000;
	}
	
#hdr-blw {
  padding-bottom: 15px;
}
#hdr-blw-left{
	float:right;
	width:240px;
	color:#b8bbca;
	font-size:13px;
	line-height:30px;
	}

#hdr-blw-left a{
	color:#b8bbca;
	font-size:13px;
	line-height:30px;
	border-left:1px solid #b8bbca;
	margin-left:5px;
	padding-left:7px;
	text-decoration:none;
	}
#hdr-blw-left a:hover{
	color:#ea3240;
	}

#hdr-blw-right{
	float:right;
	width:215px;
	}
.rh-btn {
  border-radius: 20px;
  color: #274164;
  font-size: 13px;
  line-height: 30px;
  margin-left: 20px;
  text-decoration: none;
}
.rh-btn:hover{
	color:#ea3240;
	}
#hdr-search{
	width:200px;
	padding:15px 0 0 0;
	float:left;
	}
.search-input {
  background: #fff url(/shopping/resources/img/search.png) no-repeat 185px center;
  border-radius:20px;
  border: medium none;
  padding: 4px 20px;
  width:180px;
  color: #b8bbcc;
  float:left;
}

/*header ends*/
	

/*inner pages header starts*/

#ip-hdr {
  background:#e8ecf8;
  padding: 0px 0 10px 0;
}

#ip-hdr-right {
  float: left;
  width: 720px;
  padding-left:20px;
}

/*============= The asterisk at the start of the line of CSS that you want to apply  only to  IE7. =================*/
#hdr-nav > span > ul, #hdr-nav > span > ul > li > ul {
	background:#e8ecf8;
	list-style:none;
	*z-index:200;
	}
#hdr-nav > span > ul > li, #hdr-nav > span > ul > li > ul > li {
	display:inline;	
	}
#hdr-nav > span > ul > li > a, #hdr-nav > span > ul > li > ul > li > a {
  background:#e8ecf8;
  color: #274166;
  display: block;
  font-family: 'OpenSansRegular';
  font-size: 12px;
  line-height:30px;
  padding: 0 11px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
#hdr-nav > span > ul > li:last-child, #hdr-nav > span > ul > li > ul > li:last-child {
	padding-right:0;
}
#hdr-nav > span > ul > li > a:hover, #hdr-nav > span > ul > li > ul > li > a:hover {
	color:#ea3240;
	}

#ip-hdr-search{
	padding:15px 0 0 10px;
	float:left;
}
#ip-hdr-search .search-input {
  background: #fff url("/shopping/resources/img/search.png") no-repeat scroll 345px center;
  border: medium none;
  border-radius: 20px;
  color: #b8bbcc;
  float: left;
  padding: 4px 20px;
  width: 350px;
}
.logout-btn {
  border-radius: 20px;
  color: #274164;
  font-size: 12px;
  line-height: 25px;
  margin-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.logout-btn:hover{
	color:#ea3240;
	}
.ip-content {
  background: #fff;
  min-height: 500px;
  padding:40px 10px;
}
/*inner pages header ends*/

.credential-tiles-tile {
    float: left;
    padding: 0 18px 50px 20px;
    width: 155px;
    text-align: center;
}

.credential-tiles-tile a {
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    color: #274165;
    text-decoration: none;
}

.credential-tiles-tile img {
    max-height: 58px;
    opacity: 1;
    max-width: 155px;
}

/* ==================================== */
/*   INK & TONER SEARCH			                   			*/
/* ==================================== */

.inkTonerSearchHeader h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.ink-toner-menu {
    padding: 5px;
    width: 400px;
}

.ink-toner-search-field-header {
    font-size: 16px;
    line-height: 40px;
    margin: 25px 0px 0px 0px;
}

.ink-toner-search-field-wrapper {
	margin-right: 15px;
}

.ink-toner-search-field-wrapper .twitter-typeahead {
	width: 100%;
}

.btn-ink-toner-search {
	margin-top: 65px;
}

.unselected-dropdown {
	color: #999999;
}

.unselected-dropdown > option {
	color: #555555;
}

.addToCartFooter {
	float: right;
	clear: both;
	/*============= The asterisk at the start of the line of CSS that you want to apply  only to  IE7. =================*/
	*width: 120px;
}

.addToCartButtonWrapper {
    clear: both;
    float: right;
}

.addToCartFullContainer {
	width: 200px;
}

.compareAddAllButtonDiv {
	height: 47px;
}

.clearBoth {
	clear: both;
}

#ip-banner {
    /* the following negative margin is to ensure 
    	that the marketing image is flush with the
    	top nav bar */
    margin-top: -20px;
}

.apdMarginTop .daily-offer {    
    background: #d00202 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    padding-left: 15px;
    text-transform: uppercase;
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    text-align: center;
}

.apdMarginTop .company-featured-products {    
    background: #274165;
    color: #fff;
    line-height: 30px;
    padding: 0 15px;
    text-align: center;
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    float: left;
    text-transform: uppercase;
    font-size: 14px;
}

.smallBtn br {
  display: none;
}

/*==== used to conditionally render tab buttons for ie7 and modern browsers =====*/
.show-in-modern-browsers {
	display: block !important;
}

/*==== used to conditionally render tab buttons for ie7 and modern browsers =====*/
.show-in-ie7 {
	display: none !important;
}
