/* ==================================== */
/*   FOOTER                             */
/* ==================================== */

.mobileLogin{ display:none;}

/* ==================================== */
/* LAYOUT FIXES 						*/
/* ==================================== */

.apdMarginTop, .apdCenter {
	margin: 0 auto !important;
}

.container {
	width: 99%;
}

.animateDD {
	/*width: auto !important;*/
}

footer .footer-nav li img {
	max-width: auto;
}

.marginLeft25 {
	margin-left: 25px; /* May need to add specificity and/or !important */
}
