<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/layout/administrationTemplate.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{accountPropertyTypeBean.id}"/>
        <f:event type="preRenderView" listener="#{accountPropertyTypeBean.retrieve}"/>
    </f:metadata>

    <ui:param name="pageTitle" value="Update Account Property Type" />

    <ui:define name="header">
        Account Property Type
    </ui:define>

    <ui:define name="subheader" />

    <ui:define name="footer" />

    <ui:define name="main">
        <h:form id="accountPropertyTypeEditForm">
            <h:panelGroup id="accountPropertyTypeEdit_area" layout="block">
                <div>
                    <ui:include src="/admin/accountPropertyType/accountPropertyTypeSearch.xhtml" />
                </div>
                <div>
                    <ui:include src="/admin/accountPropertyType/accountPropertyTypeDetails.xhtml" />
                </div>
            </h:panelGroup>
            <div>
                <ui:include src="/WEB-INF/layout/edit.xhtml">
                    <ui:param name="bean" value="#{accountPropertyTypeBean}" />
                    <ui:param name="saveMethod" value="update" />
                    <ui:param name="deleteMethod" value="delete" />
                </ui:include>
            </div>
        </h:form>
    </ui:define>

</ui:composition>