<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{serviceLogBean.retrieve}" />
	</f:metadata>

	<ui:define name="main">
        <div id ="serviceLogInfoBlock">
            <h:form id="work">
                <div id ="searchBlock">
                    <h:outputLabel value="Ticket Number" />
					<h:inputText value="#{serviceLogBean.ticketNumber}" />
                    <h:outputLabel value="Contact Name" />
					<h:inputText value="#{serviceLogBean.contactName}" />
                    <h:outputLabel value="Contact Number" />
					<h:inputText value="#{serviceLogBean.contactNumber}" />
                    <h:outputLabel value="Contact Email" />
					<h:inputText value="#{serviceLogBean.contactEmail}" />
                    <h:outputLabel value="Department" />
					<h:inputText value="#{serviceLogBean.department}" />
					<h:panelGroup id="serviceLogAccountSearch">
	                    <h:outputLabel value="Account" />
						<h:outputText value="#{serviceLogBean.accountName}" />
						<a4j:commandLink value="Select Account" styleClass="btn" 
							render=":serviceLogAccountSearch serviceLogAccountModal"
							action="#{serviceLogBean.getAccountName()}"
							oncomplete="showPopup('serviceLogAccountModal');" />
						<a4j:commandLink value="Clear Account" styleClass="btn" immediate="true" 
							render=":serviceLogAccountSearch"
							action="#{serviceLogBean.clearAccountName()}" />
					</h:panelGroup>
                    <h:outputLabel value="Customer Service Rep" />
					<h:inputText value="#{serviceLogBean.apdRep}" />
                </div>
                <div id ="serviceLogDetailsBlock">
                	<h:outputLabel value="PO Number" />
                    <h:inputText value="#{serviceLogBean.poNumber}" />
                    
                    <h:outputLabel id="fromDateLabel" class="control-label" for="logStartDate" data-toggle="tooltip"
					title="the date range when the order was placed" value="From: " />
					<rich:calendar id="logStartDate" value="#{serviceLogBean.startDate}" />
					<h:outputLabel class="control-label" for="logEndDate" value="To: " />
					<rich:calendar id="logEndDate" value="#{serviceLogBean.endDate}" />
					
					<h:outputLabel value="Status" />
					<h:selectOneMenu styleClass="span3a"
					value="#{serviceLogBean.serviceLogStatus}"
					id="serviceLogStatusMenu">
					<f:selectItems value="#{serviceLogBean.serviceLogStatusList}" var="status"
                    	itemValue="#{status}" itemLabel="#{status}" />
                    </h:selectOneMenu>
                    
                    <h:outputLabel value="CSV Download " />
                    <h:selectBooleanCheckbox value="#{serviceLogBean.csvDownload}" />
                </div>

                <div class="btn-group" layout="block">
                	<h:commandLink value="Search / Create" action="#{serviceLogBean.search}" styleClass="btn btn-apd" >
                        <i class="icon-ok"></i>
                    </h:commandLink>
                </div>
            </h:form>
            
            
        </div>
	<rich:popupPanel id="serviceLogAccountModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	
	<h:form id="serviceLogAccountModalForm">
		<a4j:region>
		<f:facet name="header">
			<h:outputText value="Account Search" />
  			</f:facet>
  			<f:facet name="controls">
      			<a4j:commandLink value="X" style="cursor:pointer" immediate="true"
      			render="serviceLogAccountModalForm"
				action="#{serviceLogBean.getAccountName()}"
				oncomplete="hidePopup('serviceLogAccountModal');" />
  			</f:facet>

			<apd:search searchBean="#{accountSearchBean}" detailsRegion="serviceLogAccountModalForm" 
				searchRegion="searchServiceLogAccounts" requireSelection="true" />
		
		<div class="btn-group" layout="block">
			<a4j:commandLink value="Set Account" styleClass="btn btn-apd" 
				render=":serviceLogAccountSearch serviceLogAccountModalForm"
				action="#{serviceLogBean.setAccountName(accountSearchBean.clearSelection().name)}"
				oncomplete="hidePopup('serviceLogAccountModal');" />
			<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
				render="serviceLogAccountModalForm"
				action="#{serviceLogBean.getAccountName()}"
				oncomplete="hidePopup('serviceLogAccountModal');" />
		</div>
		
		</a4j:region>
	</h:form>
     		
    </rich:popupPanel>
    </ui:define>

</ui:composition>