<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value="#{desktopBean.id}" />
		<f:event type="preRenderView" listener="#{desktopBean.retrieve}" />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Desktop" />

	<ui:define name="header">
		Desktop
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="desktopAddForm">
			<h:panelGroup id="buttons" layout="block">
				<ui:include src="/WEB-INF/layout/save.xhtml">
					<ui:param name="bean" value="#{desktopBean}" />
					<ui:param name="saveMethod" value="update" />
				</ui:include>
			</h:panelGroup>
			<ui:include src="/admin/desktop/desktopDetails.xhtml" />
		</h:form>
	</ui:define>
</ui:composition>
