<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

		<h:messages globalOnly="true" styleClass="error"/>

		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="searchAutocomplete" value="Search:" />
			<h:panelGroup>
				<rich:autocomplete id="searchAutocomplete" minChars="1" autocompleteMethod="#{orderTypeBean.searchByString}" var="result" fetchValue="#{result.value}" value="#{orderTypeBean.orderType.value}"
					onselectitem="updateVal(#{rich:element('resultId')}.value, #{rich:element('resultValue')}.value, #{rich:element('resultDescription')}.value);" validator="#{orderTypeBean.validateSelection}" >
					<rich:column>
		                <h:outputText value="#{result.value}" id="valueInput" />
		                <h:inputHidden value="#{result.value}" id="resultValue"  />
		                <h:inputHidden value="#{result.id}" id="resultId" />
		                <h:inputHidden value="#{result.description}" id="resultDescription" />
		            </rich:column>
			        <a4j:jsFunction name="updateVal" render="work">
			            <a4j:param name="param1" assignTo="#{orderTypeBean.orderType.id}"  />  
			            <a4j:param name="param2" assignTo="#{orderTypeBean.orderType.value}"  />  
			            <a4j:param name="param3" assignTo="#{orderTypeBean.orderType.description}"  />                  
			        </a4j:jsFunction>
				</rich:autocomplete>
				<rich:message for="searchAutocomplete" styleClass="error"/>
			</h:panelGroup>
			<h:outputText />
		</h:panelGrid>

</ui:composition>