<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">

	<div class="container">
		<h4>Update User</h4>
		<div class="control-group">
			<label class="control-label">Request Type</label>
			<div class="controls">
				<!-- here are the badges to render based on the request type -->
				<span class="label label-info">Update </span>
				<span class="label label-important">Remove</span>
			</div>
		</div>
		<hr />
		<div class="row-fluid">
			<div class="span6">
				<h5>New User Information</h5>
				<ui:include src="new-user.xhtml" />
			</div>
			<div class="span6">
				<h5>Old User Information</h5>
				<ui:include src="new-user.xhtml" />
			</div>
		</div>
		<hr />
		<div class="row-fluid">
			<div class="span6">
				<h5>New Address Information</h5>
				<ui:include src="new-address.xhtml" />
			</div>
			<div class="span6">
				<h5>Old Address Information</h5>
				<ui:include src="new-address.xhtml" />
			</div>
		</div>
	</div>
</ui:composition>