<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	<div class="tab-pane fade in" id="createNewUser">

			<h4>Create New User</h4>
			<div>
			
			</div>

			<div>
				<!-- The buttons will need a c:if if there is render logic.  -->
				<a href="#" class="btn btn-apd" title="create new user with the information"> Create User</a>
				<a href="#" class="btn" title="do not create new user">Do Not Create</a>
				<a href="#" class="btn" title="cancel task">Cancel</a>
			</div>
	</div>
</ui:composition>