<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
	
    <div>
        <h:outputLabel for="itemClassificationTypeBeanitemClassificationTypeName" value="Name:"/>
        <h:panelGroup>
            <h:inputText id="itemClassificationTypeBeanitemClassificationTypeName" value="#{itemClassificationTypeBean.itemClassificationType.name}" 
                         required="true" requiredMessage="#{validation['field.name.required']}"/>
            <rich:message for="itemClassificationTypeBeanitemClassificationTypeName" styleClass="error"/>
               <h:outputLabel for="itemPropertyTypeBeanItemPropertyTypeIconUrl" value="Icon Url:"/>
            <h:inputText id="itemClassificationTypeBeanItemPropertyTypeIconUrl" value="#{itemClassificationTypeBean.itemClassificationType.iconUrl}"/>
            <h:outputLabel for="itemPropertyTypeBeanItemPropertyTypeToolTipLabel" value="Tool Tip Text:"/>
            <h:inputText id="itemClassificationTypeBeanItemPropertyTypeToolTipLabel" value="#{itemClassificationTypeBean.itemClassificationType.toolTipLabel}"/>
        </h:panelGroup>
    </div>
		
</ui:composition>
