<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="notificationModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="notificationModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Add Notification" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('notificationModal')}.hide(); return false;" />
   			</f:facet>
   			
   			<ui:include src="/admin/notificationProperties/notificationEdit.xhtml">
   				<ui:param name="notification" value="#{bean.currentNotification}" />
   				<ui:param name="bean" value="#{bean}" />
				<ui:param name="showOverride" value="#{showOverride}" />
   			</ui:include>
   			
   			<br />
      		
      		<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
					render="#{render}:beanNotifications" 
					action="#{bean.saveNotification()}"
					oncomplete="hidePopup('notificationModal'); return false;" />
				<a4j:commandLink value="Cancel" styleClass="btn btn-primary" 
					onclick="#{rich:component('notificationModal')}.hide(); return false;" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
</ui:composition>