<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:outputLabel for="beanNotifications" value="Notifications:"/>
	<h:panelGroup>
		<a4j:region>
		<rich:extendedDataTable id="beanNotifications" value="#{notifications}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Event:" />
		       </f:facet>
		       <h:outputText value="#{row.eventType.label}" />
		    </rich:column>			
		    <rich:column>
		       <f:facet name="header">
		         <h:outputText value="Addressing:" />
		       </f:facet>
		       <h:outputText value="#{row.addressing.label}" />
		    </rich:column>
		    <rich:column>
		       <f:facet name="header">
		         <h:outputText value="Recipients:" />
		       </f:facet>
		       <h:outputText value="#{row.recipients}" />
		    </rich:column>
		    <rich:column rendered="#{showOverride}">
		       <f:facet name="header">
		         <h:outputText value="Replace Recipients on Credential:" />
		       </f:facet>
		       <h:outputText value="#{row.overrideCredential != null ? row.overrideCredential : 'false'}" />
		    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Action:" />
                        </f:facet>
                        <a4j:commandLink 
                            id="editNotification" 
                            value="Edit"
                            execute="@this"
                            immediate="true"
                            action="#{bean.setCurrentNotification(row)}"
                            render=":notificationModal :notificationModalForm"
                            oncomplete="showPopup('notificationModal');">
                            <a4j:param name="cid"
                                       value="#{javax.enterprise.context.conversation.id}" />
                        </a4j:commandLink>
                        
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Delete:" />
                        </f:facet>
                        <a4j:commandLink value="Remove" action="#{bean.removeNotification(row)}" render="#{render}:beanNotifications" />
                    </rich:column>

		</rich:extendedDataTable>
		</a4j:region>
			
		<a4j:region>
			<a4j:commandLink 
				id="addNotification" 
				value="Add Notification"
				styleClass="btn btn-primary"
				execute="@this"
				immediate="true"
				action="#{bean.createNotification()}"
				render=":notificationModal :notificationModalForm"
				oncomplete="showPopup('notificationModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
		</a4j:region>
		
	</h:panelGroup>
	<h:outputText/>
	
</ui:composition>