<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:composite="http://java.sun.com/jsf/composite">
	
	<h:panelGrid columns="3">
		<h:outputLabel value="Recipients:"/>
		<h:inputText value="#{notification.recipients}" required="true" id="notificationRecipients"
			requiredMessage="#{validation['notification.field.recipients.required']}" />
        <rich:message for="notificationRecipients" styleClass="error" />
		
		<h:outputLabel value="Event Type:"/>
		<h:selectOneMenu id="notificationEventType" value="#{notification.eventType}" required="true"
			requiredMessage="#{validation['notification.field.eventtype.required']}" >
	    	<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
			<f:selectItems value="#{notificationPropertiesBean.eventType}" />
		</h:selectOneMenu>
		<rich:message for="notificationEventType" styleClass="error" />
		
		<h:outputLabel value="Addressing:"/>
		<h:selectOneMenu id="notificationAddressing" value="#{notification.addressing}" required="true"
			requiredMessage="#{validation['notification.field.addressing.required']}" >
	    	<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
			<f:selectItems value="#{notificationPropertiesBean.addressing}" />
		</h:selectOneMenu>
		<rich:message for="notificationAddressing" styleClass="error" />
		
		<c:if test="#{showOverride}">
		
			<h:outputLabel value="Replace Recipients on Credential"/>
			<h:selectBooleanCheckbox value="#{notification.overrideCredential}" />
			<h:outputText value="If selected, the recipients specified will be used instead of the values on the credential. Otherwise, the recipients specified will be notified in addition to the recipients on the credential." />
		</c:if>
	</h:panelGrid>
	
      		
</ui:composition>