<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:a4j="http://richfaces.org/a4j">

<h:head>
	<title>Package Slip</title>
	<h:outputStylesheet library="css" name="print-packing-slip.css" />
</h:head>

<h:body>
	<table id="apdHeader">
		<tbody>
			<tr>
				<td rowspan="2"><h:graphicImage library="img"
						name="apd-logo.jpg" height="50" /> <br />#{shipConfirmationBean.getTenantPropertyByName('csr.address.name')}<br /> 
						#{shipConfirmationBean.getTenantPropertyByName('csr.address.street')} #{shipConfirmationBean.getTenantPropertyByName('csr.address.city')}, 
						#{shipConfirmationBean.getTenantPropertyByName('csr.address.state')} #{shipConfirmationBean.getTenantPropertyByName('tenant.postal.code')}<br /> 
						Phone: #{shipConfirmationBean.getTenantPropertyByName('customer_service_phone_number')}<br />
					Fax: #{shipConfirmationBean.getTenantPropertyByName('fax_number')} <br /></td>
				<td class="label">Packing Slip</td>
			</tr>
			<tr>
				<td>Shipper ID #{shipConfirmationBean.shipperId}<br /> Sales Order No. #{shipConfirmationBean.solomonOrderNumber}<br /> Order Type ED <br />
					Customer ID #{shipConfirmationBean.solomonCustomerId}
				</td>
			</tr>
		</tbody>
	</table>
	

	<table id="address">
		<thead>
			<tr>
				<th>Bill To:</th>
				<th>Ship To:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>#{shipConfirmationBean.order.paymentInformation.billingAddress.name}<br />
					#{shipConfirmationBean.order.paymentInformation.billingAddress.line1}<br />
					#{shipConfirmationBean.order.paymentInformation.billingAddress.line2}<br />
					#{shipConfirmationBean.order.paymentInformation.billingAddress.city},
					#{shipConfirmationBean.order.paymentInformation.billingAddress.state}
					#{shipConfirmationBean.order.paymentInformation.billingAddress.zip}
					#{shipConfirmationBean.order.paymentInformation.billingAddress.country}<br />
				</td>

				<td>#{shipConfirmationBean.order.address.company}<br />
					#{shipConfirmationBean.order.address.name}<br />
					#{shipConfirmationBean.order.address.line1}<br />
					#{shipConfirmationBean.order.address.line2}<br />
					#{shipConfirmationBean.order.address.city},
					#{shipConfirmationBean.order.address.state}
					#{shipConfirmationBean.order.address.zip}
					#{shipConfirmationBean.order.address.country}<br />
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<br />
		<div style="width: 25%; float: right;">
			PAGE 1
		</div>
		<div style="width: 25%; float: right;">
			#{shipConfirmationBean.apdPo}
		</div>
	</div>
	<table class="orderInfo">
		<thead>
			<tr>
				<th>F.O.B Point</th>
				<th>Ship Via</th>
				<th>Ordered By</th>
				<th>Ship to ID</th>
				<th>Customer P.O. No.</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: center">Destination</td>
				<td style="text-align: center">APD Courier</td>
				<td style="text-align: center"></td>
				<td style="text-align: center">#{shipConfirmationBean.order.address.shipToId != null ? shipConfirmationBean.order.address.shipToId : ''}</td>
				<td style="text-align: center">#{shipConfirmationBean.order.customerPo.value}</td>
			</tr>
		</tbody>
	</table>
	<table class="orderInfo">
		<thead>
			<tr>
				<th>Order Date</th>
				<th>Terms</th>
				<th>Sales Person</th>
				<th>Site</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: center">#{shipConfirmationBean.order.orderDate}</td>
				<td style="text-align: center">#{shipConfirmationBean.terms}</td>
				<td style="text-align: center">#{shipConfirmationBean.order.apdSalesPerson != null ? shipConfirmationBean.order.apdSalesPerson : ''}</td>
				<td style="text-align: center">NC001</td>
			</tr>
		</tbody>
	</table>

	<table id="orderItems">
		<thead>
			<tr>
				<th class="small">Line</th>
				<th>Part Number</th>
				<th>Quantity</th>
				<th>Units</th>
				<th>Qty Shipped</th>
			</tr>
		</thead>
		<tbody>
			<a4j:repeat iterationStatusVar="status" rowKeyVar="index"
				var="searchResult" value="#{shipConfirmationBean.searchResults}">
				<tr>
					<td style="vertical-align: top">#{searchResult.lineItem.lineNumber}</td>
					<td>
						#{searchResult.lineItem.supplierPartId}
						<br />
						#{searchResult.lineItem.shortName != null ? searchResult.lineItem.shortName : searchResult.lineItem.description}
					</td>
					<td style="text-align: center">#{searchResult.lineItem.quantity}</td>
					<td style="text-align: center">#{searchResult.lineItem.unitOfMeasure.name}</td>
					<td style="text-align: center">#{searchResult.qtyToPick}</td>
				</tr>
			</a4j:repeat>
		</tbody>
	</table>
	
	
	<div class="row-fluid">
		<span style="float: right">Total Weight: #{shipConfirmationBean.totalWeight}</span><br />
	</div>
	<div style="text-align: center">
		<h6>CHECK YOUR ORDER IMMEDIATELY</h6>
		APD gladly accepts returns for credits or exchanges within 15 days of original order 
		date with a valid RA number for items deemed to be resalable. Items returned may be 
		subject to a 15% restocking fee. Custom ordered items, manufacturer direct items, and 
		custom imprinted items made to your specific requirements cannot be returned. 
		<br />
		To request a RA number, please call 1-877-769-0752. 
		<br />
		"Thank you for your business"
	</div>
</h:body>
</html>