<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<ui:define name="main">
		<div>Order Lookup</div>
		<h:form>
			<div>
				<h:outputLabel value="#{propertiesBean.get('tenant','code')} PO#:" />
				<h:inputText value="#{shipLabelBean.apdPo}" />
			</div>
			<div class="btn-group" layout="block">
				<h:commandLink value="Shipping Label" styleClass="btn btn-apd" 
					action="#{shipLabelBean.printShippingLabel()}" target="_new" />
			</div>
		</h:form>
	</ui:define>
</ui:composition>