<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">

    <h:panelGroup layout="block">
	
		<c:if test="#{propertiesBean.get('project.state', 'isPreRelease', 'false') eq 'true'}">
			<h:outputLabel for="accountBeanAccountId" value="System ID:"/>
			<h:outputText id="accountBeanAccountId" value="#{accountBean.account.id}"/>
			<h:outputText/>
		</c:if>

        <h:panelGroup id="accountBeanNameBlock" layout="block">
            <h:outputLabel for="accountBeanAccountName" value="Name:" />
            <h:inputText id="accountBeanAccountName"
                         value="#{accountBean.account.name}" required="true"
                         requiredMessage="#{validation['account.field.name.required']}" />
            <rich:message for="accountBeanAccountName" styleClass="error" />
        </h:panelGroup>
        <hr/>
        <h:panelGroup id="accountBeanApdAssignedAccountIdBlock" layout="block">
            <h:outputLabel for="accountBeanApdAssignedAccountId" value="APD Designated Vendor Id:" />
            <h:inputText id="accountBeanApdAssignedAccountId"
                         value="#{accountBean.account.apdAssignedAccountId}" required="false" />
            <rich:message for="accountBeanApdAssignedAccountId" styleClass="error" />
        </h:panelGroup>
        <h:panelGroup id="accountBeanLocationCodeBlock" layout="block">
            <h:outputLabel for="accountBeanLocationCode" value="Location Code:" />
            <h:inputText id="accountBeanLocationCode"
                         value="#{accountBean.account.locationCode}" required="false" />
            <rich:message for="accountBeanLocationCode" styleClass="error" />
        </h:panelGroup>
        <h:panelGroup layout="block">
            <h:outputLabel for="accountBeanShowGlobalBulletin" value="Show Global Bulletin:" />
            <h:selectBooleanCheckbox id="accountBeanShowGlobalBulletin" value="#{accountBean.account.showGlobalBulletin}" />
            <rich:message for="accountBeanShowGlobalBulletin" styleClass="error" />
        </h:panelGroup> 
        <hr/>
        <h:panelGroup layout="block">
            <h:outputLabel for="accountBeanUseLocationCode" value="Use Location Code:" />
            <h:selectBooleanCheckbox id="accountBeanUseLocationCode" value="#{accountBean.account.useLocationCode}" />
            <rich:message for="accountBeanUseLocationCode" styleClass="error" />
        </h:panelGroup> 
        <hr/>
        <h:panelGroup layout="block">
            <h:outputLabel for="accountBeanAccountIsActive" value="Is Active:" />
            <h:selectBooleanCheckbox id="accountBeanAccountIsActive" value="#{accountBean.account.isActive}" />
            <rich:message for="accountBeanAccountIsActive" styleClass="error" />
        </h:panelGroup>        
        <hr/>
        <h:panelGroup layout="block" rendered="#{!accountBean.addingRootAccount}">
            <h:outputLabel value="Parent/Child Account Relationship" />
            <apd:accountParentChildSection id="accountParentChildSection" actionBean="#{accountBean}" accountCollection="#{accountBean.children}" />
        </h:panelGroup>
        <hr/>
        <h:panelGroup id="cxmlConfigurationSelectionBlock" layout="block">            
            <a4j:region id="cxmlConfigurationRegion">
                    <div class="form-group">
                        <label for="cxmlConfigurationName">Cxml Configuration Name:</label>
                        <input type="text" class="form-control" id="cxmlConfigurationName" placeholder="#{accountBean.account.cxmlConfiguration != null ? accountBean.account.cxmlConfiguration.name : 'None Selected'}" disabled="true"/>
                        <rich:message for="cxmlConfigurationName" styleClass="error"/>
                    </div>            
                    <h:commandLink value="Select CxmlConfiguration" styleClass="btn btn-primary">
                        <rich:componentControl target="cxmlConfigurationModal" operation="show" />
                    </h:commandLink>         
            </a4j:region>            
        </h:panelGroup>
        <hr/>
        <a4j:commandButton
        	value="View/Edit Primary Contact" styleClass="btn btn-primary noTransition" immediate="true" 
					render="personModal"
					action="#{personBean.setupPerson(accountBean.account.primaryContact)}"
					oncomplete="showPopup('personModal');" 
        />
        <hr />
        <h:panelGroup layout="block">
            <h:outputLabel value="Phone Numbers" />
            <apd:phoneNumberSection id="phoneNumberSection" actionBean="#{accountBean}" phoneCollection="#{accountBean.account.numbers}" />
        </h:panelGroup>
        <hr/>
        <h:panelGroup layout="block">
            <h:outputLabel value="Addresses" />
            <apd:addressPaginationSection id="addressSection"  actionBean="#{accountBean}" render="work"/>
            <apd:addressSearchWithEdit id="addressListEdit" searchBean="#{addressSearchBean}"  actionBean="#{accountBean}" render="work" searchRegion="searchingAddress" />    
        </h:panelGroup>
        <hr/>
        <h:panelGroup layout="block">
            <ui:include src="accountBulletins.xhtml" />
        </h:panelGroup>
        <hr/>
        <h:panelGroup layout="block">
            <ui:include src="accountPoNumbers.xhtml" />
        </h:panelGroup>
        <hr/>
        <h:panelGroup layout="block">
            <ui:include src="accountProperties.xhtml" />
        </h:panelGroup>
        <hr/>
        <h:panelGroup layout="block">
            <ui:include src="accountCredentials.xhtml" rendered="#{accountBean.account.rootAccount == null}">
                <ui:param name="render" value="work" />
            </ui:include>
        </h:panelGroup>
        <hr/>
        <h:panelGroup layout="block">
            <ui:include src="accountGroups.xhtml">
                <ui:param name="render" value="work" />
            </ui:include>
        </h:panelGroup>
        <hr/>
        <h:panelGroup layout="block">
            <ui:include src="accountIpWhitelist.xhtml" />
        </h:panelGroup>
        <hr/>
        <h:panelGroup layout="block">
            <ui:include src="accountPaymentInfo.xhtml" />
        </h:panelGroup>
        <hr/>
        <h:panelGroup id="accountNotificationsBlock" layout="block">
            <ui:include src="/admin/notificationProperties/notificationRelation.xhtml" >
                <ui:param name="bean" value="#{accountBean}" />
                <ui:param name="notifications" value="#{forgeview:asList(accountBean.account.notificationProperties)}" />
				<ui:param name="showOverride" value="#{true}" />
            </ui:include>
        </h:panelGroup>
        <hr />

        <h:panelGroup id="accountBeanCsrPhone" layout="block">
            <h:outputLabel for="accountBeanAccountCsrPhone" value="Customer Service Contact Phone:" />
            <h:inputText id="accountBeanAccountCsrPhone"
                         value="#{accountBean.account.csrPhone}"  />
            <rich:message for="accountBeanAccountCsrPhone" styleClass="error" />
        </h:panelGroup>

        <h:panelGroup id="accountBeanCsrEmail" layout="block">
            <h:outputLabel for="accountBeanAccountCsrEmail" value="Customer Service Contact Email:" />
            <h:inputText id="accountBeanAccountCsrEmail"
                         value="#{accountBean.account.csrEmail}"  />
            <rich:message for="accountBeanAccountCsrEmail" styleClass="error" />
        </h:panelGroup>
        <hr/>
        
        
        <h:panelGroup id="accountBeanSolomon" layout="block">
            <h:outputLabel for="accountBeanSolomon" value="Solomon Customer Id:" />
            <h:inputText id="accountBeanAccountSolomon"
                         value="#{accountBean.account.solomonCustomerId}" 
				required="true" requiredMessage="This field is required" />
            <rich:message for="accountBeanAccountSolomon" styleClass="error" />
        </h:panelGroup>
        <hr/>

        <h:panelGroup id="accountBeanCustomerIcons" layout="block">
            <h:outputLabel for="accountBeanAccountCustomerIcons" value="Customer-Specific Icons:" />
            <rich:dataTable id="accountBeanAccountCustomerIcons" value="#{forgeview:asList(accountBean.account.iconUrls)}" var="iconUrl">
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Property Type" />
					</f:facet>
					<h:outputText value="#{iconUrl.propertyType != null ? iconUrl.propertyType.name : ''}" />
				</rich:column>
	            <rich:column>
					<f:facet name="header">
						<h:outputText value="Classification Type" />
					</f:facet>
					<h:outputText value="#{iconUrl.classificationType != null ? iconUrl.classificationType.name : ''}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Override Icon URL" />
					</f:facet>
					<h:outputText value="#{iconUrl.overrideIconUrl}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Edit" />
					</f:facet>
                    <a4j:commandLink 
                        id="editIcon" 
                        value="Edit"
                        execute="@this"
                        immediate="true"
                        action="#{accountBean.setCurrentIcon(iconUrl)}"
                        render=":accountIconsModal :accountIconsModalForm"
                        oncomplete="showPopup('accountIconsModal');" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Delete" />
					</f:facet>
					<a4j:commandLink 
						id="deleteIcon"
						value="Delete" 
						execute="@this"
						immediate="true"
						action="#{accountBean.removeIcon(iconUrl)}" 
						render="work:accountBeanCustomerIcons" />
				</rich:column>
            </rich:dataTable>
			<a4j:commandLink 
				id="addIcon" 
				value="Add Icon URL"
				styleClass="btn btn-primary"
				execute="@this"
				immediate="true"
				action="#{accountBean.createIcon()}"
				render=":accountIconsModal :accountIconsModalForm"
				oncomplete="showPopup('accountIconsModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
        </h:panelGroup>
    </h:panelGroup>
</ui:composition>