<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:outputLabel for="beanGroups" value="Groups:"/>
	<h:panelGroup>
		<a4j:region>
		<rich:extendedDataTable id="beanGroups" value="#{forgeview:asList(accountBean.account.groups)}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Name:" />
		       </f:facet>
		       <h:outputText value="#{row.name}" />
		    </rich:column>

			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Action:" />
		       </f:facet>
				<a4j:commandLink value="Remove" action="#{accountBean.removeGroup(row)}" render="#{render}:beanGroups" />
		    </rich:column>

		</rich:extendedDataTable>
		</a4j:region>
			
		<h:commandLink value="Add Group" styleClass="btn btn-primary">
			<rich:componentControl target="groupModal" operation="show" />
		</h:commandLink>
		
	</h:panelGroup>
	<h:outputText/>
	
</ui:composition>