<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/layout/administrationTemplate.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{accountBean.account.id}" />
        <f:event type="preRenderView" listener="#{accountBean.retrieve}" />
    </f:metadata>

    <ui:param name="pageTitle" value="Update Account" />

    <ui:define name="header">
        Account
    </ui:define>

    <ui:define name="subheader" />

    <ui:define name="main">
        <div id ="accountInfoBlock">
            <h:form id="work">
                <div id ="searchBlock">
                    <apd:search searchBean="#{accountSearchBean}" detailsRegion="work" searchRegion="searchingAccount" />
                </div>
                <div id ="accountDetailsBlock">
                    <ui:include src="/admin/account/accountDetails.xhtml" />
                </div>
                <div id="account-edit-btn-block" class="btn-group" layout="block">
                    <h:commandLink value="Save" action="#{accountBean.update}" styleClass="btn btn-success" >
                        <i class="icon-ok"></i>
                    </h:commandLink>
                    <h:commandLink value="Delete" action="#{accountBean.delete}" styleClass="btn btn-danger">
                        <i class="icon-trash"></i>
                    </h:commandLink>
                </div>
            </h:form>
        </div>
        <apd:phoneNumberModal id="sectionPhoneNumberModal" phoneNumber="#{accountBean.currentNumber}" actionBean="#{accountBean}" render="work:phoneNumberSection:phoneNumberList:phoneTable" />
        <ui:include src="/admin/person/personModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
        <apd:addressModal id="sectionAddressModal" address="#{accountBean.currentAddress}"  actionBean="#{accountBean}" render="work:addressListEdit:searchingAddress" />
        <apd:accountSameRootModal id="sectionChildLinkModal" account="#{accountBean.currentAccount}" actionBean="#{accountBean}" render="work" />

        <ui:include src="/admin/bulletin/bulletinModal.xhtml">
            <ui:param name="bean" value="#{accountBean}" />
            <ui:param name="render" value="work" />
        </ui:include>
        <ui:include src="/admin/poNumber/poNumberModal.xhtml">
            <ui:param name="bean" value="#{accountBean}" />
            <ui:param name="render" value="work" />
        </ui:include>
        <ui:include src="/admin/property/propertyModal.xhtml">
            <ui:param name="bean" value="#{accountBean}" />
            <ui:param name="typeBean" value="#{accountPropertyTypeBean}" />
            <ui:param name="postConfirmRender" value="work:propertyList" />
        </ui:include>
        <ui:include src="/admin/credential/credentialModal.xhtml">
            <ui:param name="bean" value="#{accountBean}" />
            <ui:param name="render" value="work" />
        </ui:include>
        <ui:include src="/admin/group/groupModal.xhtml">
            <ui:param name="bean" value="#{accountBean}" />
            <ui:param name="render" value="work" />
        </ui:include>
        <ui:include src="/admin/paymentInformation/paymentInformationModal.xhtml">
            <ui:param name="bean" value="#{accountBean}" />
            <ui:param name="render" value="work" />
        </ui:include>
        <ui:include src="/admin/paymentInformation/paymentInformationPersonModal.xhtml">
            <ui:param name="bean" value="#{accountBean}" />
            <ui:param name="render" value="work" />
        </ui:include>
		<ui:include src="/admin/ipAddress/ipAddressModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/notificationProperties/notificationModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
			<ui:param name="showOverride" value="#{true}" />
		</ui:include>
		<ui:include src="/admin/notificationProperties/notificationPersonSelectionModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
	    <ui:include src="/admin/account/accountIconsModal.xhtml">
	        <ui:param name="bean" value="#{accountBean}" />
	        <ui:param name="render" value="work" />
	    </ui:include>
	    <ui:include src="/admin/account/accountCxmlModal.xhtml">
	        <ui:param name="bean" value="#{accountBean}" />
	        <ui:param name="render" value="work" />
	    </ui:include>
    </ui:define>

</ui:composition>