<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	
	<h:outputLabel for="accountCardInformation" value="Card Information:"/>
	<h:panelGroup>
		<h:outputText id="accountCardInformation" value="#{accountBean.account.cardInformation != null ? accountBean.account.cardInformation.id : 'None Selected'}" style="height:300px;" />
		<a4j:region>
			
		   <h:commandLink value="Select Card Information" styleClass="btn btn-primary">
			   <rich:componentControl target="cardInfoModal" operation="show" />
		   </h:commandLink>
	    
	    </a4j:region>
		
	</h:panelGroup>
	<h:outputText/>
      		
</ui:composition>