<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
				xmlns:forgeview="http://jboss.org/forge/view"
                template="/WEB-INF/templates/ecommerceCredentialSelectionTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{availableCredentialsBean.trySkipSelection()}" />
	</f:metadata>
	
    <ui:define name="page_content">
            <h:form id="credentialSelectForm">
                <div id="credential">
                    <p class="credentialSelectionMessage">#{display['credential.instruction']}</p>
                    <c:if test="#{credentialSelectionBean.shouldRenderDropdownSelection}">
                        <div id="credential">
                            <h:selectOneMenu id="credentialSelectionDropdown" immediate="true" value="#{credentialSelectionBean.currentAXCXU}"
					       		converter="#{credentialSelectionBean.credentialConverter}" styleClass="credentialSelectionDropdown"
					       		required="true" requiredMessage="#{validation['credential.selection.required']}">
						    		<f:selectItem itemLabel="Select a catalog" noSelectionOption="true"/>
					   			<f:selectItems value="#{forgeview:asList(availableCredentialsBean.userCredentials)}"
					   				 var="cred" itemValue="#{cred}" itemLabel="#{cred.label}" />
					   		</h:selectOneMenu>
                            <div>
                                <rich:message for="credentialSelectionDropdown" />
                            </div>
                        </div>
	                    <h:commandLink value="Continue" action="#{credentialSelectionBean.redirectToRequestedPageOrStartPage()}"
	                    	styleClass="btn btn-apd btn-continue" />
	                </c:if>
	                <c:if test="#{credentialSelectionBean.shouldRenderTileSelection}">
	                	<div class="credential-tiles">
	                		<div class="credential-tiles-row">
	                			<ui:repeat var="cred" value="#{forgeview:asList(availableCredentialsBean.userCredentials)}" varStatus="listStatus">
	                				<div class="credential-tiles-tile">
		                				<h:commandLink action="#{credentialSelectionBean.setAxcxuAndRedirect(cred)}">
		                					<img src="#{credentialSelectionBean.getCredentialImage(cred)}" />
		                					<br/>
		                					#{cred.label}
		                				</h:commandLink>
	                				</div>
	                				<h:panelGroup rendered="#{(listStatus.index + 1) % credentialSelectionBean.SELECTION_TILES_PER_ROW == 0 and !listStatus.last}">
										<h:outputText escape="false" value="&lt;/div&gt;"/>
										<h:outputText escape="false" value="&lt;div class=&quot;credential-tiles-row&quot;&gt;"/>
	                				</h:panelGroup>
	                			</ui:repeat>
	                		</div>
	                	</div>
	                </c:if>
                </div>
            </h:form>
    </ui:define>






</ui:composition>
