<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">


    <ui:define name="page_content">
        <div id="loginContainerMain">


            <div id="login-content" class="row-fluid">
                <div class="span12">
                    <div class="span5 loginMgn-left">
                        <h2>#{display['register.title']}</h2>
                        <p>#{display['register.instruction']}</p>
                        <hr/>
                        <h:form id="login_form" class="form-inline">
                            <p class="help-block"></p>
                            <div>
                                <h:outputLabel for="first" value="First Name:" />
                                <h:inputText id="first" value="#{registerBean.first}"
                                             required="true" requiredMessage="#{validation['register.first.error.emptyfield']}"
                                             styleClass="#{not component.valid ? 'ui-input-invalid' : ''}" />
                            </div>
                            <div>
                                <rich:message for="first" />
                            </div>
                            <div>
                                <h:outputLabel for="last" value="Last Name:" />
                                <h:inputText id="last" value="#{registerBean.last}"
                                             required="true" requiredMessage="#{validation['register.last.error.emptyfield']}"
                                             styleClass="#{not component.valid ? 'ui-input-invalid' : ''}" />
                            </div>
                            <div>
                                <rich:message for="last" />
                            </div>
                            <div>
                                <h:outputLabel for="email" value="Email Address:" />
                                <h:inputText id="email" value="#{registerBean.email}"
                                             required="true" requiredMessage="#{validation['register.email.error.emptyfield']}"
                                             styleClass="#{not component.valid ? 'ui-input-invalid' : ''}" />
                            </div>
                            <div>
                                <rich:message for="email" />
                            </div>
                            <div>
                                <h:outputLabel for="username" value="Login:" />
                                <h:inputText id="username" value="#{registerBean.login}" validator="#{pageCssBean.validateEmailDomain}"
                                             required="true" requiredMessage="#{validation['register.username.error.emptyfield']}"
                                             styleClass="#{not component.valid ? 'ui-input-invalid' : ''}" />
                            </div>
                            <div>
                                <rich:message for="username" />
                            </div>
                            <div>
                                <h:outputLabel for="password" value="Password:" />
                                <h:inputSecret id="password" value="#{registerBean.password}"
                                               required="true" requiredMessage="#{validation['register.password.error.emptyfield']}"
                                               styleClass="#{not component.valid ? 'ui-input-invalid' : ''}" />
                                <div>
                                    <rich:message for="password" />
                                </div>
                            </div>
                            <div>
                                <h:outputLabel for="confirmPassword" value="Confirm Password:" />
                                <h:inputSecret id="confirmPassword" value="#{registerBean.confirm}"
                                               required="true" requiredMessage="#{validation['register.confirm.error.emptyfield']}"
                                               styleClass="#{not component.valid ? 'ui-input-invalid' : ''}" />
                                <div>
                                    <rich:message for="confirmPassword" />
                                </div>
                            </div>

                            <div class="loginBtn">
                                <h:commandButton id="submit" value="Register" action="#{registerBean.register()}"
                                	styleClass="btn-primary btn-large btn-info pull-right"/>
                            </div>
                        </h:form>
                    </div>
                    <div class="span6 loginMgn-right pull-right">
                        <div class="logowrapper">
                        	<a href="#{marketingImagesBean.getImageLinkDestination('register1')}">
                            	<img class="logoicon" src="#{marketingImagesBean.getImageUrl('register1')}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>