#!/bin/bash

USER_SCRIPT=/var/cache/jboss-ec2-eap/user-script.sh
USER_CLI_COMMANDS=/var/cache/jboss-ec2-eap/user-cli-commands.cli
ANSIBLE_ENV_SETUP_SCRIPT=/tmp/ansible-env-setup.sh

set -x
exec >/tmp/eap_script.log
exec 2>&1

NOW=$(date +"%m-%d-%Y")

echo "## Ansible env setup script created on: $NOW" >> $ANSIBLE_ENV_SETUP_SCRIPT

cat >> $ANSIBLE_ENV_SETUP_SCRIPT << "SETUP_SCRIPT"

## mod cluster proxy addresses
export MOD_CLUSTER_PROXY_LIST={{ mod_cluster_proxy_list }}
echo "Setting MOD_CLUSTER_PROXY_LIST to $MOD_CLUSTER_PROXY_LIST in ansible play"

## clustering setup
export JBOSS_JGROUPS_S3_PING_ACCESS_KEY={{ jboss_jgroups_s3_ping_access_key }}
echo "Setting s3 access key: $JBOSS_JGROUPS_S3_PING_ACCESS_KEY"

export JBOSS_JGROUPS_S3_PING_SECRET_ACCESS_KEY={{ jboss_jgroups_s3_ping_secret_access_key }}
echo "Setting s3 secret key: $JBOSS_JGROUPS_S3_PING_SECRET_ACCESS_KEY"

export JBOSS_JGROUPS_S3_PING_BUCKET={{ jboss_jgroups_s3_ping_bucket }}
echo "Setting s3 bucket: $JBOSS_JGROUPS_S3_PING_BUCKET"

## profile setup
export JBOSS_DEPLOYENT_PROFILE_S3_ACCESS_KEY=$JBOSS_JGROUPS_S3_PING_ACCESS_KEY
echo "Setting deployment profile access key: $JBOSS_DEPLOYENT_PROFILE_S3_ACCESS_KEY"

export JBOSS_DEPLOYENT_PROFILE_S3_SECRET_ACCESS_KEY=$JBOSS_JGROUPS_S3_PING_SECRET_ACCESS_KEY
echo "Setting deployment profile secret key: $JBOSS_DEPLOYENT_PROFILE_S3_SECRET_ACCESS_KEY"

export JBOSS_DEPLOYENT_PROFILE_S3_BUCKET={{ jboss_configs_s3_bucket }}
echo "Setting deployment profile bucket: $JBOSS_DEPLOYENT_PROFILE_S3_BUCKET"

## password to access admin console
export JBOSSAS_ADMIN_PASSWORD={{ jbossas_admin_pw }}
echo "Setting jboss admin password: $JBOSSAS_ADMIN_PASSWORD"

# Set the Heap Size and MaxPermSize
export JAVA_OPTS='$JAVA_OPTS -Xms2606m -Xmx2606m -XX:MaxPermSize=512m'
echo "Setting JAVA_OPTS to $JAVA_OPTS in ansible play"

## subnet prefix this machine is connected to
export SUBNET={{ private_subnet_prefix }}
echo "Setting subnet: $SUBNET"

#### to run the example no modifications below should be needed ####
export PORTS_ALLOWED="{{ jboss_ports_allowed }}"
echo "Setting ports allowed: $PORTS_ALLOWED"

export JBOSS_IP=`hostname | sed -e 's/ip-//' -e 'y/-/./'` #listen on public/private EC2 IP address
echo "Setting jboss ip: $JBOSS_IP"

SETUP_SCRIPT

cat > "$USER_SCRIPT" << "EOF"

echo "Running user script"
## Install MySQL JDBC Module
sudo rm -r -f /usr/share/jbossas/modules/com/mysql/main
mkdir -p /usr/share/jbossas/modules/com/mysql/main
cp -v /usr/share/java/mysql-connector-java-5.1.39-bin.jar /usr/share/jbossas/modules/com/mysql/main/mysql-connector-java-5.1.39-bin.jar

cat > /usr/share/jbossas/modules/com/mysql/main/module.xml << "EOM"
<module xmlns="urn:jboss:module:1.1" name="com.mysql">
    <resources>
        <resource-root path="mysql-connector-java-5.1.39-bin.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
    </dependencies>
</module>
EOM

## Rename Ecommerce war for deployment
cd /usr/share/java/jboss-ec2-eap-applications
cp {{ ecommerce_war_file }} phoenix-shopping.war
mv {{ ecommerce_war_file }} ~
sudo chown -R jboss:jboss *

cd /usr/share/jbossas/standalone
sudo chown -R jboss:jboss *

## Change jboss.bind.address to ip address of machine

cat > "$USER_CLI_COMMANDS" << "EOC" 

/subsystem=ejb3/:write-attribute(name=default-resource-adapter-name,value=activemq)

# Load system properties
/system-property=phoenix.config.home:add(value=/usr/share/jbossas/standalone/configuration/phoenix-config/)

## Install module for Oracle jdbc driver 
/subsystem=datasources/jdbc-driver=oracle:add(driver-xa-datasource-class-name=oracle.jdbc.xa.client.OracleXADataSource,driver-module-name=com.oracle,driver-name=oracle)

## Remove ExampleDS configuration
# data-source remove --name=ExampleDS

## PhoenixDS configuration for Oracle database
xa-data-source add --name=PhoenixDS --driver-name=oracle --jta=true --use-ccm=true --use-java-context=true --same-rm-override=false --no-tx-separate-pool=true --jndi-name=java:jboss/datasources/Phoenix --user-name=PHOENIX --password={{ phoenix_db_password }} --recovery-username=phoenix --recovery-password={{ phoenix_db_password }} --transaction-isolation=TRANSACTION_READ_COMMITTED --pool-prefill=true --pool-use-strict-min=false --flush-strategy=FailingConnectionOnly --valid-connection-checker-class-name=org.jboss.jca.adapters.jdbc.extensions.oracle.OracleValidConnectionChecker --stale-connection-checker-class-name=org.jboss.jca.adapters.jdbc.extensions.oracle.OracleStaleConnectionChecker --exception-sorter-class-name=org.jboss.jca.adapters.jdbc.extensions.oracle.OracleExceptionSorter
/subsystem=datasources/xa-data-source=PhoenixDS/xa-datasource-properties=URL:add(value="jdbc:oracle:thin:@{{ db_hostname }}:1521:{{ db_sid }}")
xa-data-source enable --name=PhoenixDS

## JBPMDS configuration for Oracle database
xa-data-source add --name=jbpmDS --driver-name=oracle --jta=true --use-ccm=true --use-java-context=true --same-rm-override=false --no-tx-separate-pool=true --jndi-name=java:jboss/datasources/jbpmDS --user-name=JBPM --password={{ jbpm_db_password }} --recovery-username=jbpm --recovery-password={{ jbpm_db_password }} --transaction-isolation=TRANSACTION_READ_COMMITTED --pool-prefill=true --pool-use-strict-min=false --flush-strategy=FailingConnectionOnly --valid-connection-checker-class-name=org.jboss.jca.adapters.jdbc.extensions.oracle.OracleValidConnectionChecker --stale-connection-checker-class-name=org.jboss.jca.adapters.jdbc.extensions.oracle.OracleStaleConnectionChecker --exception-sorter-class-name=org.jboss.jca.adapters.jdbc.extensions.oracle.OracleExceptionSorter 
/subsystem=datasources/xa-data-source=jbpmDS/xa-datasource-properties=URL:add(value="jdbc:oracle:thin:@{{ db_hostname }}:1521:{{ db_sid }}")
xa-data-source enable --name=jbpmDS

## Phoenix security domain
/subsystem=security/security-domain=phoenixRealm:add(cache-type="default")
/subsystem=security/security-domain=phoenixRealm/authentication=classic:add(login-modules=[{"code" => "com.apd.phoenix.service.security.PhoenixLoginModule", "flag" => "required","module-options" => [("dsJndiName" => "java:jboss/datasources/Phoenix"),("principalsQuery" => "select password from SYSTEMUSER where login=? AND isactive = 1"),("rolesQuery" => "select r.name, 'Roles' from ROLE r inner join ROLEXUSER ru on r.id = ru.role_id inner join SYSTEMUSER u on ru.user_id = u.id where u.login = ?"),("hashAlgorithm" => "SHA-256"),("hashEncoding" => "base64")]}])

#AMQ connection factory
/subsystem=resource-adapters/resource-adapter=activemq/:add(module=org.apache.activemq:main,transaction-support=XATransaction)
/subsystem=resource-adapters/resource-adapter=activemq/config-properties=ServerUrl/:add(value={{ amq_server_list }})
/subsystem=resource-adapters/resource-adapter=activemq/connection-definitions=sd/:add(class-name=org.apache.activemq.ra.ActiveMQManagedConnectionFactory,jndi-name=java:/activemq/ConnectionFactory,enabled=true,use-java-context=true,use-ccm=true,max-pool-size=20,min-pool-size=1)

#workflow-command
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.workflow-command/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/workflow-command,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.workflow-command/config-properties=PhysicalName/:add(value=queue.workflow-command)

#edi-outbound-850-raw
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850-raw/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-outbound-850-raw,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850-raw/config-properties=PhysicalName/:add(value=queue.edi-outbound-850-raw)

#edi-outbound-850-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-outbound-850-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850-dlq/config-properties=PhysicalName/:add(value=queue.edi-outbound-850-dlq)

#edi-outbound-810
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-810/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-outbound-810,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-810/config-properties=PhysicalName/:add(value=queue.edi-outbound-810)

#edi-outbound-850-router-resend-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850-router-resend-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-outbound-850-router-resend-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850-router-resend-dlq/config-properties=PhysicalName/:add(value=queue.edi-outbound-850-router-resend-dlq)
#
##edi-inbound-855-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-855-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-inbound-855-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-855-dlq/config-properties=PhysicalName/:add(value=queue.edi-inbound-855-dlq)
#
##edi-outbound-855
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-855/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-outbound-855,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-855/config-properties=PhysicalName/:add(value=queue.edi-outbound-855)
#
##edi-outbound-856
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-856/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-outbound-856,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-856/config-properties=PhysicalName/:add(value=queue.edi-outbound-856)
#
##edi-inbound-997-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-997-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-inbound-997-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-997-dlq/config-properties=PhysicalName/:add(value=queue.edi-inbound-997-dlq)
#
##edi-outbound-850
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-outbound-850,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850/config-properties=PhysicalName/:add(value=queue.edi-outbound-850)
#
##edi-outbound-850-router-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850-router-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-outbound-850-router-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850-router-dlq/config-properties=PhysicalName/:add(value=queue.edi-outbound-850-router-dlq)
#
##edi-inbound-transaction-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-transaction-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-inbound-transaction-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-transaction-dlq/config-properties=PhysicalName/:add(value=queue.edi-inbound-transaction-dlq)
#
##edi-outbound-997
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-997/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-outbound-997,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-997/config-properties=PhysicalName/:add(value=queue.edi-outbound-997)
#
##edi-inbound-856-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-856-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-inbound-856-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-856-dlq/config-properties=PhysicalName/:add(value=queue.edi-inbound-856-dlq)
#
##edi-inbound-997-log-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-997-log-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-inbound-997-log-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-997-log-dlq/config-properties=PhysicalName/:add(value=queue.edi-inbound-997-log-dlq)
#
##edi-inbound-855-log-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-855-log-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-inbound-855-log-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-855-log-dlq/config-properties=PhysicalName/:add(value=queue.edi-inbound-855-log-dlq)
#
##edi-inbound-810-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-810-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-inbound-810-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-810-dlq/config-properties=PhysicalName/:add(value=queue.edi-inbound-810-dlq)
#
#edi-inbound-810-log-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-810-log-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-inbound-810-log-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-810-log-dlq/config-properties=PhysicalName/:add(value=queue.edi-inbound-810-log-dlq)
#
##edi-inbound-856-log-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-856-log-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-inbound-856-log-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-inbound-856-log-dlq/config-properties=PhysicalName/:add(value=queue.edi-inbound-856-log-dlq)
#
##edi-outbound-850-log-dlq
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850-log-dlq/:add(class-name=org.apache.activemq.command.ActiveMQQueue,enabled=true,jndi-name=java:/activemq/edi-outbound-850-log-dlq,use-java-context=true)
/subsystem=resource-adapters/resource-adapter=activemq/admin-objects=ActiveMQQueue.edi-outbound-850-log-dlq/config-properties=PhysicalName/:add(value=queue.edi-outbound-850-log-dlq)

# Deploy the Ecommerce Shopping application
deploy --force /usr/share/java/jboss-ec2-eap-applications/phoenix-shopping.war

:reload

EOC

export USER_CLI_COMMANDS=$USER_CLI_COMMANDS

## this will workaround the problem that in a VPC, instance hostnames are not resolvable
echo -e "127.0.0.1\tlocalhost.localdomain localhost" > /etc/hosts
echo -e "::1\tlocalhost6.localdomain6 localhost6" >> /etc/hosts
for (( i=1 ; i<255 ; i++ )); do
   echo -e "$SUBNET$i\tip-${SUBNET//./-}$i" ;
done >> /etc/hosts

EOF
export USER_SCRIPT=$USER_SCRIPT
