<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	<rich:popupPanel id="propertyModal" autosized="true" resizeable="false" moveable="false">
		<h:form id="propertyModalForm">
			<a4j:region>
    			<f:facet name="controls">
	        		<a4j:commandLink 
        				value="X" 
        				style="cursor:pointer" 
        				immediate="true"
        				action="#{bean.clearFields('propertyModalForm')}" 
						oncomplete="hidePopup('propertyModal');">
						<a4j:param name="cid"
							value="#{javax.enterprise.context.conversation.id}" />
					</a4j:commandLink>
	    		</f:facet>
	    		
				<ui:include src="/admin/property/propertyEdit.xhtml">
					<ui:param name="property" value="#{bean.currentProperty}" />
					<ui:param name="allTypes" value="#{typeBean.all}" />
					<ui:param name="propertyTypeConverter" value="#{typeBean.converter}" />
				</ui:include>
		      		
	      		<div class="btn-group" layout="block">
	      			<a4j:commandLink 
						value="Confirm"
						styleClass="btn btn-primary"
						action="#{bean.saveProperty}" 
						render="#{postConfirmRender} #{additionalRenderIds}"
						oncomplete="hidePopup('propertyModal');">
						<a4j:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
					</a4j:commandLink>
					<a4j:commandLink 
						value="Cancel" 
						styleClass="btn btn-primary"
						immediate="true"
						action="#{bean.clearFields('propertyModalForm')}" 
						oncomplete="hidePopup('propertyModal');">
						<a4j:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
					</a4j:commandLink>
				</div>
			</a4j:region>
		</h:form>
	</rich:popupPanel>	
</ui:composition>