<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:panelGrid columns="3">
		<h:outputLabel value="Property Type" for="propertyType"/>
	    	<h:selectOneMenu id="propertyType" value="#{property.type}"
	    		converter="#{propertyTypeConverter}" 
	    		required="true"
	    		requiredMessage="#{validation['field.propertyType.required']}">
	    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
			<f:selectItems value="#{allTypes}"
				 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
		</h:selectOneMenu>
		<rich:message for="propertyType" styleClass="error" />
	
		<h:outputLabel value="Value" for="propertyValue"/>
	  	<h:inputText id="propertyValue" value="#{property.value}" required="true"/>
	  	<rich:message for="propertyValue" styleClass="error" />
    	</h:panelGrid>  		
</ui:composition>
