<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j">

    <h:panelGroup id="appliedFilters" layout="block"> 
        <ul id="appliedFilterList" class="filterList nav nav-tabs nav-stacked">
            <li class="filterListHeader filterListHeaderTop">
                <a><strong>APPLIED FILTERS</strong></a>
            </li>
            <h:panelGroup rendered="#{not empty searchBean.previousQueryData.searchString}">
				<li class="filterListSubHeader">
					<a><strong>Search String</strong></a>
				</li>
				<li class="filterListItem">
            		<div>
            			<a href="#{searchBean.removeSearchStringFilter()}"><i class="icon-remove icon-red"></i></a> #{searchBean.previousQueryData.searchString}
            		</div>
				</li>
            </h:panelGroup>
            <h:panelGroup rendered="#{not empty searchBean.breadcrumb.tail}">
            	<li class="filterListSubHeader">
					<a><strong>Category</strong></a>
				</li>
				<a4j:repeat value="#{searchBean.breadcrumb.crumbs}" var="category" rowKeyVar="i">
					<li class="filterListItem">
	            		<div>
	            			 #{category.displayName}
	            		</div>
					</li>
				</a4j:repeat>
				<li class="filterListItem">
	            		<div>
	            		<a href="#{searchBean.removeCategoryFilter()}"><i class="icon-remove icon-red"></i></a>
	            			 #{searchBean.breadcrumb.tail.displayName}
	            		</div>
					</li>
				
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty searchBean.previousQueryData.refineSearchStrings}">
				<li class="filterListSubHeader">
					<a><strong>Refine Search</strong></a>
				</li>
				<a4j:repeat value="#{searchBean.previousQueryData.refineSearchStrings}" var="refineSearchString">
					<li class="filterListItem">
	            		<div>
	            			<a href="#{searchBean.removeRefineSearchStringFilter(refineSearchString)}"><i class="icon-remove icon-red"></i></a> #{refineSearchString}
	            		</div>
					</li>
				</a4j:repeat>
            </h:panelGroup>
            <h:panelGroup rendered="#{not empty searchBean.previousQueryData.selectedManufacturer}">
            	<li class="filterListSubHeader">
            		<a><strong>Brand</strong></a>
            	</li>
				<li class="filterListItem">
            		<div>
            			<a href="#{searchBean.removeSelectedManufacturer()}"><i class="icon-remove icon-red"></i></a> #{searchBean.findSelectedManufacturerName()}
            		</div>
				</li>
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty searchBean.previousQueryData.inkTonerModel}">
				<li class="filterListSubHeader">
            		<a><strong>Ink and Toner Model</strong></a>
            	</li>
				<li class="filterListItem">
            		<div>
            			<a href="#{searchBean.returnToInkToner()}"><i class="icon-remove icon-red"></i></a> #{searchBean.previousQueryData.inkTonerModel}
            		</div>
				</li>
			</h:panelGroup>
			<ui:remove>
				<!-- This component will be completed as part of the functionality to let users search by ink and toner brand alone -->
				<h:panelGroup>
					<li class="filterListSubHeader">
	            		<a><strong>Ink and Toner Manufacturer</strong></a>
	            	</li>
					<li class="filterListItem">
	            		<div>
	            			<a href="#{searchBean.returnToInkToner()}"><i class="icon-remove icon-red"></i></a> #{searchBean.previousQueryData.selectedManufacturer}
	            		</div>
	            	</li>
	            </h:panelGroup>
            </ui:remove>
            	<a4j:repeat value="#{searchBean.findActiveFilters()}" var="filter">
            		<li class="filterListSubHeader">
            			<a><strong>#{searchBean.parseFilterAttributeTypeName(filter)}</strong></a>
            		</li>
	            	<li class="filterListItem">
	            		<h:panelGroup>
		            		<div>
		            			<a href="#{searchBean.removeSelectedFilter(filter)}"><i class="icon-remove icon-red"></i></a> #{searchBean.parseFilterName(filter)}
		            		</div>
	            		</h:panelGroup>
	            	</li>
            	</a4j:repeat>
            <h:panelGroup rendered="#{not empty searchBean.previousQueryData.greenFilterId}">
            	<li class="filterListSubHeader">
            			<a><strong>Green</strong></a>
            	</li>
            	<li class="filterListItem">
            		<div>
            			<a href="#{searchBean.removeGreenFilter()}"><i class="icon-remove icon-red"></i></a> #{searchBean.findGreenFilterLabel()}
            		</div>
            	</li>
            </h:panelGroup>
			<h:panelGroup rendered="#{searchBean.previousQueryData.lowPrice != -1 and searchBean.previousQueryData.highPrice != -1}">
				<li class="filterListSubHeader">
            		<a><strong>Price</strong></a>
            	</li>
				<li class="filterListItem">
            		<div>
            			<a href="#{searchBean.removePriceFilter()}"><i class="icon-remove icon-red"></i></a> #{searchBean.getPriceFilterLabel()}
            		</div>
				</li>
			</h:panelGroup>
			<h:panelGroup rendered="#{not searchBean.previousQueryData.showNonCore}">
				<li class="filterListSubHeader">
            		<a><strong>Core/Contract Items</strong></a>
            	</li>
				<li class="filterListItem">
            		<div>
            			<a href="#{searchBean.showNonCore()}"><i class="icon-remove icon-red"></i></a> Core Items Only
            		</div>
				</li>
			</h:panelGroup>
    	</ul>
    </h:panelGroup>

</ui:composition>