<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
	<h:panelGroup rendered="#{searchBean.categoryNarrowEnoughForAdditionalFilters and not empty searchBean.getFilterCategoryNames()}">
		<a4j:repeat var="filterCategoryName" value="#{searchBean.getFilterCategoryNames()}" rowKeyVar="i">
			<ui:include src="/WEB-INF/templates/category/genericAttributeFilterMenu.xhtml">
				<ui:param name="filterCateogoryLabel" value="#{filterCategoryName.name}" />
				<ui:param name="filterCateogoryName" value="#{searchBean.processCategoryNameForLabel(filterCategoryName.name)}"/>
				<ui:param name="index" value ="#{i}"/>
			</ui:include>
		</a4j:repeat>
		<h:panelGroup layout="block" rendered="#{searchBean.getFilterCategoryNames().size() &gt; 5}">
			<ul class="filterList nav nav-tabs nav-stacked attributeList">
				<li id="showMoreAttributeFilters" class="avaliableFilter avaliableFilterControl allFilterControlButton">
					<a><strong>Show All Filters</strong></a>
				</li>
				<li id="showLessAttributeFilters" class="avaliableFilter avaliableFilterControl allFilterControlButton">
					<a><strong>Show Fewer Filters</strong></a>
				</li>
			</ul>
		</h:panelGroup>
	</h:panelGroup>
	<script> 	
	$(document).ready(function() {
		$(".moreFacetLists").hide();
		$("#showMoreAttributeFilters").show();
		$("#showMoreAttributeFilters").click(function() {
			$(".moreFacetLists").show();
			$("#showLessAttributeFilters").show();
			$("#showMoreAttributeFilters").hide();
		});
		$("#showLessAttributeFilters").click(function() {
			$(".moreFacetLists").hide();
			$("#showLessAttributeFilters").hide();
			$("#showMoreAttributeFilters").show();
		});
     });
            
	</script>


</ui:composition>