<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j">

    <h:panelGroup id="coreFilterFacetList" layout="filterList block" rendered="#{searchBean.shouldRenderCoreFilter()}"> 
        <ul id="coreFilterList" class="nav nav-tabs nav-stacked">
            <li class="filterListSubHeader">
                <a><strong>Core/Contract Items</strong></a>
            </li>
           	<li  class="avaliableFilter">
                 <a href="#{searchBean.showOnlyCore()}">Core Items Only</a>
			</li>
        </ul>
    </h:panelGroup>

</ui:composition>