<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:panelGroup id="#{filterCateogoryName}FacetList" class="#{searchBean.findFacetListClass(index)}" layout="block">
		<ul id="#{filterCateogoryName}List" class="filterList nav nav-tabs nav-stacked attributeList">
			<li class="filterListSubHeader"><a><strong>#{filterCateogoryLabel}</strong></a></li>
			<a4j:repeat rowKeyVar="attrIndex" var="filterCategoryChild"
				value="#{searchBean.getFilterAttributeList(filterCateogoryLabel)}">
				<h:panelGroup
					rendered="#{!filterCategoryChild.filter.split(' ')[0].equals('null')}">
					<li  class="avaliableFilter"><a
						onclick="filterOn('#{filterCateogoryLabel}', '#{filterCategoryChild.id}' ,'#{filterCategoryChild.filter}');">#{filterCategoryChild.filter}</a>
					</li>
				</h:panelGroup>
			</a4j:repeat>
			<li id="showAllAvaliable#{filterCateogoryName}" class="avaliableFilter avaliableFilterControl"><a><strong><i>Show
						All</i></strong></a>
			</li>
			<li id="showFewerAvaliable#{filterCateogoryName}" class="avaliableFilter avaliableFilterControl">
           		<a><strong><i>Show Less</i></strong></a>
           </li>
		</ul>
	</h:panelGroup>
	<script> 	
	$(document).ready(function() {
         setupFilterShowHide("##{filterCateogoryName}List","#showAllAvaliable#{filterCateogoryName}","#showFewerAvaliable#{filterCateogoryName}");
     });
            
	</script>

</ui:composition>