<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:panelGroup id="globalTypeFacetList" layout="block"
		rendered="#{searchBean.shouldRenderGlobalTypeList()}">
		<ul id="globalTypeList" class="filterList nav nav-tabs nav-stacked">
			<li class="filterListSubHeader"><a><strong>Global Types</strong></a></li>
			<a4j:repeat rowKeyVar="attrIndex" var="filterCategoryChild"
				value='#{searchBean.getFilterAttributeList("Global Product Type")}'>
				<h:panelGroup
					rendered="#{!filterCategoryChild.filter.split(' ')[0].equals('null')}">
					<li class="avaliableFilter"><a
						onclick="filterOn('Global Product Type', '#{filterCategoryChild.id}','#{filterCategoryChild.filter}');">#{filterCategoryChild.filter}</a>
					</li>
				</h:panelGroup>
			</a4j:repeat>
			<li id="showAllAvaliableGlobalTypes" class="avaliableFilter avaliableFilterControl"><a><strong><i>Show
						All</i></strong></a>
			</li>
			<li id="showFewerAvaliableGlobalTypes" class="avaliableFilter avaliableFilterControl">
           		<a><strong><i>Show Less</i></strong></a>
           </li>
		</ul>
	</h:panelGroup>

</ui:composition>