<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:panelGroup id="greenFacetList" layout="block"
		rendered="#{not empty searchBean.greenFilter and empty searchBean.previousQueryData.greenFilterId}">
		<ul id="greenFilterList" class="filterList nav nav-tabs nav-stacked">
			<li class="filterListSubHeader"><a><strong>Green</strong></a></li>
			<a4j:repeat rowKeyVar="attrIndex" var="filter"
				value='#{searchBean.greenFilter}'>
				<h:panelGroup rendered="#{not empty filter}">
					<li class="avaliableFilter"><a
						href="#{searchBean.filterOnGreen(filter)}">#{searchBean.greenFilterDisplay(filter, true)}</a>
					</li>
				</h:panelGroup>
			</a4j:repeat>
		</ul>
	</h:panelGroup>

</ui:composition>