<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j">

    <h:panelGroup id="manufacturerFacetList" layout="block" rendered="#{searchBean.renderManufacturerWidget()}"> 
        <ul id="manufacturerList" class="filterList nav nav-tabs nav-stacked">
            <li class="filterListSubHeader">
                <a><strong>Brand</strong></a>
            </li>
            <a4j:repeat rowKeyVar="index" var="manufacturer" value="#{searchBean.manufacturerWidgetKeySet}">
            	<li class="avaliableFilter">
                    <a class="#{searchBean.isSelectedManufacturer(manufacturer.id) ? 'selected' : 'manufacturer.id'}" 
                    href="#{searchBean.isSelectedManufacturer(manufacturer.id) ? searchBean.filterOnManufacturer('') : 
                    searchBean.filterOnManufacturer(manufacturer.id)}">#{manufacturer.filter} (#{searchBean.getManufacturerCountByName(manufacturer)})</a>
				</li>
            </a4j:repeat>
           <li class="avaliableFilter avaliableFilterControl">
                <a id="showAllManufacturers"><strong><i>Show All</i></strong></a>
            </li>
            <li class="avaliableFilter avaliableFilterControl">
           		<a id="showFewerManufacturers"><strong><i>Show Less</i></strong></a>
           </li>
        </ul>
    </h:panelGroup>

</ui:composition>