<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j">

    <h:panelGroup id="categoryFacetList" layout="block" rendered="#{searchBean.renderCategoryFilters()}"> 
        <ul id="categoryList" class="filterList nav nav-tabs nav-stacked">
            <li class="filterListSubHeader">
                <a><strong>Category</strong></a>
            </li>
            <a4j:repeat rowKeyVar="index" var="category" value="#{searchBean.categoryWidgetKeySet}">
            	<li class="avaliableFilter">
                    <a class="#{searchBean.isSelectedCategory(category.id) ? 'selected' : 'category.id'}" 
                    href="#{searchBean.isSelectedManufacturer(category.id) ? searchBean.filterOnCategory('', '') : 
                    searchBean.filterOnCategory(category.filter,category.id)}">#{category.filter} (#{searchBean.getCategoryCountByName(category)})</a>
				</li>
            </a4j:repeat>
           <li id="showAllAvaliableCategories" class="avaliableFilter avaliableFilterControl">
                <a><strong><i>Show More</i></strong></a>
           </li>
           <li class="avaliableFilter avaliableFilterControl">
           		<a id="showFewerAvaliableCategories"><strong><i>Show Less</i></strong></a>
           </li>
        </ul>
    </h:panelGroup>

</ui:composition>