<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j">
		 <script>    
		            $(document).ready(function() {addFunctionToCallAfterAjax(function() {
		              
		                if (document.getElementById("refine-search-form:refine-search-input") != null) {
		                    handleDefaultInputValue("refine-search-form:refine-search-input", "#{searchBean.defaultRefineSearchString}", true);
		                    document.getElementById("refine-search-form:refine-search-input").onkeypress = function(event) {
		                    if (event.which === 13) {
		                        $handleRefineSearchRedirect();
		                        }
		                    };
		                    $("#refine-search-form\\:refine-search-input").blur(function() {
		                        if (this.value == '') {
		                            handleDefaultInputValue("refine-search-form:refine-search-input", "#{searchBean.defaultRefineSearchString}", true);                       
		                        }
		                    });
		                }
		                validateFilters();
		            });
		            expandCheckedFilters();
		            
		            });
		</script>
        <h:panelGroup id="refineSearch" layout="block"> 
        <ul id="refineSearchList" class="filterList nav nav-tabs nav-stacked">
            <li class="filterListHeader">
                <a><strong>REFINE SEARCH WITHIN RESULTS</strong></a>
            </li>
           	<h:form id="refine-search-form">
           	<li>
           		<div class="searchContainer">
					<div class="topSearch">
						<div class="searchBoxWrapper">
							<div class="searchBoxContainerInner">
								<div>
									<h:inputText id="refine-search-input"
										styleClass="search-input span2 refine-search-box"
										value="#{searchBean.queryData.newRefineSearchString}"/>
									<i id="refine-search-icon" class="icon-search icon-refine-search"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			</h:form>
            </ul>
    </h:panelGroup>

</ui:composition>