<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">


	<ui:define name="page_content">
            <a4j:jsFunction name="setSAddress1">
                <a4j:param name="param1" assignTo="#{userMaintenanceBean.SAddress1}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="setSAddress2">
                <a4j:param name="param1" assignTo="#{userMaintenanceBean.SAddress2}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="setSCity">
                <a4j:param name="param1" assignTo="#{userMaintenanceBean.SCity}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="setSState">
                <a4j:param name="param1" assignTo="#{userMaintenanceBean.SState}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="setSZip">
                <a4j:param name="param1" assignTo="#{userMaintenanceBean.SZip}" />
            </a4j:jsFunction>
		<div id="loginContainerMain" style="border:1px solid blue;">
			<div id="login-content" style="border:1px solid red;">
				<div style="border:1px solid green;">
					<div class="span5 loginMgn-left" style="width: 850px">
						<h2>#{display['userRequest.header']}</h2>						
						<hr />
                    <h:form id="userRequest" class="form-inline" onkeypress="return event.keyCode != 13">
                        <h:messages id="messages" style="color:red;"/>
                        <div style="border:1px solid #C0C0C0; padding-bottom: 10px;">
                        	<div>
                                        <h3>New User</h3>
                                </div>
                                <h:panelGroup id="walmartUser" rendered="#{loginBean.isWalmartSubdomain}">
                                        <div class="login-row">
                                                <label>Who are you an end-user for?</label>
                                                <h:selectOneMenu id="endUser" value="#{userMaintenanceBean.endUser}">
                                                        <f:selectItem itemValue="HQ" itemLabel="HQ"/>
                                                        <f:selectItem itemValue="DC/Logistics/Transportation" itemLabel="DC/Logistics/Transportation" />																			
                                                </h:selectOneMenu>
                                        </div>
                                        <div class="login-row">
                                                <h:outputLabel for="userId" value="Walmart User ID *" />
                                                <h:inputText id="userId"
                                                        value="#{userMaintenanceBean.userId}" validator="uniqueLoginValidator" required="true" requiredMessage="The 'Walmart User ID' must be provided.">
                                                        <f:ajax event="blur" render="messages" />
                                                        </h:inputText>
                                        </div>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{loginBean.isCHSSubdomain}">
	                            <div class="login-row">                            
	                            	<h:outputLabel rendered="#{loginBean.isCHSSubdomain}" for="affiliation" value="Which Hospital/Clinic are you affiliated with? *" />
                                        <h:inputText id="affiliation"
                                                value="#{userMaintenanceBean.affiliation}" required="true" requiredMessage="The 'Affiliation' must be provided."/>
                                        <h:outputText style="margin-left:15px;" value="(e.g.:Main, Univ, etc)" />
	                            </div>                            
                                    <div class="login-row">
                                            <label>Are you a PSG? (Yes/No)</label>
                                            <h:selectOneMenu id="psg" value="#{userMaintenanceBean.isPSG}">
                                                    <f:selectItem itemValue="No" itemLabel="No"/>
                                                    <f:selectItem itemValue="Yes" itemLabel="Yes" />																			
                                            </h:selectOneMenu>
                                    </div>
                                    <div class="login-row">
                                            <h:outputLabel for="corpBu" value="Corp# or B.U# *" />
                                            <h:inputText id="corpBu" required="true" requiredMessage="The 'Corp# or B.U. #' must be provided."
                                                    value="#{userMaintenanceBean.corpBuNum}" />
                                    </div>
                                </h:panelGroup>
                                <div class="login-row">
                                        <h:outputLabel for="first" value="First Name: *" />
                                        <h:inputText id="first" required="true" requiredMessage="The 'First Name' must be provided."
                                                value="#{userMaintenanceBean.firstName}" >
                                                <f:ajax event="blur" render="messages" />
                                                </h:inputText>
                                </div>
                                <div class="login-row">
                                        <h:outputLabel for="last" value="Last Name: *" />
                                        <h:inputText id="last" required="true" requiredMessage="The 'Last Name' must be provided."
                                                value="#{userMaintenanceBean.lastName}" >
                                                <f:ajax event="blur" render="messages" />
                                                </h:inputText>
                                </div>							
                                <div class="login-row">
                                        <h:outputLabel for="email" value="Email Address: *" />
                                        <h:inputText id="email" validator="walmartEmailValidator" required="true" requiredMessage="The 'E-mail Address' must be provided." value="#{userMaintenanceBean.email}" >
                                        <f:ajax event="blur" render="messages" />
                                        </h:inputText>
                                </div>
                                <h:panelGroup rendered="#{loginBean.isNovantSubdomain}">
                                        <div class="login-row">
                                                <h:outputLabel for="novantEmail" value="Novant Email Address: *" />
                                                <h:inputText id="novantEmail" validator="novantEmailValidator" value="#{userMaintenanceBean.email}" required="true" requiredMessage="The 'Novant Email' must be provided." >
                                                <f:ajax event="blur" render="messages" />
                                                </h:inputText>
                                        </div>
                                </h:panelGroup>
                                <div class="login-row">
                                        <h:outputLabel for="phone" value="Phone: *" />
                                        <h:inputText id="phone" required="true" requiredMessage="The 'Phone' must be provided." value="#{userMaintenanceBean.phone}"
                                                size="10" >
                                                <f:ajax event="blur" render="messages" />
                                                </h:inputText>
                                        <h:outputLabel for="ext" value="Ext:" styleClass="inline-input" />
                                        <h:inputText id="ext" size="4"
                                                value="#{userMaintenanceBean.ext}" />
                                </div>
                            </div>
                            <div style="border:1px solid #C0C0C0; margin-top: 30px;">
                                    <div>
                                    		
                                            <h3><h:outputText value="Ship-to Address" rendered="#{not loginBean.isWalmartSubdomain}" /><h:outputText value="Location Address" rendered="#{loginBean.isWalmartSubdomain}" /></h3>
                                    </div>
                                    <div class="login-row">
                                            <h:outputLabel value="Ship-to Default Address 1 *" rendered="#{not loginBean.isWalmartSubdomain}" /><h:outputLabel value="Location Default Address 1 *" rendered="#{loginBean.isWalmartSubdomain}" />
                                            <h:inputText id="sAddress1" required="true" requiredMessage="The 'Address 1' must be provided." value="#{userMaintenanceBean.SAddress1}"
                                                         onblur="setSAddress1(this.value);" />
                                    </div>
                                    <div class="login-row">
                                            <h:outputLabel value="Ship-to Default Address 2 " rendered="#{not loginBean.isWalmartSubdomain}" /><h:outputLabel value="Location Default Address 2 " rendered="#{loginBean.isWalmartSubdomain}" />
                                            <h:inputText id="sAddress2" value="#{userMaintenanceBean.SAddress2}" 
                                                         onblur="setSAddress2(this.value);" />                                                                                    
                                    </div>
                                    <div class="login-row">
                                            <h:outputLabel value="Ship-to Default City/St/Zip *" />
                                            <h:inputText id="sCity" required="true" requiredMessage="The 'City' must be provided." value="#{userMaintenanceBean.SCity}"
                                                         onblur="setSCity(this.value);" />
                                            <h:inputText id="sState" required="true" requiredMessage="The 'State' must be provided." style="margin-left: 7px" value="#{userMaintenanceBean.SState}" size="2"
                                                         onblur="setSState(this.value);" />
                                            <h:inputText id="sZip" required="true" requiredMessage="The 'Zip' must be provided." style="margin-left: 7px" value="#{userMaintenanceBean.SZip}" size="9"
                                                         onblur="setSZip(this.value);" />
                                    </div>
                                    <h:panelGroup rendered="#{loginBean.isCHSSubdomain}">								
                                            <div class="login-row">
                                                    <h:outputLabel value="Default Desktop *" />
                                                    <h:inputText id="desktop" required="true" requiredMessage="The 'Default Desktop' must be provided." value="#{userMaintenanceBean.SDesktop}" />
                                                    <h:outputText style="margin-left:15px;" value="(e.g.: Bldg 100, 3rd Flr, Rm 305)" />
                                            </div>
                                            <div class="login-row">
                                                    <h:outputLabel value="Default Department Name *" />
                                                    <h:inputText id="deptName" required="true" requiredMessage="The 'Default Department Name' must be provided." value="#{userMaintenanceBean.SDepartment}" />
                                            </div>
                                            <div class="login-row">
                                                    <h:outputLabel value="Default Cost Center # *" />
                                                    <h:inputText id="cost_center" required="true" requiredMessage="The 'Default Cost Center #' must be provided." value="#{userMaintenanceBean.SCostCenter}" />
                                                    <h:outputText style="margin-left:15px;" value="(e.g.: xxxx-xxxxxx)" />									
                                            </div>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{loginBean.isWalmartSubdomain}">
                                            <div class="login-row">
                                                    <h:outputLabel value="Mailstop *"/>
                                                    <h:inputText id="mailstop" required="true" requiredMessage="The 'Mailstop' must be provided." value="#{userMaintenanceBean.mailstop}" />
                                            </div>
                                            <div class="login-row">
                                                    <h:outputLabel value="Pole *" />
                                                    <h:inputText id="pole" required="true" requiredMessage="The 'Pole' must be provided." value="#{userMaintenanceBean.pole}" />
                                            </div>																	
                                    </h:panelGroup>															
                            </div>
                            <h:panelGroup rendered="#{loginBean.isCHSSubdomain}">
                                    <div class="login-row" style="border:1px solid #C0C0C0; margin-top: 30px; padding-bottom:20px;">
                                        <h3>Departments</h3>
                                        <div class="login-row">
                                                <h:outputText value="To add Departments that you order for, please click the 'Add Department...' button and input all required information." escape="false" />
                                                <h:outputText value="&lt;br/&gt;" escape="false" />
                                                <h:outputText value="" escape="false" />
                                        </div>
                                        <h:panelGroup id="departmentListTablePanel">
                                            <h:dataTable id="userMaintenanceDListTable" value="#{userMaintenanceBean.departmentsList}" style="text-align:center;" var="d" border="1">
                                            <h:column>
                                                <f:facet name="header">Dept Name</f:facet>
                                                #{d.name}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Desktop</f:facet>
                                                #{d.desktop}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Cost Center</f:facet>
                                                #{d.costCenter}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Same Addr. as default?</f:facet>
                                                #{d.isSameAddress}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Ship-to Address</f:facet>
                                                #{d.shipAddress}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Ship-to City</f:facet>
                                                #{d.shipCity}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Ship-to State</f:facet>
                                                #{d.shipState}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Ship-to Zip</f:facet>
                                                #{d.shipZip}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Remove</f:facet>
                                                <h:commandLink value="Delete" action="#{userMaintenanceBean.removeDepartmentFromTable(d)}"/>

                                            </h:column>
                                            </h:dataTable>
                                        </h:panelGroup>
                                        <div style="margin-top: 25px;">
                                            <a href="#addNewDepartmentModal" data-toggle="modal">
                                                <a4j:commandButton style="font-size:15px; width:150px; height: 35px;" value="Add Department..." />
                                            </a>
                                        </div>
                                    </div>
                                </h:panelGroup>
                                    <h:panelGroup id="walmartDepartment" rendered="#{loginBean.isWalmartSubdomain}">
                                    		<div class="login-row" style="border:1px solid #C0C0C0; margin-top: 30px; padding-bottom:20px;">
                                    		 <div>
                                                            <h3>Enter Department *</h3>
                                                            <h4>You must enter at least one department. Click on "Add Department" after each one if you have more than one department</h4>
                                                            <table>
                                                            <tr>
                                                                    <td>Div/Dept (nn-nnnn): </td>
                                                                    <td><h:inputText id="divDept" value="#{userMaintenanceBean.DDivDept}" validator="departmentValidator" validatorMessage="Incorrect Div/Dept format. Please use (nn-nnnn)">
                                                                    <f:validateRegex pattern="(..\-....)?" for="divDept" />
                                                                    <f:ajax event="blur" render="message" />
                                                                    </h:inputText>
                                                                    </td>
                                                                    <td>
                                                                    <h:message id="message" for="divDept" style="color:red;"/>
                                                                    </td>
                                                            </tr>
                                                            <tr>
                                                                    <td>Manager Name: </td>
                                                                    <td><h:inputText id="manName" value="#{userMaintenanceBean.DManagerName}" validator="departmentValidator">
                                                                    <f:ajax event="blur" render="messageManagerName" />
                                                                    </h:inputText>
                                                                    </td>
                                                                    <td>
                                                                    <h:message id="messageManagerName" for="manName" style="color:red;"/>
                                                                    </td>
                                                            </tr>
                                                            <tr>
                                                                    <td>Manager Email: </td>
                                                                    <td><h:inputText id="manEmail" value="#{userMaintenanceBean.DManagerEmail}" validator="departmentValidator">
                                                                    <f:ajax event="blur" render="messageManagerEmail" />
                                                                    </h:inputText>
                                                                    </td>
                                                                     <td>
                                                                    <h:message id="messageManagerEmail" for="manEmail" style="color:red;"/>
                                                                    </td>
                                                            </tr>																			
                                                            </table>
                                                    </div>
                                                    <div style="margin-top: 25px;">
                                                            <a4j:commandButton style="font-size:15px; width:150px; height: 35px;" value="Add Department"
                                                                    action="#{userMaintenanceBean.addDepartmentWalmart()}" render="walmartDepartment messages" />
                                                    </div>								
                                            
                                                    <h3>List of Departments:</h3>
                                                   								 
                                                    <h:dataTable style="width:100%; text-align:center;" value="#{userMaintenanceBean.departmentsList}" var="d" border="1">								
                                                    <h:column>
                                                            <f:facet name="header">Div/Dept</f:facet>
                                                            #{d.divDept}
                                                    </h:column>
                                                    <h:column>
                                                            <f:facet name="header">Manager Name</f:facet>
                                                            #{d.managerName}
                                                    </h:column>
                                                    <h:column>
                                                            <f:facet name="header">Manager Email</f:facet>
                                                            #{d.managerEmail}
                                                    </h:column>									
                                                    <h:column>
                                                            <f:facet name="header">Remove</f:facet>
                                                            <a4j:commandLink value="Delete"  action="#{userMaintenanceBean.removeDepartmentFromTable(d)}" render="walmartDepartment"/> 
                                                    </h:column>
                                                    </h:dataTable>
                                                   
                                            </div>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{loginBean.isCHSSubdomain}">
                                            <div class="login-row" style="border:1px solid #C0C0C0; margin-top: 30px; padding-bottom:20px;">
                                                    <h3>Approver</h3>
                                                    <div class="login-row">	
                                                            <h:outputText value="Please enter in the information of the manager who needs to approve this request" escape="false" />										
                                                            <h:outputText value="&lt;br/&gt;" escape="false" />	
                                                    </div>
                                                    <div class="login-row">
                                                            <h:outputLabel for="approving_mgr_name" value="Approving Manager Name *" />
                                                            <h:inputText required="true" requiredMessage="The 'Approving Manager Name' must be provided." id="approving_mgr_name"
                                                                    value="#{userMaintenanceBean.AName}" />
                                                    </div>
                                                    <div class="login-row">
                                                            <h:outputLabel for="approving_mgr_email" value="Approving Manager Email *" />
                                                            <h:inputText required="true" requiredMessage="The 'Approving Manager Email' must be provided." id="approving_mgr_email"
                                                                    value="#{userMaintenanceBean.AEmail}" />
                                                    </div>
                                                    <div class="login-row">
                                                            <h:outputLabel for="approving_mgr_phone" value="Approving Manager Phone *" />
                                                            <h:inputText required="true" requiredMessage="The 'Approving Manager Phone' must be provided." id="approving_mgr_phone"
                                                                    value="#{userMaintenanceBean.APhone}" />
                                                    </div>								
                                            </div>
                                            <div class="submit">
                                                    <h:commandButton id="userAccount" value="Create My User Account"
                                                            action="#{userMaintenanceBean.submitCreateUser()}"
                                                            styleClass="btn-primary btn-large btn-info pull-left" />
                                            </div>
                                    </h:panelGroup>								
                                    <h:panelGroup rendered="#{loginBean.isWalmartSubdomain}">
                                            <div class="submit">
                                                    <h:commandButton value="Create My User Account"
                                                            action="#{userMaintenanceBean.submitCreateUserWalmart()}"
                                                            styleClass="btn-primary btn-large btn-info pull-left"/>
                                            </div>
                                           
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{loginBean.isNovantSubdomain}">
                                            <div class="submit">
                                                    <h:commandButton value="Create My User Account"
                                                            action="#{userMaintenanceBean.submitCreateNovantUser()}"
                                                            styleClass="btn-primary btn-large btn-info pull-left" />
                                            </div>
                                    </h:panelGroup>
                            </h:form>
                        <div class="submit">
                            <form action="#{loginBean.homePage}">
                                <button style="float:right; margin-top:-90px;" class="btn-primary">Go To Home Page </button>
                            </form>
                            <form action="#{userMaintenanceBean.clearAll()}">
                                <button style="float:right; margin-right: 180px; margin-top:-90px;" class="btn-primary">Clear Fields</button>
                            </form>
                        </div>
                    </div>
                    <div class="span6 loginMgn-right pull-right">
                            <div class="logowrapper">
                            	<a href="#{marketingImagesBean.getImageLinkDestination('createRequest1')}">
                                    <img class="logoicon" src="#{marketingImagesBean.getImageUrl('createRequest1')}" />
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="addNewDepartmentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <h:form>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="myModalLabel">Enter New Department</h3>
            </div>
            <div class="modal-body">
                <h:panelGroup id="departmentModalGroup">
                <rich:message style="color:red;" for="userMaintenanceDDesktop"/>
                <rich:message style="color:red;" for="userMaintenanceDCostCenter"/>
                <rich:message style="color:red;" for="userMaintenanceDAddress"/>
                <rich:message style="color:red;" for="userMaintenanceDACity"/>
                <rich:message style="color:red;" for="userMaintenanceDState"/>
                <rich:message style="color:red;" for="userMaintenanceDZip"/>
                <table>
                    <tr>
                        <td>Dept Name: *</td>
                        <td><h:inputText id="userMaintenanceDName" required="true" requiredMessage="The 'Dept Name' must be provided." value="#{userMaintenanceBean.DName}"/></td>
                    </tr>
                    <tr>
                        <td>Desktop (e.g.: Bldg 100): *</td>
                        <td><h:inputText id="userMaintenanceDDesktop" required="true" requiredMessage="The 'Dept Desktop' must be provided." value="#{userMaintenanceBean.DDesktop}" /></td>
                    </tr>
                    <tr>
                        <td>Cost Center # (e.g.: xxxx-xxxxxx): *</td>
                        <td><h:inputText id="userMaintenanceDCostCenter" required="true" requiredMessage="The 'Department Cost Center' must be provided." value="#{userMaintenanceBean.DCostCenter}" /></td>
                    </tr>
                    <tr>
                        <td>Same Addr as default? *</td>
                        <td><h:selectOneMenu id="userMaintenanceDSameAsDefault" value="#{userMaintenanceBean.DSameAsDefault}">
                            <f:selectItem itemValue="No" itemLabel="No"/>
                            <f:selectItem itemValue="Yes" itemLabel="Yes" />
                            <a4j:ajax event="change" listener="#{userMaintenanceBean.valueChangeMethod}" render="userMaintenanceDAddress userMaintenanceDACity userMaintenanceDState userMaintenanceDZip" />
                        </h:selectOneMenu>
                        </td>
                    </tr>
                    <tr>
                        <td>Address: *</td>
                        <td><h:inputText id="userMaintenanceDAddress" required="true" requiredMessage="The 'Address' must be provided." value="#{userMaintenanceBean.DAddress}"/></td>
                    </tr>
                    <tr>
                        <td>City: *</td>
                        <td><h:inputText id="userMaintenanceDACity" required="true" requiredMessage="The 'City' must be provided." value="#{userMaintenanceBean.DCity}"/></td>
                    </tr>
                    <tr>
                        <td>State: *</td>
                        <td><h:inputText id="userMaintenanceDState" required="true" requiredMessage="The 'State' must be provided." value="#{userMaintenanceBean.DState}"/></td>
                    </tr>
                    <tr>
                        <td>Zip: *</td>
                        <td><h:inputText id="userMaintenanceDZip" required="true" requiredMessage="The 'Zip' must be provided." value="#{userMaintenanceBean.DZip}"/></td>
                    </tr>
                </table>
                </h:panelGroup>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <a4j:commandLink styleClass="btn-primary btn-large btn-info pull-left" onclick="$('#addNewDepartmentModal').modal('hide');"
                    value="Add Department" action="#{userMaintenanceBean.addDepartment()}" render="departmentListTablePanel departmentModalGroup" />
            </div>
            </h:form>
        </div>
	</ui:define>
</ui:composition>