<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">
	

	<ui:define name="page_content">
		<div id="loginContainerMain">
			<div id="login-content" class="row-fluid">
				<p>#{display['userRequest.notice']}</p>
				<ul>				
					<h:panelGroup rendered="#{loginBean.isMarfieldSubdomain}">	
						<li>If you normally purchase through <span style="color:red;">SAP</span> or <span style="color:red;">ARIBA</span>, there’s no need to register. Instead, log in through SAP or ARIBA.</li>
						<li>If you normally purchase through the <span style="color:red;">PepsiCo</span> Intranet link or web address, please continue registration below.</li>					
					</h:panelGroup>
					<h:panelGroup rendered="#{not loginBean.isMarfieldSubdomain}">
						<li>#{pageCssBean.createUserRequestInstructions}</li>
					</h:panelGroup>
				</ul>
				<div>
					<div class="span5 loginMgn-left" style="width: 850px">
						<h2>#{display['userRequest.header']}</h2>
						<hr />
						<h:form id="userRequest" class="form-inline">
                                                    <h:messages style="color:red;"/>
	                        <h:panelGroup rendered="#{loginBean.isMarfieldSubdomain}">
	                            <div >
									<h:outputLabel for="company" value="Company Name*:" />
									<h:inputText id="company"
										value="#{userCreationRequestBean.companyName}" required="true" requiredMessage="The 'Company Name' must be provided." />
								</div>
							</h:panelGroup>
							<div>
								<h:outputLabel for="first" value="First Name*:"/>
								<h:inputText id="first"
									value="#{userCreationRequestBean.firstName}" required="true" requiredMessage="The 'First Name' must be provided."/>
							</div>
							<div>
								<h:outputLabel for="last" value="Last Name*:"/>
								<h:inputText id="last"
									value="#{userCreationRequestBean.lastName}" required="true" requiredMessage="The 'Last Name' must be provided."/>
							</div>
							
							<div>
								<h:outputLabel for="email" value="Email Address*:" />
								<h:inputText id="email" value="#{userCreationRequestBean.email}" validator="#{userCreationRequestBean.validateEmailAddress}" required="true" requiredMessage="The 'Email Address' must be provided." />
							</div>
							<div>
								<h:outputLabel for="password" value="Password*:" />
								<h:inputSecret id="password" value="#{userCreationRequestBean.password}" required="true" requiredMessage="A Password must be provided." styleClass="registrationPassword"/>
							</div>
							<h:panelGroup rendered="#{loginBean.isMarfieldSubdomain}">
								<div>
									<h:outputLabel value="Phone (XXX) XXX-XXXX *:" />
									<h:inputText id="phone"
										value="#{userCreationRequestBean.phoneNumberValidationBean.phoneNumberReadable}"
										maxlength="14" required="true"
										validatorMessage="Number must be of the format (XXX) XXX-XXXX or X-XXX-XXX-XXXX."
										requiredMessage="#{display['userRequest.phoneNumber.field.lineNumber.required']}">
										<f:validateRegex
											pattern="#{userCreationRequestBean.phoneNumberValidationBean.phoneNumberReadableRegex}" />
									</h:inputText>
									<h:outputLabel for="ext" value="Ext:" styleClass="inline-input" />
									<h:inputText id="ext" size="4"
										value="#{userCreationRequestBean.ext}" />
								</div>
							</h:panelGroup>
							 <h:panelGroup rendered="#{loginBean.isMarfieldSubdomain}">
								<div>
									<div>
										<h3>Location</h3>
									</div>
	
									<div>
										<h:outputLabel value="Address 1*:"/>
										<h:inputText value="#{userCreationRequestBean.address1New}" required="true" requiredMessage="The 'Address' must be provided." />
									</div>
									<div>
										<h:outputLabel value="Address 2:" />
										<h:inputText value="#{userCreationRequestBean.address2New}" />
									</div>
									<div>
										<h:outputLabel value="City*:" />
										<h:inputText value="#{userCreationRequestBean.cityNew}" required="true" requiredMessage="The 'City' must be provided." />
									</div>
									<div>
										<h:outputLabel value="State*:" />
										<h:inputText value="#{userCreationRequestBean.stateNew}" size="5" required="true" requiredMessage="The 'State' must be provided."/>
										<h:outputLabel value="Zip*:" styleClass="inline-input" />
										<h:inputText size="9"
											value="#{userCreationRequestBean.zipNew}" required="true" requiredMessage="The 'Zip' must be provided."/>
									</div>
								
								</div>
							</h:panelGroup>
							
							<h:panelGroup id="alreadyUsedMessage">
								<div style='color:red;#{userCreationRequestBean.validAddress?"display:none":""}'>
									This user is already registered in our system. To reset your password, click<a href="#{linksBean.publicResetPassword}?username=#{userCreationRequestBean.email}"> here</a>.
								</div>
							</h:panelGroup>					
														
							<div class="submit">
								<h:commandButton id="submit" value="Submit"
									action="#{userCreationRequestBean.submit()}"
									styleClass="btn-primary btn-large btn-info pull-left">
								</h:commandButton>
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>