<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">

    <ui:define name="page_content">
    	<div>
    		<h3>Your Password has been reset successfully. You will receive an email with further instructions.</h3>
    		<h:form>
    			<a4j:commandButton value="Back to login page" action="#{loginBean.logoutAndGoToLoginPage()}" />
    		</h:form>
    	</div>
    </ui:define>

</ui:composition>