<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">
	
	<f:metadata>
    	<f:viewParam name="username" value="#{loginBean.passResetUsername}" />
	</f:metadata>


	<ui:define name="page_content">
		
		<div id="loginContainerMain" style="border:1px solid blue;">
			<div id="login-content" style="border:1px solid red;">
				<div style="border:1px solid green;">
					<div class="span5 loginMgn-left" style="width: 850px">
						<div>
	                        <nobr>
	                        <p class="customerRegFont">After you click 'submit', you will receive an email with a secure link which will allow you to set a new password.</p>
	                    	</nobr>
                        </div>
						<h:form id="userRequest" class="form-inline" onkeypress="return event.keyCode != 13">
                         <h:messages style="color:red;"/>
                            <div>
                                <h2>Reset Password</h2>
                            </div>
                            <div class="modal-body">
                                <h:outputLabel value="Enter Username:" />
                                <h:inputText value="#{loginBean.passResetUsername}" required="true" requiredMessage="Please, provide your username."/>
                            </div>
							<div class="submit">
								<h:commandButton id="submitResetPassword" value="Submit" action="#{loginBean.resetPassword()}" styleClass="btn-primary btn-large btn-info pull-left" />
							</div>
						</h:form>
					</div>
					<div class="span6 loginMgn-right pull-right">
						<div class="logowrapper">
							<a href="#{marketingImagesBean.getImageLinkDestination('createRequest1')}">
								<img class="logoicon" src="#{marketingImagesBean.getImageUrl('createRequest1')}" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>