<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/layout/manualOrderTemplate.xhtml">
	
<ui:define name="main">	
	<h:message />
	<div class="tab-pane fade in active" id="manualOrder">
        <h:form id="checkout">
            <div class="row apdMarginTop container">
            <div class="row-fluid">
                <div class="span12 fl-wrapper">
                    <div class="span8">
                        <h3>Manual Order: <h:outputText value="#{manualOrderBean.currentOrder.apdPo.value}"/></h3>
                    </div>
                    <!-- ==== TOP LINKS ==== --> 
                    <div class="shoppingBtns pull-right">

                        <div class="borderBottomMobile rightSideBtn">
                            <h:commandButton styleClass="btn btn-apd" action="#{manualOrderBean.holdOrder()}" 
                            	value="Save for Later" />
                        </div>

                        <div class="borderBottomMobile rightSideBtn mobileHide">
                            <h:commandButton styleClass="placeOrderBtn" action="#{manualOrderBean.placeOrder()}" 
                            	value="PLACE ORDER" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <span class="pull-left">
						<rich:messages />
					</span>
                    <!-- ==== TOP LINKS END ==== --> 
                    <div class="clearfix"></div>
                    <div class="span10 accordion" id="accordion">
	                    <ui:include src="/cashout/orderBilling.xhtml">
	                        <ui:param name="order" value="#{manualOrderBean.currentOrder}" />
	                        <ui:param name="page" value="#{manualOrderBean.pageValues}" />
	                        <ui:param name="isReadOnly" value="#{false}" />
	                    </ui:include>
	                    <ui:include src="/cashout/orderShipping.xhtml">
	                        <ui:param name="order" value="#{manualOrderBean.currentOrder}" />
	                        <ui:param name="page" value="#{manualOrderBean.pageValues}" />
	                        <ui:param name="bean" value="#{manualOrderBean}" />
	                        <ui:param name="isReadOnly" value="#{false}" />
	                    </ui:include>
	                </div>
	                </div>	
					<div>
			        	<div id="collapseThree" class="accordion-body" style="height: auto;">
			            	<div class="accordion">
			            		<ui:include src="/admin/manualOrder/lineItemEntry.xhtml" />
			            		<ui:include src="/admin/manualOrder/lineItemDisplay.xhtml" />			            					            		
			            	</div>
			            </div>
		            </div>
		            
                </div>
                <div class="span12 fl-wrapper">
                    <div class="span4"></div>
                    <!-- ==== BOTTOM LINKS ==== --> 
                    <div class="shoppingBtns pull-right">

                        <div class="borderBottomMobile rightSideBtn">
                            <h:commandButton styleClass="btn btn-apd" action="#{manualOrderBean.holdOrder()}" 
                            	value="Save for Later" />
                        </div>

                        <div class="borderBottomMobile rightSideBtn">
                            <h:commandButton styleClass="placeOrderBtn" action="#{manualOrderBean.placeOrder()}" 
                            	value="PLACE ORDER" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- ==== BOTTOM LINKS END ==== -->  
                </div>            
				</div>
                  
           
        </h:form>
	</div>
	<ui:include src="/admin/manualOrder/addNewVendorModal.xhtml" />	
	<rich:popupPanel id="commentModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	
		<h:form id="commentModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Comment" />
	  			</f:facet>
	  			<f:facet name="controls">
	      			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('commentModal')}.hide(); return false;" />
	  			</f:facet>
	  			
	  		<h:outputText value="#{manualOrderBean.currentComment.content}" />
			
			<div class="btn-group" layout="block">
				<a4j:commandLink value="Close" styleClass="btn" immediate="true" 
					render="commentModalForm"
					action="#{manualOrderBean.discardCurrentComment()}"
					oncomplete="hidePopup('commentModal');" />
			</div>
			
			</a4j:region>
		</h:form>
     		
    </rich:popupPanel>
    
    <rich:popupPanel id="addFileModal" height="750" width="750" moveable="false" domElementAttachment="parent">
   		<f:facet name="header">
			<h:outputText value="Add File" />
 		</f:facet>
		<f:facet name="controls">
   			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('addFileModal')}.hide(); return false;" />
		</f:facet>
			<h:form>
			<div>
        		<rich:fileUpload fileUploadListener="#{manualOrderBean.fileUploadBean.fileUploadListener}"
                         id="upload" addLabel="File Upload" listHeight="50px"
                         maxFilesQuantity="1"/>
                <br />
                <div>Select the files to upload and then click the Upload button before hitting confirm.</div>
				<a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
					render=":files-form" 
					action="#{manualOrderBean.saveUploadedFile()}"
					oncomplete="hidePopup('addFileModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
					render="addFileModal"
					oncomplete="hidePopup('addFileModal');" />
	 		</div>
	 		</h:form>
	</rich:popupPanel>
	</ui:define>
</ui:composition>