<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">
  
    <ui:define name="page_content">
    	<div id="loginCarousel">
    		<ui:repeat var="carousel" value="#{loginCarouselDisplayBean.carousels}" varStatus="status">
    			<h:panelGroup rendered="#{not empty carousel.backgroundImageUrl}">
	    		<div id="loginCarousel#{status.index}" class="singleCarouselWrapper">
	    			<h:panelGroup layout="block" styleClass="singleCarouselText" rendered="#{not empty carousel.header or not empty carousel.body 
	    					or (not empty carousel.linkUrl and not empty carousel.linkText)}">
	    				<h:panelGroup rendered="#{not empty carousel.header}">
	    					<h2>#{carousel.header}</h2>
	    				</h:panelGroup>
	    				<h:panelGroup rendered="#{not empty carousel.body}">
	    					<p>#{carousel.body}</p>
	    				</h:panelGroup>
	    				<h:panelGroup styleClass="singleCarouselLink" rendered="#{not empty carousel.linkUrl and not empty carousel.linkText}">
	    					<a href="#{carousel.linkUrl}">#{carousel.linkText}</a>
	    				</h:panelGroup>
	    			</h:panelGroup>
	    			<img src="#{carousel.backgroundImageUrl}" class="singleCarouselImage" />
	    		</div>
	    		</h:panelGroup>
    		</ui:repeat>
    	</div>
    	<script type="text/javascript">
	    	$(document).ready(function() {
				runslide(0);
	    	});
			
			function runslide(value) {

				//resets carousel index if all items have been seen
				if (value >= #{loginCarouselDisplayBean.carouselQuantity}) {
					value = 0;
				}

				//if no items in the carousel, just returns
				if (#{loginCarouselDisplayBean.carouselQuantity == 0}) {
					return;
				} else if (#{loginCarouselDisplayBean.carouselQuantity == 1}) {
					//if one item in the carousel, that item is displayed, and returns
					jQuery("#loginCarousel0").fadeIn(1500);
				} else {
					//if there is more than one item in the carousel, the current item is displayed,
					//then the index is incremented to display the next item
					jQuery("#loginCarousel" + value).fadeIn(1500).delay(5500).fadeOut(1500, function() {runslide(value + 1);});
				}
			}
		</script>
    </ui:define>
</ui:composition>
