<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
	<h:panelGroup styleClass="span12 main-Header" layout="block" rendered="#{not empty searchBean.autoCorrectMessage 
				or not empty searchBean.didYouMeanMessage 
				or not empty searchBean.crossReference 
				or (empty searchBean.products and productDetailsBean.product == null)}">
       	<h:panelGroup rendered="#{not empty searchBean.autoCorrectMessage}">
        	<p class="searchMessage">#{searchBean.autoCorrectMessage}</p>
        </h:panelGroup>
        <h:panelGroup rendered="#{not empty searchBean.didYouMeanMessage}">
        	<p class="searchMessage"> Did You Mean <a href="#{searchBean.getDidYouMeanURL()}">#{searchBean.didYouMeanMessage}</a>?</p>
        </h:panelGroup>
        <h:panelGroup rendered="#{not empty searchBean.crossReference}">
        	<p class="searchMessage">#{searchBean.crossReference}</p>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty searchBean.products and productDetailsBean.product == null}">
        	<h3 class="headerNoMargin">
        		<h:outputText value="No Results Found" />
        	</h3>
        </h:panelGroup>
    </h:panelGroup>
</ui:composition>