<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceCredentialSelectionTemplate.xhtml">

    <ui:define name="logo">
        <div>Logo</div>
    </ui:define>

    <ui:define name="empty">

    </ui:define>

    <ui:define name="user_info">
        <div id="wrapper">
            <div id="user_welcome">
                <h:outputText value="#{userProfileBean.firstName}"/>
                <h:outputText value="&amp;nbsp;" escape="false"/>
                <h:outputText value="#{userProfileBean.lastName}"/>  
            </div>
            <div id="logout_form">
                <h:form>
                    <h:commandLink value="Logout" action="/ecommerce/login/login?faces-redirect=true"/>
                </h:form>
            </div>
        </div>
    </ui:define>

    <ui:define name="main_body">   
        <h:form>
            <rich:graphValidator value="#{passwordValidatorBean}" id="gv">
                <rich:panel header="Change password" id="password_panel">
                    <rich:messages for="gv" />
                    <rich:messages globalOnly="true" />
                    <h:panelGrid columns="1">

                        <h:outputText value="Enter current password:" />
                        <h:inputSecret value="#{passwordValidatorBean.currentPassword}" id="current_pass"/>
                        <rich:message for="current_pass" />


                        <h:outputText value="Enter new password:" />
                        <h:inputSecret value="#{passwordValidatorBean.password}" id ="pass"/>
                        <rich:message for="pass" />

                        <h:outputText value="Confirm the new password:" />
                        <h:inputSecret value="#{passwordValidatorBean.confirm}" id="conf"/>
                        <rich:message for="conf" />

                    </h:panelGrid>
                    <a4j:commandButton value="Store changes" action="#{passwordValidatorBean.storeNewPassword}" />
                </rich:panel>
            </rich:graphValidator>
        </h:form>
    </ui:define>

</ui:composition>
