<!DOCTYPE html> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

    <li class="dropdown mobileHide">
    	<h:panelGroup rendered="#{searchBean.displayBrowseByCategory()}">
	        <a id="browse-dropdown" href="#" class="dropdown-toggle" style="border: none;"
	                data-hover="dropdown" data-delay="1000" data-close-others="false">
	            <h:outputText value="#{display['nav.main.browse']}" />
	        </a>
	        <!-- please see the javascript in the topNavBar for the position styling of this dropdown -->
			<ul class="dropdown-menu category-menu category-menu-left-small" style="left: 0px;">
	
	             <c:forEach var="level1Category" items="#{searchBean.categoryMenu.topLevelCategoriesList}" varStatus="l1status">
	             	<c:if test="#{not searchBean.categoryMenu.getLevelOneMenuItems(level1Category).isEmpty()}" >
	             	 <li class="category-item dropdown-submenu">
	                     <a href="#" class="category-header">
	                     	#{level1Category.displayName}
	                     </a>
	                     <c:set var="level1Size" value="#{searchBean.categoryMenu.getMenuWidth(level1Category)}" />
		             	 <ul style="top: -#{l1status.index}00% !important; min-height: #{l1status.index + 1}00%;" class="submenu dropdown-menu #{level1Size > 2 ? 'category-menu-left' : 'category-menu-left-small'}">
		             	 	 <c:forEach var="level2Category" items="#{searchBean.categoryMenu.getLevelOneMenuItems(level1Category)}">
			                 <li class="category-item dropdown-submenu">
			                     <a href="#{searchBean.categoryMenu.getUrl(level2Category.searchEngineKey)}" class="category-header">#{level2Category.displayName}</a>
			                 </li>
			                 </c:forEach>
		                 </ul>
		             </li>
		            </c:if>
	             	<c:if test="#{searchBean.categoryMenu.getLevelOneMenuItems(level1Category).isEmpty()}" >
	             	  <li class="category-item dropdown-submenu">
	                     <a href="#{searchBean.categoryMenu.getUrl(level1Category.searchEngineKey)}" class="category-header">
	                     	#{level1Category.displayName}
	                     </a>
		              </li>
		            </c:if>
	             </c:forEach>
	         </ul>
        </h:panelGroup>
    </li>

</ui:composition>