<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
     <h:panelGroup rendered="#{not empty searchBean.products}" styleClass="span12">
     	 <h:panelGroup layout="block" styleClass="compareAddAllButtonDiv" id="compareWidget#{section}">
             <a4j:commandLink styleClass="btn smallBtn pull-left" style="#{margin2}" onclick="waitOnNextAjax();"
                              action="#{productCompareBean.init(searchBean.pageNumber)}" render="browse-form">
				Compare <br/> Selected Items
			 </a4j:commandLink>
			 <a4j:repeat value="#{productCompareBean.productsToCompare}" var="productToCompare">
			 	 <div class="productCompareThumbnailWrapper">
		             <a4j:commandLink action="#{productCompareBean.productsToCompare.remove(productToCompare)}" render="browse-form">
		             	 <img src="#{productToCompare.mainImageUrl}" class="productCompareThumbnail"
		             	 		title="#{productToCompare.customerSku != null ? productToCompare.customerSku : productToCompare.apdSku} (click to remove)" />
		             </a4j:commandLink>
	             </div>
			 </a4j:repeat>
     	 </h:panelGroup>
         
         <div class="span3 pull-right compareAddAllButtonDiv" style="#{position}#{margin1}">
             <a4j:commandLink styleClass="btn smallBtn pull-right" 
             					rendered="#{not addToCartBean.isAllAddingPrevented(searchBean.products)}"
                                action="#{addToCartBean.addAllToCart(searchBean.products, searchBean.featuredProducts)}"
                               oncomplete="$cartNotify();" render=":items-added-json :cart-dropdown-count :recently-added-container" 
                               onclick="waitOnNextAjax();">
				Add All <br/> To Cart
			</a4j:commandLink>
            <h:panelGroup rendered="#{addToCartBean.isAllAddingPrevented(searchBean.products)}">
            	<a href="#" class="smallBtnDisabled btn disabled pull-right">
            		Add All <br/> To Cart
            	</a>
            </h:panelGroup>
        </div>
        <div class="span12 clearfix borderBottomPS">
        </div>
    </h:panelGroup>
</ui:composition>