<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
    <script>
        $(document).ready(function() {addFunctionToCallAfterAjax(function() {
           addPopTriggers();
        });});
    </script>
    <div class="span12">
        <a4j:repeat value="#{products}" var="product" rowKeyVar="index">
            <h:panelGroup rendered="#{not empty product}">
                <div class="product-wrapper">
                <div class="span9">
	                <div class="span4 ps-image mobilePicPS">
	                	<a href="#{product.detailsLink}&amp;prevPageNumber=#{parentBean== null?'1':parentBean.getPageNumber()}">
	                    	<img src="#{product.mainImageUrl}" class="productListImage"/>
	                    </a>
	                    <div class="compare">
	                        <h:panelGroup styleClass="controls" rendered="#{allowCompare and product.id != null}">
	                            <label class="checkbox inline">
	                                <h:selectBooleanCheckbox value="#{productCompareBean.compareMap[product]}">
	                                	<a4j:ajax render="@this :compareWidgetTop :compareWidgetBottom" 
	                                		oncomplete="if (#{productCompareBean.selectQuantityModalDisplay}) {$('#productCompareQuantity').modal('show');}" />
	                                </h:selectBooleanCheckbox>
	                                Compare
	                            </label>
	                        </h:panelGroup>
	                    </div>
	                </div>
	
	                <div class="span8 product-info"><!-- TODO: add the "popover-trigger" class to this div, to reenable the popup which was turned off per PHOEN-4430 -->
	                	<h:panelGroup layout="block" rendered="#{not empty product.manufacturerName}" styleClass="manufacturer">
	                        <Strong>#{product.manufacturerName}</Strong>
	                    </h:panelGroup>
	                    <h:panelGroup layout="block" rendered="#{not empty product.name}" styleClass="title">
	                        <a href="#{product.detailsLink}&amp;prevPageNumber=#{parentBean== null?'1':parentBean.getPageNumber()}">#{product.name}</a>
	                    </h:panelGroup>
	                    <h:panelGroup rendered="#{!product.sellingPoints.isEmpty()}">
	                    	<ul class="descBullet product-desc">
	                        	<a4j:repeat rowKeyVar="index" value="#{product.sellingPoints}" var="sellingPoint">
									<h:panelGroup rendered="#{ index &lt; 2}">
												<li><p><h:outputText value="#{sellingPoint}" /></p></li>
									</h:panelGroup>
								</a4j:repeat>
							</ul>
						</h:panelGroup>	                    
	                    <div class="sku-no-break">
		                    <h:panelGroup layout="block" rendered="#{not empty product.manufacturerSku}" styleClass="manufacturer">
		                        <h:outputText value="Mfr. SKU: #{product.manufacturerSku}"/>
		                    </h:panelGroup>
							<div class="manufacturer">
								<h:outputText value="SKU: #{product.customerSku}"/>
		                    </div>
	                    </div>
	                    <!-- div for pop-over content-->
	                    <div class="popSourceBlock" style="display:none">
	                        <div class="popTitle">
	                            Additional Information
	                        </div>
	                        <div class="popContent">
	                            <h:panelGroup rendered="#{product.apdSku != null and !addToCartBean.isSpecialOrder(product)}"><div><strong>Dealer Sku:</strong>#{product.apdSku}</div></h:panelGroup>
	                            <h:panelGroup rendered="#{product.vendorSku != null and !addToCartBean.isSpecialOrder(product)}"><div><strong>Vendor Sku:</strong>#{product.vendorSku}</div></h:panelGroup>
	                            <div>
	                                <h:panelGroup rendered="#{product.properties['substituteSku']!=null and product.properties['substituteVendor']!=null}">
	                                    <h:panelGroup rendered="#{addToCartBean.YES_VALUE.equals(product.properties['force substitute'])}">
	                                        <font color="red"><strong>This item must be substituted with </strong></font> 
	                                        <a4j:commandLink action="#{addToCartBean.addSingleItem(product)}" oncomplete="$cartNotify();" onclick="waitOnNextAjax();"
	                                                         render=":items-added-json :cart-dropdown-count :recently-added-container" >
	                                            #{product.properties['substituteSku']}
	                                        </a4j:commandLink>
	                                    </h:panelGroup>
	                                    <h:panelGroup rendered="#{!addToCartBean.YES_VALUE.equals(product.properties['force substitute'])}">
	                                        <font color="red"><strong>This item should be substituted with </strong></font> 
	                                        <a4j:commandLink action="#{addToCartBean.addSingleItem(product)}" oncomplete="$cartNotify();" onclick="waitOnNextAjax();"
	                                                         render=":items-added-json :cart-dropdown-count :recently-added-container" >
	                                            #{product.properties['substituteSku']}
	                                        </a4j:commandLink>
	                                    </h:panelGroup>
	                                </h:panelGroup>
	                            </div>
	                            <div>
	                                <h:panelGroup rendered="#{addToCartBean.YES_VALUE.equals(product.properties['customOrder'])}">
	                                    <font color="red"><strong>Custom</strong></font>
	                                </h:panelGroup>
	                            </div>
	                            <div>
	                                <h:panelGroup rendered="#{addToCartBean.isSpecialOrder(product)}">
	                                    <font color="red"><strong>Special Order: contact customer service at #{propertiesBean.get('tenant','customerServicePhoneNumber')}</strong></font>
	                                </h:panelGroup>
	                            </div>
	                            <div>
	                                <h:panelGroup rendered="#{addToCartBean.YES_VALUE.equals(product.properties['customOrder'])}">
	                                    <font color="red"><strong>Custom</strong></font>
	                                </h:panelGroup>
	                            </div>
	                            <div>
	                                    <h:panelGroup rendered="#{addToCartBean.isRestricted(product)}">
	                                        <font color="red"><strong>Restricted</strong></font>
	                                    </h:panelGroup>
	                                </div>
	                            <div>
	                                <h:panelGroup rendered="#{addToCartBean.isDiscontinued(product)}">
	                                    <font color="red"><strong>Discontinued</strong></font>
	                                        <h:panelGroup rendered="#{product.replacementSku != null and product.replacementVendor != null}">
	                                            <div>
	                                                Replacement SKU: <a href="#{productBrowseBean.getReplacementProductDetailsLink(product)}">#{product.replacementSku}</a>
	                                            </div>
	                                        </h:panelGroup>
	                                </h:panelGroup>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="product-icons">
	                        <a4j:repeat rendered="#{not empty product.iconMap.keySet()}" value="#{viewUtils.mapToList(product.iconMap)}" var="entry" rowKeyVar="index">
	                            <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
	                        </a4j:repeat>
	                    </div>
	                </div>
                </div>               
                <div class="span3 btnsPS">                	
                    <apd:addToCart product="#{product}" narrow="true"/>
                </div>
                <div class="span12 clearfix borderBottomPS"></div>
                </div>
            </h:panelGroup>
        </a4j:repeat>
    </div>
</ui:composition>