<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                xmlns:composite="http://java.sun.com/jsf/composite">
    		
    		
    		 <script>
	        $(document).ready(function() {addFunctionToCallAfterAjax(function() {
	           addPopTriggers();
	        });});
  			 </script>
  			  <h:outputStylesheet>
  			  .column1 { width: 190px; }
			  .column2 { width: 80px; }
			  .column3 { width: 200px; }
			  .column4 { width: 90px; }
			  .column5 { width: 55px; }
			  .column6 { width: 100px; }
  			  </h:outputStylesheet>

    		
    <div class="span12">
    <div class="product-wrapper">
     <h:form>
	   <h:dataTable var ="product" class="product-info" value="#{products}" style="table-layout: fixed;
	   width: 100%;margin-left: -15px;" border="1" cellpadding="2" headerClass="filterListHeader filterListHeaderTop" columnClasses="column1,column2,column3,column4,column5,column6" >
				<h:column headerClass="filterListHeader filterListHeaderTop column1">
					<div class="span12 product-info">
						<div class="sku-no-break"  >
							<f:facet name="header">
								<div class="manufacturer" style="color: #10165D;">SKU<br/>Mfr.SKU<br/>Vendor SKU</div>
							</f:facet>
					
							<h:panelGroup>
								<div class="manufacturer">
									<h:outputText value="#{product.customerSku}" style="white-space: pre-wrap;word-break: break-all;"/>
				                </div>
							</h:panelGroup>
							<h:panelGroup styleClass="manufacturer">
				                     <h:outputText value="#{product.manufacturerSku}"/>
				            </h:panelGroup>
				            <h:panelGroup styleClass="manufacturer">
				            		<div>#{product.vendorSku}</div>
				            </h:panelGroup>
						</div>
					</div>
				</h:column>
	              
							
	            <h:column headerClass="filterListHeader filterListHeaderTop column2">
	            		<f:facet name="header">
								<div class="manufacturer" style="width:85px;color: #10165D;">Vendor Name<br/>Brand</div>
						</f:facet>
							<h:panelGroup>
								<div class="manufacturer offset1">
									<h:outputText value="#{product.vendorName}"/>
				                </div>
							</h:panelGroup>
							<h:panelGroup>
								<div class="manufacturer offset1">
				                     <h:outputText value="#{product.manufacturerName}"/>
				                 </div>
				            </h:panelGroup>
	            </h:column>
				<h:column headerClass="filterListHeader filterListHeaderTop column3">
					<f:facet name="header">
						<div class="manufacturer" style="color: #10165D;">Description and Specs</div>
					</f:facet>
					
					<div class="span8 product-info" style="width:200px">
					 <h:panelGroup layout="block" rendered="#{not empty product.name}" styleClass="title">
	                        <a href="#{product.detailsLink}&amp;prevPageNumber=#{parentBean== null?'1':parentBean.getPageNumber()}">
	                         <rich:panel style="border:none;">
	                          <h:outputText value="#{product.name}" style="white-space: pre-wrap;word-break: break-word;"/>
					            <rich:tooltip layout="block" style="border:0px;">
					                <div class="span4 ps-image mobilePicPS" style="white-space:nowrap;width: 100px; margin-left:-5px;">
					                	<img src="#{product.mainImageUrl}" class="productListImage"/>
					                </div>
					            </rich:tooltip>
      						 </rich:panel>
	                       </a>
	                    </h:panelGroup>
	                    <div class="product-icons">
	                        <a4j:repeat rendered="#{not empty product.iconMap.keySet()}" value="#{viewUtils.mapToList(product.iconMap)}" var="entry" rowKeyVar="index">
	                            <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" style="margin-left: 10px;" />
	                        </a4j:repeat>
	                        <ui:remove> 
					        <rich:tooltip rendered="#{(cc.attrs.product.minimum == null or cc.attrs.product.minimum le 1) and (cc.attrs.product.multiple != null and cc.attrs.product.multiple gt 1)}" for="addToCartSpan">
					        	Multiple QTY = #{cc.attrs.product.multiple}
					        </rich:tooltip>
					        <rich:tooltip rendered="#{(cc.attrs.product.minimum != null and cc.attrs.product.minimum gt 1) and (cc.attrs.product.multiple == null or cc.attrs.product.multiple le 1)}" for="addToCartSpan">
					        	Min QTY = #{cc.attrs.product.minimum}
					        </rich:tooltip>
					        <rich:tooltip rendered="#{(cc.attrs.product.minimum != null and cc.attrs.product.minimum gt 1) and (cc.attrs.product.multiple != null and cc.attrs.product.multiple gt 1)}" for="addToCartSpan">
					        	Min QTY = #{cc.attrs.product.minimum}, Multiple QTY = #{cc.attrs.product.multiple}
					        </rich:tooltip>
	    				 </ui:remove>
	                    </div>
	                     
	                </div>
	               
				</h:column>
				
				<h:column headerClass="filterListHeader filterListHeaderTop column4">
					<f:facet name="header">
						<div class="manufacturer" style="color: #10165D;">Unit Price /<br /> UOM</div>
					</f:facet>
					
					<div class="span3 btnsPS" style="width:90px;">
					<h:panelGroup rendered="#{addToCartBean.showPrice(product)}">
			    		<div class="inline browse-price-per-unit featuredProductPrice pull-left">
			                <h:outputText value="#{product.price}">
			                    <f:convertNumber type="currency" currencySymbol="$" />
			                </h:outputText>
			                / #{product.units}  
			       		</div>
			       		</h:panelGroup>
                    </div>
                   
				</h:column>
	
				<h:column headerClass="filterListHeader filterListHeaderTop column5">
					<f:facet name="header">
						<div class="manufacturer" style="color: #10165D;">QTY</div>
					</f:facet>
                   <div class="span3 btnsPS">                	
                    <apd:qtyButton product="#{product}" narrow="true"/>
                	</div>
				</h:column>
				
				<h:column headerClass="filterListHeader filterListHeaderTop column6">
					<f:facet name="header">
						<div class="manufacturer" style="color: #10165D;">Action</div>
					</f:facet>
					<div style="width: 115px;margin-bottom: 80px;">

	                	<div class="addToCartButtonWrapper">
							<div class="qtyContainer">
								<h:panelGroup styleClass="addToCartFooter addToListWrapper" style="margin-right: 15px;">
							        <a4j:commandLink action="#{addToFavoritesListBean.setProduct(product)}" oncomplete="$('#addToListModal').modal('show')" styleClass="addToList">
							        	Add to favorites
							        </a4j:commandLink>
				        		</h:panelGroup>
			        		</div>
		        		</div>
		        		
		        		 <div class="compare text-center">
		                        <h:panelGroup styleClass="controls" rendered="#{allowCompare and product.id != null}">
		                            <label class="checkbox inline">
		                                <h:selectBooleanCheckbox value="#{productCompareBean.compareMap[product]}">
		                                	<a4j:ajax render="@this :compareWidgetTop :compareWidgetBottom" 
		                                		oncomplete="if (#{productCompareBean.selectQuantityModalDisplay}) {$('#productCompareQuantity').modal('show');}" />
		                                </h:selectBooleanCheckbox>
		                                Compare
		                            </label>
		                        </h:panelGroup>
		                    </div>
	                   </div>
				</h:column>
				
			</h:dataTable>
	    </h:form>
	  </div>
	  </div>
	  <div class="span12 clearfix borderBottomPS"></div>
    </ui:composition>