<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                xmlns:a4j="http://richfaces.org/a4j">
    <div class="tab-content container">
    	
    	<a4j:repeat value="#{productRelationshipBean.orderedRelationshipTabList}" var="relationshipName" rowKeyVar="relationshipIndex">
    	<div id="relationshipTab#{relationshipIndex}" class="#{productDetailsBean.shouldRenderTab('relationshipTab'.concat(relationshipIndex), productTab) ? 'active' : ''} tab-pane">
    	<h:panelGroup id="relationshipTabRender">
            <a4j:repeat id="productDetailsBean" var="product" rowKeyVar="index" 
            	value="#{productRelationshipBean.paginationMap[relationshipName].currentPageElements(productRelationshipBean.similarItemMap[relationshipName])}" >
			<div class="row-fluid">
                <div class="span12 #{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'}">
                	<div class="row-fluid">
                             <div class="span2"><img src="#{productDetailsBean.getURLString(product.imageUrls)}"/></div>
                             <div class="span6 product-info">
                                 <p class="manu"><Strong>#{product.manufacturerName}</Strong></p>
                                 <p class="title">
                                     <a href="#{isPeekProduct ? '' : product.detailsLink}">#{product.name}</a>
                                 </p>
                                 <p class="sku"><strong>SKU:</strong>#{product.customerSku}</p>
                                 <h:panelGroup rendered="#{!product.sellingPoints.isEmpty()}">
                    				<ul class="descBullet product-desc">
                        				<a4j:repeat rowKeyVar="index" value="#{product.sellingPoints}" var="sellingPoint">
                        					<h:panelGroup rendered="#{ index &lt; 2}">
												<li><p><h:outputText value="#{sellingPoint}" /></p></li>
											</h:panelGroup>
										</a4j:repeat>
									</ul>
								 </h:panelGroup>
								 <div class="row-fluid">
                                 <div class="span12 product-icons">
                                	<a4j:repeat rendered="#{not empty product.iconMap.keySet()}" value="#{viewUtils.mapToList(product.iconMap)}" var="entry" rowKeyVar="index">
                                    	<img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
                                	</a4j:repeat>
                            	</div>
                            	</div>
                                 
                             </div>                             
							 <h:panelGroup rendered="#{not isPeekProduct}">
	                             <div class="span4 padding-right pull-right product-info">
	                             	<apd:addToCart product="#{product}" />
	                             </div>
                             </h:panelGroup>
                         </div>
                </div>
            </div>
            </a4j:repeat>
            <div class="row-fluid">
            <div class="span12">
            	<apd:pagination pageDisplay="#{productRelationshipBean.paginationMap[relationshipName]}" render="relationshipTabRender" forceDisplay="#{not isPeekProduct}"/>
            </div>
            </div>
		</h:panelGroup>
        </div>
        </a4j:repeat>

        <div class="tab-pane #{productDetailsBean.shouldRenderTab('tab1', productTab) ? 'active' : ''} productDetails" id="tab1">
        	<div class="row-fluid">
        	<div class="span12">
        		<p class="productDetail-longDesc"><h:outputText value="#{detailsBean.getSafeProductDescription()}"/></p>
        	</div>
        	</div>
            <a4j:repeat var="detail" rowKeyVar="index" value="#{detailsBean.notEmptyItemSpecificationKeys}" >
            <div class="row-fluid">
                <div class="span12 #{index % 2 == 0 ? 'grayBkgrd-pd' : 'whiteBkgrd-pd'}">
                <div class="row-fluid">
                    <div class="span5 pd-headers"><p class="#{detail eq 'Warranty' ? 'bold' : ''}">#{detail}:</p></div>
                    <div class="span7">
                    	<p class="#{detail eq 'Warranty' ? 'bold' : ''}">
                    		<h:outputText value="#{detailsBean.getItemSpecificationValue(detail) != null ? 
                    			detailsBean.getItemSpecificationValue(detail) : ''}"/>
                    	</p>
                    </div>
                </div>
                </div>
            </div>
            </a4j:repeat>            
        </div>

        <div class="tab-pane productDetails #{productDetailsBean.shouldRenderTab('tab2', productTab) ? 'active' : ''}" id="tab2">
            <a4j:repeat var="detail" rowKeyVar="index" value="#{detailsBean.notEmptyItemClassificationKeys}" >
            	<div class="row-fluid">
	                <div class="span12 #{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'}">
		                <div class="row-fluid">
		                    <div class="span5 pd-headers"><p>#{detail}:</p></div>
		                    <div class="span7"><p>#{detailsBean.getItemClassificationValue(detail) != null ? 
		                    detailsBean.getItemClassificationValue(detail) : ''}</p></div>
		                </div>
	                </div>
                </div>
            </a4j:repeat>  
        </div>
    </div>
</ui:composition>
