<!DOCTYPE html> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">


	<a4j:repeat var="level1Category" value="#{searchBean.categoryMenu.popularTopLevelCategoriesList}">
		<li class="dropdown dropdown-submenu mobileHide">
			<!-- If it has submenus, the menu is unclickable, and a submenu must be selected -->
	        <h:panelGroup rendered="#{not searchBean.categoryMenu.getLevelOneMenuItems(level1Category).isEmpty()}" >
	        <a href="#" class="dropdown-toggle"
	                data-hover="dropdown" data-delay="1000" data-close-others="false">
	            <h:outputText value="#{level1Category.displayName}" />
	        </a>
        	<!-- please see the javascript in the topNavBar for the position styling of this dropdown -->
			<ul class="dropdown-menu category-menu #{searchBean.categoryMenu.getMenuWidth(level1Category) > 2 ? 'category-menu-left' : 'category-menu-left-small'}" style="left: 0px;" >
	
	             <a4j:repeat var="level2Category" value="#{searchBean.categoryMenu.getLevelOneMenuItems(level1Category)}">
	             	 <li class="category-item dropdown-submenu">
	                     <a href="#{searchBean.categoryMenu.getUrl(level2Category.searchEngineKey)}" class="category-header">#{level2Category.displayName}</a>
	                 </li>
	             </a4j:repeat>
	         </ul>
	         </h:panelGroup>
			 <!-- If no submenus, the menu is clickable -->
	         <h:panelGroup rendered="#{searchBean.categoryMenu.getLevelOneMenuItems(level1Category).isEmpty()}" >
		        <a href="#{searchBean.categoryMenu.getUrl(level1Category.searchEngineKey)}" class="dropdown-toggle">
		            <h:outputText value="#{level1Category.displayName}" />
		        </a>
	         </h:panelGroup>
	    </li>
	</a4j:repeat>
</ui:composition>