<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:forgeview="http://jboss.org/forge/view">
    <div class="accordion-group">
        <div class="accordion-heading divInside-Fade">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#">
                <h5>#{display['results.shipping.title']}<div class="arrowUp arrowDown">&nbsp;</div></h5></a>

        </div>
        <div id="collapseTwo" class="accordion-body in collapse" style="height: auto;">
        	<h:panelGroup styleClass="accordion-inner" layout="block">
            	
                <c:if test="#{page.field.containsKey('ship date') or page.field.containsKey('delivery date') or
                    				page.field.containsKey('cancel date')}">
                    <div class="row-fluid">
                   	<div class="span4">
                    	<c:if test="#{page.field.containsKey('ship date')}">
	                        <label>#{page.label[page.field['ship date']]}</label>
	                        <rich:calendar value="#{page.value[page.field['ship date']]}" disabled="#{!page.updatable[page.field['ship date']] or isReadOnly}" 
								required="#{page.required[page.field['ship date']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['ship date']]}: #{validation['cashout.date.required']}"/>
                        </c:if>
                   	</div>
                   	<div class="span4">
                    	<c:if test="#{page.field.containsKey('delivery date')}">
	                        <label>#{page.label[page.field['delivery date']]}</label>
	                        <rich:calendar value="#{page.value[page.field['delivery date']]}" disabled="#{!page.updatable[page.field['delivery date']] or isReadOnly}" 
								required="#{page.required[page.field['delivery date']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['delivery date']]}: #{validation['cashout.date.required']}"/>
                        </c:if>
                   	</div>
                   	<div class="span4">
                    	<c:if test="#{page.field.containsKey('cancel date')}">
	                        <label>#{page.label[page.field['cancel date']]}</label>
	                        <rich:calendar value="#{page.value[page.field['cancel date']]}" disabled="#{!page.updatable[page.field['cancel date']] or isReadOnly}" 
								required="#{page.required[page.field['cancel date']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['cancel date']]}: #{validation['cashout.date.required']}"/>
                        </c:if>
                   	</div>
                   	</div>
                </c:if>
				<c:if test="#{page.field.containsKey('existing shipto address selection')}">
				<div class="row-fluid">
	                <div class="span12">
                        <label>#{page.label[page.field['existing shipto address selection']]}</label>
						<h:selectOneMenu id="existingShipping" value="#{page.value[page.field['existing shipto address selection']]}"
							converter="#{cashoutConverterBean.addressConverter}" disabled="#{!page.updatable[page.field['existing shipto address selection']] or isReadOnly}"
							required="#{page.required[page.field['existing shipto address selection']] and !isReadOnly}"
                        	requiredMessage="#{page.label[page.field['existing shipto address selection']]}: #{validation['cashout.existingshippingaddress.required']}"
	                        styleClass="checkout-dropdown span11"
                                       style="#{ component.valid ? '' : 'border-color:red;'}"
							validator="#{page.existingAddressValidator}">
					    	<f:selectItem itemLabel=" " noSelectionOption="true"/>
				   			<f:selectItems value="#{forgeview:asList(page.options[page.field['existing shipto address selection']])}"
				   				 var="address" itemValue="#{address}" itemLabel="#{page.shiptoAddressToString(address)}" />
				    		<f:ajax listener="#{page.rerender(order, 'SHIPTO')}" render="shippingFields"/>
				   		</h:selectOneMenu>
				   		<rich:messages for="existingShipping" />
	                </div>
                </div>
                </c:if>
                <h:panelGroup id="shippingFields">
            	<c:if test="#{page.field.containsKey('ship company') or page.field.containsKey('ship name') or
            				page.field.containsKey('requester phone')}">
            	<div class="row-fluid">
	                <c:if test="#{page.field.containsKey('ship company')}">
	                	<div class="span4">
	                        <label>#{page.label[page.field['ship company']]}</label>
	                        <h:inputText value="#{page.value[page.field['ship company']]}" disabled="#{!page.updatable[page.field['ship company']] or isReadOnly}" 
	                        	required="#{page.required[page.field['ship company']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['ship company']]}: #{validation['cashout.shipcompany.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}"/>
	                	</div>
	                </c:if>
	                <c:if test="#{page.field.containsKey('ship name')}">
	                	<div class="span4">  
	                        <label>#{page.label[page.field['ship name']]}</label>
	                        <h:inputText value="#{page.value[page.field['ship name']]}" disabled="#{!page.updatable[page.field['ship name']] or isReadOnly}" 
	                        	required="#{page.required[page.field['ship name']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['ship name']]}: #{validation['cashout.requestername.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}">
                        	</h:inputText>
		                </div>
                    </c:if>
	                <c:if test="#{page.field.containsKey('requester phone')}">
	                	<div class="span4">  
	                        <label>#{page.label[page.field['requester phone']]}</label>
	                        <h:inputText value="#{page.value[page.field['requester phone']]}" disabled="#{!page.updatable[page.field['requester phone']] or isReadOnly}" 
	                        	required="#{page.required[page.field['requester phone']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['requester phone']]}: #{validation['cashout.requesterphone.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}"/>
	                	</div>
	                </c:if>
                </div>
                </c:if>

				<!-- ***************** Requestor Info / Shipto address separator ******************* -->
				<c:if test="#{(page.field.containsKey('ship company') or page.field.containsKey('ship name') or
            				page.field.containsKey('requester phone') and (page.field.containsKey('existing shipto address selection') or
            				page.field.containsKey('ship address 1')))}">
                	<div class="span12"><hr/></div>
                </c:if>
                <c:if test="#{page.field.containsKey('ship address 1')}">
                	<div class="row-fluid">
                	<div class="span12">
                        <label>#{page.label[page.field['ship address 1']]}</label>
                        <h:inputText value="#{page.value[page.field['ship address 1']]}" disabled="#{!page.updatable[page.field['ship address 1']] or isReadOnly}" 
                        	required="#{page.required[page.field['ship address 1']] and !isReadOnly}" styleClass="span11"
                        	requiredMessage="#{page.label[page.field['ship address 1']]}: #{validation['cashout.shipaddress1.required']}" 
                                style="#{ component.valid ? '' : 'border-color:red;'}">
                        </h:inputText>
					</div>
               		</div>
               	</c:if>
                <c:if test="#{page.field.containsKey('ship address 2')}">
                	<div class="row-fluid">
                	<div class="span12">
                        <label>#{page.label[page.field['ship address 2']]}</label>
                        <h:inputText value="#{page.value[page.field['ship address 2']]}" disabled="#{!page.updatable[page.field['ship address 2']] or isReadOnly}" 
                        	required="#{page.required[page.field['ship address 2']] and !isReadOnly}" styleClass="span11"
                        	requiredMessage="#{page.label[page.field['ship address 2']]}: #{validation['cashout.shipaddress2.required']}" 
                                style="#{ component.valid ? '' : 'border-color:red;'}">
                        </h:inputText>
                    </div>
               		</div>
               	</c:if>
               	<h:panelGroup id="cityStateZipUpdate">
                <c:if test="#{page.field.containsKey('ship city') or page.field.containsKey('ship states') 
                	or page.field.containsKey('ship zip')}">
                
                <h:panelGroup styleClass="row-fluid" id="shipCityStateZip" layout="block" rendered="#{page.shippingInUs()}">
	                <c:if test="#{page.field.containsKey('ship city')}">
	               		<div class="span5">
	                        <label>#{page.label[page.field['ship city']]}</label>
	                        <h:panelGroup layout="block" id="orderShippingShipCity">
	                        <h:inputText value="#{page.value[page.field['ship city']]}" disabled="#{true}" styleClass="span11"
	                        	required="#{page.required[page.field['ship city']] and !isReadOnly}" immediate="true"
	                        	requiredMessage="#{page.label[page.field['ship city']]}: #{validation['cashout.shipcity.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}"/>
							<rich:tooltip>#{validation['cashout.enterzip']}</rich:tooltip>
							</h:panelGroup>
	               		</div>
	                </c:if>
	                <c:if test="#{page.field.containsKey('ship states')}">
	               		<div class="span3">
	                        <label>#{page.label[page.field['ship states']]}</label>
	                        <h:panelGroup layout="block" id="orderShippingShipStates">
	                        <h:inputText value="#{page.value[page.field['ship states']]}" disabled="#{true}" styleClass="span11"
	                        	required="#{page.required[page.field['ship states']] and !isReadOnly}" immediate="true"
	                        	requiredMessage="#{page.label[page.field['ship states']]}: #{validation['cashout.shipstate.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}"/>
							<rich:tooltip>#{validation['cashout.enterzip']}</rich:tooltip>
							</h:panelGroup>
	               		</div>
	               	</c:if>
	               
	                <c:if test="#{page.field.containsKey('ship zip')}">
	                	<div class="span4">
							<label>#{page.label[page.field['ship zip']]}</label>
							<rich:autocomplete id="shipZipCombobox" value="#{page.shipZip}"
								rendered="#{page.updatable[page.field['ship zip']] and !isReadOnly}"
								required="#{page.required[page.field['ship zip']] and !isReadOnly}" 
		                       	requiredMessage="#{page.label[page.field['ship zip']]}: #{validation['cashout.shipzip.required']}"
		                        styleClass="checkout-dropdown span11"  autocompleteMethod="#{zipSearchBean.zipSearch}"
		                        showButton="true" minChars="5" onblur="#{rich:component('shipZipCombobox')}.hidePopup();" 
		                        mode="ajax" selectFirst="false" var="option" fetchValue="#{option.searchString.concat(':').concat(option.index)}" 
		                        onkeydown="#{rich:component('shipZipCombobox')}.showPopup();" validator="#{page.shipZipValidator}"
                                        style="#{ component.valid ? '' : 'border-color:red;'}">
		                        <a4j:ajax event="selectitem" render="shipCityStateZip" />
		                        <a4j:ajax event="blur" render="shipCityStateZip" />
		                        <rich:column>  
	                                <h:outputText value="#{option.city.concat(', ').concat(option.state).concat(' [').concat(option.county).concat(' County]')}"/>  
	                            </rich:column>
					   		</rich:autocomplete>
					   		<rich:messages for="shipZipCombobox" />
					   		<h:inputText value="#{page.shipZip}" disabled="#{true}" styleClass="span11"
					   			rendered="#{!page.updatable[page.field['ship zip']] or isReadOnly}" />
	                	</div>
	                </c:if>
                </h:panelGroup>
                </c:if>
                </h:panelGroup>
               	<h:panelGroup id="nonUSCityUpdate">
                 <h:panelGroup id="shipNonUsCityZip" rendered="#{!page.shippingInUs()}">
                <div class="row-fluid">
	                <c:if test="#{page.field.containsKey('ship city')}">
	                	<div class="span4">
	                	<label>#{page.label[page.field['ship city']]}</label>
	                	  <h:inputText id="nonUSCity" value="#{page.value[page.field['ship city']]}" styleClass="span11"
		                        	required="#{page.required[page.field['ship city']] and !isReadOnly}" immediate="true"
		                        	requiredMessage="#{page.label[page.field['ship city']]}: #{validation['cashout.shipcity.required']}" 
	                                style="#{ component.valid ? '' : 'border-color:red;'}"
	                                disabled="#{!page.updatable[page.field['ship city']] or isReadOnly}" />
	                	</div>
                	</c:if>
	                <c:if test="#{page.field.containsKey('ship states')}">
	               		<div class="span3">
	                        <label>#{page.label[page.field['ship states']]}</label>
	                        <h:inputText value="#{page.value[page.field['ship states']]}" styleClass="span11"
	                        	required="#{page.required[page.field['ship states']] and !isReadOnly}" immediate="true"
	                        	requiredMessage="#{page.label[page.field['ship states']]}: #{validation['cashout.shipstate.required']}" 
                                style="#{ component.valid ? '' : 'border-color:red;'}"
								disabled="#{!page.updatable[page.field['ship states']] or isReadOnly}" />
	               		</div>
	               	</c:if>
	                <c:if test="#{page.field.containsKey('ship zip')}">
                		<div class="span4">
							<label>#{page.label[page.field['ship zip']]}</label>
							
					   		<h:inputText value="#{page.value[page.field['ship zip']]}" styleClass="span11"
								required="#{page.required[page.field['ship zip']] and !isReadOnly}"
		                       	requiredMessage="#{page.label[page.field['ship zip']]}: #{validation['cashout.shipzip.required']}" 
								immediate="true" style="#{ component.valid ? '' : 'border-color:red;'}"
								disabled="#{!page.updatable[page.field['ship zip']] or isReadOnly}" />
	                	</div>
                	</c:if>
                </div>
				</h:panelGroup>

				 </h:panelGroup>
                
                
                
                <c:if test="#{page.field.containsKey('ship north america') or page.field.containsKey('ship us only') or
                			page.field.containsKey('ship us and canada')}">
                <div class="row-fluid">
	                <div class="span3">
	                   	<c:if test="#{page.field.containsKey('ship north america')}">
							<label>#{page.label[page.field['ship north america']]}</label>
							<h:selectOneMenu id="shipNorthAmericaCountry" value="#{page.value[page.field['ship north america']]}"
								converter="#{cashoutConverterBean.optionsConverter}" disabled="#{!page.updatable[page.field['ship north america']] or isReadOnly}"
								required="#{page.required[page.field['ship north america']] and !isReadOnly}" 
		                       	requiredMessage="#{page.label[page.field['ship north america']]}: #{validation['cashout.shipcountry.required']}"
		                        styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}"
		                        validator="#{page.countryCodeValidator}" immediate="true" >
		                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
					   			<f:selectItems value="#{forgeview:asList(page.options[page.field['ship north america']])}"
					   				 var="option" itemValue="#{option}" itemLabel="#{option.value}" />
					   			<f:ajax event="change" execute="@this" render="nonUSCityUpdate cityStateZipUpdate @this" />
					   		</h:selectOneMenu>
				   			<rich:messages for="shipNorthAmericaCountry" />
	                    </c:if>
	                   	<c:if test="#{page.field.containsKey('ship us only')}">
							<label>#{page.label[page.field['ship us only']]}</label>
							<h:selectOneMenu id="shipUsCountry" value="#{page.value[page.field['ship us only']]}"
								converter="#{cashoutConverterBean.optionsConverter}" disabled="#{!page.updatable[page.field['ship us only']] or isReadOnly}"
								required="#{page.required[page.field['ship us only']] and !isReadOnly}" 
		                       	requiredMessage="#{page.label[page.field['ship us only']]}: #{validation['cashout.shipcountry.required']}"
		                        styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}"
		                        validator="#{page.countryCodeValidator}" immediate="true" >
		                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
					   			<f:selectItems value="#{forgeview:asList(page.options[page.field['ship us only']])}"
					   				 var="option" itemValue="#{option}" itemLabel="#{option.value}" />
					   		</h:selectOneMenu>
				   			<rich:messages for="shipUsCountry" />
	                    </c:if>
	                   	<c:if test="#{page.field.containsKey('ship us and canada')}">
							<label>#{page.label[page.field['ship us and canada']]}</label>
							<h:selectOneMenu id="shipUsCaCountry" value="#{page.value[page.field['ship us and canada']]}"
								converter="#{cashoutConverterBean.optionsConverter}" disabled="#{!page.updatable[page.field['ship us and canada']] or isReadOnly}"
								required="#{page.required[page.field['ship us and canada']] and !isReadOnly}" 
		                       	requiredMessage="#{page.label[page.field['ship us and canada']]}: #{validation['cashout.shipcountry.required']}"
		                        styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}"
		                        validator="#{page.countryCodeValidator}" immediate="true" >
		                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
					   			<f:selectItems value="#{forgeview:asList(page.options[page.field['ship us and canada']])}"
					   				 var="option" itemValue="#{option}" itemLabel="#{option.value}" />
					   		    <f:ajax event="change" execute="@this" render="nonUSCityUpdate cityStateZipUpdate @this" />
					   		</h:selectOneMenu>
				   			<rich:messages for="shipUsCaCountry" />
	                    </c:if>
	                </div>
                </div>
                </c:if>
                
                <c:if test="#{page.field.containsKey('ship extra 1') or page.field.containsKey('ship extra 2') or
                    				page.field.containsKey('ship extra 3')}">
                    <div class="row-fluid">
                   	<div class="span4">
                    	<c:if test="#{page.field.containsKey('ship extra 1')}">
	                        <label>#{page.label[page.field['ship extra 1']]}</label>
	                        <h:inputText value="#{page.value[page.field['ship extra 1']]}" disabled="#{!page.updatable[page.field['ship extra 1']] or isReadOnly}" 
	                        	required="#{page.required[page.field['ship extra 1']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['ship extra 1']]}: #{validation['cashout.shipextra.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}">
                        	</h:inputText>
                        </c:if>
                   	</div>
                   	<div class="span4">
                    	<c:if test="#{page.field.containsKey('ship extra 2')}">
	                        <label>#{page.label[page.field['ship extra 2']]}</label>
	                        <h:inputText value="#{page.value[page.field['ship extra 2']]}" disabled="#{!page.updatable[page.field['ship extra 2']] or isReadOnly}" 
	                        	required="#{page.required[page.field['ship extra 2']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['ship extra 2']]}: #{validation['cashout.shipextra.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}">
                        	</h:inputText>
                        </c:if>
                   	</div>
                   	<div class="span4">
                    	<c:if test="#{page.field.containsKey('ship extra 3')}">
	                        <label>#{page.label[page.field['ship extra 3']]}</label>
	                        <h:inputText value="#{page.value[page.field['ship extra 3']]}" disabled="#{!page.updatable[page.field['ship extra 3']] or isReadOnly}" 
	                        	required="#{page.required[page.field['ship extra 3']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['ship extra 3']]}: #{validation['cashout.shipextra.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}">
                        	</h:inputText>
                        </c:if>
                   	</div>
                   	</div>
                </c:if>
                

				<!-- ***************** Shipto address / department, cost center separator ******************* -->
				<c:if test="#{
						(page.field.containsKey('existing shipto address selection') 
								or page.field.containsKey('ship address 1')) 
							and (page.field.containsKey('desktop') 
								or page.field.containsKey('desktop combobox') 
								or page.field.containsKey('desktop free') 
								or page.field.containsKey('building or department') 
								or page.field.containsKey('building or department combobox') 
								or page.field.containsKey('building or department free') 
								or page.field.containsKey('cost center') 
								or page.field.containsKey('cost center combobox') 
								or page.field.containsKey('cost center free'))}">
                	<div class="span12"><hr/></div>
                </c:if>
                
                <c:if test="#{page.field.containsKey('desktop') or 
                                page.field.containsKey('desktop combobox') or 
                                page.field.containsKey('desktop free') or
                                page.field.containsKey('building or department') or
                                page.field.containsKey('building or department combobox') or 
                                page.field.containsKey('building or department free') or 
                                page.field.containsKey('cost center') or 
                                page.field.containsKey('cost center combobox') or
                                page.field.containsKey('cost center free')}">
                <div class="row-fluid">
                        <c:if test="#{page.field.containsKey('desktop')}">
	                	<div class="span4">
							<label>#{page.label[page.field['desktop']]}</label>
							<h:selectOneMenu id="desktop" value="#{page.value[page.field['desktop']]}"
								converter="#{cashoutConverterBean.desktopConverter}" disabled="#{!page.updatable[page.field['desktop']] or isReadOnly}"
								required="#{page.required[page.field['desktop']] and !isReadOnly}" 
		                       	requiredMessage="#{page.label[page.field['desktop']]}: #{validation['cashout.desktop.required']}"
		                        styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}">
		                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
					   			<f:selectItems value="#{forgeview:asList(page.options[page.field['desktop']])}"
					   				 var="option" itemValue="#{option}" itemLabel="#{option == null ? '' : option.name}" />
					   		</h:selectOneMenu>
	              		</div>
                        </c:if>
                        <c:if test="#{page.field.containsKey('desktop combobox')}">
		                	<div class="span4">
								<label>#{page.label[page.field['desktop combobox']]}</label>
								<rich:autocomplete id="desktopCombobox" value="#{page.value[page.field['desktop combobox']]}"
									converter="#{cashoutConverterBean.desktopConverter}" disabled="#{!page.updatable[page.field['desktop combobox']] or isReadOnly}"
									required="#{page.required[page.field['desktop combobox']] and !isReadOnly}" 
			                       	requiredMessage="#{page.label[page.field['desktop combobox']]}: #{validation['cashout.desktop.required']}"
			                        styleClass="checkout-dropdown span11" autocompleteList="#{forgeview:asList(page.options[page.field['desktop combobox']])}" 
			                        showButton="true" minChars="0" onblur="#{rich:component('desktopCombobox')}.hidePopup();" 
			                        fetchValue="#{option.name}" mode="client" selectFirst="false" var="option" >
			                        <rich:column>  
		                                <h:outputText value="#{option.name}"/>  
		                            </rich:column> 
						   		</rich:autocomplete>
		                	</div>
		                </c:if>   
		                <c:if test="#{page.field.containsKey('desktop free')}">
		                	<div class="span4">
		                        <label>#{page.label[page.field['desktop free']]}</label>
		                        <h:inputText value="#{page.value[page.field['desktop free']]}" disabled="#{!page.updatable[page.field['desktop free']] or isReadOnly}" 
		                        	required="#{page.required[page.field['desktop free']] and !isReadOnly}" styleClass="span11"
		                        	requiredMessage="#{page.label[page.field['desktop free']]}: #{validation['cashout.desktop.required']}" 
	                                        style="#{ component.valid ? '' : 'border-color:red;'}">
                        		</h:inputText>
		                	</div>
		                </c:if>             
                        <c:if test="#{page.field.containsKey('building or department')}">
	                	<div class="span4">
							<label>#{page.label[page.field['building or department']]}</label>
							<h:selectOneMenu id="building" value="#{page.value[page.field['building or department']]}"
								converter="#{cashoutConverterBean.departmentConverter}" disabled="#{!page.updatable[page.field['building or department']] or isReadOnly}"
								required="#{page.required[page.field['building or department']] and !isReadOnly}" 
		                       	requiredMessage="#{page.label[page.field['building or department']]}: #{validation['cashout.buildingdept.required']}"
		                        styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}">
		                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
					   			<f:selectItems value="#{forgeview:asList(page.options[page.field['building or department']])}"
					   				 var="option" itemValue="#{option}" itemLabel="#{option == null ? '' : option.name}" />
					   		</h:selectOneMenu>
	              		</div>
                        </c:if>
	
	                <c:if test="#{page.field.containsKey('building or department combobox')}">
	                	<div class="span4">
							<label>#{page.label[page.field['building or department combobox']]}</label>
							<rich:autocomplete id="buildingCombobox" value="#{page.value[page.field['building or department combobox']]}"
								converter="#{cashoutConverterBean.departmentConverter}" disabled="#{!page.updatable[page.field['building or department combobox']] or isReadOnly}"
								required="#{page.required[page.field['building or department combobox']] and !isReadOnly}" 
		                       	requiredMessage="#{page.label[page.field['building or department combobox']]}: #{validation['cashout.buildingdept.required']}"
		                        styleClass="checkout-dropdown span11" autocompleteList="#{forgeview:asList(page.options[page.field['building or department combobox']])}" 
		                        showButton="true" minChars="0" onblur="#{rich:component('buildingCombobox')}.hidePopup();" 
		                        fetchValue="#{option.name}" mode="client" selectFirst="false" var="option" >
		                        <rich:column>  
	                                <h:outputText value="#{option.name}"/>  
	                            </rich:column> 
					   		</rich:autocomplete>
	                	</div>
	                </c:if>
	                
	                <c:if test="#{page.field.containsKey('building or department free')}">
	                	<div class="span4">
	                        <label>#{page.label[page.field['building or department free']]}</label>
	                        <h:inputText value="#{page.value[page.field['building or department free']]}" disabled="#{!page.updatable[page.field['building or department free']] or isReadOnly}" 
	                        	required="#{page.required[page.field['building or department free']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['building or department free']]}: #{validation['cashout.buildingdept.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}">
                        	</h:inputText>
	                	</div>
	                </c:if>
	
	                <c:if test="#{page.field.containsKey('cost center') or page.field.containsKey('cost center combobox') or page.field.containsKey('cost center free')}">
	                <h:panelGroup styleClass="span4" layout="block" id="orderCostCenters">
	                	<c:if test="#{page.field.containsKey('cost center')}">
							<label>#{page.label[page.field['cost center']]}</label>
							<h:selectOneMenu id="costCenter" value="#{page.value[page.field['cost center']]}"
								converter="#{cashoutConverterBean.costCenterConverter}" disabled="#{!page.updatable[page.field['cost center']] or isReadOnly}"
								required="#{page.required[page.field['cost center']] and !isReadOnly}" 
		                       	requiredMessage="#{page.label[page.field['cost center']]}: #{validation['cashout.costcenter.required']}"
		                        styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}">
		                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
					   			<f:selectItems value="#{forgeview:asList(page.options[page.field['cost center']])}"
					   				 var="option" itemValue="#{option}" itemLabel="#{page.costCenterToString(option)}" />
					   			<a4j:ajax event="change" render="orderCostCenters" />
					   		</h:selectOneMenu>
	                	</c:if>
	
	                	<c:if test="#{page.field.containsKey('cost center combobox')}">
							<label>#{page.label[page.field['cost center combobox']]}</label>
							<rich:autocomplete id="costCenterCombobox" value="#{page.value[page.field['cost center combobox']]}"
								disabled="#{!page.updatable[page.field['cost center combobox']] or isReadOnly}"
								required="#{page.required[page.field['cost center combobox']] and !isReadOnly}" 
		                       	requiredMessage="#{page.label[page.field['cost center combobox']]}: #{validation['cashout.costcenter.required']}"
		                        styleClass="checkout-dropdown span11" autocompleteList="#{forgeview:asList(page.options[page.field['cost center combobox']])}" 
		                        showButton="true" minChars="0" onblur="#{rich:component('costCenterCombobox')}.hidePopup();" mode="client" var="option"
		                        fetchValue="#{page.costCenterToString(option)}" autofill="false">
		                        <rich:column>  
	                                <h:outputText value="#{page.costCenterToString(option)}"/>  
	                            </rich:column> 
					   			<a4j:ajax event="change" render="orderCostCenters" />
					   		</rich:autocomplete>
	                	</c:if>
	                
	                	<c:if test="#{page.field.containsKey('cost center free')}">
	                        <label>#{page.label[page.field['cost center free']]}</label>
	                        <h:inputText value="#{page.value[page.field['cost center free']]}" disabled="#{!page.updatable[page.field['cost center free']] or isReadOnly}" 
	                        	required="#{page.required[page.field['cost center free']] and !isReadOnly}" styleClass="span11"
	                        	requiredMessage="#{page.label[page.field['cost center free']]}: #{validation['cashout.costcenter.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}">
					   			<a4j:ajax event="change" render="orderCostCenters" />
                            </h:inputText>
	                	</c:if>
	                	
	                	<h:panelGroup rendered="#{bean != null and not bean.spendingLimitMessageHidden}">
	                		<br />
	                		<h:outputText value="#{(bean != null) ? bean.spendingLimitMessage : ''}" />
	                	</h:panelGroup>
	                </h:panelGroup>
	                </c:if>
                </div>
                </c:if>

				<!-- ***************** Department, cost center / shipping method separator ******************* -->
				<c:if test="#{
						(page.field.containsKey('desktop') 
							or page.field.containsKey('desktop combobox') 
							or page.field.containsKey('desktop free') 
							or page.field.containsKey('building or department') 
							or page.field.containsKey('building or department combobox') 
	                		or page.field.containsKey('building or department free') 
	                		or page.field.containsKey('cost center') 
	                		or page.field.containsKey('cost center combobox') 
	                		or page.field.containsKey('cost center free')) 
	                	and (page.field.containsKey('shipping method') 
	                		or page.field.containsKey('comments'))}">
                	<div class="span12"><hr/></div>
                </c:if>

				<c:if test="#{page.field.containsKey('shipping method')}">
				<div class="row-fluid">
	                <div class="span4">
						<label>#{page.label[page.field['shipping method']]}</label>
						<h:selectOneMenu id="shipMethods" value="#{page.value[page.field['shipping method']]}"
							converter="#{cashoutConverterBean.optionsConverter}" disabled="#{!page.updatable[page.field['shipping method']] or isReadOnly}"
							required="#{page.required[page.field['shipping method']] and !isReadOnly}" 
	                       	requiredMessage="#{page.label[page.field['shipping method']]}: #{validation['cashout.shipmethod.required']}"
		                    styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}">
	                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
				   			<f:selectItems value="#{forgeview:asList(page.options[page.field['shipping method']])}"
				   				 var="option" itemValue="#{option}" itemLabel="#{option.value}" />
				   		</h:selectOneMenu>
	                </div>
	                <div class="span8"></div>
                </div>
                </c:if>
                
				<c:if test="#{page.field.containsKey('comments')}">
				<div class="row-fluid">
	                <div class="span12">
                        <label>#{page.label[page.field['comments']]}</label>
                        <h:inputText value="#{page.value[page.field['comments']]}" disabled="#{!page.updatable[page.field['comments']] or isReadOnly}" 
                        	required="#{page.required[page.field['comments']] and !isReadOnly}" styleClass="span11"
                        	requiredMessage="#{page.label[page.field['comments']]}: #{validation['cashout.comments.required']}" 
                                style="#{ component.valid ? '' : 'border-color:red;'}">
                        </h:inputText>
	                </div>
	            </div>
	            </c:if>
                </h:panelGroup>
            </h:panelGroup>
        </div>
    </div>
</ui:composition>