<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
				xmlns:forgeview="http://jboss.org/forge/view">
    
        <script>
            $(document).ready(function() {
                addDatePickers();
                var ccExpInput = document.getElementById("checkout:ccExpInput");
                if (ccExpInput != null) {
                    ccExpInput.value="";
                    $("#checkout\\:ccExpInput").click(function() {
                        $(this).blur();
                        $(".icon-calendar").click();
                    });
                }
            });
        </script>
    
    <div class="accordion-group">
        <div class="accordion-heading divInside-Fade">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#">
                <h5>#{display['results.billing.title']}<div class="arrowUp arrowDown">&nbsp;</div></h5></a>

        </div>
        <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
                <h:panelGroup styleClass="accordion-inner" layout="block">
                	<c:if test="#{page.field.containsKey('blanket po number') or page.field.containsKey('custom po number')}">
                	<div class="row-fluid">
	                    <c:if test="#{page.field.containsKey('blanket po number')}">
	                    	<div class="span6">
		                        <label>#{page.label[page.field['blanket po number']]}</label>
								<h:selectOneMenu id="blanketPo" value="#{page.value[page.field['blanket po number']]}"
									converter="#{cashoutConverterBean.poNumberConverter}" disabled="#{!page.updatable[page.field['blanket po number']] or isReadOnly}"
									required="#{page.required[page.field['blanket po number']] and !isReadOnly}" 
		                        	requiredMessage="#{page.label[page.field['blanket po number']]}: #{validation['cashout.blanketpo.required']}" 
		                        	styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}">
							    	<f:selectItem itemLabel=" " noSelectionOption="true"/>
						   			<f:selectItems value="#{forgeview:asList(page.options[page.field['blanket po number']])}"
						   				 var="number" itemValue="#{number}" itemLabel="#{number.value}" />
						   		</h:selectOneMenu>
	                    	</div>
	                    </c:if>
	                    <c:if test="#{page.field.containsKey('custom po number')}">
	                    	<div class="span6">
		                        <label>#{page.label[page.field['custom po number']]}</label>
		                        <h:inputText 
                                                id="customerPoinput"
                                                value="#{page.value[page.field['custom po number']]}" disabled="#{!page.updatable[page.field['custom po number']] or isReadOnly}" 
		                        	required="#{page.required[page.field['custom po number']] and !isReadOnly}" styleClass="span11"
		                        	requiredMessage="#{page.label[page.field['custom po number']]}: #{validation['cashout.custompo.required']}"
                                                validator="customerPoValidator"
                                                style="#{ component.valid ? '' : 'border-color:red;'}" >
                                            <f:attribute name="order" value="#{order}" />
                                        </h:inputText>
		                    </div>
                            </c:if>
                        </div>
                    </c:if>
                    <h:panelGroup id="companyAndName">
                        <c:if test="#{page.field.containsKey('bill company') or page.field.containsKey('bill name')}">
                                    <div class="row-fluid">
                                            <c:if test="#{page.field.containsKey('bill company')}">
                                                    <div class="span4">
                                                    <label>#{page.label[page.field['bill company']]}</label>
                                                    <h:inputText value="#{page.value[page.field['bill company']]}" disabled="#{!page.updatable[page.field['bill company']] or isReadOnly}" 
                                                            required="#{page.required[page.field['bill company']] and !isReadOnly}" styleClass="span11" 
                                                            requiredMessage="#{page.label[page.field['bill company']]}: #{validation['cashout.billcompany.required']}">
                        							</h:inputText>
                                                    </div>
                                            </c:if>
                                            <c:if test="#{page.field.containsKey('bill name')}">
                                                    <div class="span4">  
                                                    <label>#{page.label[page.field['bill name']]}</label>
                                                    <h:inputText value="#{page.value[page.field['bill name']]}" disabled="#{!page.updatable[page.field['bill name']] or isReadOnly}" 
                                                            required="#{page.required[page.field['bill name']] and !isReadOnly}" styleClass="span11" 
                                                            requiredMessage="#{page.label[page.field['bill name']]}: #{validation['cashout.requestername.required']}" 
                                                            style="#{ component.valid ? '' : 'border-color:red;'}">
                        							</h:inputText>
                                                    </div>
                                        </c:if>
                                    </div>
                        </c:if>
                    </h:panelGroup>
                    <c:if test="#{page.field.containsKey('email') or page.field.containsKey('payment type selection')}">
                    <div class="row-fluid">
	                    <c:if test="#{page.field.containsKey('email')}">
	                    	<div class="span6">  
		                        <label>#{page.label[page.field['email']]}</label>
		                        <h:inputText value="#{page.value[page.field['email']]}" disabled="#{!page.updatable[page.field['email']] or isReadOnly}" 
		                        	required="#{page.required[page.field['email']] and !isReadOnly}" styleClass="span11"
		                        	requiredMessage="#{page.label[page.field['email']]}: #{validation['cashout.email.required']}" 
                                                style="#{ component.valid ? '' : 'border-color:red;'}"/>	
		                    </div>
	                    </c:if>
							
						<c:if test="#{page.field.containsKey('payment type selection')}">
							<div class="span6">
								<label>#{page.label[page.field['payment type selection']]}</label>
								<h:selectOneMenu id="paymentType" value="#{page.value[page.field['payment type selection']]}"
									converter="#{cashoutConverterBean.optionsConverter}" disabled="#{!page.updatable[page.field['payment type selection']] or isReadOnly}"
									required="#{page.required[page.field['payment type selection']] and !isReadOnly}" 
			                       	requiredMessage="#{page.label[page.field['payment type selection']]}: #{validation['cashout.paymenttype.required']}"
		                        	styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}">
			                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
						   			<f:selectItems value="#{forgeview:asList(page.options[page.field['payment type selection']])}"
						   				 var="option" itemValue="#{option}" itemLabel="#{option.value}" />
						   			<f:ajax event="change" listener="#{page.clearPaymentFields()}" 
		    							render="cardSection" />
						   		</h:selectOneMenu>
				   			</div>
					   	</c:if>
				   	</div>
			   		</c:if>

					<!-- conditionally renders: if "Credit Card" is selected or if there is no payment type selector -->
					<!-- then it checks whether card number, expiration, or CVV code exists. If so, renders. -->
					<h:panelGroup id="cardSection"> 
					<h:panelGroup rendered="#{(!page.field.containsKey('payment type selection') or page.value[page.field['payment type selection']].value == 'Credit Card')
						and (page.field.containsKey('credit card number') or page.field.containsKey('credit card expiration') or page.field.containsKey('credit card CVV'))}">
					<div class="row-fluid">
	                    <c:if test="#{page.field.containsKey('credit card name on card')}">
	                    	<div class="span6">
		                        <label>#{page.label[page.field['credit card name on card']]}</label>
		                        <h:inputText value="#{page.value[page.field['credit card name on card']]}" disabled="#{!page.updatable[page.field['credit card name on card']] or isReadOnly}" 
		                        	required="#{page.required[page.field['credit card name on card']] and !isReadOnly}" styleClass="span11"
		                        	requiredMessage="#{page.label[page.field['credit card name on card']]}: #{validation['cashout.ccnumber.required']}" 
                                                style="#{ component.valid ? '' : 'border-color:red;'}"/>
	                   		 </div>
	                    </c:if>
	                    
	                    <c:if test="#{page.field.containsKey('credit card CVV indicator')}">
	                    	<div class="span3">
								<label>#{page.label[page.field['credit card CVV indicator']]}</label>
								<h:selectOneMenu id="cvvIndicator" value="#{page.value[page.field['credit card CVV indicator']]}"
									disabled="#{!page.updatable[page.field['credit card CVV indicator']] or isReadOnly}"
									required="#{page.required[page.field['credit card CVV indicator']] and !isReadOnly}" 
			                       	requiredMessage="#{page.label[page.field['credit card CVV indicator']]}: #{validation['cashout.cvvIndicator.required']}"
		                        	styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}">
			                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
						   			<f:selectItems value="#{page.cvvIndicators}" />
						   		</h:selectOneMenu>
	                    	</div>
	                    </c:if>
	                </div>
					<div class="row-fluid">
	                    <c:if test="#{page.field.containsKey('credit card number')}">
	                    	<div class="span6">
		                        <label>#{page.label[page.field['credit card number']]}</label>
		                        <h:inputText value="#{page.value[page.field['credit card number']]}" disabled="#{!page.updatable[page.field['credit card number']] or isReadOnly}" 
		                        	required="#{page.required[page.field['credit card number']] and !isReadOnly}" styleClass="span11"
		                        	requiredMessage="#{page.label[page.field['credit card number']]}: #{validation['cashout.ccnumber.required']}" 
                                                style="#{ component.valid ? '' : 'border-color:red;'}"/>
	                   		 </div>
	                    </c:if>
	                    <c:if test="#{page.field.containsKey('credit card expiration')}">
	                    	<div class="span3">
                                    <label>#{page.label[page.field['credit card expiration']]}</label>
                                    <div class="input-append month-year-date date" data-date-format="mm-yyyy" data-date="dateValue: today">
                                        <h:inputText size="10" value="#{page.value[page.field['credit card expiration']]}" disabled="#{!page.updatable[page.field['credit card expiration']] or isReadOnly}" 
                                                     required="#{page.required[page.field['credit card expiration']] and !isReadOnly}" id="ccExpInput" onblur="fixDateFormat(this.value);"
                                                requiredMessage="#{page.label[page.field['credit card expiration']]}: #{validation['cashout.ccexpiration.required']}"
                                                style="#{ component.valid ? '' : 'border-color:red;'}"  styleClass="span11">
                                            <f:convertDateTime pattern="MM-yyyy" />
                                        </h:inputText>
                                         <span class="add-on">
                                            <i class="icon-calendar"></i>
                                        </span>

                                    </div>
                                </div>
	                    </c:if>
	                    <c:if test="#{page.field.containsKey('credit card CVV')}">
	                    	<div class="span3">
		                        <label>#{page.label[page.field['credit card CVV']]}</label>
		                        <h:inputText value="#{page.value[page.field['credit card CVV']]}" disabled="#{!page.updatable[page.field['credit card CVV']] or isReadOnly}" 
		                        	required="#{page.required[page.field['credit card CVV']] and !isReadOnly}" 
		                        	requiredMessage="#{page.label[page.field['credit card CVV']]}: #{validation['cashout.cccvv.required']}" 
                                                style="#{ component.valid ? '' : 'border-color:red;'}"  styleClass="span11"/>
	                    	</div>
	                    </c:if>
	                </div>
                    </h:panelGroup>
                    </h:panelGroup>

					<c:if test="#{(page.field.containsKey('credit card number') or page.field.containsKey('blanket po number') 
							or page.field.containsKey('custom po number')) and (page.field.containsKey('existing billto address selection') 
							or page.field.containsKey('bill address 1'))}">
                    	<div class="span12"><hr/></div>
                    </c:if>
                                        
                    <c:if test="#{page.field.containsKey('existing billto address selection')}">
                    	<div class="row-fluid">
                    	<div class="span12">
	                        <label>#{page.label[page.field['existing billto address selection']]}</label>
							<h:selectOneMenu id="existingBilling" value="#{page.value[page.field['existing billto address selection']]}"
								converter="#{cashoutConverterBean.addressConverter}" disabled="#{!page.updatable[page.field['existing billto address selection']] or isReadOnly}"
								required="#{page.required[page.field['existing billto address selection']] and !isReadOnly}" 
	                        	requiredMessage="#{page.label[page.field['existing billto address selection']]}: #{validation['cashout.existingbillingaddress.required']}"
		                        	styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}"
		                        	validator="#{page.existingAddressValidator}" >
						    	<f:selectItem itemLabel=" " noSelectionOption="true"/>
					   			<f:selectItems value="#{forgeview:asList(page.options[page.field['existing billto address selection']])}"
					   				 var="address" itemValue="#{address}" itemLabel="#{page.billtoAddressToString(address)}" />
					    		<f:ajax event="change" listener="#{page.rerender(order, 'BILLTO')}" 
                                                                render="billingFields companyAndName" />
					   		</h:selectOneMenu>
					   		<rich:messages for="existingBilling" />
                    	</div>
                    	</div>
                    </c:if>
                <h:panelGroup id="billingFields">
                    <c:if test="#{page.field.containsKey('bill address 1')}">
                    	<div class="row-fluid">
                    	<div class="span12">
	                        <label>#{page.label[page.field['bill address 1']]}</label>
	                        <h:inputText value="#{page.value[page.field['bill address 1']]}" disabled="#{!page.updatable[page.field['bill address 1']] or isReadOnly}" 
	                        	required="#{page.required[page.field['bill address 1']] and !isReadOnly}" 
	                        	requiredMessage="#{page.label[page.field['bill address 1']]}: #{validation['cashout.billaddress1.required']}"  
	                        	
                                        style="#{ component.valid ? '' : 'border-color:red;'}" styleClass="span11">
                        	</h:inputText>
                   		</div>
                   		</div>
                   	</c:if>
                    <c:if test="#{page.field.containsKey('bill address 2')}">
                    	<div class="row-fluid">
                    	<div class="span12">
	                        <label>#{page.label[page.field['bill address 2']]}</label>
	                        <h:inputText value="#{page.value[page.field['bill address 2']]}" disabled="#{!page.updatable[page.field['bill address 2']] or isReadOnly}" 
	                        	required="#{page.required[page.field['bill address 2']] and !isReadOnly}" 
	                        	requiredMessage="#{page.label[page.field['bill address 2']]}: #{validation['cashout.billaddress2.required']}" 
	                        		style="#{ component.valid ? '' : 'border-color:red;'}" styleClass="span11">
                        	</h:inputText>
                        </div>
                        </div>
                   	</c:if>
                   	<h:panelGroup id="billCityStateZipUpdate">
                    <c:if test="#{page.field.containsKey('bill city') or page.field.containsKey('bill states') or page.field.containsKey('bill zip')}">
                    <h:panelGroup styleClass="row-fluid" id="billCityStateZip" layout="block" rendered="#{page.billingInUs()}">
	                <c:if test="#{page.field.containsKey('bill city')}">
	               		<div class="span5">
	                        <label>#{page.label[page.field['bill city']]}</label>
	                        <h:panelGroup layout="block" id="orderBillingBillCity">
	                        <h:inputText value="#{page.value[page.field['bill city']]}" disabled="#{true}" 
	                        	required="#{page.required[page.field['bill city']] and !isReadOnly}" immediate="true"
	                        	requiredMessage="#{page.label[page.field['bill city']]}: #{validation['cashout.billcity.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}" styleClass="span11"/>
							<rich:tooltip>#{validation['cashout.enterzip']}</rich:tooltip>
							</h:panelGroup>
	               		</div>
	                </c:if>
	                <c:if test="#{page.field.containsKey('bill states')}">
	               		<div class="span3">
	                        <label>#{page.label[page.field['bill states']]}</label>
	               			<h:panelGroup layout="block" id="orderBillingBillStates">
	                        <h:inputText value="#{page.value[page.field['bill states']]}" disabled="#{true}" 
	                        	required="#{page.required[page.field['bill states']] and !isReadOnly}" immediate="true"
	                        	requiredMessage="#{page.label[page.field['bill states']]}: #{validation['cashout.billstate.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}" styleClass="span11"/>
                            <rich:tooltip>#{validation['cashout.enterzip']}</rich:tooltip>
                            </h:panelGroup>
	               		</div>
	               	</c:if>
	                <c:if test="#{page.field.containsKey('bill zip')}">
	                	<div class="span4">
							<label>#{page.label[page.field['bill zip']]}</label>
							<rich:autocomplete id="billZipCombobox" value="#{page.billZip}"
								rendered="#{page.updatable[page.field['bill zip']] and !isReadOnly}"
								required="#{page.required[page.field['bill zip']] and !isReadOnly}" 
		                       	requiredMessage="#{page.label[page.field['bill zip']]}: #{validation['cashout.billzip.required']}"
		                        styleClass="checkout-dropdown span11"  autocompleteMethod="#{zipSearchBean.zipSearch}"
		                        showButton="true" minChars="5" onblur="#{rich:component('billZipCombobox')}.hidePopup();" 
		                        mode="ajax" selectFirst="false" var="option" fetchValue="#{option.searchString.concat(':').concat(option.index)}" 
		                        onkeydown="#{rich:component('billZipCombobox')}.showPopup();" validator="#{page.billZipValidator}"
                                        style="#{ component.valid ? '' : 'border-color:red;'}">
		                        <a4j:ajax event="selectitem" render="billCityStateZip" />
		                        <a4j:ajax event="blur" render="billCityStateZip" />
		                        <rich:column>  
	                                <h:outputText value="#{option.city.concat(', ').concat(option.state).concat(' [').concat(option.county).concat(' County]')}"/>  
	                            </rich:column>
					   		</rich:autocomplete>
					   		<rich:messages for="billZipCombobox" />
					   		<h:inputText value="#{page.billZip}" disabled="#{true}"
					   			rendered="#{!page.updatable[page.field['bill zip']] or isReadOnly}" styleClass="span11"
                                                                style="#{ component.valid ? '' : 'border-color:red;'}"/>
	                	</div>
	                </c:if>
					</h:panelGroup>
                   	</c:if>
                   	</h:panelGroup>
                   		<h:panelGroup id="nonUSBillCityUpdate">
                 <h:panelGroup id="nonUsCityState" rendered="#{!page.billingInUs()}">
                <div class="row-fluid">
	                <c:if test="#{page.field.containsKey('bill city')}">
	                	<div class="span5">
	                	<label>#{page.label[page.field['bill city']]}</label>
	                	  <h:inputText id="billNonUSCity" value="#{page.value[page.field['bill city']]}" styleClass="span11"
		                        	required="#{page.required[page.field['bill city']] and !isReadOnly}" immediate="true"
		                        	requiredMessage="#{page.label[page.field['bill city']]}: #{validation['cashout.billcity.required']}" 
	                                style="#{ component.valid ? '' : 'border-color:red;'}"
									disabled="#{!page.updatable[page.field['bill city']] or isReadOnly}" />
	                	</div>
                	</c:if>
	                <c:if test="#{page.field.containsKey('bill states')}">
	               		<div class="span3">
	                        <label>#{page.label[page.field['bill states']]}</label>
	                        <h:inputText value="#{page.value[page.field['bill states']]}" 
	                        	required="#{page.required[page.field['bill states']] and !isReadOnly}" immediate="true"
	                        	requiredMessage="#{page.label[page.field['bill states']]}: #{validation['cashout.billstate.required']}" 
                                style="#{ component.valid ? '' : 'border-color:red;'}" styleClass="span11"
								disabled="#{!page.updatable[page.field['bill states']] or isReadOnly}" />
	               		</div>
	               	</c:if>
	                <c:if test="#{page.field.containsKey('bill zip')}">
                		<div class="span4">
							<label>#{page.label[page.field['bill zip']]}</label>
							
					   		<h:inputText value="#{page.value[page.field['bill zip']]}" styleClass="span11" 
					   			required="#{page.required[page.field['bill zip']] and !isReadOnly}" immediate="true"
		                       	requiredMessage="#{page.label[page.field['bill zip']]}: #{validation['cashout.billzip.required']}" 
		                       	style="#{ component.valid ? '' : 'border-color:red;'}"
								disabled="#{!page.updatable[page.field['bill zip']] or isReadOnly}"  />
	                	</div>
	                </c:if>
                
                
                </div>
				</h:panelGroup>

				 </h:panelGroup>
                
                   	
                   	<c:if test="#{page.field.containsKey('bill north america') or page.field.containsKey('bill us only') or
                    			page.field.containsKey('bill us and canada')}">
                    <div class="row-fluid">
	                   	<div class="span3">
	                    	<c:if test="#{page.field.containsKey('bill north america')}">
								<label>#{page.label[page.field['bill north america']]}</label>
								<h:selectOneMenu id="billNorthAmericaCountry" value="#{page.value[page.field['bill north america']]}"
									converter="#{cashoutConverterBean.optionsConverter}" disabled="#{!page.updatable[page.field['bill north america']] or isReadOnly}"
									required="#{page.required[page.field['bill north america']] and !isReadOnly}" 
			                       	requiredMessage="#{page.label[page.field['bill north america']]}: #{validation['cashout.billcountry.required']}"
		                        	styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}"
		                        	validator="#{page.countryCodeValidator}" immediate="true" >
			                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
						   			<f:selectItems value="#{forgeview:asList(page.options[page.field['bill north america']])}"
						   				 var="option" itemValue="#{option}" itemLabel="#{option.value}" />
						   				 <f:ajax event="change" execute="@this" render="nonUSBillCityUpdate billCityStateZipUpdate @this" />
						   		</h:selectOneMenu>
				   				<rich:messages for="billNorthAmericaCountry" />
	                        </c:if>
	                    	<c:if test="#{page.field.containsKey('bill us only')}">
								<label>#{page.label[page.field['bill us only']]}</label>
								<h:selectOneMenu id="billUsCountry" value="#{page.value[page.field['bill us only']]}"
									converter="#{cashoutConverterBean.optionsConverter}" disabled="#{!page.updatable[page.field['bill us only']] or isReadOnly}"
									required="#{page.required[page.field['bill us only']] and !isReadOnly}" 
			                       	requiredMessage="#{page.label[page.field['bill us only']]}: #{validation['cashout.billcountry.required']}"
		                        	styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}"
		                        	validator="#{page.countryCodeValidator}" >
			                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
						   			<f:selectItems value="#{forgeview:asList(page.options[page.field['bill us only']])}"
						   				 var="option" itemValue="#{option}" itemLabel="#{option.value}" />
						   		</h:selectOneMenu>
				   				<rich:messages for="billUsCountry" />
	                        </c:if>
	                    	<c:if test="#{page.field.containsKey('bill us and canada')}">
								<label>#{page.label[page.field['bill us and canada']]}</label>
								<h:selectOneMenu id="billUsCaCountry" value="#{page.value[page.field['bill us and canada']]}"
									converter="#{cashoutConverterBean.optionsConverter}" disabled="#{!page.updatable[page.field['bill us and canada']] or isReadOnly}"
									required="#{page.required[page.field['bill us and canada']] and !isReadOnly}" 
			                       	requiredMessage="#{page.label[page.field['bill us and canada']]}: #{validation['cashout.billcountry.required']}"
		                        	styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}"
		                        	validator="#{page.countryCodeValidator}" immediate="true" >
			                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
						   			<f:selectItems value="#{forgeview:asList(page.options[page.field['bill us and canada']])}"
						   				 var="option" itemValue="#{option}" itemLabel="#{option.value}" />
						   				 <f:ajax event="change" execute="@this" render="nonUSBillCityUpdate billCityStateZipUpdate @this" />
						   		</h:selectOneMenu>
				   				<rich:messages for="billUsCaCountry" />
	                        </c:if>
	                   	</div>
                   	</div>
                   	</c:if>
                   	
                   	
                    <c:if test="#{page.field.containsKey('bill extra 1') or page.field.containsKey('bill extra 2') or
                    				page.field.containsKey('bill extra 3')}">
                    <div class="row-fluid">
                   	<div class="span4">
                    	<c:if test="#{page.field.containsKey('bill extra 1')}">
	                        <label>#{page.label[page.field['bill extra 1']]}</label>
	                        <h:inputText value="#{page.value[page.field['bill extra 1']]}" disabled="#{!page.updatable[page.field['bill extra 1']] or isReadOnly}" 
	                        	required="#{page.required[page.field['bill extra 1']] and !isReadOnly}" 
	                        	requiredMessage="#{page.label[page.field['bill extra 1']]}: #{validation['cashout.billextra.required']}" 
	                        		style="#{ component.valid ? '' : 'border-color:red;'}" styleClass="span11">
                        	</h:inputText>
                        </c:if>
                   	</div>
                   	<div class="span4">
                    	<c:if test="#{page.field.containsKey('bill extra 2')}">
	                        <label>#{page.label[page.field['bill extra 2']]}</label>
	                        <h:inputText value="#{page.value[page.field['bill extra 2']]}" disabled="#{!page.updatable[page.field['bill extra 2']] or isReadOnly}" 
	                        	required="#{page.required[page.field['bill extra 2']] and !isReadOnly}" 
	                        	requiredMessage="#{page.label[page.field['bill extra 2']]}: #{validation['cashout.billextra.required']}" 
	                        		style="#{ component.valid ? '' : 'border-color:red;'}" styleClass="span11">
                        	</h:inputText>
                        </c:if>
                   	</div>
                   	<div class="span4">
                    	<c:if test="#{page.field.containsKey('bill extra 3')}">
	                        <label>#{page.label[page.field['bill extra 3']]}</label>
	                        <h:inputText value="#{page.value[page.field['bill extra 3']]}" disabled="#{!page.updatable[page.field['bill extra 3']] or isReadOnly}" 
	                        	required="#{page.required[page.field['bill extra 3']] and !isReadOnly}" 
	                        	requiredMessage="#{page.label[page.field['bill extra 3']]}: #{validation['cashout.billextra.required']}" 
	                        		style="#{ component.valid ? '' : 'border-color:red;'}" styleClass="span11">
                        	</h:inputText>
                        </c:if>
                   	</div>
                   	</div>
                   	</c:if>
                   	
                   	</h:panelGroup>
                   	
                   	<c:if test="#{(page.field.containsKey('bill address 1') or page.field.containsKey('existing billto address selection')) 
                   			and (page.field.containsKey('order origin') or page.field.containsKey('order type') or page.field.containsKey('contracting officer'))}">
                    	<div class="span12"><hr/></div>
                    </c:if>
                    
                    <c:if test="#{page.field.containsKey('order origin') or page.field.containsKey('order type')}">
                    <div class="row-fluid">
	                    <c:if test="#{page.field.containsKey('order origin')}">
	                    	<div class="span6">
								<label>#{page.label[page.field['order origin']]}</label>
								<h:selectOneMenu id="orderOrigin" value="#{page.value[page.field['order origin']]}"
									disabled="#{!page.updatable[page.field['order origin']] or isReadOnly}"
									required="#{page.required[page.field['order origin']] and !isReadOnly}" 
			                       	requiredMessage="#{page.label[page.field['order origin']]}: #{validation['cashout.orderorigin.required']}"
		                        	styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}">
			                       	<f:selectItem itemLabel=" " noSelectionOption="true"/>
						   			<f:selectItems value="#{page.orderOrigins}"
						   				 var="option" itemValue="#{option}" itemLabel="#{option.label}" />
						   		</h:selectOneMenu>
	                    	</div>
	                    </c:if>
	                    
	                    <c:if test="#{page.field.containsKey('order type')}">
	                    	<div class="span6">
								<label>#{page.label[page.field['order type']]}</label>
								<h:selectOneMenu id="orderType" value="#{page.value[page.field['order type']]}"
									converter="#{cashoutConverterBean.orderTypeConverter}" disabled="#{!page.updatable[page.field['order type']] or isReadOnly}"
									required="#{page.required[page.field['order type']] and !isReadOnly}" 
		                        	requiredMessage="#{page.label[page.field['order type']]}: #{validation['order type']}"
			                        styleClass="checkout-dropdown span11" style="#{ component.valid ? '' : 'border-color:red;'}">
							    	<f:selectItem itemLabel=" " noSelectionOption="true"/>
						   			<f:selectItems value="#{forgeview:asList(cashoutConverterBean.allOrderTypes)}"
						   				 var="type" itemValue="#{type}" itemLabel="#{type.value}" />
						   		</h:selectOneMenu>
	                    	</div>
	                    </c:if>
                    </div>
                    </c:if>
                    
                    <c:if test="#{page.field.containsKey('contracting officer')}">
                    <div class="row-fluid">
                    	<div class="span12">
	                        <label>#{page.label[page.field['contracting officer']]}</label>
	                        <h:inputText value="#{page.value[page.field['contracting officer']]}" disabled="#{!page.updatable[page.field['contracting officer']] or isReadOnly}" 
	                        	required="#{page.required[page.field['contracting officer']] and !isReadOnly}" 
	                        	requiredMessage="#{page.label[page.field['contracting officer']]}: #{validation['cashout.contractingofficer.required']}" 
                                        style="#{ component.valid ? '' : 'border-color:red;'}" styleClass="span11"/>
                    	</div>
                    </div>
                    </c:if>
                </h:panelGroup> 
            </div>
        </div>
</ui:composition>