<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/WEB-INF/layout/administrationTemplate.xhtml"
        xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="main">
    	<a href="/customerservice/index.xhtml">Return to Tasks</a><br /><br />
    	<h:messages />
        <ui:include src="/WEB-INF/layout/workflow/humanTaskForms/#{workflowTaskBean.taskToWorkName}.xhtml" />
    </ui:define>
</ui:composition>