<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/layout/administrationTemplate.xhtml">


        <f:metadata>
		<f:event
			type="preRenderView"
			listener="#{workflowTaskBean.retrieve}" />
	</f:metadata>

	<ui:define name="main">
	<h:form id="listsForm">
			<div class="row apdCenter container">
                            <h:inputText rendered="#{workflowTaskBean.canForceClaim()}" value="#{workflowTaskBean.taskToClaim}" />
                            <h:commandButton rendered="#{workflowTaskBean.canForceClaim()}" value="Force claim" action="#{workflowTaskBean.forceClaim()}" />
                            <h:commandButton rendered="#{workflowTaskBean.canForceClaim()}" value="Go to workflow_test" action="/admin/customerservice/workflow/workflow_test?faces-redirect=true" />
                            <h:commandButton rendered="#{!workflowTaskBean.showingCompletedTasks}" value="Show Completed Tasks" action="#{workflowTaskBean.setShowingCompletedTasks(true)}" />
                            <h:commandButton rendered="#{workflowTaskBean.showingCompletedTasks}" value="Hide Completed Tasks" action="#{workflowTaskBean.setShowingCompletedTasks(false)}" />
			</div>			
			<div class="row apdCenter container">
				<div class="span6 shoppoingCart-Header">
					<h3>My Tasks</h3>
				</div>

			</div>
			<div class="row apdCenter container">
				<div class="row-fluid">
					<div class="span12 fl-wrapper">
						<div class="span12 fl-container">
							<div class="span12 divInside-Fade">
								<h5>My Task List</h5>
							</div>

							<div class="span12 headerBkgrd-pd mobileHide">
								<div class="span2">
									<h4>Task</h4>
								</div>
								<div class="span2">
									<h4>#{propertiesBean.get('tenant','code')} PO#</h4>
								</div>
								<div class="span2">
									<h4>Status</h4>
								</div>
								<div class="span2">
									<h4>Created On</h4>
								</div>
								<div class="span2 pull-right">
									<h4>Actions</h4>
								</div>
								<div class="clearfix"></div>
							</div>
							<a4j:repeat
								rowKeyVar="index"
								var="assignedTask"
								value="#{workflowTaskBean.assignedTasks}">
								<div class="#{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'} span12">
									<div class="span2">
										<p>#{assignedTask.name}</p>
									</div>
									<div class="span2">
                                                                                <p>#{assignedTask.description}</p>
									</div>
									<div class="span2">
										<p>#{assignedTask.status}</p>
									</div>
									<div class="span2">
										<p>#{assignedTask.createdOn}</p>
									</div>
									<div class="span2 pull-right actionContainer">
										<h:commandButton rendered="#{workflowTaskBean.canStart(assignedTask)}" value="Start" action="#{workflowTaskBean.startTask(assignedTask)}" />
										<h:commandButton rendered="#{workflowTaskBean.canContinue(assignedTask)}" value="Continue" action="#{workflowTaskBean.continueTask(assignedTask)}" />
									</div>
									<div class="clearfix"></div>
								</div>
							</a4j:repeat>
						</div>
					</div>
				</div>
			</div>
			<div class="row apdCenter container">
				<div class="row-fluid">
					<div class="span12 fl-wrapper">
						<div class="span12 fl-container">
							<div class="span12 divInside-Fade">
								<h5>Available Tasks</h5>
							</div>

							<div class="span12 headerBkgrd-pd mobileHide">
								<div class="span2">
									<h4>Task</h4>
								</div>
								<div class="span2">
									<h4>#{propertiesBean.get('tenant','code')} PO#</h4>
								</div>
								<div class="span2">
									<h4>Status</h4>
								</div>
								<div class="span2">
									<h4>Created On</h4>
								</div>
								<div class="span2 pull-right">
									<h4>Actions</h4>
								</div>
								<div class="clearfix"></div>
							</div>
							<a4j:repeat
								rowKeyVar="index"
								var="availableTask"
								value="#{workflowTaskBean.availableTasks}">
								<div class="#{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'} span12">
									<div class="span2">
										<p>#{availableTask.name}</p>
									</div>
									<div class="span2">
                                                                                <p>#{availableTask.description}</p>
									</div>
									<div class="span2">
										<p>#{availableTask.status}</p>
									</div>
									<div class="span2">
										<p>#{availableTask.createdOn}</p>
									</div>
									<div class="span2 pull-right actionContainer">
										<h:commandButton rendered="#{workflowTaskBean.canClaim(availableTask)}" value="Claim" action="#{workflowTaskBean.claimTask(availableTask)}" />
									</div>
									<div class="clearfix"></div>
								</div>
							</a4j:repeat>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
