#account-edit-btn-block {
	margin-top: 50px;
}

.btn-black[class*='a'] {
	color: Black;
}

.btn[class*='a'] {
	color: white;
}

.btn-primary[class*='a'] {
	color: white;
}

.btn-info[class*='a'] {
	color: white;
}

.btn-warning[class*='a'] {
	color: white;
}

.btn-info[class*='a'] {
	color: white;
}

#search-container {
	overflow: hidden;
}

.apdCenter {
	margin: 0 auto;
}

.fl-wrapper {
	padding: 0 20px 0 20px !important;
}

.divInside-Fade h5,.divInside-Fade p {
	display: inline-block
}

.divInside-Fade h5 {
	margin: 5px 0 0 10px
}

.headerBkgrd-pd {
	background-color: #e5e5e5;
	line-height: 30px
}

#idletimeout {
	background: #CC5100;
	border: 3px solid #FF6500;
	color: #fff;
	font-family: arial, sans-serif;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	position: relative;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 100000;
	display: none;
}

#idletimeout a {
	color: #fff;
	font-weight: bold
}

#idletimeout span {
	font-weight: bold
}

.whiteBkgrd-pd {
	background-color: #fff;
	line-height: 30px
}

.grayBkgrd-pd {
	background-color: #f2f2f2;
	line-height: 30px
}

.actionContainer {
	padding-left: 10px
}

/* ==================================== */
/*   PAGINATION			                    */
/* ==================================== */
.pagination {
	margin: 20px 0;
}

.pagination ul>li {
	display: inline;
}

.pagination ul>li>a,.pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	color: #10165d;
	border: none;
	border-left-width: 0;
}

.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span
	{
	color: #555555;
	text-decoration: underline;
	background-color: transparent;
}

.pagination ul>.active>a,.pagination ul>.active>span {
	color: #555555;
	cursor: default;
}

.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus
	{
	color: #555555;
	cursor: default;
	background-color: transparent;
}

.pagination ul {
	border-radius: 4px 4px 4px 4px;
	box-shadow: none;
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
}

.resendButton {
	margin: 10px;
}

.rightMenu {
	text-align: center;
	position: absolute;
	float: right;
	z-index: 1000;
	overflow: visible;
}

.rightMenu li {
	display: inline-block;
}

.right {
	float: right;
}

/** Taken from bootstrap3 **/
.btn-group-vertical>.btn,.btn-group-vertical>.btn-group {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
}

.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after
	{
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group:after {
	clear: both;
}

.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after
	{
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group:after {
	clear: both;
}

.btn-group-vertical>.btn-group>.btn {
	float: none;
}

.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group
	{
	margin-top: -1px;
	margin-left: 0;
}

.btn-group-vertical
>
.btn


:not

 

(
:first-child

 

)
:not

 

(
:last-child

 

){
border-radius


:

 

0;
}
.btn-group-vertical
>
.btn


:first-child


:not

 

(
:last-child

 

){
border-top-right-radius


:

 

4
px


;
border-bottom-right-radius


:

 

0;
border-bottom-left-radius


:

 

0;
}
.btn-group-vertical
>
.btn


:last-child


:not

 

(
:first-child

 

){
border-top-right-radius


:

 

0;
border-bottom-left-radius


:

 

4
px


;
border-top-left-radius


:

 

0;
}
.btn-group-vertical>.btn-group:not        (:first-child        ):not      
	 (:last-child 
	      ) >.btn {
	border-radius: 0;
}

.btn-group-vertical>.btn-group:first-child>.btn:last-child,.btn-group-vertical>.btn-group:first-child>.dropdown-toggle
	{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical>.btn-group:last-child>.btn:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.btn-group-justified {
	display: table;
	width: 100%;
	border-collapse: separate;
	table-layout: fixed;
}

.btn-group-justified .btn {
	display: table-cell;
	float: none;
	width: 1%;
}

.informationButton {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin: 3px 5px 5px 5px;
	background-image: url(/administration/resources/img/info.png);
}

.icon-childCatalog {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin: 3px 5px 5px 5px;
	background-image: url(/administration/resources/img/childCatalog.png);
}

.navbar-menu-text {
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
}

.phoenix-table {
	height: 187px !important;
	overflow: scroll;
}

.phoenix-table-scroll {
	height: 400px !important;
	overflow: scroll;
}

.phoenix-table-header {
	background-color: #95A5A6;
}

.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	width: 100%;
}

.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	width: 1350px;
}

.row {
	margin-left: -15px;
}

.phoenix-container {
	margin-top: 41px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #eeeeee;
	padding: 15px 15px 15px 15px;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
}

/*override bootstrap */
.span12 {
	width: 1170px;
}

.span11 {
	width: 1072px;
}

.span10 {
	width: 974px;
}

.span9 {
	width: 876px;
}

.span8 {
	width: 778px;
}

.span7 {
	width: 680px;
}

.span6 {
	width: 582px;
}

.span5 {
	width: 484px;
}

.span4 {
	width: 386px;
}

.span3a {
	width: 337px;
}

.span3 {
	width: 288px;
}

.span2 {
	width: 190px;
}

.span1 {
	width: 92px;
}

.offset12 {
	margin-left: 1200px;
}

.offset11 {
	margin-left: 1093px;
}

.offset10 {
	margin-left: 986px;
}

.offset9 {
	margin-left: 879px;
}

.offset8 {
	margin-left: 772px;
}

.offset7 {
	margin-left: 665px;
}

.offset6 {
	margin-left: 558px;
}

.offset5 {
	margin-left: 451px;
}

.offset4 {
	margin-left: 344px;
}

.offset3 {
	margin-left: 237px;
}

.offset2 {
	margin-left: 130px;
}

.offset1 {
	margin-left: 23px;
}

/* Pick List */
table#pickListOrderHeader {
	width:100%;
	margin-top:20px;
	
}

#pickListOrderHeader td {
	padding:4px;
}

table .headerRight {
	text-align:right;
}

table#pickListOrder {
	width:100%;
	border-right:1px solid #CCC;
}

.confirm input.qty, table#pickListOrder input.qty {
	width:40px;
}

th.small {
	width:60px;
}

th.medium {
	width:150px;
}

tr.detailHeader {
	color: #FFF;
	background-color:#4D7CAA;
}

#pickListOrder td {
	border-left:1px solid #CCC;
	border-bottom:1px solid #CCC;
	padding:4px;
}

#pickListOrder tr.even {
	background-color:#EBF67D;
}

#pickListOrder tr.odd {
	background-color:#FFF;
}

#pickListOrder tr.detail {
	width:100%;
	display:none;
}
.left-navigation {
	line-height: 23px !important;
	font-size: 20px;
}

.action-splitter {
	margin : 5px;
}

.redHeader {
    font-weight: normal;
    color: #F6000D;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 24.5px;
    line-height: 40px;
    margin: 10px 0;
}

.notifications-image {
	width:100%;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #000060, #000060);
  background-image: -ms-linear-gradient(top, #000060, #000060);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000060), to(#000060));
  background-image: -webkit-linear-gradient(top, #000060, #000060);
  background-image: -o-linear-gradient(top, #000060, #000060);
  background-image: linear-gradient(top, #000060, #000060);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'000060, endColorstr='#'000060, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #f1f1f1;
  text-shadow: 0 0px 0 #ffffff;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #f1f1f1;
  text-shadow: 0 0px 0 #ffffff;
}

.navbar .nav > li > input {
  margin: 5px 5px;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #ffffff;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
}

a, .btn-link {
  color: #000060;
}

.navbar-text {
  color: #d0d0d0;
}

.btn-apd {
	background-color: #c11414 !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd1313",
		endColorstr="#c11414" );
	background-image: -khtml-gradient(linear, left top, left bottom, from(#dd1313),
		to(#c11414) );
	background-image: -moz-linear-gradient(top, #dd1313, #c11414);
	background-image: -ms-linear-gradient(top, #dd1313, #c11414);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd1313),
		color-stop(100%, #c11414) );
	background-image: -webkit-linear-gradient(top, #dd1313, #c11414);
	background-image: -o-linear-gradient(top, #dd1313, #c11414);
	background-image: linear-gradient(#dd1313, #c11414);
	border-color: #c11414 #c11414 #c11414;
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

*.rf-pp-btn {
	outline-style: none;
	position: absolute;
	clip: rect(0px, 0px, 1px, 1px);
	height: 0px;
	width: 0px;
	left: 0px;
	top: 0px;
	z-index: -300;
	opacity: 0.1;
	filter: alpha(opacity=10);
}
*.rf-pp-shade {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgb(208, 208, 208);
	opacity: 0.5;
	filter: alpha(opacity=50);
}
*.rf-pp-shdw {
	background-color: rgb(0, 0, 0);
	opacity: 0.1;
	filter: alpha(opacity=10);
	position: absolute;
	top: 6px;
	left: 6px;
	bottom: -6px;
	z-index: -1;
	border-radius: 0px;
}
*.rf-pp-cntr {
	border: 1px solid #C4C0B9;
	border-radius: 0px;
	background: #FFFFFF;
	z-index: 100;
}
*.rf-pp-hdr {
	background: url(/administration/rfRes/gradientA.png.xhtml?v=4.2.0.Final&db=eAFjZJBjZDBiZBBh!P!21TPG!1fOH2dgAgA6DgeR&ln=org.richfaces.images);
	repeat-x: top left #D4CFC7;
	position: relative;
	padding-left: 10px;
	cursor: move;
	padding: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
*.rf-pp-hdr-cnt {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	padding: 2px;
	padding-left: 10px;
}
*.rf-pp-hdr-cntrls {
	position: absolute;
	top: 2px;
	right: 2px;
	white-space: nowrap;
	cursor: default;
	font-weight: bold;
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	z-index: 100;
}
*.rf-pp-cnt-scrlr {
	top: 0px;
	left: 0px;
	overflow: auto;
	background: #FFFFFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
*.rf-pp-cnt {
	padding: 10px;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
*.rf-pp-hndlr {
	background-image: url(/administration/javax.faces.resource/spacer.gif.xhtml);
	position: absolute;
	margin: -4px;
}
*.rf-pp-hndlr-l {
	width: 7px;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: w-resize;
}
*.rf-pp-hndlr-r {
	width: 7px;
	height: 100%;
	top: 0px;
	right: 0px;
	cursor: w-resize;
}
*.rf-pp-ifr {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: white;
	overflow-y: hidden;
	z-index: -1;
}
*.rf-pp-hndlr-t {
	width: 100%;
	height: 7px;
	top: 0px;
	left: 0px;
	cursor: n-resize;
}
*.rf-pp-hndlr-b {
	width: 100%;
	height: 7px;
	bottom: 0px;
	left: 0px;
	cursor: n-resize;
}
*.rf-pp-hndlr-tl {
	width: 10px;
	height: 10px;
	top: 0px;
	left: 0px;
	cursor: nw-resize;
}
*.rf-pp-hndlr-tr {
	width: 10px;
	height: 10px;
	top: 0px;
	right: 0px;
	cursor: ne-resize;
}
*.rf-pp-hndlr-bl {
	width: 10px;
	height: 10px;
	bottom: 0px;
	left: 0px;
	cursor: ne-resize;
}
*.rf-pp-hndlr-br {
	width: 10px;
	height: 10px;
	bottom: 0px;
	right: 0px;
	cursor: nw-resize;
}

*.rf-dt {
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0C9;
	empty-cells: show;
}
*.rf-dt-c {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	padding: 4px;
}
*.rf-dt-nd {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	padding: 4px;
}
*.rf-dt-hdr-c {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	background-color: #D4CFC7;
	background-image: url(/administration/rfRes/colHdrGrad.png.xhtml?v=4.2.0.Final&db=eAFjZJBjZDBiZBBh!H!!zlXG!1fOH2dgAgA4fAdk&ln=org.richfaces.images);
	background-position: top left;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
	text-align: center;
}
*.rf-dt-shdr-c {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	background-color: #D4CFC7;
	background-image: url(/administration/rfRes/colHdrGrad.png.xhtml?v=4.2.0.Final&db=eAFjZJBjZDBiZBBh!H!!zlXG!1fOH2dgAgA4fAdk&ln=org.richfaces.images);
	background-position: top left;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
	text-align: center;
}
*.rf-dt-sftr-c {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	background-color: #f1f1f1;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
	text-align: center;
}
*.rf-dt-th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
}
*.rf-dt-ftr-c {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	color: #000000;
	background-color: #cccccc;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
	text-align: center;
}
*.rf-stt-exp {
	background-image: url(/administration/javax.faces.resource/up_icon.gif.xhtml?ln=org.richfaces);
}
*.rf-stt-col {
	background-image: url(/administration/javax.faces.resource/down_icon.gif.xhtml?ln=org.richfaces);
}
*.rf-cal-popup {
	background-color: white;
}
.order-general-info-row {
	border-top: 1px solid #ffffff;
	padding: 20px 0;
}

.placeOrderBtn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #59bd7a;
	background-image: linear-gradient(to bottom, #59bd7a, #009933);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #009933;
	border-image: none;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	line-height: 30px;
	margin-bottom: 0;
	text-align: center;
	padding: 0 10px 0 10px;
	text-shadow: 0 1px 1px #000000;
	vertical-align: middle;
	margin: 10px 0 15px 0;
	text-transform: uppercase;
}
