table#apdHeader, table#address, table.orderInfo, table#orderItems {
	width:100%;
}

table#address thead tr, table.orderInfo thead tr, table#orderItems thead tr {
	color:#FFF;
	background-color:#000;
}

table#apdHeader td, table#address td {
	width:50%;
}

table#apdHeader .label {
	color:#FFF;
	background-color:#000;
	font-size:26px;
}

table#address th {
	text-align:left;
}

.small {
	width:100px;
}