<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceHomeTemplate.xhtml">
    <f:metadata>
        <f:event type="preRenderView" listener="#{favoritesBean.refreshPage()}"  />
        <f:event type="preRenderView" listener="#{searchBean.regenerateLastResultsUrl()}"/>
    </f:metadata>
    <ui:define name="page_content">
        <div class="row apdMarginTop container home">
        <div id="homePageCarousel">
    		<ui:repeat var="carousel" value="#{marketingImagesBean.getHomePageCarouselDisplays()}" varStatus="status">
    			<h:panelGroup rendered="#{not empty carousel.backgroundImageUrl}">
	    		<div id="homePageCarousel#{status.index}" class="singleCarouselWrapper">
	    			<h:panelGroup layout="block" styleClass="singleCarouselText" rendered="#{not empty carousel.header or not empty carousel.body 
	    					or (not empty carousel.linkUrl and not empty carousel.linkText)}">
	    				<h:panelGroup rendered="#{not empty carousel.header}">
	    					<h2>#{carousel.header}</h2>
	    				</h:panelGroup>
	    				<h:panelGroup rendered="#{not empty carousel.body}">
	    					<p>#{carousel.body}</p>
	    				</h:panelGroup>
	    				<h:panelGroup styleClass="singleCarouselLink" rendered="#{not empty carousel.linkUrl and not empty carousel.linkText}">
	    					<a href="#{carousel.linkUrl}">#{carousel.linkText}</a>
	    				</h:panelGroup>
	    			</h:panelGroup>
	    			<a href="#{carousel.linkUrl}"><img src="#{carousel.backgroundImageUrl}" class="singleCarouselImageHomePage" /></a>
	    		</div>
	    		</h:panelGroup>
    		</ui:repeat>
    	</div>
            <div id="daily-offer-wrapper">
            	<div  style="margin-bottom: 20px;">
            	<a target="_blank" href="#{marketingImagesBean.getTopHomeImageLinkDestination()}">
            		<img src="#{marketingImagesBean.getTopHomeImageUrl()}" />
            	</a>
            	</div>
            	<div>
            	<a href="#{marketingImagesBean.getBottomHomeImageLinkDestination()}">
            		<img src="#{marketingImagesBean.getBottomHomeImageUrl()}" />
            	</a>
            	</div>
            </div>
            <h:form id="homePageForm">
                <div class="span10 mobileHide">
                    <div class="company-featured-products">
                                    #{display['home.featured']}
                    </div>
                    <div class="row-fluid FeaturedWidth">
                        <div class="span12">
                            <div id="featuredProductBlock">                                
                                <h:panelGroup id="coreProductWidget" layout="block" >
                                    <ui:repeat var="product" value="#{homeBean.featuredProductList}" varStatus="listStatus">
                                    	<h:panelGroup rendered="#{listStatus.index % homeBean.ENTRIES_PER_ROW == 0}">
                                    		<!-- Adds span12 wrapper for each group of elements, to ensure they are all on the same row -->
                                    		<h:outputText value="&lt;div class=&quot;span12&quot;&gt;" escape="false" />
                                    	</h:panelGroup>
                                        <div class="span3 featured-product">
                                            <div>
                                                <a href="#{product.detailsLink}" class="thumbnail">
                                                    <img src="#{product.mainImageUrl}" alt="Image" class="homePageImage"/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <div class="manufacturer fixed-height-short">#{product.manufacturerName}</div>
                                                <div class="title fixed-height-tall" style="word-break: break-word"><a href="#{product.detailsLink}">#{product.name}</a></div>
                                                <div class="sku fixed-height-short">
                                                    <strong>SKU:</strong>#{product.customerSku}
                                                </div>
                                                <div class="product-icons fixed-height-short">
                                                    <a4j:repeat rendered="#{not empty product.iconMap.keySet()}" value="#{viewUtils.mapToList(product.iconMap)}" var="entry" rowKeyVar="index">
                                                        <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
                                                    </a4j:repeat>
                                                </div>
                                                <apd:addToCart product="#{product}" narrow="true"/>
                                            </div>
                                        </div>
                                    	<h:panelGroup rendered="#{listStatus.index % homeBean.ENTRIES_PER_ROW == (homeBean.ENTRIES_PER_ROW - 1) or listStatus.last}">
                                    		<h:outputText value="&lt;/div&gt;" escape="false" />
                                    	</h:panelGroup>
                                    </ui:repeat>
                                </h:panelGroup>                                    
                                <apd:pagination pageDisplay="#{homeBean.pageDisplay}" render="homePageForm" />
                            </div>
                        </div>
                    </div>                    
                </div>
            </h:form>
        </div>
        <div id="push"></div>
        <script type="text/javascript">
	    	$(document).ready(function() {
				runslide(0);
	    	});
			
			function runslide(value) {

				//resets carousel index if all items have been seen
				if (value >= #{marketingImagesBean.carouselQuantity}) {
					value = 0;
				}

				//if no items in the carousel, just returns
				if (#{marketingImagesBean.carouselQuantity == 0}) {
					return;
				} else if (#{marketingImagesBean.carouselQuantity == 1}) {
					//if one item in the carousel, that item is displayed, and returns
					jQuery("#homePageCarousel0").fadeIn(1500);
				} else {
					//if there is more than one item in the carousel, the current item is displayed,
					//then the index is incremented to display the next item
					jQuery("#homePageCarousel" + value).fadeIn(1500).delay(5500).fadeOut(1500, function() {runslide(value + 1);});
				}
			}
		</script>
    </ui:define>

</ui:composition>
