-I FORWARD -s {{ private_network }} -j ACCEPT
-I FORWARD -s {{ public_network }} -j ACCEPT
-t nat -A PREROUTING -i eth0 -p tcp -m tcp --dport 21 -j DNAT --to-destination {{ ftp_ip }}:21 ! -s {{ public_subnet_prefix }}0/16
-t nat -A PREROUTING -i eth0 -p tcp -m tcp --dport 50000:51000 -j DNAT --to-destination {{ ftp_ip }}:50000-51000 ! -s {{ public_subnet_prefix }}0/16
-t nat -A POSTROUTING ! -s {{ dns_server_ip }}/32 -o eth0 -j MASQUERADE
-A INPUT -s 10.8.0.0/24 -p tcp -m tcp --dport 53 -j ACCEPT
-A INPUT -s {{ public_subnet_prefix }}0/16 -p tcp -m tcp --dport 53 -j ACCEPT