<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">
	<ui:remove>
		<f:metadata>
			<f:event type="preRenderView" listener="#{authorizeShipToBean.retrieve}" />
		</f:metadata>
	</ui:remove>
	<div class="container">
		<h4>Authorize Valid Shipping Address</h4>
		<h6>The following shipping address needs to be confirmed before the order can be placed</h6>
		<h:form id="authorizeShipToForm">
			<div class="controls controls-row">
				<span class="redHeader">#{authorizeShipToBean.customerOrder.apdPo.value}</span>
			</div>
			<div class="controls controls-row">
				<label class="span2"> The following address was entered for this order: </label><br />
                                <label class="span5">
                                    <label class="span2"> Line 1: </label>
                                    <span class="input-medium uneditable-input span3">#{authorizeShipToBean.address.line1}</span> <br />
                                    <label class="span2"> City: </label>
                                    <span class="input-medium uneditable-input span3">#{authorizeShipToBean.address.city}</span> <br />
                                    <label class="span2"> State: </label>
                                    <span class="input-medium uneditable-input span3">#{authorizeShipToBean.address.state}</span> <br />
                                    <label class="span2"> Zip: </label>
                                    <span class="input-medium uneditable-input span3">#{authorizeShipToBean.address.zip}</span> <br />
                                </label>
			</div>
			<div class="controls controls-row">
				<label class="span2"> ShipTo: </label>
                                <span class="input-medium uneditable-input span3">#{authorizeShipToBean.address.shipToId}</span>
			</div>
			<h:commandButton class="btn btn-apd" action="#{authorizeShipToBean.authorize()}" value="Authorize" />
		</h:form>
	</div>
</ui:composition>