<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">
	<div class="container">
		<h4>Unsuccessful Charge</h4>
		<h6>Either set a split charge, or add a new Credit Card in the admin app for this order, then retry. If no values are entered into the fields below,
		the original card ending with <h:outputText rendered="#{not empty creditCardChargeFailedBean.customerOrder.paymentInformation.card.identifier}" value="#{creditCardChargeFailedBean.customerOrder.paymentInformation.card.identifier}" />
		and expiration date  <h:outputText rendered="#{not empty creditCardChargeFailedBean.customerOrder.paymentInformation.card.expiration}" value="#{creditCardChargeFailedBean.customerOrder.paymentInformation.card.expiration}" /> will be retried.</h6>
		<h:form id="orderRefusedForm">
			<div class="controls controls-row">
				<span class="redHeader">#{creditCardChargeFailedBean.apdPo}</span>
			</div>
					<rich:messages />
					<h:outputText value="Split charge $ " />  
                    <h:inputText value="#{creditCardChargeFailedBean.splitCharge}"/>
                    <h:outputText value="  Split charge in these increments  " />  
					<br />
					<h:outputText value="Order Total: " />
					<h:outputText value="#{forgeview:toCurrency(creditCardChargeFailedBean.customerOrder.orderTotal)}" />
					
                    <hr />
                    
					<h:outputText value="New credit card number" />
					<h:inputText value="#{creditCardChargeFailedBean.newCardNumber}"/> <h:outputText value=" " />
					<br />
					<h:outputText value="New credit card expiration date (format: MM-YYYY)" />
                    <h:inputText value="#{creditCardChargeFailedBean.newCardDate}" validatorMessage="The expiration date must be in the format MM-YYYY">
                    	<f:validateRegex pattern="([0-9][0-9]-[0-9][0-9][0-9][0-9])?" />
                    </h:inputText>
                    <br />
           <hr />
	       <h:selectOneMenu id="shipmentSelection" value="#{creditCardChargeFailedBean.shipmentToCharge}" 
	       		converter="#{creditCardChargeFailedBean.converter}" required="true" requiredMessage="Shipment selection is required">
		    		<f:selectItem itemLabel="Select Shipment To Charge" noSelectionOption="true"/>
	   			<f:selectItems value="#{creditCardChargeFailedBean.shipmentList}"
	   				 var="shipment" itemValue="#{shipment}" itemLabel="#{shipment.trackingNumber}" />
	   		</h:selectOneMenu> <rich:message for="shipmentSelection" styleClass="error" /><br />
			<div class="btn-group">
		         	
					<h:commandButton class="btn btn-apd" action="#{creditCardChargeFailedBean.retry()}" value="Retry">
					</h:commandButton>
					<h:commandButton class="btn" action="#{creditCardChargeFailedBean.cancel()}" value="Continue Without Charging">
					</h:commandButton>
			</div>
			<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{creditCardChargeFailedBean.apdPo}" >
		         		Order Details
		   </a>
		   <a href="/customerservice/admin/reports/transactionHistory.xhtml?apdPo=#{creditCardChargeFailedBean.apdPo}" >Transaction Detail</a>
		</h:form>
	</div>
</ui:composition>