<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich">

<h:head></h:head>
<h:body>
	<ui:composition>
		<p>The following order was refused:</p>
			<table>
				<thead>
					<tr>
						<td>
							Order Id
						</td>
						<td>
							Order Status
						</td>
					</tr>
				</thead>
					<tr>
						<td>
							#{getOrderRefusedActionBean.apdPo}
						</td>
						<td>
							#{getOrderRefusedActionBean.customerOrder.status.description}
						</td>
					</tr>
			</table>
		<p>Please choose an action:</p>
		<h:commandButton action="#{getOrderRefusedActionBean.cancel()}" value="Cancel the Order" />
		<h:commandButton action="#{getOrderRefusedActionBean.retry()}" value="Retry the Order" />
	</ui:composition>
</h:body>
</html>
