<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">
	<div class="container">
		<h4>Order Refused</h4>
		<h6>The following order was refused because the credit card preauthorization failed.</h6>
		<h:form id="orderRefusedForm">
			<div class="controls controls-row">
				<span class="redHeader">#{preauthorizationDeclinedBean.apdPo}</span>
			</div>

         	<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{preauthorizationDeclinedBean.apdPo}" 
         		class="btn-link btn-default" target="_blank">
         		Order Details
         	</a>
			<div class="btn-group">

					<h:commandButton class="btn" action="#{preauthorizationDeclinedBean.cancel()}" value="Cancel">
					</h:commandButton>
					<h:commandButton class="btn" action="#{preauthorizationDeclinedBean.retry()}" value="Retry">
					</h:commandButton>
			</div>
		</h:form>
	</div>
</ui:composition>