<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">
	<div class="container">
		<h4>Inbound invoice has been rejected - please update and accept the invoice, or confirm the rejection:</h4>
		<h:form id="orderForm">
			<div class="controls controls-row">
				<span class="redHeader">#{remediateInvoiceBean.apdPo} : #{remediateInvoiceBean.vendorInvoice.invoiceNumber}</span>
				<h:panelGroup rendered="#{not remediateInvoiceBean.validationErrors.isEmpty()}">
					<br />
					Customer: #{remediateInvoiceBean.vendorInvoice.customerOrder!=null and remediateInvoiceBean.vendorInvoice.customerOrder.account!=null ? remediateInvoiceBean.vendorInvoice.customerOrder.account.name : 'unknown customer'}
					<br />
					Vendor: #{remediateInvoiceBean.vendorName != null ? remediateInvoiceBean.vendorName : 'unknown vendor'}
					<br />
					The following errors occurred:
					<ul>
					<a4j:repeat var="error" value="#{forgeview:asList(remediateInvoiceBean.validationErrors)}">
						<li>
							<h:outputText value="#{error.getError()}" />
						</li>
					</a4j:repeat>
					</ul>
				</h:panelGroup>
			</div>
			
						<table class="table table-hover table-striped">
					<thead>
						<tr>
						    <th class="span1">#{propertiesBean.get('tenant','code')} SKU</th>
							<th class="span1">Vendor SKU</th>
							<th class="span2">Description</th>
							<th class="span1">Quantity</th>
							<th class="span1">Expected Unit Price</th>
							<th class="span1">Unit Price on Invoice</th>
							<th class="span1">Expected Vendor</th>
						</tr>
					</thead>
					<tbody>
			<a4j:repeat rowKeyVar="index" var="item" value="#{remediateInvoiceBean.vendorInvoice.actualItems}">
							<tr>
								<td class="span1">
									<h:outputText value="#{item.apdSku}" />
								</td>
								<td class="span1">
									<h:outputText value="#{item.supplierPartId}" />
								</td>								
								<td class="span2">
									<h:outputText value="#{item.shortName != null ? item.shortName : item.description}" />
								</td>
								<td class="span1">
									<h:outputText value="#{item.quantity}" />
								</td>
								<td class="span1">
									<h:outputText value="#{item.expected != null ? item.expected.cost : 'No Item Found'}" />
								</td>
								<td class="span1">
									<h:inputText value="#{item.cost}" disabled="#{remediateInvoiceBean.vendorInvoice.valid == null or remediateInvoiceBean.vendorInvoice.valid}" />
								</td>
								<td class="span1">
									<h:outputText value="#{item.expected != null and item.expected.vendor !=null and item.expected.vendor.name != null ? 
																item.expected.vendor.name :	'unknown vendor'}" />
								</td>
							</tr>
			</a4j:repeat>
			</tbody>
			</table>
			
			<span class="pull-right">
				<h:outputText value="Total: #{remediateInvoiceBean.vendorInvoice.vendorInvoiceTotal}" />
			</span>

         	<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{remediateInvoiceBean.apdPo}" 
         		class="btn-link btn-default" target="_blank">
         		Order Details
         	</a>
         	<br />
            <h:commandButton class="btn btn-apd" action="#{remediateInvoiceBean.approve()}" value="Approve" />
            <h:commandButton class="btn" action="#{remediateInvoiceBean.confirmRejection()}" value="Reject" />
		</h:form>
	</div>
</ui:composition>