<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">
	<f:metadata>
		<f:event type="preRenderView" listener="#{requestItemAdditionBean.retrieve}" />
	</f:metadata>
	<div class="container">
		<h4>Item Requested</h4>
		<h6>The following item was requested, please add the item</h6>
		<h:form id="requestItemAdditionForm">
			<div class="controls controls-row">
				<label class="span2"> Request Details: </label><br />
                                <label class="span5"> 
                                    <label class="span2"> Name of Requestor: </label>
                                    <span class="input-medium uneditable-input span3">#{requestItemAdditionBean.request.requestor}</span> <br />
                                    <label class="span2"> Email Address: </label>
                                    <span class="input-medium uneditable-input span3">#{requestItemAdditionBean.request.email}</span> <br />
                                    <label class="span2"> Requested Part Number: </label>
                                    <span class="input-medium uneditable-input span3">#{requestItemAdditionBean.request.partNumber}</span> <br />
                                    <label class="span2"> Item Description: </label>
                                    <span class="input-medium uneditable-input span3">#{requestItemAdditionBean.request.description}</span> <br />
                                    <label class="span2"> How often it is ordered: </label>
                                    <span class="input-medium uneditable-input span3">#{requestItemAdditionBean.request.howOften}</span> <br />
                                    <label class="span2"> Quantity Needed: </label>
                                    <span class="input-medium uneditable-input span3">#{requestItemAdditionBean.request.quantity}</span> <br />
                                    <label class="span2"> Div-Dept: </label>
                                    <span class="input-medium uneditable-input span3">#{requestItemAdditionBean.request.divDept}</span> <br />
                                </label>
			</div>
			<h:commandButton class="btn btn-apd" action="#{requestItemAdditionBean.resolved()}" value="Resolved" />
		</h:form>
	</div>
</ui:composition>