<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">
	<f:metadata>
            <f:event type="preRenderView" listener="#{reviewStuckOrderBean.retrieve}" />
	</f:metadata>
	<div class="container">
		<h4>Order stuck in Ordered Status-- please investigate and resubmit to workflow:</h4>
		<h:form id="orderForm">
			<div class="controls controls-row">
				<span class="redHeader">#{reviewStuckOrderBean.apdPo}</span>
			</div>
			
						<table class="table table-hover table-striped">
					<thead>
						<tr>
						    <th class="span1">#{propertiesBean.get('tenant','code')} SKU</th>
							<th class="span1">Vendor SKU</th>
							<th class="span2">Description</th>
							<th class="span1">Quantity</th>
							<th class="span1">Unit Price</th>
							<th class="span1">UNSPSC Classification</th>
						</tr>
					</thead>
					<tbody>
			<a4j:repeat rowKeyVar="index" var="item" value="#{reviewStuckOrderBean.lineItems}">
							<tr>
								<td class="span1">
									<h:outputText value="#{item.apdSku}" />
								</td>
								<td class="span1">
									<h:outputText value="#{item.supplierPartId}" />
								</td>								
								<td class="span2">
									<h:outputText value="#{item.shortName != null ? item.shortName : item.description}" />
								</td>
								<td class="span1">
									<h:outputText value="#{item.quantity}" />
								</td>
								<td class="span1">
									<h:outputText value="#{item.unitPrice}" />
								</td>
								<td class="span1">
									<h:outputText value="#{item.unspscClassification}" />
								</td>
							</tr>
			</a4j:repeat>
			</tbody>
			</table>
            <div class="controls controls-row">
				<label class="span2"> User: </label>
                                <span class="input-medium uneditable-input span3">#{reviewStuckOrderBean.customerOrder.user.login}</span>
			</div>		
            <div class="controls controls-row">
				<label class="span2"> Order Total: </label>
                                <span class="input-medium uneditable-input span3"><h:outputText value="#{reviewStuckOrderBean.customerOrder.orderTotal}">
									<f:convertNumber currencySymbol="$" type="currency" />
								</h:outputText></span>
			</div>

         	<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{assignValidAddressBean.apdPo}" 
         		class="btn-link btn-default" target="_blank">
         		Order Details
         	</a>
         	<br />
            <h:commandButton class="btn btn-apd" action="#{reviewStuckOrderBean.complete()}" value="Resubmit to workflow" />
		</h:form>
	</div>
</ui:composition>