<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>#{empty pageTitle ? '{#pageTitle}' : pageTitle}</title>
	<link rel="icon" href="#{resource['favicon.ico']}" />
	<h:outputStylesheet name="bootstrap.css" />
	<h:outputStylesheet name="forge-style.css" />
</h:head>

<h:body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<h:link id="brandLink" outcome="/index.xhtml" styleClass="brand">Phoenix Administration</h:link>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="http://forge.jboss.org/docs/important_plugins/ui-scaffolding.html">How to Customize</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container forgecontainer">
		<div id="navigation">
			<h:link id="homeLink" outcome="/index.xhtml">
				<img src="#{resource['forge-logo.png']}" alt="Forge... get hammered" border="0" />
			</h:link>
			<ul>
				<li>
					<h:link outcome="/forgeadmin/account/search" value="Account"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/accountXCredentialXUser/search" value="Account X Credential X User"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/actionType/search" value="Action Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/attachmentType/search" value="Attachment Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/cashoutPage/search" value="Cashout Page"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/cashoutPageXFieldType/search" value="Cashout Page X Field Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/catalog/search" value="Catalog"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/catalogXItem/search" value="Catalog X Item"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/categoryMarkup/search" value="Category Markup"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/classificationCode/search" value="Classification Code"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/classificationNote/search" value="Classification Note"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/codeType/search" value="Code Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/comment/search" value="Comment"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/communicationMethod/search" value="Communication Method"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/costCenter/search" value="Cost Center"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/credential/search" value="Credential"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/customerOrder/search" value="Customer Order"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/descriptionType/search" value="Description Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/dimensionType/search" value="Dimension Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/fieldType/search" value="Field Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/groupType/search" value="Group Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/imageType/search" value="Image Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/item/search" value="Item"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/itemCategory/search" value="Item Category"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/itemClassification/search" value="Item Classification"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/itemClassificationImage/search" value="Item Classification Image"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/itemClassificationType/search" value="Item Classification Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/itemDimension/search" value="Item Dimension"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/itemIdentifier/search" value="Item Identifier"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/itemIdentifierType/search" value="Item Identifier Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/itemImage/search" value="Item Image"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/itemPackaging/search" value="Item Packaging"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/itemSpecification/search" value="Item Specification"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/manufacturer/search" value="Manufacturer"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/noteType/search" value="Note Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/orderHistory/search" value="Order History"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/orderStatus/search" value="Order Status"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/orderType/search" value="Order Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/orderedItem/search" value="Ordered Item"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/orderedItemXExchangedItem/search" value="Ordered Item X Exchanged Item"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/orderedItemXShipment/search" value="Ordered Item X Shipment"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/packagingDimension/search" value="Packaging Dimension"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/packagingType/search" value="Packaging Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/periodType/search" value="Period Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/permission/search" value="Permission"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/permissionXUser/search" value="Permission X User"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/phoneNumber/search" value="Phone Number"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/phoneNumberType/search" value="Phone Number Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/pricingType/search" value="Pricing Type"/>
				<li>
					<h:link outcome="/forgeadmin/receivedItem/search" value="Received Item"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/role/search" value="Role"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/roleXUser/search" value="Role X User"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/shipment/search" value="Shipment"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/shippingPartner/search" value="Shipping Partner"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/skuType/search" value="Sku Type"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/specificationDescription/search" value="Specification Description"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/specificationProperty/search" value="Specification Property"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/uiComponent/search" value="Ui Component"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/unitOfMeasure/search" value="Unit Of Measure"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/user/search" value="User"/>
				</li>
				<li>
					<h:link outcome="/forgeadmin/vendor/search" value="Vendor"/>
				</li>
			</ul>
		</div>

		<div id="content">
			<h1>
				<ui:insert name="header" />
			</h1>
			<h2>
				<ui:insert name="subheader" />
			</h2>

			<ui:insert name="main" />
		</div>
	</div>

	<footer>
		<div id="footer-wrapper">
	    	<p>Powered by <a href="http://jboss.org/forge">Forge</a></p>
	    </div>
	</footer>

</h:body>
</html>
