<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:forgeview="http://jboss.org/forge/view">
		
	<h:outputLabel for="fieldBeanFieldName" value="Name:"/>
	<h:panelGroup>
		<h:inputText id="fieldBeanFieldName" value="#{fieldBean.field.name}"/>
		<h:message for="fieldBeanFieldName" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="fieldBeanFieldType" value="Field Type:"/>
	<h:panelGroup>
       <h:selectOneMenu value="#{fieldBean.field.fieldType}"
       		converter="#{fieldTypeBean.converter}">
	    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
   			<f:selectItems value="#{fieldTypeBean.all}"
   				 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
   		</h:selectOneMenu>
	</h:panelGroup>
	<h:outputText/>

</ui:composition>