<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
				xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceAccountManagementTemplate.xhtml">

<ui:define name="page_title">Account Management Page</ui:define>
    <ui:define name="page_content">
    <c:if test="#{not loginBean.systemUser.concurrentAccess}">
        <h3>
            <u>My Account</u>
        </h3>
        <div class="well">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
                <li><a href="#profile" data-toggle="tab">Password</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="home">
                    <form id="tab">
                        <label>Username</label>
                        <input type="text" value="jsmith" class="input-xlarge"/>
                        <label>First Name</label>
                        <input type="text" value="John" class="input-xlarge"/>
                        <label>Last Name</label>
                        <input type="text" value="Smith" class="input-xlarge"/>
                        <label>Email</label>
                        <input type="text" value="jsmith@yourcompany.com" class="input-xlarge"/>
                        <div>
                            <button class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="profile">
                    <h:form>
                        <rich:graphValidator value="#{passwordValidatorBean}" id="gv">
                            <rich:panel header="Change password" id="password_panel">
                                <rich:messages for="gv" />
                                <rich:messages globalOnly="true" />
                                <h:panelGrid columns="1">

                                    <h:outputText value="Enter current password:" />
                                    <h:inputSecret value="#{passwordValidatorBean.currentPassword}" id="current_pass"/>
                                    <rich:message for="current_pass" />


                                    <h:outputText value="Enter new password:" />
                                    <h:inputSecret value="#{passwordValidatorBean.password}" id ="pass"/>
                                    <rich:message for="pass" />

                                    <h:outputText value="Confirm the new password:" />
                                    <h:inputSecret value="#{passwordValidatorBean.confirm}" id="conf"/>
                                    <rich:message for="conf" />

                                </h:panelGrid>
                                <a4j:commandButton value="Store changes" action="#{passwordValidatorBean.storeNewPassword}" />
                            </rich:panel>
                        </rich:graphValidator>
                    </h:form>
                </div>
            </div>
        </div>
    </c:if>
    </ui:define>

</ui:composition>
