<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	
	<rich:popupPanel id="editItemModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	
	<h:form id="editItemModalForm">
		<a4j:region>
		<f:facet name="header">
			<h:outputText value="Edit Line Item" rendered="#{not changeOrderBean.currentLineItem.fee}" />
			<h:outputText value="Edit Fee" rendered="#{changeOrderBean.currentLineItem.fee}" />
  			</f:facet>
  			<f:facet name="controls">
      			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('editItemModal')}.hide(); return false;" />
  			</f:facet>
  			
  		<div class="container-fluid span10">
  			<div class="column-fluid span3" >
  				<div class="span3">
					<h:outputLabel for="editItemStatus" value="Status" />
					<h:outputText id="editItemStatus" value="#{changeOrderBean.getPendingLineItemStatus(changeOrderBean.currentLineItem)}" />
				</div>
				<div class="span3">
					<h:outputLabel for="editItemSku" value="Dealer SKU" />
					<h:inputText id="editItemSku" value="#{changeOrderBean.currentLineItem.apdSku}" required="#{not changeOrderBean.currentLineItem.fee}" 
           	                                  requiredMessage="#{validation['changeOrder.sku.required']}"/>
				</div>
  				<div class="span3">
					<h:outputLabel for="editItemDescription" value="Description" />
					<h:inputText id="editItemDescription" value="#{changeOrderBean.currentLineItem.description}" required="true" 
                                             requiredMessage="#{validation['changeOrder.description.required']}"/>
				</div>
  			</div>
  			<div class="column-fluid span3">
  				<div class="span3">
					<h:outputLabel for="itemAction" value="Action" />
					<h:selectOneMenu id="itemAction" value="#{changeOrderBean.currentAction}" required="true" requiredMessage="#{validation['changeOrder.action.required']}"
						disabled="#{changeOrderBean.currentLineItem.id == null}" >
				    	<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
						<f:selectItems value="#{changeOrderBean.getAllowedWorkflowActions(changeOrderBean.currentLineItem)}" />
						<f:ajax event="change" immediate="true" listener="#{changeOrderBean.clearForm()}" execute="@this editItemModalForm:actionReason" render="@this editItemModalForm:actionReason editItemModalForm:actionInputGroup editItemModalForm:returnShippingGroup editItemModalForm:actionQuantityGroup" />
					</h:selectOneMenu>
				</div>
				<div class="span3">
					<h:panelGroup id="actionQuantityGroup" >
						<h:outputLabel for="editItemQuantity" value="Action Quantity" />
						<h:inputText id="editItemQuantity" value="#{changeOrderBean.currentActionQuantity}" required="true" validatorMessage="#{validation['changeOrder.actionQuantity.range']}"
							disabled="#{changeOrderBean.currentLineItem.fee}" requiredMessage="#{validation['changeOrder.quantity.required']}">
							<f:validateLongRange minimum="1" maximum="#{changeOrderBean.maximumQuantity}" />
						</h:inputText>
					</h:panelGroup>
				</div>
				<div class="span3">
					<h:panelGroup id="actionReason" >
						<h:outputLabel value="Action Reason" rendered="#{changeOrderBean.currentAction == 'RETURN' or changeOrderBean.currentAction == 'CANCEL'}" />
						<h:selectOneMenu id="returnReason" value="#{changeOrderBean.currentReturnReason}" rendered="#{changeOrderBean.currentAction == 'RETURN'}"
							disabled="#{changeOrderBean.currentLineItem.id == null}">
							<f:selectItems value="#{changeOrderBean.returnReasons}" var="returnReason" itemLabel="#{returnReason.label}" />
						</h:selectOneMenu>
						<h:selectOneMenu id="cancelReason" value="#{changeOrderBean.currentCancelReason}" rendered="#{changeOrderBean.currentAction == 'CANCEL'}"
							disabled="#{changeOrderBean.currentLineItem.id == null}">
							<f:selectItems value="#{changeOrderBean.cancelReasons}" var="cancelReason" itemLabel="#{cancelReason.label}" />
						</h:selectOneMenu>
					</h:panelGroup>
				</div>
				<div class="span3">
					<h:panelGroup id="actionInputGroup" >
						<h:outputLabel for="raNumber" value="RA Number (for returns)" rendered="#{changeOrderBean.currentAction == 'RETURN'}" />
						<h:inputText id="raNumber" value="#{changeOrderBean.raNumber}" required="true" requiredMessage="#{validation['changeOrder.raNumber.required']}" validator="#{changeOrderBean.raNumberValidator}" rendered="#{changeOrderBean.currentAction == 'RETURN'}" />
						</h:panelGroup>
				</div>
				<div class = "span3">
					<h:panelGroup id="returnShippingGroup" >
						<h:outputLabel for="returnShipping" value="Return Shipping" rendered="#{changeOrderBean.currentAction == 'RETURN'}" />
						<h:selectBooleanCheckbox id="returnShipping" value="#{changeOrderBean.returnShipping}" required="false" rendered="#{changeOrderBean.currentAction == 'RETURN'}"/>
					</h:panelGroup>
				</div>
				
				<div class="btn-group" layout="block">
					<a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
						render=":change-form editItemModalForm" 
						action="#{changeOrderBean.updateCurrentLineItem()}"
						oncomplete="hidePopup('editItemModal');" />
					<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
						render="editItemModalForm"
						action="#{changeOrderBean.clearLineItem()}"
						oncomplete="hidePopup('editItemModal');" />
				</div>
  			</div>
  			<div class="column-fluid span3" >
  				<div class="span3">
					<h:outputLabel for="itemShipping" value="Ship Fee" />
					<h:inputText id="itemShipping" value="#{changeOrderBean.currentShipping}" />
				</div>
  				<div class="span3">
					<h:outputLabel for="editItemUnitPrice" value="Unit Price" />
                	<h:inputText id="editItemUnitPrice" value="#{changeOrderBean.currentPrice}"
						disabled="#{not changeOrderBean.currentPriceUpdatable}" required="true" 
                                requiredMessage="#{validation['changeOrder.unitPrice.required']}"/>
				</div>
				<div class="span3">
  					<h:panelGroup rendered="#{not changeOrderBean.currentLineItem.fee}">
					<h:outputLabel for="editItemUom" value="Unit" />
			        <h:selectOneMenu id="editItemUom" value="#{changeOrderBean.currentLineItem.unitOfMeasure}"
                                                 converter="#{changeOrderBean.uomConverter}" required="true" requiredMessage="#{validation['changeOrder.uom.required']}">
				    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
				   			<f:selectItems value="#{changeOrderBean.allUoms}"
			   				 var="uom" itemValue="#{uom}" itemLabel="#{uom.name}" />
			   		</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup rendered="#{changeOrderBean.currentLineItem.fee}">
						<h:outputLabel for="editFeeUom" value="Unit" />
						<h:outputText id="editFeeUom" value="#{changeOrderBean.currentLineItem.unitOfMeasure.name}" />
					</h:panelGroup>
				</div>
  			</div>
                        <div class="column-fluid span3">
                            <div class="span3">
                                    <h:outputLabel for="itemVendor" value="Vendor" />
                                    <h:selectOneMenu id="itemVendor" value="#{changeOrderBean.currentLineItem.vendor}"
                                                     converter="#{cashoutConverterBean.vendorConverter}" immediate="true">
                                        <f:selectItem itemLabel="Select..." noSelectionOption="true"/>
                                        <f:selectItems value="${changeOrderBean.allVendors}"
                                                       var="vendor" itemValue="#{vendor}" itemLabel="#{vendor.name}"/>
                                    </h:selectOneMenu>
                            </div>
                            <div class="span3">
                                    <h:outputLabel for="itemCategory" value="Category" />
                                    <h:selectOneMenu id="itemCategory" value="#{changeOrderBean.currentLineItem.category}"
                                                     converter="#{cashoutConverterBean.itemCategoryConverter}" immediate="true">
                                        <f:selectItem itemLabel="Select..." noSelectionOption="true"/>
                                        <f:selectItems value="${changeOrderBean.allCategories}"
                                                       var="category" itemValue="#{category}" itemLabel="#{category.name}"/>
                                    </h:selectOneMenu>
                            </div>
                            <div class="span3">
                                    <h:outputLabel for="itemUNSPSC" value="UNSPSC Code" />
                                    <h:inputText id="itemUNSPSC" value="#{changeOrderBean.currentLineItem.unspscClassification}" />
                            </div>
                            <div class="span3">
                                    <h:outputLabel for="taxable" value="Taxable" />
                                    <h:selectBooleanCheckbox id="taxable" value="#{changeOrderBean.currentLineItem.taxable}" />
                            </div>
                        </div>
		</div>
		<div class="row-fluid span10">
                    <div class="row-fluid">
                        <div class="span3">
                            <rich:messages />
                        </div>
                    </div>
		</div>
		
		</a4j:region>
	</h:form>
     		
    </rich:popupPanel>
    
    <rich:popupPanel id="confirmationModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
        <f:facet name="controls">
            <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('confirmationModal')}.hide(); return false;" />
        </f:facet>
        <h:form>
	        <div class="span3">
	            <h5>Are you sure you want to save all orders?</h5>
	            <h5>Comment</h5>
	            <h:inputTextarea value="#{changeOrderBean.currentComment.content}" required="true" requiredMessage="#{validation['changeOrder.comments.required']}" cols="10" rows="3" />
	            <h5>Note: order processing can take up to 30 minutes</h5>
	        </div>
	        <div class="btn-group" layout="block">
	            
	                <a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
	                        action="#{changeOrderBean.update()}"
	                        onclick="hidePopup('confirmationModal');" 
	                        render=":change-form" />
	                <a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
	                        onclick="hidePopup('confirmationModal');" />
	            
	        </div>
        </h:form>
    </rich:popupPanel>
    
    <rich:popupPanel id="actionReasonModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
    <h:form id="actionReasonModalForm" >
    	<a4j:region>
        <f:facet name="controls">
            <a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
                		action="#{changeOrderBean.clearLineItem()}"
                        onclick="hidePopup('actionReasonModal');" />
        </f:facet>
        <div class="span3">
				<h:panelGroup id="modalActionReason" >
					<h:outputLabel value="Action Reason" rendered="#{changeOrderBean.currentAction == 'RETURN' or changeOrderBean.currentAction == 'CANCEL'}" />
					<h:selectOneMenu id="modalReturnReason" value="#{changeOrderBean.currentReturnReason}" rendered="#{changeOrderBean.currentAction == 'RETURN'}">
						<f:selectItems value="#{changeOrderBean.returnReasons}" var="modalReturnReason" itemLabel="#{modalReturnReason.label}" />
					</h:selectOneMenu>
					<h:selectOneMenu id="modalCancelReason" value="#{changeOrderBean.currentCancelReason}" rendered="#{changeOrderBean.currentAction == 'CANCEL'}">
						<f:selectItems value="#{changeOrderBean.cancelReasons}" var="modalCancelReason" itemLabel="#{modalCancelReason.label}" />
					</h:selectOneMenu>
					<h:outputLabel for="returnAllRaNumber" value="RA Number (for returns)" rendered="#{changeOrderBean.currentAction == 'RETURN'}" />
					<h:inputText id="returnAllRaNumber" value="#{changeOrderBean.raNumber}" required="true" requiredMessage="#{validation['changeOrder.raNumber.required']}" validator="#{changeOrderBean.raNumberValidator}" rendered="#{changeOrderBean.currentAction == 'RETURN'}" />
					
					<h:outputText value="You have chosen to ship all remaining items" rendered="#{changeOrderBean.currentAction == 'SHIP'}" />
					
					<h:outputText value="You will update workflow to match the current status of the order" rendered="#{changeOrderBean.currentAction == 'REFRESH_IN_WORKFLOW'}" />
					</h:panelGroup>
			</div>
			<div class="row-fluid span3">
                    <div class="row-fluid">
                        <div class="span3">
                            <rich:messages />
                        </div>
                    </div>
		</div>
        <div class="btn-group" layout="block">
            
                <a4j:commandLink value="Confirm" styleClass="btn btn-apd" rendered="#{changeOrderBean.currentAction == 'CANCEL'}"
                        action="#{changeOrderBean.cancelOrder()}"
                        execute=":change-form :actionReasonModalForm :actionReasonModalForm:modalActionReason"
                        oncomplete="hidePopup('actionReasonModal');" 
                        render=":change-form :actionReasonModalForm :actionReasonModalForm:modalActionReason" />
                <a4j:commandLink value="Confirm" styleClass="btn btn-apd" rendered="#{changeOrderBean.currentAction == 'RETURN'}"
                        action="#{changeOrderBean.returnOrder()}"
                        execute=":change-form :actionReasonModalForm :actionReasonModalForm:modalActionReason"
                        oncomplete="hidePopup('actionReasonModal');" 
                        render=":change-form :actionReasonModalForm :actionReasonModalForm:modalActionReason" />
                <a4j:commandLink value="Confirm" styleClass="btn btn-apd" rendered="#{changeOrderBean.currentAction == 'SHIP'}"
                        action="#{changeOrderBean.shipOrder()}"
                        execute=":change-form :actionReasonModalForm :actionReasonModalForm:modalActionReason"
                        oncomplete="hidePopup('actionReasonModal');" 
                        render=":change-form :actionReasonModalForm :actionReasonModalForm:modalActionReason" />
                <a4j:commandLink value="Confirm" styleClass="btn btn-apd" rendered="#{changeOrderBean.currentAction == 'REFRESH_IN_WORKFLOW'}"
                        action="#{changeOrderBean.refreshOrderInWorkflow()}"
                        execute=":change-form :actionReasonModalForm :actionReasonModalForm:modalActionReason"
                        oncomplete="hidePopup('actionReasonModal');" 
                        render=":change-form :actionReasonModalForm :actionReasonModalForm:modalActionReason" />
                <a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
                		action="#{changeOrderBean.clearLineItem()}"
                        oncomplete="hidePopup('actionReasonModal');" />
            
        </div>
        </a4j:region>
        </h:form>
    </rich:popupPanel>

</ui:composition>