<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" xmlns:apd="http://java.sun.com/jsf/composite/apd" 
	xmlns:forgeview="http://jboss.org/forge/view">

	<div class="tab-pane fade in active" id="orderInfo">
	    <h:panelGroup id="detail-form">
		<div class="row-fluid">
		
			<div class="controls controls-row span2">
				
					<h:form rendered="#{orderDetailsBean.canResubmitOrder()}">
						<a4j:commandLink 
							id="reprocessOrder" 
							value="Resubmit To Workflow"
							styleClass="btn"
							immediate="true"
							action="#{orderDetailsBean.reprocessOrder()}"
							oncomplete="showPopup('orderProcessModal');" />
					</h:form>
					<h:form rendered="#{orderDetailsBean.showInvalidateCustomerOrder()}">
											
							<a4j:commandLink 
							id="inValidateCustomerOrder" 
							value="Invalidate Order"
							styleClass="btn"
	                        oncomplete="showPopup('inValidateOrderModal');" 
	                        render="detail-form overview-form" />
			
					</h:form>
					<h:form rendered="#{orderDetailsBean.showResolveCustomerOrder()}">
											
							<a4j:commandLink 
							id="resolveCustomerOrder" 
							value="Mark Order As Resolved"
							styleClass="btn"
	                        oncomplete="showPopup('resolveOrderModal');" 
	                        render="detail-form overview-form" />
			
					</h:form>
					<h5> #{propertiesBean.get('tenant','code')} PO #: </h5>
					<h:outputText value="#{orderDetailsBean.order.apdPo.value}" />
					<h5> PO/PCO/PR #: </h5>
					<h:outputText rendered="#{orderDetailsBean.order.customerPo != null}" 
						value="#{orderDetailsBean.order.customerPo.value}" />
			
				<h:outputText rendered="#{orderDetailsBean.order.customerPo == null and orderDetailsBean.order.blanketPo != null}" 
					value="#{orderDetailsBean.order.blanketPo.value}" />
				<h5> Placed by: </h5>
				<h:outputText rendered="#{orderDetailsBean.order.user != null}"
					value="#{orderDetailsBean.order.user.person.firstName} #{orderDetailsBean.order.user.person.lastName} [#{orderDetailsBean.order.user.login}] [#{orderDetailsBean.orderPhoneNumber}] [#{orderDetailsBean.orderEmail}]" />
				<h5> Placed Date/Time: </h5>
				<h:outputText value="#{orderDetailsBean.order.orderDate}" />
				<h5> Total # of Lines: </h5>
				<h:outputText value="#{orderDetailsBean.order.items.size()}" />
				<h5> Type: </h5>
				<h:outputText rendered="#{orderDetailsBean.order.type != null}"
					value="#{orderDetailsBean.order.type.value}" />			
                <h:panelGroup rendered="#{orderDetailsBean.order.requestedDeliveryDate != null}">
                    <h5> Requested Delivery Date: </h5>
                    <h:outputText value="#{orderDetailsBean.order.requestedDeliveryDate}" />
                </h:panelGroup>
			</div>
					
			<div class="controls controls-row span2">
				<h5> Quote #: </h5>
				<h5> RFQ Created Date: </h5>
				<h5> Quote Submitted Date: </h5>
				<h5> Quote Accepted Date: </h5>
				<h5> Quote Requester's Name: </h5>
				<h5> Quote By:</h5>
				<h5> Vendor Name: </h5>
                <h:panelGroup rendered="#{orderDetailsBean.order.shipNotBeforeDate != null}">
                    <h5> Requested Not Shipped Before: </h5>
                    <h:outputText value="#{orderDetailsBean.order.shipNotBeforeDate}" />
                </h:panelGroup>
                <h:panelGroup rendered="#{orderDetailsBean.order.shipNoLaterDate != null}">
                    <h5> Requested Not Shipped After: </h5>
                    <h:outputText value="#{orderDetailsBean.order.shipNoLaterDate}" />
                </h:panelGroup>
                <h:panelGroup rendered="#{orderDetailsBean.order.totalRejected > 0 }">
                    <h5> Total Rejected: </h5>
                    <h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.totalRejected)}" />
                </h:panelGroup>
                <h:panelGroup rendered="#{orderDetailsBean.order.totalCancelled > 0 }">
                    <h5> Total Cancelled: </h5>
                    <h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.totalCancelled)}" />
                </h:panelGroup>
                <h:panelGroup rendered="#{orderDetailsBean.order.totalReturned > 0 }">
                    <h5> Total Returned: </h5>
                    <h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.totalReturned)}" />
                </h:panelGroup>
                <h:panelGroup rendered="#{orderDetailsBean.order.totalBackOrder > 0 }">
                    <h5> Total BackOrder: </h5>
                    <h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.totalBackOrder)}" />
                </h:panelGroup>
					<h:panelGroup>
						<a4j:repeat var="item" value="#{orderDetailsBean.itemsToDisplay}">
							<a href="#vendorDetails" id="vendorPoDetails" data-toggle="tab">
								<h:outputText rendered="#{item.item.vendor != null}"
									value="#{item.item.vendor.name}" />
							</a>
							<br />
						</a4j:repeat>
					</h:panelGroup>
				</div>
					
			<div class="controls controls-row span2">
				<h5> Merchandise Total: </h5>
				<h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.calculatedSubtotal)}" />
				<h5> Sales Tax Total: </h5>
				<h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.calculatedTaxAmount)}" />
				<h5> Shipping/Handling: </h5>
				<h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.calculatedShippingAmount)}" />
				<h5> Order Total: </h5>
				<h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.calculatedTotal)}" />
				<h5> Total Billed or Charged: </h5>
				<h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.calculatedPaidTotal)}" />
				<h5> PO Created Date: </h5>
					 <a4j:repeat var="item" value="#{orderDetailsBean.itemsToDisplay}">
						<a4j:repeat var="log" value="#{forgeview:asList(item.item.logs)}" rendered="#{not item.isReturnOrCancel}">
						 <h:outputText value="#{log.updateTimestamp}" /><br />
						</a4j:repeat>
					 </a4j:repeat>
				<h5> Total PO Amount: </h5>
				<a4j:repeat var="item" value="#{orderDetailsBean.itemsToDisplay}">
				<h:outputText rendered="#{not item.isReturnOrCancel}" value="#{forgeview:toCurrency(item.item.unitPrice.multiply(orderDetailsBean.newBigDecimal(item.item.quantity)))}" />
				<h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
							<h:outputText rendered="#{item.isReturnOrCancel}" value="#{forgeview:toCurrency(item.item.unitPrice.multiply(orderDetailsBean.newBigDecimal(item.quantityShipped)))}" />
				</a4j:repeat>
			</div>
					
			<div class="controls controls-row span2">
				<h5> Parent Account: </h5>
				<h:outputText rendered="#{orderDetailsBean.order.account != null}"
					value="#{orderDetailsBean.order.account.parentAccount != null ? orderDetailsBean.order.account.parentAccount.name : orderDetailsBean.order.account.name}" />
				<h5> Account: </h5>
				<h:outputText rendered="#{orderDetailsBean.order.account != null}"
					value="#{orderDetailsBean.order.account.name}" />
				<h5> Credential: </h5>
				<h:outputText rendered="#{orderDetailsBean.order.credential != null}"
					value="#{orderDetailsBean.order.credential.name}" />
				<h5> USSCO Account: </h5>
				<h:outputText rendered="#{orderDetailsBean.findUsAccount() != null}"
					value="#{orderDetailsBean.findUsAccount()}" />
				<h5> Accounting ID: </h5>
				<h:outputText rendered="#{orderDetailsBean.order.account != null}"
					value="#{orderDetailsBean.accountingId}" />
                <h5>Vendor Invoice status</h5>
                    <h:outputText value="#{orderDetailsBean.vendorInvoiceStatus}"/>
               	<h5>Vendor Invoice Numbers: </h5>
                    <a4j:repeat var="invoiceNumber" value="#{forgeview:asList(orderDetailsBean.vendorInvoiceNumbers)}">
                        <h:outputText value="#{invoiceNumber}"/>
                        <br />
                    </a4j:repeat>
			</div>
				
			<div class="controls controls-row span2">
				<h:panelGroup rendered="#{orderDetailsBean.order.address != null}">
					<h5> Shipping Address: </h5>
					<apd:address id="shippingAddress" address="#{orderDetailsBean.order.address}" readonly="true" showLabels="false" /><br />
					<a4j:repeat value="#{addressComponentBean.getAdditionalFields(orderDetailsBean.order.address)}" var="fieldName">
						<h:panelGroup rendered="#{addressComponentBean.valueMap[fieldName] != null}">
							<h:outputText value="#{fieldName}: #{addressComponentBean.valueMap[fieldName]}" />
							<br />
						</h:panelGroup>
					</a4j:repeat>
				</h:panelGroup>
				<br/>
			</div>
			
			<div class="controls controls-row span2">
				<h:panelGroup rendered="#{orderDetailsBean.order.paymentInformation != null and orderDetailsBean.order.paymentInformation.billingAddress != null}">
					<h5> Billing Address: </h5>
					<apd:address id="billingAddress" address="#{orderDetailsBean.order.paymentInformation.billingAddress}" readonly="true" showLabels="false" /><br />
				</h:panelGroup>
				<h5>Cost Center: </h5>
				<h:outputText rendered="#{orderDetailsBean.order.assignedCostCenter != null}" 
					value="#{orderDetailsBean.order.assignedCostCenter.costCenter.name}" />
				<h5> Payment Type: </h5>
				<h:outputText rendered="#{orderDetailsBean.order.paymentInformation != null}"
					value="#{orderDetailsBean.order.paymentInformation.paymentType.name}" />	
			</div>
			
		</div>
		</h:panelGroup>
	    <table>
			<thead>
				<tr>
					<th class="span1">Line #</th>
					<th class="span3">#{propertiesBean.get('tenant','code')} SKU<br />Vendor SKU<br />Vendor Name</th>
					<th class="span6">Name/Description</th>
					<th class="span1">Contract Item?</th>
					<th class="span1">Promo?</th>
					<th class="span1">Return Reason</th>
					<th class="span1">UOM</th>
					<th class="span1">Total QTY Ordered</th>
					<th class="span1">Total QTY Shipped</th>
					<th class="span1">Unit Price</th>
					<th class="span1">Cust Expected Unit Price</th>
					<th class="span1">Ordered Total</th>
					<th class="span1">Shipment Number</th>
					<th class="span1">Quantity Shipped</th>
					<th class="span1">Ship Price</th>
					<th class="span6">Ship/Bill status</th>

				</tr>
			</thead>
	    	<tbody>
				<a4j:repeat var="item" value="#{orderDetailsBean.itemsToDisplay}">
					<tr class="order-general-info-row">
						<td class="span1">
							<h:outputText value="#{item.item.lineNumber}" />
						</td>
						<td class="span3">
							<h:outputText value="#{item.item.apdSku}" /><br />
							<h:outputText value="#{item.item.supplierPartId}" /><br /> 
							<a id="vendorDetailsitem" href="#vendorDetails" data-toggle="tab">
								<h:outputText rendered="#{item.item.vendor != null}" value="#{item.item.vendor.name}" />
						</a>
						</td>
						<td class="span9">
							<h:outputText value="#{item.item.shortName != null ? item.item.shortName : item.item.description}" /><br />
							<h:outputText rendered="#{item.isReturnOrCancel}" value="References item #{item.item.lineNumber}" /><br />
						</td>
						<td class="span1">
							<h:outputText value="yes" rendered="#{item.item.core != null and item.item.core == true}" />
						</td>
						<td class="span1">
							<h:outputText rendered="#{item.item.unitPrice != null and item.item.customerExpectedUnitPrice != null and
								item.item.unitPrice.compareTo(item.item.customerExpectedUnitPrice) lt 0}" value="yes" />
						</td>
						<td class="span1">
							<h:outputText rendered="#{item.isReturn and item.itemXReturn != null}" value="#{item.itemXReturn.reason}" />
							<h:outputText rendered="#{item.isCancel and item.cancelledQuantity != null}" value="#{item.cancelledQuantity.reason}" />
						</td>
						<td class="span1">
							<h:outputText value="#{item.item.unitOfMeasure.name}" />
						</td>
						<td class="span1">
							<h:outputText rendered="#{not item.isReturnOrCancel}" value="#{item.item.quantity}" />
							<h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
							<h:outputText rendered="#{item.isReturnOrCancel}" value="#{item.quantityShipped}" />
						</td>
						<td class="span1">
							<h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
							<h:outputText value="#{item.quantityShipped}" />
						</td>
						<td class="span1">
							<h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
							<h:outputText value="#{forgeview:toCurrency(item.item.unitPrice)}" />
						</td>
						<td class="span1">
							<h:outputText rendered="#{item.item.customerExpectedUnitPrice != null}" value="#{forgeview:toCurrency(item.item.customerExpectedUnitPrice)}" />
							<h:outputText rendered="#{item.item.customerExpectedUnitPrice == null}" value="#{forgeview:toCurrency(item.item.unitPrice)}" />
						</td>
						<td class="span1">
							<h:outputText rendered="#{not item.isReturnOrCancel}" value="#{forgeview:toCurrency(item.item.unitPrice.multiply(orderDetailsBean.newBigDecimal(item.item.quantity)))}" />
							<h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
							<h:outputText rendered="#{item.isReturnOrCancel}" value="#{forgeview:toCurrency(item.item.unitPrice.multiply(orderDetailsBean.newBigDecimal(item.quantityShipped)))}" />
						</td>
						<td class="span1">
							<a4j:repeat var="shipment" value="#{forgeview:asList(item.item.itemXShipments)}" rendered="#{not item.isReturnOrCancel}">
								<h:outputText value="#{shipment.shipments.trackingNumber}" /><br />
							</a4j:repeat>
							<h:outputText rendered="#{orderDetailsBean.returnMap[item.itemXReturn] != null and item.isReturn}" 
								value="#{orderDetailsBean.returnMap[item.itemXReturn].raNumber}" />
						</td>
						<td class="span1">
							<a4j:repeat var="shipment" value="#{forgeview:asList(item.item.itemXShipments)}" rendered="#{not item.isReturnOrCancel}">
								<h:outputText value="#{shipment.quantity}" /><br />
							</a4j:repeat>
							<h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
							<h:outputText rendered="#{item.isReturnOrCancel}" value="#{item.quantityShipped}" />
						</td>
						<td class="span1">
							<a4j:repeat var="shipment" value="#{forgeview:asList(item.item.itemXShipments)}" rendered="#{not item.isReturnOrCancel}">
								<h:outputText value="#{forgeview:toCurrency(shipment.totalAmount)}" /><br />
							</a4j:repeat>
							<h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
							<h:outputText rendered="#{item.isReturn}" value="#{forgeview:toCurrency(item.itemXReturn.totalAmount)}" />
							<h:outputText rendered="#{item.isCancel}" value="#{forgeview:toCurrency(item.item.unitPrice.multiply(orderDetailsBean.newBigDecimal(item.quantityShipped)))}" />
						</td>
						<td class="span6">
							<a4j:repeat var="log" value="#{forgeview:asList(item.item.logs)}" rendered="#{not item.isReturnOrCancel}">
								<h:outputText value="#{log.lineItemStatus.value} on #{log.updateTimestamp}" /><br />
							</a4j:repeat>
							<h:panelGroup rendered="#{orderDetailsBean.returnMap[item.itemXReturn] != null and item.isReturn and orderDetailsBean.returnMap[item.itemXReturn].createdDate != null}">
								<h:outputText value="CREATED on #{orderDetailsBean.returnMap[item.itemXReturn].createdDate}" />
								<br />
							</h:panelGroup>
							<h:panelGroup rendered="#{orderDetailsBean.returnMap[item.itemXReturn] != null and item.isReturn and orderDetailsBean.returnMap[item.itemXReturn].reconciledDate != null}">
								<h:outputText value="RECONCILED on #{orderDetailsBean.returnMap[item.itemXReturn].reconciledDate}" />
								<br />
							</h:panelGroup>
							<h:panelGroup rendered="#{item.isCancel and item.cancelledQuantity.cancelDate != null}">
								<h:outputText value="CANCELED on #{item.cancelledQuantity.cancelDate}" />
								<br />
							</h:panelGroup>
						</td>
					</tr>
	    		</a4j:repeat>
	    	</tbody>
	    </table>
	    <hr />
	    <div class="row-fluid">
			<div class="controls controls-row span4">
				<h5> Order History </h5>
				<a4j:repeat value="#{orderDetailsBean.orderHistoryList}" var="log">
					<h:outputText value="#{orderDetailsBean.logToString(log)}" /><br />
				</a4j:repeat>
			</div>
			
			<div class="controls controls-row span8">
				<h:form id="comments-form">
					<div class="row-fluid">
					<div class="span9">
						<h5>Comments</h5>
					</div>
					<div class="span3">
				       <a4j:commandLink styleClass="btn pull-right"
							id="showAddComment" 
							value="Add Comment"
							action="#{orderDetailsBean.setShowAddComment(true)}" 
							render="comments-form" />
					</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Date/Time</div>
						<div class="span2">User</div>
						<div class="span6">Comment</div>
						<div class="span1">Action</div>
					</div>

					<a4j:repeat rowKeyVar="index" var="comment" value="#{orderDetailsBean.orderComments}">
						<div class="row-fluid">
							<div class="span3">
								#{comment.commentDate}
							</div>
							<div class="span2">
								#{comment.madeBySystem ? "SYSTEM" : comment.user.login}
							</div>
							<div class="span6">
								<h:outputText value="#{(comment.content.length() lt 25) ? comment.content : 
									comment.content.substring(0, 25).concat('...')}" />
							</div>
							<div class="span1 pull-right actionContainer">
						       <a4j:commandLink 
									id="viewComment" 
									value="View"
									action="#{orderDetailsBean.setCurrentComment(comment)}" 
									render="comments-form :commentModal"
									immediate="true"
									oncomplete="showPopup('commentModal');" />
							</div>
						</div>
					</a4j:repeat>

					<apd:pagination pageDisplay="#{orderDetailsBean.commentsPagination}" render="comments-form" />
					<h:panelGroup rendered="#{orderDetailsBean.showAddComment}">
			  			<h:inputTextarea value="#{orderDetailsBean.currentComment.content}" cols="30" rows="10" />
			
						<div class="btn-group" layout="block">
							<a4j:commandLink value="Add" styleClass="btn btn-apd" 
								render=":comments-form" 
								action="#{orderDetailsBean.addCurrentComment()}" />
							<a4j:commandLink value="Cancel" styleClass="btn" 
								render=":comments-form" 
								action="#{orderDetailsBean.discardCurrentComment()}" />
						</div>
					</h:panelGroup>
				</h:form>
			</div>
	    </div>
	
	</div>
    
    <rich:popupPanel id="orderProcessModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
        <f:facet name="controls">
            <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('orderProcessModal')}.hide(); return false;" />
        </f:facet>
        <div class="span3">
            <h5>The order has been resubmitted to workflow.</h5>
        </div>
        <div class="btn-group" layout="block">
            <h:form>
                <a4j:commandLink value="Close" styleClass="btn" immediate="true" 
                        onclick="hidePopup('orderProcessModal');" />
            </h:form>
        </div>
    </rich:popupPanel>
    
    <rich:popupPanel id="inValidateOrderModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
        <f:facet name="controls">
            <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('inValidateOrderModal')}.hide(); return false;" />
        </f:facet>
        <div class="span3">
            <h5>Are you sure you want to invalidate the Customer Order? This will permanently prevent this order from being sent to the vendor.</h5>
        </div>
        <div class="btn-group" layout="block">
            <h:form>
                <a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
                        action="#{orderDetailsBean.invalidateCustomerOrder()}"
                        onclick="hidePopup('inValidateOrderModal');" 
                        render=":detail-form overview-form" />
                <a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
                        onclick="hidePopup('inValidateOrderModal');" />
            </h:form>
        </div>
    </rich:popupPanel>  
    
    <rich:popupPanel id="resolveOrderModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
        <f:facet name="controls">
            <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('resolveOrderModal')}.hide(); return false;" />
        </f:facet>
        <div class="span3">
            <h5>Are you sure you want to mark this order as MANUALLY_RESOLVED? This will indicate to customer service that the order has been fully reconciled with all partners.</h5>
        </div>
        <div class="btn-group" layout="block">
            <h:form>
                <a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
                        action="#{orderDetailsBean.resolveCustomerOrder()}"
                        onclick="hidePopup('resolveOrderModal');" 
                        render=":detail-form overview-form" />
                <a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
                        onclick="hidePopup('resolveOrderModal');" />
            </h:form>
        </div>
    </rich:popupPanel>
    
	<rich:popupPanel id="commentModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	
		<h:form id="commentModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Comment" />
	  			</f:facet>
	  			<f:facet name="controls">
	      			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('commentModal')}.hide(); return false;" />
	  			</f:facet>
	  			
	  		<h:outputText value="#{orderDetailsBean.currentComment.content}" />
			
			<div class="btn-group" layout="block">
				<a4j:commandLink value="Close" styleClass="btn" immediate="true" 
					render="commentModalForm"
					action="#{orderDetailsBean.discardCurrentComment()}"
					oncomplete="hidePopup('commentModal');" />
			</div>
			
			</a4j:region>
		</h:form>
     		
    </rich:popupPanel>
        
    <script>
      $(document).ready(function(){
	       $("#vendorPoDetails").click(function(e){
		       e.preventDefault();
		       $("#tabs li").removeClass("active");
		       $("#tabs #vendorpolink").addClass("active");
	          });

	       $("#vendorDetailsitem").click(function(e){
	    	   e.preventDefault();
	           $("#tabs li").removeClass("active");
	           $("#tabs #vendorpolink").addClass("active");
	           })
          });
	</script>
	
</ui:composition>