<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	<div class="tab-pane fade in" id="orderChange">
	    <rich:messages />
		<h:form id="change-form">
			<div class="phoenix-table phoenix-table-scroll">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th class="span1">Line #</th>
							<th class="span1">#{propertiesBean.get('tenant','code')} SKU <br/>Customer SKU<br/> Vendor SKU</th>
							<th class="span2">Description</th>
							<th class="span1">Originally Ordered Quantity</th>
							<th class="span1">Total Quantity</th>
							<th class="span1">Remaining Quantity</th>
							<th class="span1">Shipped</th>
							<th class="span1">Returned</th>
							<th class="span1">Canceled</th>
							<th class="span1">Unit Price</th>
							<th class="span1">Units</th>
							<th class="span1">Ext Price</th>
							<th class="span1">Sales Tax</th>
							<th class="span1">Sales Tax Charged</th>
							<th class="span1">Shipping</th>
							<th class="span1">Shipping Charged</th>
							<th class="span1">Status</th>
							<th class="span1">Action</th>
						</tr>
					</thead>
					<tbody>
						<a4j:repeat rowKeyVar="index" var="item" value="#{forgeview:asList(orderDetailsBean.order.items)}">
							<tr>
								<td class="span1">
									#{item.lineNumber}
								</td>
								<td class="span1">
									#{item.apdSku}
									<br />
									#{item.customerSku}
									<br />
									#{item.supplierPartId}
								</td>
								<td class="span2">
									#{item.shortName != null ? item.shortName : item.description}
								</td>
								<td class="span1">
									#{item.originalQuantity}
								</td>
								<td class="span1">
									#{changeOrderBean.getPendingLineItemQuantity(item)}
								</td>
								<td class="span1">
									#{changeOrderBean.getPendingLineItemQuantity(item) - changeOrderBean.getPendingLineItemCanceled(item) - changeOrderBean.getPendingLineItemShipped(item)}
								</td>
								<td class="span1">
									#{changeOrderBean.getPendingLineItemShipped(item)}
								</td>
								<td class="span1">
									#{changeOrderBean.getPendingLineItemReturned(item)}
								</td>
								<td class="span1">
									#{changeOrderBean.getPendingLineItemCanceled(item)}
								</td>
								<td class="span1">
									#{forgeview:toCurrency(item.unitPrice)}
								</td>
								<td class="span1">
									#{item.unitOfMeasure}
								</td>
								<td class="span1">
									#{forgeview:toCurrency(item.unitPrice.multiply(changeOrderBean.getPendingLineItemQuantity(item)))}
								</td>
								<td class="span1">
									#{forgeview:toCurrency(item.totalTax)}
								</td>
								<td class="span1">
									#{forgeview:toCurrency(item.paidTax)}
								</td>
								<td class="span1">
									#{forgeview:toCurrency(changeOrderBean.getPendingLineItemShipping(item))}
								</td>
								<td class="span1">
									#{forgeview:toCurrency(item.paidShipping)}
								</td>
								<td class="span1">
									#{changeOrderBean.getPendingLineItemStatus(item)}
								</td>
								<td class="span1 pull-right actionContainer">
							       <a4j:commandLink 
										id="viewItem" 
										value="View" styleClass="btn"
										action="#{changeOrderBean.setCurrentLineItem(item)}" 
										render="change-form :editItemModal"
										immediate="true"
										oncomplete="showPopup('editItemModal');" />
								</td>
							</tr>
						</a4j:repeat>
					</tbody>
				</table>
		</div>
		<div class="row-fluid" >
			<div class="span3" >
				ORDER TOTAL: #{forgeview:toCurrency(orderDetailsBean.order.orderTotal)}
			</div>
		</div>
		<div class="btn-group">
			<a4j:commandLink 
				id="addItem" 
				value="Add Item"
				styleClass="btn"
				execute="@this"
				immediate="true"
				rendered="#{orderDetailsBean.canUserEditPo()}"
				action="#{changeOrderBean.newLineItem()}"
				render=":editItemModal change-form"
				oncomplete="showPopup('editItemModal');" />
			<a4j:commandLink 
				id="addFee" 
				value="Add Fee"
				styleClass="btn"
				execute="@this"
				immediate="true"
				action="#{changeOrderBean.newFee()}"
				render=":editItemModal change-form"
				oncomplete="showPopup('editItemModal'); return false;" />
		</div>
		<div class="btn-group">
			<a4j:commandLink 
				id="refreshOrder"
				value="Refresh In Workflow"
				styleClass="btn"
				execute="@this :actionReasonModal"
				immediate="true"
				action="#{changeOrderBean.setActionRefresh()}"
				render="change-form :actionReasonModal"
				oncomplete="showPopup('actionReasonModal');" />
			<a4j:commandLink 
				id="shipOrder"
				value="Ship Remaining"
				styleClass="btn"
				execute="@this :actionReasonModal"
				immediate="true"
				action="#{changeOrderBean.setActionShip()}"
				render="change-form :actionReasonModal"
				oncomplete="showPopup('actionReasonModal');" />
			<a4j:commandLink 
				id="returnOrder" 
				value="Return All"
				styleClass="btn"
				execute="@this :actionReasonModal"
				immediate="true"
				action="#{changeOrderBean.setActionReturn()}"
				render="change-form :actionReasonModal"
				oncomplete="showPopup('actionReasonModal');" />
		</div>
		<div class="btn-group">
			<a4j:commandLink 
				id="saveChanges" 
				value="Save"
				styleClass="btn btn-apd"
                                oncomplete="showPopup('confirmationModal');"
				render="change-form" />
		</div>
		
		<h:outputLabel for="shipAllShipNumber" value="Shipment Number (for shipments)" rendered="#{changeOrderBean.needsTrackingNumber}" />
		<h:inputText id="shipAllShipNumber" value="#{changeOrderBean.shipNumber}" validator="#{changeOrderBean.shipNumberValidator}"
			required="true" requiredMessage="#{validation['changeOrder.shipNumber.required']}" rendered="#{changeOrderBean.needsTrackingNumber}" />
				
	</h:form>
	</div>
	
	<ui:include src="order-change-modals.xhtml" />
	
</ui:composition>
