<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core" 
				xmlns:ui="http://java.sun.com/jsf/facelets" 
				xmlns:a4j="http://richfaces.org/a4j"
				xmlns:rich="http://richfaces.org/rich" 
				xmlns:apd="http://java.sun.com/jsf/composite/apd" 
				xmlns:forgeview="http://jboss.org/forge/view">
	
	<div class="tab-pane fade in active" id="vendorDetails">
		 <h:panelGroup>
			 <div class="row-fluid">
				 <div class="controls controls-row span2">
					  <h5>Vendor Name: </h5>
					  <a4j:repeat var="item" value="#{orderDetailsBean.itemsToDisplay}">
		                <h:outputText rendered="#{item.item.vendor != null}" 
		                	value="#{item.item.vendor.name}" />
	                  </a4j:repeat>
					  <h5>Date Created: </h5>
						  <a4j:repeat var="item" value="#{orderDetailsBean.itemsToDisplay}">
							<a4j:repeat var="log" value="#{forgeview:asList(item.item.logs)}" rendered="#{not item.isReturnOrCancel}">
							<h:outputText value="#{log.updateTimestamp}" /><br />
							</a4j:repeat>
							</a4j:repeat>
					  <h5>Vendor Communication Method: </h5>
					  <h:outputText value="#{orderDetailsBean.vendorInvoiceStatus}"/>
					  <h5>Total # of lines</h5>
					  <h:outputText value="#{orderDetailsBean.order.items.size()}" />
					  <h5>Merchandise total: </h5>
					  <h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.calculatedSubtotal)}" />
				 </div>
				 
				 <div class="controls controls-row span2">
					 <h5>Sales Tax total: </h5>
					 <h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.calculatedTaxAmount)}" />
					 <h5>Shipping/Handling: </h5>
					 <h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.calculatedShippingAmount)}" />
					 <h5>Order Total: </h5>
					 <h:outputText value="#{forgeview:toCurrency(orderDetailsBean.order.calculatedTotal)}" />
					 <h5>vendor Invoice Status</h5>
					 <h:outputText value="#{orderDetailsBean.vendorInvoiceStatus}"/>
					 <h5>Vendor invoice Numbers: </h5>
					  <a4j:repeat var="invoiceNumber" value="#{forgeview:asList(orderDetailsBean.vendorInvoiceNumbers)}">
	                        <h:outputText value="#{invoiceNumber}"/>
	                        <br />
	                   </a4j:repeat>
				 </div>
			 </div>
		 </h:panelGroup>
			 <table>
				 <thead>
					 <tr>
					     <th class="span1">Serial #</th>
						 <th class="span1">SKU</th>
						 <th class="span1">Vendor SKU</th>
						 <th class="span1">Description</th>
						 <th class="span1">QTY Ordered</th>
						 <th class="span1">Unit Cost</th>
						 <th class="span1">Extended Cost</th>
						 <th class="span1">QTY Received</th>
						 <th class="span1">Expiry</th>
						 <th class="span1">Vendor Shipment #</th>
						 <th class="span1">Vendor Invoice #</th>
						 <th class="span1">Actual Unit Cost</th>
					 </tr>
				 </thead>
				 <tbody>
				 <a4j:repeat var="item" value="#{orderDetailsBean.itemsToDisplay}">
				   <tr class="order-general-info-row">
					   <td class="span1">
					   		<h:outputText value="#{item.item.lineNumber}" />
					   </td>
					   <td class="span1">
					     <h:outputText value="#{item.item.apdSku}" />
					   </td>
					   <td class="span1">
					     <h:outputText value="#{item.item.supplierPartId}" />
					   </td>
					   <td class="span1">
					     <h:outputText value="#{item.item.shortName != null ? item.item.shortName : item.item.description}" /><br />
						 <h:outputText rendered="#{item.isReturnOrCancel}" value="References item #{item.item.lineNumber}" /><br />
					   </td>
					   <td class="span1">
					     <h:outputText rendered="#{not item.isReturnOrCancel}" value="#{item.item.quantity}" />
						 <h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
						 <h:outputText rendered="#{item.isReturnOrCancel}" value="#{item.quantityShipped}" />
					   </td>
					   <td class="span1">
					     <h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
						 <h:outputText value="#{forgeview:toCurrency(item.item.unitPrice)}" />
					   </td>
					   <td class="span1">
					     <h:outputText rendered="#{not item.isReturnOrCancel}" value="#{forgeview:toCurrency(item.item.unitPrice.multiply(orderDetailsBean.newBigDecimal(item.item.quantity)))}" />
						 <h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
						 <h:outputText rendered="#{item.isReturnOrCancel}" value="#{forgeview:toCurrency(item.item.unitPrice.multiply(orderDetailsBean.newBigDecimal(item.quantityShipped)))}" />
					   </td>
					   <td class="span1">
					     <a4j:repeat var="shipment" value="#{forgeview:asList(item.item.itemXShipments)}" rendered="#{not item.isReturnOrCancel}">
								<h:outputText value="#{shipment.quantity}" /><br />
							</a4j:repeat>
							<h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
							<h:outputText rendered="#{item.isReturnOrCancel}" value="#{item.quantityShipped}" />
					   </td>
					   <td class="span1">
					   	 <h:outputText value="#{item.item.order.apdPo.expirationDate}" />
					   </td>
					   <td class="span1">
				   		<a4j:repeat var="shipment" value="#{forgeview:asList(item.item.itemXShipments)}" rendered="#{not item.isReturnOrCancel}">
							<h:outputText value="#{shipment.quantity}" /><br />
						</a4j:repeat>
						<h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
						<h:outputText rendered="#{item.isReturnOrCancel}" value="#{item.quantityShipped}" />
					   </td>
					   <td class="span1">
					    <a4j:repeat var="invoiceNumber" value="#{forgeview:asList(orderDetailsBean.vendorInvoiceNumbers)}">
	                        <h:outputText value="#{invoiceNumber}"/>
	                        <br />
	                  	</a4j:repeat>
					   </td>
					   <td class="span1">
					      <h:outputText value="-" rendered="#{item.isReturnOrCancel}" />
						  <h:outputText value="#{forgeview:toCurrency(item.item.unitPrice)}" />
					   </td>
				   </tr>
				 </a4j:repeat>
				 </tbody>
			 </table>
	</div>
	
	</ui:composition>