<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{systemUserBean.retrieve}"/>
	</f:metadata>

	<ui:param name="pageTitle" value="Load Users"/>

	<ui:define name="header">
		User
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="work">
			<h:panelGrid columnClasses="label,component,required" columns="3">
				
				<h:outputLabel for="systemUserBeanSystemUserIsActive" value="Is Active:"/>
				<h:panelGroup>
					<h:selectBooleanCheckbox id="systemUserBeanSystemUserIsActive" value="#{systemUserBean.systemUser.isActive}"/>
				</h:panelGroup>
				<h:outputText/>
				
				<h:outputLabel for="systemUserBeanDefaultPassword" value="Default Password:"/>
				<h:panelGroup>
					<h:inputText id="systemUserBeanDefaultPassword" value="#{systemUserBean.defaultPassword}"/>
				</h:panelGroup>
				<h:outputText/>
				
				<h:outputLabel for="systemUserBeanSystemUserChangePassword" value="Reset Password:"/>
				<h:panelGroup>
					<h:selectBooleanCheckbox id="systemUserBeanSystemUserChangePassword" value="#{systemUserBean.systemUser.changePassword}"/>
				</h:panelGroup>
				<h:outputText/>
		
				<h:outputLabel value="Phone Numbers" />
				<apd:phoneNumberSection id="phoneNumberSection" actionBean="#{systemUserBean}" phoneCollection="#{systemUserBean.systemUser.person.phoneNumbers}"/>
				<h:outputText />
		
				<h:outputLabel value="Default ShipTo Address values:"/>
				<h:selectOneMenu id="shipAddressOption" value="#{systemUserBean.shipAddressOption}">
					<f:selectItems value="#{systemUserBean.addressOverrideOption}" />
				</h:selectOneMenu>
				<h:outputText/>
		
				<h:outputLabel value="Default BillTo Address values:"/>
				<h:selectOneMenu id="billAddressOption" value="#{systemUserBean.billAddressOption}">
					<f:selectItems value="#{systemUserBean.addressOverrideOption}" />
				</h:selectOneMenu>
				<h:outputText/>
				
				<h:outputLabel value="Addresses" />
				<apd:addressSection id="addressSection" actionBean="#{systemUserBean}" addressCollection="#{systemUserBean.systemUser.person.addresses}"/>
				<h:outputText />
				
				<ui:include src="/userAdmin/userAccountAssociation.xhtml" />
				
				<ui:include src="/userAdmin/userCredentialAssociation.xhtml" />
		
				<ui:include src="/userAdmin/roleRelation.xhtml">
					<ui:param name="bean" value="#{systemUserBean}" />
					<ui:param name="roleList" value="#{forgeview:asList(bean.systemUser.roleXUsers)}" />
					<ui:param name="render" value="work" />
				</ui:include>
		
				<ui:include src="/userAdmin/permissionRelation.xhtml">
					<ui:param name="bean" value="#{systemUserBean}" />
					<ui:param name="permissionList" value="#{forgeview:asList(bean.systemUser.permissionXUsers)}" />
					<ui:param name="render" value="work" />
				</ui:include>
		
				<ui:include src="/userAdmin/userPaymentInfo.xhtml" />

		        <h:outputLabel value="Upload Files:"/>
		        <h:panelGroup>
		        	<h:outputText value="Note: uploading the file will trigger the process immediately. Only upload the file when the values above are all set correctly." />
			        <rich:fileUpload fileUploadListener="#{systemUserBean.listener}"
			                         id="upload" addLabel="User Upload" acceptedTypes="csv" listHeight="50px"
			                         ontyperejected="alert('Only CSV files are accepted');" 
			                         maxFilesQuantity="1"/>
		       	</h:panelGroup>
		       	<h:outputText />
		
			</h:panelGrid>
		</h:form>
		<apd:phoneNumberModal id="sectionPhoneNumberModal" phoneNumber="#{systemUserBean.currentNumber}" actionBean="#{systemUserBean}" render="work:phoneNumberSection:phoneNumberList:phoneTable" />
		
		<apd:addressModal id="sectionAddressModal" address="#{systemUserBean.currentAddress}" actionBean="#{systemUserBean}" render="work:addressSection:addressList:addressTable" />

		<ui:include src="/userAdmin/userAccountModal.xhtml" />
		
		<ui:include src="/userAdmin/userAccountCredentialModal.xhtml" />
		<ui:include src="/paymentInformationAdmin/paymentInformationModal.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/userAdmin/permissionModal.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/userAdmin/roleModal.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/userAdmin/userPasswordModal.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/paymentInformationAdmin/paymentInformationPersonModal.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/userAdmin/accXCredXUserEditModal.xhtml"/>
		<ui:include src="/userAdmin/costCenterSelectionModal.xhtml"/>
		<ui:include src="/userAdmin/desktopSelectionModal.xhtml"/>
		<ui:include src="/userAdmin/assignCostCenterModal.xhtml"/>
		<ui:include src="/userAdmin/assignDepartmentModal.xhtml"/>
		<ui:include src="/userAdmin/departmentSelectionModal.xhtml"/>
	</ui:define>
</ui:composition>