<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface>
        <composite:attribute name="product" required="true" />
        <composite:attribute name="narrow" default="false" />
    </composite:interface>

    <composite:implementation>
    	<h:panelGroup id="addToCartSpan">

	        <a4j:region>
	        <div class="addToCartButtonWrapper #{not cc.attrs.narrow ? 'addToCartFullContainer' : ''}" style="width:85px;margin-right: 30px;">
		        <div class="qtyContainer #{cc.attrs.narrow ? 'pull-right clearBoth' : 'pull-left'}">
		            <a4j:commandLink value="#{addToCartBean.getAddToCartButtonText(cc.attrs.product)}"
		                             styleClass="btn btn-primary addToCartBtn pull-right"
		                             rendered="#{not addToCartBean.isAddingPrevented(cc.attrs.product)}" action="#{addToCartBean.addSingleItem(cc.attrs.product)}"
		                             render="#{cc.attrs.render} :items-added-json :cart-dropdown-count :recently-added-container" 
		                             oncomplete="$cartNotify();" onclick="waitOnNextAjax();" execute="@region">
		            </a4j:commandLink>
		            <h:outputLink value="#{addToCartBean.getSpecialOrderForm()}" rendered="#{addToCartBean.isAddingPrevented(cc.attrs.product) and addToCartBean.isSpecialOrder(cc.attrs.product)}" title="Click to download special order form" styleClass="btn btn-primary addToCartBtn pull-right">
		        				#{addToCartBean.getAddToCartButtonText(cc.attrs.product)}
		        	</h:outputLink>
		            <h:panelGroup rendered="#{addToCartBean.isAddingPrevented(cc.attrs.product) and not addToCartBean.isSpecialOrder(cc.attrs.product)}">
		            	<a href="#" class="btn-primaryDisabled btn disabled pull-right">
		            		#{addToCartBean.getAddToCartButtonText(cc.attrs.product)}
		            	</a>
		            </h:panelGroup>
		              <h:panelGroup styleClass="addToCartFooter" rendered="#{cc.attrs.product.minimum != null and cc.attrs.product.minimum gt 1}">
		                 <p class="product-sku">Minimum of = #{cc.attrs.product.minimum}</p>
		              </h:panelGroup>
		               <h:panelGroup styleClass="addToCartFooter" rendered="#{cc.attrs.product.multiple != null and cc.attrs.product.multiple gt 1}">
		                <p class="product-sku">Multiple of = #{cc.attrs.product.multiple}</p>
		              </h:panelGroup>
		        </div>
	        </div>
	     </a4j:region>
        
        </h:panelGroup>
    </composite:implementation>

</ui:composition>
