<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface>
        <composite:attribute name="product" required="true" />
        <composite:attribute name="showPrice" default="true" />
        <composite:attribute name="narrow" default="false" />
        <composite:attribute name="render" default="qtyBox" />
    </composite:interface>

    <composite:implementation>
    	<h:panelGroup id="addToCartSpan">
		<h:outputScript name="js/spinner.js" target="head" />
		<script type="text/javascript">
        	init("#{cc.clientId}","1");
    	</script>
    	
	    	<h:panelGroup rendered="#{addToCartBean.showPrice(cc.attrs.product) and cc.attrs.showPrice}">
			    	<div class="inline browse-price-per-unit featuredProductPrice #{cc.attrs.narrow ? 'pull-right' : 'pull-left'}">	    	
				    	
			                <h:outputText value="#{cc.attrs.product.price}">
			                    <f:convertNumber type="currency" currencySymbol="$" />
			                </h:outputText>
			            
			            / #{cc.attrs.product.units}  
			        </div>
		      		<br />
	        </h:panelGroup>
	        <a4j:region>
	        <div class="addToCartButtonWrapper #{not cc.attrs.narrow ? 'addToCartFullContainer' : ''}">
	        <div class="qtyContainer #{cc.attrs.narrow ? 'pull-right clearBoth' : 'pull-left'}">
	        	
	            <label class="text inline qty pull-left">
	                QTY <h:inputText rendered="#{not addToCartBean.isAddingPrevented(cc.attrs.product)}"
	                	id="qtyBox" value="#{addToCartBean.displayQuantity[cc.attrs.product]}"
	                	styleClass="positive-integer" /> 
	                	<h:inputText rendered="#{addToCartBean.isAddingPrevented(cc.attrs.product)}"
	                	id="qtyBoxDisabled" disabled="true" styleClass="positive-integer" />
	            </label>
	            <div class="pull-left">
	                <div class="qtyBtn qtyPlus">
	                    <img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/btnPlus.png" alt="Add Quantity" onclick="return changeNumber('#{cc.clientId}',1);" /></div>
	                <div class="qtyBtn qtyMinus"><img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/btnMinus.png" alt="Remove Quantity" onclick="return changeNumber('#{cc.clientId}',-1);" /></div>
	            </div>
	        </div>
	        <div class="qtyContainer #{cc.attrs.narrow ? 'pull-right clearBoth' : 'pull-left'}">
	            <a4j:commandLink value="#{addToCartBean.getAddToCartButtonText(cc.attrs.product)}"
	                             styleClass="btn btn-primary addToCartBtn pull-right"
	                             rendered="#{not addToCartBean.isAddingPrevented(cc.attrs.product)}" action="#{addToCartBean.addSingleItem(cc.attrs.product)}"
	                             render="#{cc.attrs.render} :items-added-json :cart-dropdown-count :recently-added-container" 
	                             oncomplete="$cartNotify();" onclick="waitOnNextAjax();" execute="@region">
	            </a4j:commandLink>
	            <h:outputLink value="#{addToCartBean.getSpecialOrderForm()}" rendered="#{addToCartBean.isAddingPrevented(cc.attrs.product) and addToCartBean.isSpecialOrder(cc.attrs.product)}" title="Click to download special order form" styleClass="btn btn-primary addToCartBtn pull-right">
	        				#{addToCartBean.getAddToCartButtonText(cc.attrs.product)}
	        	</h:outputLink>
	            <h:panelGroup rendered="#{addToCartBean.isAddingPrevented(cc.attrs.product) and not addToCartBean.isSpecialOrder(cc.attrs.product)}">
	            	<a href="#" class="btn-primaryDisabled btn disabled pull-right">
	            		#{addToCartBean.getAddToCartButtonText(cc.attrs.product)}
	            	</a>
	            </h:panelGroup>
            	  <h:panelGroup styleClass="addToCartFooter addToListWrapper" rendered="#{credentialSelectionBean.hasPermission('shopping maintain user favorites') and not empty cc.attrs.product.id and (not addToCartBean.isAddingPrevented(cc.attrs.product) or addToCartBean.isSpecialOrder(cc.attrs.product))}">
	        		<a4j:commandLink action="#{addToFavoritesListBean.setProduct(cc.attrs.product)}" oncomplete="$('#addToListModal').modal('show')" styleClass="addToList">
	        			Add to favorites
	        		</a4j:commandLink>
	        	  </h:panelGroup>
	              <h:panelGroup styleClass="addToCartFooter" rendered="#{cc.attrs.product.minimum != null and cc.attrs.product.minimum gt 1}">
	                 <p class="product-sku">Minimum of = #{cc.attrs.product.minimum}</p>
	              </h:panelGroup>
	               <h:panelGroup styleClass="addToCartFooter" rendered="#{cc.attrs.product.multiple != null and cc.attrs.product.multiple gt 1}">
	                <p class="product-sku">Multiple of = #{cc.attrs.product.multiple}</p>
	              </h:panelGroup>
	        </div>
	        </div>
	     </a4j:region>
        
        <ui:remove> 
	        <rich:tooltip rendered="#{(cc.attrs.product.minimum == null or cc.attrs.product.minimum le 1) and (cc.attrs.product.multiple != null and cc.attrs.product.multiple gt 1)}" for="addToCartSpan">
	        	Multiple QTY = #{cc.attrs.product.multiple}
	        </rich:tooltip>
	        <rich:tooltip rendered="#{(cc.attrs.product.minimum != null and cc.attrs.product.minimum gt 1) and (cc.attrs.product.multiple == null or cc.attrs.product.multiple le 1)}" for="addToCartSpan">
	        	Min QTY = #{cc.attrs.product.minimum}
	        </rich:tooltip>
	        <rich:tooltip rendered="#{(cc.attrs.product.minimum != null and cc.attrs.product.minimum gt 1) and (cc.attrs.product.multiple != null and cc.attrs.product.multiple gt 1)}" for="addToCartSpan">
	        	Min QTY = #{cc.attrs.product.minimum}, Multiple QTY = #{cc.attrs.product.multiple}
	        </rich:tooltip>
	     </ui:remove>
        </h:panelGroup>
    </composite:implementation>

</ui:composition>
