<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface>
        <composite:attribute name="product" required="true" />
        <composite:attribute name="narrow" default="false" />
        <composite:attribute name="render" default="qtyBox" />
    </composite:interface>

    <composite:implementation>
    	<h:panelGroup id="addToCartSpanButton">
		<h:outputScript name="js/spinner.js" target="head" />
		<script type="text/javascript">
        	init("#{cc.clientId}","1");
    	</script>

	        <a4j:region>
	        <div class="addToCartButtonWrapper #{not cc.attrs.narrow ? 'addToCartFullContainer' : ''}">
		        <div class="qtyContainer #{cc.attrs.narrow ? 'center-block clearBoth' : 'center-block'}">
		        	
		            <label class="text inline qty pull-left">
		                <h:inputText rendered="#{not addToCartBean.isAddingPrevented(cc.attrs.product)}"
		                	id="qtyBox" value="#{addToCartBean.displayQuantity[cc.attrs.product]}"
		                	styleClass="positive-integer" style="width:35px;margin-bottom: -70px;"/> 
		                	<h:inputText rendered="#{addToCartBean.isAddingPrevented(cc.attrs.product)}"
		                	id="qtyBoxDisabled" disabled="true" styleClass="positive-integer" style="width:35px;margin-bottom: -70px;" />
		            </label>
		            <div class="pull-left">
		                 <div class="qtyBtn qtyMinus"><img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/btnMinus.png" alt="Remove Quantity" 
		                onclick="return changeNumber('#{cc.clientId}',-1);" style="margin-top: 40px;" />
		            	</div>
		             </div>
		            <div class="pull-right">
		            <div class="qtyBtn qtyPlus">
		                    <img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/btnPlus.png" alt="Add Quantity" 
		                    onclick="return changeNumber('#{cc.clientId}',1);" style="margin-top: 40px;" />
		            </div>
                    </div>
                    </div> 
                     <div class="qtyContainer #{cc.attrs.narrow ? 'pull-right clearBoth' : 'pull-left'}" style="margin-right: -90px; margin-top: 40px;">
	            <a4j:commandLink value="#{addToCartBean.getAddToCartButtonText(cc.attrs.product)}"
	                             styleClass="btn btn-primary addToCartBtn pull-left"
	                             rendered="#{not addToCartBean.isAddingPrevented(cc.attrs.product)}" action="#{addToCartBean.addSingleItem(cc.attrs.product)}"
	                             render="#{cc.attrs.render} :items-added-json :cart-dropdown-count :recently-added-container" 
	                             oncomplete="$cartNotify();" onclick="waitOnNextAjax();" execute="@region" style="margin-left: -85px;">
	            </a4j:commandLink>
	        </div>
	        </div>
	     </a4j:region>
        </h:panelGroup>
    </composite:implementation>

</ui:composition>
