<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
				xmlns:forgeview="http://jboss.org/forge/view">
	
	<rich:popupPanel id="contactLogCommentModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="body">
	
	<h:form id="contactLogCommentModalForm">
		<a4j:region>
		<f:facet name="header">
			<h:outputText value="Contact Log" />
  			</f:facet>
  			<f:facet name="controls">
      			<a4j:commandLink value="X" style="cursor:pointer" immediate="true"
      			render="contactLogCommentModalForm"
				action="#{contactLogBean.discardCurrentComment()}"
				oncomplete="hidePopup('contactLogCommentModal');" />
  			</f:facet>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th class="span2">User</th>
							<th class="span6">Comment</th>
							<th class="span4">Date</th>
						</tr>
					</thead>
					<tbody>
						<a4j:repeat rowKeyVar="index" var="comment" value="#{forgeview:asList(contactLogBean.currentContactLog.comments)}">
							<tr>
								<td class="span2">
									#{comment.apdCsrRep.login}
								</td>
								<td class="span6">
									#{comment.content}
								</td>
								<td class="span4">
									#{comment.commentTimestamp}
								</td>
							</tr>
						</a4j:repeat>
					</tbody>
				</table>
  			
            <h:outputLabel for="serviceResolution" value="New Comment" />
            <h:inputTextarea id="serviceResolution" value="#{contactLogBean.currentComment.content}" required="true" />
            
            <br />
            
            <h:outputLabel for="followUpCompleteCB" value="Follow Up Completed" />
            <h:selectBooleanCheckbox id="followUpCompleteCB" value="#{contactLogBean.currentContactLog.followUpComplete}" />
            
            <br />
		
		<div class="btn-group" layout="block">
			<a4j:commandLink value="Add Comment" styleClass="btn btn-apd" 
				render="contactLogCommentModalForm"
				action="#{contactLogBean.addComment()}" />
			<a4j:commandLink value="Close" styleClass="btn" immediate="true" 
				render="contactLogCommentModalForm"
				action="#{contactLogBean.discardCurrentComment()}"
				oncomplete="hidePopup('contactLogCommentModal');" />
		</div>
		
		</a4j:region>
	</h:form>
     		
    </rich:popupPanel>

</ui:composition>