<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

			<div class="phoenix-table phoenix-table-scroll">
			<h:outputText value="No results have been returned for these criteria." rendered="#{serviceLogBean.serviceLogs.size() lt 1}" />
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th class="span3">Ticket Number</th>
							<th class="span3">Created</th>
							<th class="span2">Last Updated</th>
							<th class="span6">Method of Contact</th>
							<th class="span1">Company</th>
							<th class="span1">Department</th>
							<th class="span1">PO Num</th>
							<th class="span1">Contact Name</th>
							<th class="span1">Contact Number</th>
							<th class="span1">Contact Email</th>
							<th class="span1">Reason For Call</th>
							<th class="span1">Call Details</th>
							<th class="span1">Status</th>
							<th class="span1">Resolved Date</th>
							<th class="span1">Resolution</th>
							<th class="span1">Follow Up Completed?</th>
							<th class="span1">#{propertiesBean.get('tenant','name')} Rep</th>
							<th class="span1">Comments</th>
							<th class="span1">Resolve</th>
							<th class="span1">Attachment</th>
						</tr>
					</thead>
					<tbody>
						<a4j:repeat rowKeyVar="index" var="log" value="#{serviceLogBean.serviceLogs}">
							<tr>
								<td class="span3">
									#{log.ticketNumber}
								</td>
								<td class="span3">
									#{log.openedDate}
								</td>
								<td class="span2">
									#{log.updateTimestamp}
								</td>
								<td class="span2">
									#{log.contactMethod}
								</td>
								<td class="span2">
									#{log.account.name}
								</td>
								<td class="span2">
									#{log.department}
								</td>
								<td class="span2">
									#{log.customerOrder.apdPo}
								</td>
								<td class="span2">
									#{log.contactName}
								</td>
								<td class="span2">
									#{log.contactNumber}
								</td>
								<td class="span2">
									#{log.contactEmail}
								</td>
								<td class="span2">
									#{log.serviceReason}
								</td>
								<td class="span2">
									#{log.serviceDetails}
								</td>
								<td class="span2">
									#{log.status}
								</td>
								<td class="span2">
									#{log.resolvedDate}
								</td>
								<td class="span2">
									#{log.resolution}
								</td>
								<td class="span2">
									#{log.followUpComplete ? 'Yes' : 'No'}
								</td>
								<td class="span2">
									#{log.apdCsrRep.login}
								</td>
								<td class="span1 pull-right actionContainer">
							       <a4j:commandLink 
										id="commentServiceLog" 
										value="View/Add Comments"
										action="#{contactLogBean.setCurrentContactLog(log)}" 
										render=":#{render} :contactLogCommentModal"
										immediate="true"
										oncomplete="showPopup('contactLogCommentModal');" />
								</td>
								<td class="span1 pull-right actionContainer">
							       <a4j:commandLink 
										id="resolveServiceLog" 
										value="Resolve"
										action="#{serviceLogBean.setCurrentServiceLog(log)}" 
										render=":#{render} :serviceLogResolveModal"
										immediate="true"
										oncomplete="showPopup('serviceLogResolveModal');" />
								</td>
								<td>
									<a4j:repeat rowKeyVar="index" var="file" value="#{forgeview:asList(log.attachments)}">									
										<h:outputText value="#{file.fileName}" />									
										<h:commandButton styleClass="btn"
											id="download-message" action="#{serviceLogBean.fileUploadBean.downloadFile(file)}"
											value="Download" immediate="true" />
									</a4j:repeat>
								</td>
							</tr>
						</a4j:repeat>
					</tbody>
				</table>
		</div>
		<h:panelGroup layout="block" class="btn-group" rendered="#{serviceLogBean.accountName != null}">
			<a4j:commandLink 
				id="addServiceLog" 
				value="New Service Log"
				styleClass="btn btn-apd"
				execute="@this"
				immediate="true"
				action="#{serviceLogBean.create()}"
				render=":serviceLogModal :#{render}"
				oncomplete="showPopup('serviceLogModal');" />
		</h:panelGroup>
		<h:panelGroup layout="block" rendered="#{serviceLogBean.accountName == null}">
			To add a service log, you must specify an account, on the previous page.
		</h:panelGroup>

</ui:composition>