<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/layout/administrationTemplate.xhtml">
	<ui:define name="navigation">
		<ui:include id="reportsNavigation" src="reportsNavigation.xhtml" />
	</ui:define>
	<ui:define name="main">
		<ui:insert id="reportsMain" name="reportsMain" />
	</ui:define>
</ui:composition>