<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:outputLabel for="systemUserBeanSystemUserPrefix" value="Prefix:" />
	<h:panelGroup>
		<h:inputText id="systemUserBeanSystemUserPrefix"
			value="#{systemUserBean.systemUser.person.prefix}" />
	</h:panelGroup>
	<h:outputText />
	<h:outputLabel for="systemUserBeanSystemUserFirstName"
		value="First Name:" />
	<h:panelGroup>
		<h:inputText id="systemUserBeanSystemUserFirstName"
			value="#{systemUserBean.systemUser.person.firstName}" required="true"
			requiredMessage="Please enter First Name">
		</h:inputText>
		<h:message for="systemUserBeanSystemUserFirstName" style="color:red" />
	</h:panelGroup>
	<h:outputText />
	<h:outputLabel for="systemUserBeanSystemUserMiddleInitial"
		value="Middle Initial:" />
	<h:panelGroup>
		<h:inputText id="systemUserBeanSystemUserMiddleInitial"
			value="#{systemUserBean.systemUser.person.middleInitial}" />
	</h:panelGroup>
	<h:outputText />
	<h:outputLabel for="systemUserBeanSystemUserLastName"
		value="Last Name:" />
	<h:panelGroup>
		<h:inputText id="systemUserBeanSystemUserLastName"
			value="#{systemUserBean.systemUser.person.lastName}" required="true"
			requiredMessage="Please enter Last Name">
		</h:inputText>
		<h:message for="systemUserBeanSystemUserLastName" style="color:red" />
	</h:panelGroup>
	<h:outputText />
	<h:outputLabel for="systemUserBeanSystemUserSuffix" value="Suffix:" />
	<h:panelGroup>
		<h:inputText id="systemUserBeanSystemUserSuffix"
			value="#{systemUserBean.systemUser.person.suffix}" />
	</h:panelGroup>
	<h:outputText />
	<h:outputLabel for="systemUserBeanSystemUserEmail" value="Email:" />
	<h:panelGroup>
		<h:inputText id="systemUserBeanSystemUserEmail"
			value="#{systemUserBean.systemUser.person.email}" required="true"
			requiredMessage="Please enter an email address" />
		<h:message for="systemUserBeanSystemUserEmail" style="color:red" />
	</h:panelGroup>
	<h:outputText />
	<h:outputLabel for="systemUserBeanSystemUserLogin" value="Login:" />
	<h:panelGroup>
		<h:inputText id="systemUserBeanSystemUserLogin"
			value="#{systemUserBean.systemUser.login}" required="true"
			requiredMessage="Please enter a login" />
		<h:message for="systemUserBeanSystemUserLogin" style="color:red" />
	</h:panelGroup>
	<h:outputText />
	<h:outputLabel for="systemUserBeanSystemUserChangePassword"
		value="Reset Password:" />
	<h:panelGroup>
		<h:selectBooleanCheckbox id="systemUserBeanSystemUserChangePassword"
			value="#{systemUserBean.systemUser.changePassword}" />
	</h:panelGroup>
	<h:outputText />
	<h:outputLabel for="systemUserBeanSystemUserConcurrentAccess"
		value="Concurrent Access:" />
	<h:panelGroup>
		<h:selectBooleanCheckbox id="systemUserBeanSystemUserConcurrentAccess"
			value="#{systemUserBean.systemUser.concurrentAccess}" />
	</h:panelGroup>
	<h:outputText />
	<h:outputLabel for="systemUserBeanSystemUserIsActive"
		value="Is Active:" />
	<h:panelGroup>
		<h:selectBooleanCheckbox id="systemUserBeanSystemUserIsActive"
			value="#{systemUserBean.systemUser.isActive}" />
	</h:panelGroup>
	<h:outputText />
	<h:outputLabel for="selectionType"
		value="Credential Selection Page Type:" />
	<h:selectOneMenu id="selectionType" value="#{systemUserBean.systemUser.catalogSelectionType}" >
			<f:selectItems value="#{systemUserBean.selectionTypes}" />
	</h:selectOneMenu>
	<h:outputText />

</ui:composition>