<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">


			<h:outputLabel for="systemUserBeanSystemUserAccounts" value="Accounts:"/>
			<ui:param name="accountCollection" value="#{systemUserBean.systemUser.accounts}"/>
			<h:panelGroup id="panelGroup_1">
				<rich:dataTable id="systemUserBeanSystemUserAccounts" styleClass="data-table" value="#{forgeview:asList(systemUserBean.systemUser.accounts)}" var="accountItem">
					<rich:column>
						<f:facet name="header">Name</f:facet>
						<h:outputText value="#{accountItem.name}"/>
					</rich:column>
					<rich:column>
						<f:facet name="header">Parent Account</f:facet>
						<h:outputText value="#{accountItem.parentAccount.name}"/>
					</rich:column>
					<rich:column>
						<f:facet name="header">Root Account</f:facet>
						<h:outputText value="#{accountItem.rootAccount.name}"/>
					</rich:column>
					<rich:column>
						<f:facet name="header">Group</f:facet>
					</rich:column>
					<rich:column>
				       <f:facet name="header">
				         <h:outputText value="Action" />
				       </f:facet>
				       <a4j:commandLink value="Delete" action="#{systemUserBean.removeAccount(accountItem)}" render="panelGroup_1,panelGroup_2" />
				    </rich:column>
				</rich:dataTable>
		        <a4j:commandLink value ="Add Account" styleClass="btn btn-primary" render="userAccountPane" oncomplete="#{rich:component('userAccountPane')}.show()"></a4j:commandLink>
			</h:panelGroup>
			<h:outputText/>

</ui:composition>