<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<div id="dataNavigation" layout="block" style="">
		<h:form id="dataNavigationForm">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a href="/customerservice/admin/manualOrder/manualOrder.xhtml" class="left-navigation">Manual Order Process</a>
				</li>
				<li>
					<a id="orderSearchLink" href="/customerservice/admin/quote/quote.xhtml" class="left-navigation"> Create/Edit Quote </a>
				</li>
				<li>
					<a id="orderSearchLink" href="/customerservice/admin/orderSearch/order-search.xhtml" class="left-navigation"> Order/Vendor PO Search </a>
				</li>				
				<li>
					<a href="" class="left-navigation">Shipping Instruction</a>
				</li>
			</ul>
		</h:form>
	</div>
</ui:composition>
