#punchwindow
{
    width: 100%;
    height:1270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#requestForm:requestText {
    min-width: 400px;
    min-height: 120px;
}
#requestForm:responseText {
    min-width: 400px;
    min-height: 120px;
}