<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

		<h:panelGrid columnClasses="label,component,required" columns="3">
			
			<h:outputLabel for="permissionBeanPermissionName" value="Name:"/>
				<h:panelGroup>
					<h:inputText id="permissionBeanPermissionName" value="#{permissionBean.permission.name}" required="true" />
					<h:message for="permissionBeanPermissionName" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="permissionBeanPermissionDescription" value="Description:"/>
				<h:panelGroup>
					<h:inputText id="permissionBeanPermissionDescription" value="#{permissionBean.permission.description}"/>
					<h:message for="permissionBeanPermissionDescription" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="permissionBeanPermissionAllowDelete" value="Allow Delete:"/>
				<h:panelGroup>
					<h:selectBooleanCheckbox id="permissionBeanPermissionAllowDelete" value="#{permissionBean.permission.allowDelete}"/>
					<h:message for="permissionBeanPermissionAllowDelete" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="permissionBeanPermissionAllowRead" value="Allow Read:"/>
				<h:panelGroup>
					<h:selectBooleanCheckbox id="permissionBeanPermissionAllowRead" value="#{permissionBean.permission.allowRead}"/>
					<h:message for="permissionBeanPermissionAllowRead" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="permissionBeanPermissionAllowWrite" value="Allow Write:"/>
				<h:panelGroup>
					<h:selectBooleanCheckbox id="permissionBeanPermissionAllowWrite" value="#{permissionBean.permission.allowWrite}"/>
					<h:message for="permissionBeanPermissionAllowWrite" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>

		</h:panelGrid>

</ui:composition>