<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
				xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:a4j="http://richfaces.org/a4j">
    <script>
        window.onload = function() {
            if (#{bulletinDisplayBean.shouldDisplayBulletins}) {
            	$('#bulletinDisplayModal').modal('show');
            }
        }
    </script>
    <div id="bulletinDisplayModal" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<h:form id="bulletinDisplayModalForm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="bulletinDisplayModalLabel">Bulletins</h3>
			</div>
	        <c:if test="#{bulletinDisplayBean.shouldDisplayBulletins}">
		        <div class="modal-body">
		        	<ui:include src="/WEB-INF/components/inserts/experience/bulletinDisplay.xhtml" />
		        </div>
	        </c:if>
            <div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</h:form>
	</div>
</ui:composition>