<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

		<h:panelGrid columnClasses="label,component,required" columns="3">
			
			<h:outputLabel for="jumptrackStopConfigurationBeanJumptrackStopConfigurationZip" value="Zip:"/>
			<h:panelGroup>
				<h:inputText id="jumptrackStopConfigurationBeanJumptrackStopConfigurationZip" value="#{jumptrackStopConfigurationBean.jumptrackStopConfiguration.zip}"
					required="true" requiredMessage="#{validation['field.name.required']}"/>
				<rich:message for="jumptrackStopConfigurationBeanJumptrackStopConfigurationZip" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
			
			<h:outputLabel for="jumptrackStopConfigSunday" value="Shipping Allowed on Sunday:"/>
            <h:selectBooleanCheckbox id="jumptrackStopConfigSunday" value="#{jumptrackStopConfigurationBean.jumptrackStopConfiguration.allowShipSunday}" />
			<h:outputText/>
			
			<h:outputLabel for="jumptrackStopConfigMonday" value="Shipping Allowed on Monday:"/>
            <h:selectBooleanCheckbox id="jumptrackStopConfigMonday" value="#{jumptrackStopConfigurationBean.jumptrackStopConfiguration.allowShipMonday}" />
			<h:outputText/>
			
			<h:outputLabel for="jumptrackStopConfigTuesday" value="Shipping Allowed on Tuesday:"/>
            <h:selectBooleanCheckbox id="jumptrackStopConfigTuesday" value="#{jumptrackStopConfigurationBean.jumptrackStopConfiguration.allowShipTuesday}" />
			<h:outputText/>
			
			<h:outputLabel for="jumptrackStopConfigWednesday" value="Shipping Allowed on Wednesday:"/>
            <h:selectBooleanCheckbox id="jumptrackStopConfigWednesday" value="#{jumptrackStopConfigurationBean.jumptrackStopConfiguration.allowShipWednesday}" />
			<h:outputText/>
			
			<h:outputLabel for="jumptrackStopConfigThursday" value="Shipping Allowed on Thursday:"/>
            <h:selectBooleanCheckbox id="jumptrackStopConfigThursday" value="#{jumptrackStopConfigurationBean.jumptrackStopConfiguration.allowShipThursday}" />
			<h:outputText/>
			
			<h:outputLabel for="jumptrackStopConfigFriday" value="Shipping Allowed on Friday:"/>
            <h:selectBooleanCheckbox id="jumptrackStopConfigFriday" value="#{jumptrackStopConfigurationBean.jumptrackStopConfiguration.allowShipFriday}" />
			<h:outputText/>
			
			<h:outputLabel for="jumptrackStopConfigSaturday" value="Shipping Allowed on Saturday:"/>
            <h:selectBooleanCheckbox id="jumptrackStopConfigSaturday" value="#{jumptrackStopConfigurationBean.jumptrackStopConfiguration.allowShipSaturday}" />
			<h:outputText/>
		</h:panelGrid>

</ui:composition>