#ink-toner-container, .ink-toner-menu {
    width: 100%;
    margin-bottom: 0px;
}

#ink-toner-container h3 {
    margin-bottom: 15px;
    line-height: 1em;
    font-size: 18.5px;
}

#ink-toner-container {
    padding: 8px;
}