<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

			<a4j:repeat var="bulletin" value="#{bulletinDisplayBean.bulletinList}">
				<hr />
				<div class="row-fluid">
					<div class="span4" style="padding-left: 15px;">
						<h3><h:outputText value="#{bulletin.name}" /></h3>
					</div>
					<div class="span7" style="padding-top: 20px;">
						<h:outputText escape="false" value="#{bulletinDisplayBean.sanitizedMessage(bulletin)}" />
					</div>
				</div>
    		</a4j:repeat>
</ui:composition>