<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	
		
		<rich:popupPanel id="addNewVendorModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="addNewVendorModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Add New Vendor" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" onclick="hidePopup('addNewVendorModal');" immediate="true" />
   			</f:facet>
   			<rich:messages />
   			<h:outputLabel for="vendorBeanVendorName" value="Name:" />
			<h:panelGroup>
				<h:inputText id="vendorBeanVendorName"
					value="#{manualOrderBean.vendor.name}" requiredMessage="Please enter Vendor Name" required="true" />
			</h:panelGroup>		
			
			<h:outputLabel for="vendorBeanVendorPartnerId" value="Partner ID (for Integration):" />
			<h:panelGroup>
				<h:inputText id="vendorBeanVendorPartnerId"
					value="#{manualOrderBean.vendor.partnerId}" />
				<h:message for="vendorBeanVendorPartnerId" styleClass="error" />
			</h:panelGroup>			
	
			<h:outputLabel for="vendorBeanVendorSolomonId" value="Solomon Vendor ID (for AP report):" />
			<h:panelGroup>
				<h:inputText id="vendorBeanVendorSolomonId"
					value="#{manualOrderBean.vendor.solomonVendorId}" />
				<h:message for="vendorBeanVendorSolomonId" styleClass="error" />
			</h:panelGroup>			
	
			<h:outputLabel for="vendorBeanVendorControlAcctNumber" value="Control Account Number (for AP report):" />
			<h:panelGroup>
				<h:inputText id="vendorBeanVendorControlAcctNumber"
					value="#{manualOrderBean.vendor.controlAccountNumber}" />
				<h:message for="vendorBeanVendorControlAcctNumber" styleClass="error" />
			</h:panelGroup>			
	
			<h:outputLabel for="vendorBeanVendorRemitTo" value="Remit To (for AP report):" />
			<h:panelGroup>
				<h:inputText id="vendorBeanVendorRemitTo"
					value="#{manualOrderBean.vendor.remitTo}" />
				<h:message for="vendorBeanVendorRemitTo" styleClass="error" />
			</h:panelGroup>			
			
			<h:outputLabel for="vendorBeanCommunicationDestinatione" value="Communication Destination:" />
			<h:panelGroup>
				<h:inputText id="vendorBeanCommunicationDestination"
					value="#{manualOrderBean.vendor.communicationDestination}" requiredMessage="Please enter Communication Destination" required="true" />				
			</h:panelGroup>	
			
			<h:outputLabel for="vendorBeanCommunicationMethod" value="Communication Message Type:"/>
			<h:panelGroup>
				<h:selectOneMenu id="vendorBeanCommunicationMethod" value="#{manualOrderBean.vendor.communicationMessageType}"
					required="true" requiredMessage="Communication Method is required">
			    	<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
					<f:selectItems value="#{manualOrderBean.communicationMessageType}" />
				</h:selectOneMenu>
				<h:message for="vendorBeanCommunicationMethod" styleClass="error" />
			</h:panelGroup>			
			
			<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
					render="checkout:lineItems:bulletinList" 
					action="#{manualOrderBean.createVendor()}"
					oncomplete="hidePopup('addNewVendorModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
					action="#{manualOrderBean.clearSelectedVendor()}"
					oncomplete="hidePopup('addNewVendorModal');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
	
</ui:composition>