<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	

	<div class="row-fluid">
	       <div class="span6">
	           <label>Name On Card</label>
	           <h:inputText id="cardNameInput" value="#{manualOrderBean.name}" required="true" requiredMessage="#{validation['cc.cardholder.required']}"/>
	           <h:message for="cardNameInput" style="color:red;"/>
	       </div>
	       <div class="span6">  
	           <label>Email Address</label>
	           <h:inputText value="#{manualOrderBean.email}" />
	       </div>
	</div>
	<div class="row-fluid">
		<div class="span12"><hr/></div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<label>Card Number</label>
			<h:inputText id="ccInput" value="#{manualOrderBean.creditCardNumber}" required="true" requiredMessage="#{validation['cc.number.required']}">
				<f:convertNumber maxIntegerDigits="16" minIntegerDigits="16"/>
			</h:inputText>
			<h:message for="ccInput" style="color:red;"/>
		</div>
		<div class="span6">  
		    <label>Expiration Month/Year (XX/XXXX)</label>
		    <h:inputText id="expMonthInput" size="2" value="#{manualOrderBean.expirationMonth}" required="true" requiredMessage="#{validation['cc.expmonth.required']}">
		    </h:inputText>
		    /
		    <br />
		    <h:inputText id="expYearInput" size="4" value="#{manualOrderBean.expirationYear}" required="true" requiredMessage="#{validation['cc.expyear.required']}">
		    </h:inputText><br />
		    <h:message for="expMonthInput" style="color:red;"/><br />
		    <h:message for="expYearInput" style="color:red;"/>
		</div>
	</div>
    	<div class="row-fluid">
            <div class="span12"><hr/></div>
	</div>
        <div class="row-fluid">
            <div class="span6">
               <label>Billing Address</label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <label>Line 1</label>
                <h:inputText value="#{manualOrderBean.paymentInfo.billingAddress.line1}" />
            </div>
            <div class="span6">
                <label>Line 2</label>
                <h:inputText value="#{manualOrderBean.paymentInfo.billingAddress.line2}" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <label>City</label>
                <h:inputText value="#{manualOrderBean.paymentInfo.billingAddress.city}" />
            </div>
            <div class="span6">  
                <label>State</label>
                <h:inputText value="#{manualOrderBean.paymentInfo.billingAddress.state}" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <label>Zip</label>
                <h:inputText value="#{manualOrderBean.paymentInfo.billingAddress.zip}" />
            </div>
            <div class="span6">
                <label>Country</label>
                <h:inputText value="#{manualOrderBean.paymentInfo.billingAddress.country}" />
            </div>
        </div>

</ui:composition>