<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	
		
		<rich:popupPanel id="fieldModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="fieldModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Add Field" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" onclick="hidePopup('fieldModal');" immediate="true" />
   			</f:facet>
   			
   			<h:selectOneMenu id="fieldTypes" value="#{manualOrderBean.fieldType}"
	       		converter="#{manualOrderBean.fieldTypeConverter}" required="true" 
    			requiredMessage="You have to select a field type.">
		    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
	   			<f:selectItems value="#{manualOrderBean.allFieldTypes}"
	   				 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
	   		</h:selectOneMenu>
			<rich:message for="fieldTypes" styleClass="error" />
			
			<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
					render="extraAddressFields fieldModalForm" 
					action="#{manualOrderBean.createField()}"
					oncomplete="hidePopup('fieldModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
					render="addressModalForm"
					action="#{manualOrderBean.clearSelectedField()}"
					oncomplete="hidePopup('fieldModal');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
	
</ui:composition>