<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">	
	<div class="row-fluid"  style="width: 1500px;">
	     <div class="controls controls-row span8">
				<h:form id="comments-form">
					<div class="row-fluid">
					<div class="span9">
						<h5>Comments</h5>
					</div>
					<div class="span3">
				       <a4j:commandLink styleClass="btn btn-apd pull-right"
							id="showAddComment" 
							value="Add Comment"
							action="#{manualOrderBean.setShowAddComment(true)}" 
							render="comments-form" />
					</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Date/Time</div>
						<div class="span2">User</div>
						<div class="span6">Comment</div>
						<div class="span1">Action</div>
					</div>

					<a4j:repeat rowKeyVar="index" var="comment" value="#{manualOrderBean.orderComments}">
						<div class="row-fluid">
							<div class="span3">
								#{comment.commentDate}
							</div>
							<div class="span2">
								#{comment.madeBySystem ? "SYSTEM" : comment.user.login}
							</div>
							<div class="span6">
								<h:outputText value="#{(comment.content.length() lt 25) ? comment.content : 
									comment.content.substring(0, 25).concat('...')}" />
							</div>
							<div class="span1 pull-right actionContainer">
						       <a4j:commandLink 
									id="viewComment" 
									value="View"
									action="#{manualOrderBean.setCurrentComment(comment)}" 
									render="comments-form :commentModal"
									immediate="true"
									oncomplete="showPopup('addNewVendorModal');" />
							</div>
						</div>
					</a4j:repeat>

					<apd:pagination pageDisplay="#{manualOrderBean.commentsPagination}" render="comments-form" />
					<h:panelGroup rendered="#{manualOrderBean.showAddComment}">
			  			<h:inputTextarea value="#{manualOrderBean.currentComment.content}" cols="30" rows="10" />
			
						<div class="btn-group" layout="block">
							<a4j:commandLink value="Add" styleClass="btn btn-apd" 
								render="comments-form" 
								action="#{manualOrderBean.addCurrentComment()}" />
							<a4j:commandLink value="Cancel" styleClass="btn" 
								render="comments-form" 
								action="#{manualOrderBean.discardCurrentComment()}" />
						</div>
					</h:panelGroup>
				</h:form>				
			</div>
			<div class="controls controls-row span8" id="orderFiles">
			<h:form id="files-form">
			<div class="phoenix-table phoenix-table-scroll">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th class="span2">Upload Date</th>
							<th class="span3">User Name</th>
							<th class="span5">File Name</th>							
						</tr>
					</thead>
					
						<tbody>
							<a4j:repeat rowKeyVar="index" var="file" value="#{forgeview:asList(manualOrderBean.currentOrder.attachments)}">
								<tr>
									<td class="span2">
										#{file.attachmentTimestamp}
									</td>
									<td class="span3">
										<h:outputText value="#{file.user.login}" />
									</td>
									<td class="span5">
										<h:outputText value="#{file.fileName}" />
									</td>									
								</tr>
							</a4j:repeat>
						</tbody>
					
				</table>
			</div>
			<a4j:commandButton
				id="add-file" styleClass="btn btn-apd"
				value="Upload File"
				action="#{manualOrderBean.fileUploadBean.preUploadFile()}"
				render="files-form :viewMessageModal"
				immediate="true"
				oncomplete="showPopup('addFileModal');" /> 
		</h:form>
		</div>   	
	</div>  
</ui:composition>