<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	
	<f:metadata>
		<f:event listener="#{manualOrderBean.newItem()}" type="postAddToView"></f:event>
	</f:metadata>
	    
		<h:panelGroup layout="block">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Add Item" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" onclick="hidePopup('itemModal');" immediate="true" />
   			</f:facet>   			
	   		<h:form id="lineItems">
	   			
		    		
          			<div>
					<div>
	                 &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Delivery Method
	            	</div>
           			<div>
						 &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<h:selectOneMenu id="deliveryMethods" value="#{manualOrderBean.deliveryMethod}" valueChangeListener="#{manualOrderBean.deliveryMethodToLineItems}">
	   						<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
							<f:selectItems value="#{manualOrderBean.deliveryMethods}" />
							<f:ajax event="change" execute="@this" render="bulletinList" />
		  				</h:selectOneMenu>
					</div>
				</div>
					
	    		
	   			<rich:dataTable id="bulletinList" styleClass="data-table" binding="#{manualOrderBean.table}" value="#{manualOrderBean.lineItems}" var="item" rowKeyVar="row">
	   				<rich:column id="columnID0">
			       		<f:facet name="header">
			         		<h:outputText value="Line No." />
			       		</f:facet>
			       		<h:outputText value="#{row + 1}" styleClass="span9" />		       	   		
		    		</rich:column>
	   				<rich:column id="columnID1">
			       		<f:facet name="header">
			         		<h:outputText value="Vendor" />
			       		</f:facet>
		       			<h:selectOneMenu id="lineItemVendor" onchange="showAddNewVendorPopup('lineItemVendor')" value="#{item.vendor}"
							converter="#{manualOrderBean.vendorConverter}" styleClass="span12">
								<f:selectItem itemLabel="Add New Vendor" noSelectionOption="true"/>
								<f:selectItem itemLabel="Select..." noSelectionOption="true"/>								
								<f:selectItems value="#{manualOrderBean.allVendors}"
								var="vendor" itemValue="#{vendor}" itemLabel="#{vendor.name}" />
								<f:ajax event="change" execute="@this" render="lineItemVendor" />								
						</h:selectOneMenu>
						<f:facet name="footer">
			         		<h:outputText value="Totals" />
			       		</f:facet>					
					</rich:column>
		    		<rich:column id="columnID2">
			       		<f:facet name="header">
			         		<h:outputText value="SKU" />
			       		</f:facet>
		       			<h:inputText value="#{item.supplierPartId}" styleClass="span8" />
		    		</rich:column>
		    		<rich:column id="columnID3">
			       		<f:facet name="header">
			         	<h:outputText value="Category" />
			       		</f:facet>
		       			<h:selectOneMenu id="lineItemCategory" value="#{item.category}"
							converter="#{manualOrderBean.categoryConverter}" valueChangeListener="#{manualOrderBean.fetchUnspscClassification}"
							  styleClass="span12">
							<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
							<f:selectItems value="#{manualOrderBean.allCategories}"
								var="category" itemValue="#{category}" itemLabel="#{category.name}" />
								<f:ajax event="change" execute="@this" render="unspscInput" />								
						</h:selectOneMenu>
		    		</rich:column>
		    		<rich:column id="columnID4">
			       		<f:facet name="header">
			         		<h:outputText value="Description" />
			       		</f:facet>
		       			<h:inputText id="descriptionInput" value="#{item.description}" styleClass="span12">
	   					</h:inputText>
	   					<rich:message for="descriptionInput"></rich:message>
		    		</rich:column>
		    		<rich:column id="columnID5">
			       		<f:facet name="header">
			         		<h:outputText value="Commodity Code" />
			       		</f:facet>
		       			<h:inputText id="unspscInput" value="#{item.unspscClassification}"  styleClass="span8">
	   					</h:inputText>
	   					
		    		</rich:column>
		    		<rich:column id="columnID6">
			       		<f:facet name="header">
			         	<h:outputText value="Quantity" />
			       		</f:facet>
		       			<h:inputText value="#{item.quantity}" styleClass="span5" />
		    		</rich:column>
		     		<rich:column id="columnID7">
			       		<f:facet name="header">
			        		<h:outputText value="UOM" />
			       		</f:facet>
		       			<h:selectOneMenu id="lineItemUom" value="#{item.unitOfMeasure}"
							converter="#{manualOrderBean.unitOfMeasureConverter}" styleClass="span12">
								<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
							<f:selectItems value="#{manualOrderBean.allUnitsOfMeasure}"
								var="uom" itemValue="#{uom}" itemLabel="#{uom.name}" />
						</h:selectOneMenu>
						<rich:message for="lineItemUom"></rich:message>
		    		</rich:column>
		    		<rich:column id="columnID8">
			       		<f:facet name="header">
			         		<h:outputText value="Delivery Method" />
			       		</f:facet>
			       		<h:outputText value="#{item.deliveryMethod}" styleClass="span9" />		       	   		
		    		</rich:column>
		    		<rich:column id="columnID9">
			       		<f:facet name="header">
			         		<h:outputText value="Unit Price" />
			       		</f:facet>
			        	
		       			$<h:inputText id="unitPriceInput" value="#{item.unitPrice}" styleClass="span7" />
	   					<rich:message for="unitPriceInput"></rich:message>
		     		</rich:column>
		     		<rich:column id="columnID10">
			       		<f:facet name="header">
			         		<h:outputText value="Merch Total" />
			       		</f:facet>
			       		<f:facet name="footer">
			         		<h:outputText value="#{manualOrderBean.totalMerch}" />
			       		</f:facet>
		       			$<h:outputText value="#{item.totalPrice}" />
		    		</rich:column>
		     		<rich:column id="columnID11">
			       		<f:facet name="header">
			         		<h:outputText value="Unit Cost" />
			       		</f:facet>
			        	
		       			$<h:inputText id="unitCostInput" value="#{item.cost}" styleClass="span7" />
	   					<rich:message for="unitCostInput"></rich:message>
		     		</rich:column>		     		
		    		<rich:column id="columnID12">
			       		<f:facet name="header">
			         		<h:outputText value="Extended Cost" />
			       		</f:facet>
			       		<f:facet name="footer">
			         		<h:outputText value="#{manualOrderBean.totalExtendedCost}" />
			       		</f:facet>
		       			$<h:outputText value="#{item.extendedCost}" />
		    		</rich:column>
		    		<rich:column id="columnID13">
			       		<f:facet name="header">
			         		<h:outputText value="Shipping" />
			       		</f:facet>
			       		<f:facet name="footer">
			         		<h:outputText value="#{manualOrderBean.totalShipping}" />
			       		</f:facet>
		       			$<h:inputText value="#{item.estimatedShippingAmount}" styleClass="span7" />
		    		</rich:column>
		    		<rich:column id="columnID14">
			       		<f:facet name="header">
			         		<h:outputText value="Taxable" />
			       		</f:facet>
		       			<h:selectOneMenu id="lineItemTaxable" value="#{item.taxable}" required="true"
							requiredMessage="Taxable status is required" styleClass="span12" >
							<f:selectItems value="#{manualOrderBean.taxableTypes}" />
						</h:selectOneMenu>
		    		</rich:column>
		    		<rich:column id="columnID15">
			       		<f:facet name="header">
			         		<h:outputText value="Action" />
			       		</f:facet>
			       		<h:commandButton value="Remove" rendered="#{manualOrderBean.isRemovable(item)}" styleClass="btn" action="#{manualOrderBean.removeLineItem(item)}" >
		       				<f:ajax execute="@this" render="bulletinList"/>
		       			</h:commandButton>
		    		</rich:column>
	   			</rich:dataTable>
	   			<h:commandButton value="Update Order" styleClass="btn btn-apd" action="#{manualOrderBean.addItemsToOrder}" />
	   		</h:form>
	   		
			</a4j:region>
		</h:panelGroup>	
</ui:composition>