<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/layout/workflow/manual-order-place.xhtml">
		
    <f:metadata>
        <f:event type="preRenderView" listener="#{manualOrderBean.retrieve}" />
    </f:metadata>
    
</ui:composition>