<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/reports/reportsTemplate.xhtml"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">	

	<ui:param name="pageTitle" value="Daily Charge Report" />

	<ui:define name="header">
		Daily Charge Report
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="reportsMain">
		<h:form id="reports-form">
			<rich:messages />
			<h:outputLabel for="dailyChargeAccounts" value="Filter by client name (ctrl-click to select multiple values):" />
			<h:selectManyListbox id="dailyChargeAccounts" value="#{dailyChargeReportBean.accounts}"
				required="#{not workflowTaskBean.hasPermission('view data for all accounts')}">
		   			<f:selectItems value="#{dailyChargeReportBean.availableAccounts}"
		   				 var="account" itemValue="#{account}" itemLabel="#{account}" />
			</h:selectManyListbox>
			
			<h:outputLabel for="fromChargeDate"
				value="From Charge Date" />
			<h:panelGroup>
				<rich:calendar id="fromChargeDate"
					value="#{dailyChargeReportBean.startDate}" required="true"/>
				<h:message for="fromChargeDate" styleClass="error" />
			</h:panelGroup>

			<h:outputLabel for="toChargeDate"
				value="To Charge Date" />
			<h:panelGroup>
				<rich:calendar id="toChargeDate"
					value="#{dailyChargeReportBean.endDate}" required="true" />
				<h:message for="toChargeDate" styleClass="error" />
			</h:panelGroup>
			
			<h:outputLabel for="transGroupMenu" value="Transaction Types" /> 
			<h:selectOneMenu id="transGroupMenu" value="#{dailyChargeReportBean.currentTransGroup}" required="true" >
						<f:selectItems value="#{dailyChargeReportBean.transactionGroups}" />
			</h:selectOneMenu>
			
			<h:outputLabel for="custApdPo" value="or Cust/Dealer PO#" />
			<h:inputText id="custApdPo" value="#{dailyChargeReportBean.poNum}" />
			
			<h:outputLabel />
			
			<h:commandLink value="Download Report CSV" action="#{dailyChargeReportBean.generateReport()}" />
		</h:form>

	</ui:define>

</ui:composition>

