<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich"
	xmlns:forgeview="http://jboss.org/forge/view">

<h:head>
	<h:outputStylesheet library="css/bootstrap" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="flat-ui.css" />
	<h:outputStylesheet library="css" name="main-style-sheet.css" />
</h:head>
<h:body>

	<ui:include src="/WEB-INF/layout/administrationHeader.xhtml" />
	<div class="phoenix-container">
		<div class="row-fluid">
			<div class="span8">
				<div class="hero-unit">
					<h1>eLink Gateway Administration</h1>
					<p>Welcome to the eLink Gateway Administration. Please login to proceed.</p>
				</div>
			</div>
			<div class="span4">
				<div class="hero-unit">
						<form id="login_form" method="post" action="j_security_check">
							<h:panelGrid columnClasses="label,component,required" columns="3">

								<h:outputLabel for="j_username" value="Username:" />
								<h:panelGroup>

									<h:inputText id="j_username" name="j_username" required="true"
										requiredMessage="#{validation['login.username.error.emptyfield']}!" />
									<rich:message for="j_username" errorClass="error" />
								</h:panelGroup>
								<h:outputText />

								<h:outputLabel for="j_password" value="Password:" />
								<h:panelGroup>
									<h:inputSecret id="j_password" name="j_password" required="true"
										requiredMessage="#{validation['login.password.error.emptyfield']}" />
									<rich:message for="j_password" errorClass="error" />

								</h:panelGroup>
								<h:outputText />

							</h:panelGrid>

							<div class="row-fluid">
								<h:commandButton id="submit" value="Login" styleClass="btn btn-info" />
								<a4j:commandLink value="Forgot your password?" render="passwordResetForm:passwordReset"
									onclick="#{rich:component('passwordReset')}.show();return false;" />
							</div>
							<rich:message for="resetPasswordInfo" id="resetPasswordInfo" />

						</form>
					<rich:popupPanel id="passwordReset" modal="true" moveable="false" autosized="true" resizeable="false"
						onmaskclick="#{rich:component('passwordReset')}.hide()">

						<rich:graphValidator value="#{loginBean}" id="gv">
							<rich:panel header="Reset password" id="password_panel">
								<rich:messages for="gv" />
								<rich:messages globalOnly="true" />


								<h:form id="passwordReset_form">
									<a4j:region>
										<h:panelGrid columns="1">

											<h:outputLabel value="Enter Username:" for="user_name" />
											<h:inputText id="user_name" value="#{loginBean.passResetUsername}" required="true"
												requiredMessage="#{validation['login.username.error.emptyfield']}" />
											<rich:message for="user_name" styleClass="error" />


										</h:panelGrid>
										<a4j:commandLink value="Submit" styleClass="btn btn-primary" action="#{loginBean.resetPassword()}"
											render="passwordReset_form" oncomplete="hidePopup('passwordReset');" />

										<a4j:commandLink value="Close" styleClass="btn btn-primary" immediate="true" render="passwordReset_form"
											action="#{loginBean.clearForm()}" oncomplete="hidePopup('passwordReset');" />

										<a4j:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
									</a4j:region>
								</h:form>

							</rich:panel>
						</rich:graphValidator>


					</rich:popupPanel>
				</div>
			</div>
		</div>
	</div>
	<ui:insert name="admin_footer">
		<a4j:outputPanel ajaxRendered="true">
			<h:form style="display:none" prependId="false">
				<h:inputHidden id="maximumErrorSeverity" value="#{facesContext.maximumSeverity.ordinal}" />
			</h:form>
		</a4j:outputPanel>
		<script type="text/javascript">
			//<![CDATA[
				// Ajax convenience functions
				function isAjaxEvent(data, ajaxEvent) {
					if (data) {
						return data.status == ajaxEvent;
					}
				}
				function isPreAjaxEvent() {}
				function isPostAjaxEvent() {}

				function ajaxRequestContainsErrors() {
					var maximumErrorSeverity = document.getElementById("maximumErrorSeverity").value;
					return maximumErrorSeverity == "2" || maximumErrorSeverity == "3";
				}


				// Popup Panel control functions
				function showPopup(popupModalId) {
					if (!ajaxRequestContainsErrors()) {
						controlPopup(popupModalId,"show");
					}
				}
				function hidePopup(popupModalId) {
					if (!ajaxRequestContainsErrors()) {
						controlPopup(popupModalId,"hide");
					}
				}
				function controlPopup(popupModalId, operation) {

					if (RichFaces) {
						if (operation == "show") {
							RichFaces.$(popupModalId).show();
						} else if (operation == "hide") {
							RichFaces.$(popupModalId).hide();
						}
					} else {
						throw "Supported JavaScript implementation of popup modal control could not be found.";
					}
				}

				// JSF AJAX issue workaround (START) (address known JSF issue AJAX response updates content in different form with missing/stale viewstate) 
				jsf.ajax.addOnEvent(function(data) {
				    if (data.status == "success") {
				        var viewState = getViewState(data.responseXML);

				        for (var i = 0; i < document.forms.length; i++) {
				            if (!hasViewState(document.forms[i])) {
				                createViewState(document.forms[i], viewState);
				            }
				        }
				    }
				});

				function getViewState(responseXML) {
				    var updates = responseXML.getElementsByTagName("update");

				    for (var i = 0; i < updates.length; i++) {
				        if (updates[i].getAttribute("id") == "javax.faces.ViewState") {
				            return updates[i].firstChild.nodeValue;
				        }
				    }

				    return null;
				}
				function hasViewState(form) {
					if (form) {
						for (var i = 0; i < form.elements.length; i++) {
							if (form.elements[i].name == "javax.faces.ViewState") {
								return true;
							}
						}
						return false;
					}
				}
				function createViewState(form, viewState) {
				    var hidden;
				   try {
				        hidden = document.createElement("<input name='javax.faces.ViewState'/>"); // IE6-8.
				   } catch(e) {
				        hidden = document.createElement("input");
				        hidden.setAttribute("name", "javax.faces.ViewState");
				  	}
				    hidden.setAttribute("type", "hidden");
				    hidden.setAttribute("value", viewState);
				    hidden.setAttribute("autocomplete", "off");
				    form.appendChild(hidden);
				}
				// JSF AJAX issue workaround (END)
			//]]>
			</script>
	</ui:insert>
</h:body>
</html>
