<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/layout/loginTemplate.xhtml">

	<ui:param name="pageTitle" value="Account Login" />

	<ui:define name="header">
		
	</ui:define>

	<ui:define name="subheader" >
	Phoenix Administration Login
	</ui:define>

	<ui:define name="footer" />

    <ui:define name="main">
        <div>
            <form id="login_form" method="post" action="j_security_check">
                <h:panelGrid columnClasses="label,component,required" columns="3">
                
                <h:outputLabel for="j_username" value="Username:" />
                    <h:panelGroup>
                        
                        <h:inputText id="j_username" name="j_username"
                                     required="true" requiredMessage="#{validation['login.username.error.emptyfield']}!"
                                      />
                        <rich:message for="j_username" errorClass="error" />
                    </h:panelGroup>
                    <h:outputText/>
                    
                    <h:outputLabel for="j_password" value="Password:" />
                    <h:panelGroup>  
                        <h:inputSecret id="j_password"  name="j_password"
                                       required="true" requiredMessage="#{validation['login.password.error.emptyfield']}"
                                        />
                               <rich:message for="j_password" errorClass="error" />        
                        
                    </h:panelGroup>
                    <h:outputText/>
                    
                    </h:panelGrid>
                    
                    <h:panelGrid columns="1">
                    <h:commandButton id="submit" value="Login" styleClass="btn btn-info"/>
                    <a4j:commandLink value="Forgot your password?"
                                     render="passwordResetForm:passwordReset"
                                     onclick="#{rich:component('passwordReset')}.show();return false;" />
					</h:panelGrid>
					<rich:message for="resetPasswordInfo" id="resetPasswordInfo" />
                
            </form>
            
            <rich:popupPanel id="passwordReset" modal="true" moveable="false"
                             autosized="true" resizeable="false"
                             onmaskclick="#{rich:component('passwordReset')}.hide()">
                
                    <rich:graphValidator value="#{loginBean}" id="gv">
                        <rich:panel header="Reset password" id="password_panel">
                            <rich:messages for="gv" />
                            <rich:messages globalOnly="true" />
                            
                            
	                     <h:form id="passwordReset_form">
	                     <a4j:region>
	                            <h:panelGrid columns="1">
	
	                                <h:outputLabel value="Enter Username:" for="user_name"/>
	                                <h:inputText id="user_name" value="#{loginBean.passResetUsername}"
												 required="true" requiredMessage="#{validation['login.username.error.emptyfield']}"/>
	                                <rich:message for="user_name" styleClass="error"/>
	                              
	
	                            </h:panelGrid>
	                            <a4j:commandLink value="Submit" styleClass="btn btn-primary" 
	                            	action="#{loginBean.resetPassword()}" 
	                            	render="passwordReset_form"
	                            	oncomplete="hidePopup('passwordReset');" />
	                            	
	                            <a4j:commandLink value="Close" styleClass="btn btn-primary" 
		                            immediate="true" 
		                            render="passwordReset_form"
		                            action="#{loginBean.clearForm()}" 
		                            oncomplete="hidePopup('passwordReset');"/>
		                            
	                            <a4j:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
	                        </a4j:region>
	        				</h:form> 
	        				                   
                        </rich:panel>
                    </rich:graphValidator>
                

            </rich:popupPanel>
        </div>
    </ui:define>

</ui:composition>