<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
		xmlns:a4j="http://richfaces.org/a4j"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:head>
        <title><ui:insert name="page_title" /></title>

        <link rel="stylesheet" href="/shopping/resources/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="/shopping/resources/css/bootstrap/bootstrap-responsive.css" />
        <link rel="stylesheet" href="/shopping/resources/css/main/ecommerce.css" />
        <link rel="stylesheet" href="/shopping/resources/css/main/ecommerce-responsive.css" />
        <link rel="stylesheet" href="/shopping/resources/css/main/bootstrap-wizard.css" />
        <link rel="stylesheet" href="/shopping/resources/css/bootstrap/bootstrap-select.min.css" />
        <ui:include src="../dynamicCss.xhtml" />

        <!-- IE compatibility stylesheets -->
        <!-- if lte IE 9 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 9]&gt;"/>
            <link rel="stylesheet" href="/shopping/resources/css/main/ie9_below.css"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        <!-- if lte IE 8 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 8]&gt;"/>
            <link rel="stylesheet" href="/shopping/resources/css/main/ie8_below.css"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        <!-- if lte IE 7 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 7]&gt;"/>
            <link rel="stylesheet" href="/shopping/resources/css/main/ie7_below.css"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>

        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/css/fonts/fonts.css?ln=css" />
        <ui:insert name="styles" />

        <!-- Legacy IE polyfills -->
        <!-- if IE -->
        <h:outputText escape="false" value="&lt;!--[if IE]&gt;"/>
            <h:outputScript name="js/html5shiv.js"/>
            <h:outputScript name="js/html5shiv-printshiv.js"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        <!-- if lte IE 8 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 8]&gt;"/>
            <h:outputScript name="js/respond.min.js"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
    </h:head>
    <h:body>
    <div id="bodyWrapper">
        <div id="idletimeout">
            You will be logged off in <span><!-- countdown place holder --></span>seconds due to inactivity. 
            <a id="idletimeout-resume" href="#">Click here to continue using this web page</a>.
        </div>
        
        <a4j:jsFunction name="addToCartResolvedAjax" action="#{addToCartBean.nextAction()}" oncomplete="$cartNotify()"
        	render=":cart-dropdown-count :recently-added-container :items-added-json" />
        
        <a4j:jsFunction name="setActionForItem" action="#{addToCartBean.setActionForItem()}">
            <a4j:param name="param1" assignTo="#{addToCartBean.action}" />
            <a4j:param name="param2" assignTo="#{addToCartBean.itemIndex}" />
        </a4j:jsFunction>
        <a4j:jsFunction name="getProductData" action="#{expressOrderBean.populateProductData()}" 
                        render="expressOrderForm" >
            <a4j:param name="param1" assignTo="#{expressOrderBean.sku}" />
        </a4j:jsFunction>
        <a4j:jsFunction name="setSelectedListById" action="#{favoritesBean.setSelectedListById()}">
            <a4j:param name="param1" assignTo="#{favoritesBean.selectedListId}"/>
        </a4j:jsFunction>
        <a4j:jsFunction name="logoutUser" action="#{loginBean.logout()}" />
        <a4j:jsFunction name="cancelAddToCart" action="#{addToCartBean.cancelAddToCartProcess()}" oncomplete="$cartNotify()" render=":items-added-json"/>
        <a4j:jsFunction name="loadExistingIssues" action="#{issueLogViewBean.loadExistingLogs()}" render=":existingIssueLogsDiv"/>
        <a4j:jsFunction name="loadIssueComments" action="#{issueLogViewBean.loadIssueComments()}" render=":issueLogCommentsDiv">
        	<a4j:param name="issueId" assignTo="#{issueLogViewBean.issueId}"/>
        </a4j:jsFunction>
        <a4j:jsFunction name="resendNotificationFromDetails" action="#{orderDetailsBean.sendNotification()}" />
        <div class="containerFull">
            <div class="apd-container">
                <div class="mobileLogin">
                    <h:form id="logoutButtonFormMobile">
                        <h:commandLink styleClass="logOutBtn" id="shoppingLogouMobile" value="Logout" action="#{loginBean.logout()}"/>
                    </h:form>
                </div>
                <div id="notification-top-right" class='notifications shopping-cart'></div>
                <ui:insert name="page_body"></ui:insert>
            </div>
        </div>
        <ui:include src="../footer.xhtml" />
        
        <c:if test="#{not empty pageCssBean.subDomainBasedCssFile}">
            <link type="text/css" rel="stylesheet" href="#{pageCssBean.subDomainBasedCssFile}"/>
        </c:if>
        
        <!-- if lte IE 8 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 8]&gt;"/>
            <h:outputScript name="js/jquery-1.11.0.min.js"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        
        <!-- if gte IE 9 -->
        <h:outputText escape="false" value="&lt;!--[if gte IE 9]&gt;"/>
            <h:outputScript name="js/jquery-2.0.2.min.js" />
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        
        <!-- if !IE -->
        <h:outputText escape="false" value="&lt;!--[if !IE]&gt;"/>
            <h:outputScript name="js/jquery-2.0.2.min.js" />
        <h:outputText escape="false" value="&lt;!--&lt;![endif]--&gt;"/>
        
        <!-- bootstrap (all browsers) -->
        <h:outputScript name="js/bootstrap.js" />
        <h:outputScript name="js/bootstrap-notify.js" />
        <h:outputScript name="js/bootstrap-wizard.js" />
        <h:outputScript name="js/bootstrap-datepicker.js" />
        <h:outputScript name="js/jquery.idletimer.js" />
        <h:outputScript name="js/jquery.idletimeout.js" />
        <h:outputScript name="js/common.js" />
        <h:outputScript name="js/jquery.backstretch.min.js" />
        <h:outputScript name="js/bootstrap-select.min.js" />
        <h:outputScript name="js/typeahead.min.js" />
        <h:outputScript name="js/jquery.numeric.js" />

        <!-- if lte IE 7 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 7]&gt;"/>
            <h:outputScript name="js/ie7_below.js"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>

        <ui:insert name="template-js"/>
        <ui:insert name="inserted-js" />
        <script>
            $.backstretch("#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/background/apd-Background.jpg");
            if (!window["busystatus"]) {
                var busystatus = {};
            }

            busystatus.onStatusChange = function onStatusChange(data) {
                    var status = data.status;

                    if (status === "begin") { // turn on busy indicator
                            document.body.style.cursor = 'wait';
                    } else { // turn off busy indicator, on either "complete" or "success"
                            document.body.style.cursor = 'auto';
                    }
            };

            jsf.ajax.addOnEvent(busystatus.onStatusChange);
            
        </script>
    </div>
    </h:body>


</html>
