<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value="#{processBean.id}"/>
		<f:event type="preRenderView" listener="#{processBean.retrieve}"/>
	</f:metadata>
	
	<ui:param name="pageTitle" value="Create Process"/>

	<ui:define name="header">
		Process
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer"/>
	
	<ui:define name="main">
		<h:form id="work">
			<div>
				<ui:include src="/admin/process/processDetails.xhtml" />
			</div>
			<div class="btn-group" layout="block">
				<h:commandLink value="Save" action="#{processBean.update}" styleClass="btn btn-success" ><i class="icon-ok"></i></h:commandLink>
			</div>
		</h:form>
	</ui:define>
</ui:composition>