<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<div id="reportNavigation" layout="block" style="">
		<h:form id="reportsNavigationForm">
			<ul class="nav nav-pills nav-stacked">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#"> A/R Credits &amp; Updates </a>
				</li>
				<li>
					<a href="#"> Account Group Report </a>
				</li>
				<li>
					<a href="#"> Account Report </a>
				</li>
				<li>
					<a href="#"> AP Invoice Report </a>
				</li>
				<li>
					<a href="#"> APD Sales Commission Report </a>
				</li>
				<li>
					<a href="#"> APD Toner Program Savings </a>
				</li>
				<li>
					<a href="#"> AR Invoice Report </a>
				</li>
				<li>
					<a href="#"> Card Transaction Report </a>
				</li>
				<li>
					<a href="#"> Commercial/Government Root Account Report </a>
				</li>
				<li>
					<a href="#"> Company-Wide Sales Trends </a>
				</li>
				<li>
					<a href="#"> Compatible Toner Quality Analysis: Novant </a>
				</li>
				<li>
					<a href="#"> Compliance: User/Location Setup * CSS Only* </a>
				</li>
				<li>
					<a href="#"> Delivery Trends </a>
				</li>
				<li>
					<a href="#"> Gross Profit Margin Report </a>
				</li>
				<li>
					<a href="#"> NEW Shipmaster Report </a>
				</li>
				<li>
					<a href="#"> Order &amp; Return Trends </a>
				</li>
				<li>
					<a href="#"> Order Size Analysis </a>
				</li>
				<li>
					<a href="#"> POD Report </a>
				</li>
				<li>
					<a href="#"> Pricing Category Report </a>
				</li>
				<li>
					<a href="#"> Program Spend </a>
				</li>
				<li>
					<a href="#"> Rejected item History Report </a>
				</li>
				<li>
					<a href="#"> Sale &amp; Cost Discrepancy Report </a>
				</li>
				<li>
					<a href="#"> Savings Opportunities </a>
				</li>
				<li>
					<a href="#"> Savings Update: Only provided to NGC </a>
				</li>
				<li>
					<a href="#"> Tax Report Portal </a>
				</li>
				<li>
					<a href="#"> Toner Snapshot: Provided to CSS &amp; Novant </a>
				</li>
				<li>
					<a href="#"> User Report </a>
				</li>

			</ul>
		</h:form>
	</div>
</ui:composition>
