<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">	
	<div id="inventoryView" class="tabbable">
		
		<br />
		
		<br />
		
		<div id="inventoryViewNavigation" class="tabbable tabs-left">
			<ul class="nav nav-tabs" data-tabs="tabs">
				<li>
					<a id="generalOrderLink"  data-toggle="tab">Receipt (In) </a> 

				</li>
				<li>
					<a id="notificationsLink"  data-toggle="tab"> Pick and Pack </a>
				</li>
				<li>
					<a id="commentsLink"  data-toggle="tab"> Transfer (In or Out) </a>
				</li>
				<li>
					<a id="commentsLink"  data-toggle="tab"> Return to Vendor (Out) </a>
				</li>
				<li>
					<a id="commentsLink"  data-toggle="tab"> Return from the Customer (In) </a>
				</li>
				
			</ul>
			<div class="tab-content">
				
			</div>
		</div>
	</div>	
</ui:composition>
