<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

		<h:panelGrid columnClasses="label,component,required" columns="3">
			
			<h:outputLabel for="roleBeanRoleName" value="Name:"/>
				<h:panelGroup>
					<h:inputText id="roleBeanRoleName" value="#{roleBean.role.name}" required="true" />
					<h:message for="roleBeanRoleName" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				
				<h:outputLabel for="roleBeanRoleIsActive" value="Is Active:"/>
				<h:panelGroup>
					<h:selectBooleanCheckbox id="roleBeanRoleIsActive" value="#{roleBean.role.isActive}" />
					<h:message for="roleBeanRoleIsActive" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>

		</h:panelGrid>
		
		<h:outputText value="Role/Permission Assignment"/>
		<rich:dataTable id="linkedPermissionsTable" value="#{forgeview:asList(roleBean.role.permissions)}"
		var="permission">
		<rich:column>
			<f:facet name="header">
				<h:outputText value="Name" />
			</f:facet>
			<h:outputText value="#{permission.name}" />
		</rich:column>
		<rich:column>
			<f:facet name="header">
				<h:outputText value="Description" />
			</f:facet>
			<h:outputText value="#{permission.description}" />
		</rich:column>
		<rich:column>
			<f:facet name="header">
				<h:outputText value="Allow Delete" />
			</f:facet>
			<h:selectBooleanCheckbox value="#{permission.allowDelete}" disabled="true" />
		</rich:column>
		<rich:column>
			<f:facet name="header">
				<h:outputText value="Allow Read" />
			</f:facet>
			<h:selectBooleanCheckbox value="#{permission.allowRead}" disabled="true" />
		</rich:column>
		<rich:column>
			<f:facet name="header">
				<h:outputText value="Allow Write" />
			</f:facet>
			<h:selectBooleanCheckbox value="#{permission.allowWrite}" disabled="true" />
		</rich:column>
		<rich:column>
			<f:facet name="header">
				<h:outputText value="Action" />
			</f:facet>
			<a4j:commandLink value="Remove" action="#{roleBean.removePermission(permission)}" render="linkedPermissionsTable" />
		</rich:column>
	</rich:dataTable>

</ui:composition>