<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>#{propertiesBean.get('tenant','code')} Marketplace</title>
        <h:outputStylesheet name="css/bootstrap/bootstrap.css" />
        <h:outputStylesheet name="css/bootstrap/bootstrap-responsive.css" />
        <h:outputStylesheet name="css/main/ecommerce.css" />
        <h:outputStylesheet name="css/main/ecommerce-responsive.css" />
        <h:outputStylesheet name="css/main/bootstrap-wizard.css" />
        <h:outputStylesheet name="css/bootstrap/bootstrap-select.min.css" />
        <h:outputStylesheet name="css/fonts/stylesheet.css" />
        <ui:include src="dynamicCss.xhtml" />

        <!-- IE compatibility stylesheets -->
        <!-- if lte IE 9 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 9]&gt;"/>
            <link rel="stylesheet" href="/shopping/resources/css/main/ie9_below.css"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        <!-- if lte IE 8 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 8]&gt;"/>
            <link rel="stylesheet" href="/shopping/resources/css/main/ie8_below.css"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        <!-- if lte IE 7 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 7]&gt;"/>
            <link rel="stylesheet" href="/shopping/resources/css/main/ie7_below.css"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        
        <!-- Legacy IE polyfills -->
        <!-- if IE -->
        <h:outputText escape="false" value="&lt;!--[if IE]&gt;"/>
            <h:outputScript name="js/html5shiv.js"/>
            <h:outputScript name="js/html5shiv-printshiv.js"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        <!-- if lte IE 8 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 8]&gt;"/>
            <h:outputScript name="js/respond.min.js"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
    </h:head>
    <h:body>
        <!-- if lte IE 8 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 8]&gt;"/>
            <h:outputScript name="js/jquery-1.11.0.min.js"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        
        <!-- if gte IE 9 -->
        <h:outputText escape="false" value="&lt;!--[if gte IE 9]&gt;"/>
            <h:outputScript name="js/jquery-2.0.2.min.js" />
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        
        <!-- if !IE -->
        <h:outputText escape="false" value="&lt;!--[if !IE]&gt;"/>
            <h:outputScript name="js/jquery-2.0.2.min.js" />
        <h:outputText escape="false" value="&lt;!--&lt;![endif]--&gt;"/>
        
        <!-- bootstrap (all browsers) -->
        <h:outputScript name="js/bootstrap.js" />
        <h:outputScript name="js/bootstrap-notify.js" />
        <h:outputScript name="js/bootstrap-wizard.js" />
        <h:outputScript name="js/bootstrap-datepicker.js" />
        <h:outputScript name="js/jquery.idletimer.js" />
        <h:outputScript name="js/jquery.idletimeout.js" />
        <h:outputScript name="js/common.js" />
        <h:outputScript name="js/jquery.backstretch.min.js" />
        <h:outputScript name="js/bootstrap-select.min.js" />
        <h:outputScript name="js/typeahead.min.js" />
        <h:outputScript name="js/jquery.numeric.js" />

        <!-- if lte IE 7 -->
        <h:outputText escape="false" value="&lt;!--[if lte IE 7]&gt;"/>
            <h:outputScript name="js/ie7_below.js"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        <div id="iframe_container">
            <ui:insert name="page_content"/>
        </div>
    </h:body>
</ui:composition>