<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
				xmlns:rich="http://richfaces.org/rich"
                template="/WEB-INF/templates/main/ecommerceExternalPageTemplate.xhtml">
    <ui:define name="styles">

    </ui:define>

    <ui:define name="page_title">#{display['login.template.title']}</ui:define>
    <ui:define name="page_body">
    	<script>
    		function loginRedirect() {
				window.location = '#{linksBean.home}';
        	}
    		window.onload = function()
    		{ 
        		// page is refreshed after 20 minutes, to prevent session timeout
				window.setTimeout('loginRedirect()', 1200 * 1000);
    		}
        </script>
        <ui:include src="./topNavBarNotLoggedIn.xhtml" />
        <div id="top-container" class="container">
            <ui:insert name="page_content"></ui:insert>
        </div>

    </ui:define>
    <a4j:outputPanel ajaxRendered="true">
        <h:form style="display:none" prependId="false">
            <h:inputHidden id="maximumErrorSeverity" value="#{facesContext.maximumSeverity.ordinal}"/>
        </h:form>
    </a4j:outputPanel>

</ui:composition>
