<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/templates/main/ecommerceInternalPageTemplate.xhtml">

    <ui:insert name="page_title"/>    
    <ui:define name="page_body">
    	<!-- checks if user is logged in before rendering header components, 
    		since info pages can be viewed without logging in first -->
		<c:if test="#{not empty request.remoteUser}">
        	<ui:include src="./topNavBar.xhtml" />
        </c:if>
		<c:if test="#{empty request.remoteUser}">
        	<ui:include src="./topNavBarNotLoggedIn.xhtml" />
        </c:if>
        <div id="top-container" class="container">
        	<c:if test="#{not empty request.remoteUser and credentialSelectionBean.currentCredential != null}">
	            <ui:include src="./mainNavBar.xhtml" />
            </c:if>
            <ui:insert name="page_content"></ui:insert>
        </div>
    </ui:define>
</ui:composition>