<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/main/ecommerceInternalPageTemplate.xhtml">

    <ui:define name="styles">
        <h:outputStylesheet name="css/order/datepicker.css" />
    </ui:define>
    <ui:define name="page_title">#{display['history.template.title']}</ui:define>
    <ui:define name="page_body">
        <ui:include src="./topNavBar.xhtml" />
        <div id="top-container" class="container">
            <ui:include src="./mainNavBar.xhtml" />
            <ui:insert name="page_content"/>
        </div>
    </ui:define>
    <ui:define name="inserted-js">
    	<h:outputScript library="js" name="bootstrap-paginator.min.js" />
    	<h:outputScript library="js" name="bootstrap-datepicker.js" />
        <script>
            $(document).ready(function() {addFunctionToCallAfterAjax(function() {
               addDatePickers();
            });});
        </script>
    </ui:define>
</ui:composition>