<footer class="footer large-12 row" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="container">
    	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		 
		  ga('create', 'UA-53858657-1', 'auto');
		  ga('send', 'pageview');
		 
		</script>
        <div class="row-fluid show-grid" id="footer-upper">

	            <div class="footer-column">
	                <nav class="footer-nav">
	                    <ul class="pull-right">
	                    	<h:panelGroup rendered="#{not empty pageCssBean.aboutUsUrl}">
		                        <li>
		                        	<a target="_blank" href="#{pageCssBean.aboutUsUrl}"> #{display['template.about']} </a>
		                        </li>
		                    </h:panelGroup>
	                    	<h:panelGroup rendered="#{not empty pageCssBean.contactUsUrl}">
		                        <li>
		                        	<a href="#{pageCssBean.contactUsUrl}"> #{display['template.contact']} </a>
		                        </li>
		                    </h:panelGroup>
	                    	<h:panelGroup rendered="#{not empty pageCssBean.returnPolicyUrl}">
		                        <li>
		                        	<a href="#{pageCssBean.returnPolicyUrl}"> #{display['template.return']} </a>
		                        </li>
		                    </h:panelGroup>
	                    	<h:panelGroup rendered="#{not empty pageCssBean.termsOfUseUrl}">
		                        <li>
		                        	<a href="#{pageCssBean.termsOfUseUrl}"> #{display['template.terms']} </a>
		                        </li>
		                    </h:panelGroup>
	                    	<h:panelGroup rendered="#{not empty pageCssBean.securityUrl}">
		                        <li>
		                        	<a href="#{pageCssBean.securityUrl}"> #{display['template.security']} </a>
		                        </li>
		                    </h:panelGroup>
	                    	<h:panelGroup rendered="#{not empty pageCssBean.privacyUrl}">
		                        <li>
		                        	<a href="#{pageCssBean.privacyUrl}"> #{display['template.privacy']} </a>
		                        </li>
		                    </h:panelGroup>
	                    </ul>
	                </nav>
	            </div>

	            <div class="footer-column">
	                <span>
	                    <img id="hpbadge" class="footer-image" src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/hpbadge.gif" border="0"/>
	                </span>
	                <span>
	                    <img id="trustwaveSealImage" class="footer-image" src="https://sealserver.trustkeeper.net/seal_image.php?customerId=w6oj3BWieJra4gUsmKaQ7dOFyrcgvC&amp;size=105x54&amp;style=" style="cursor:pointer;" onclick="if (#{pageCssBean.showTrustKeeperPopup}) {javascript:window.open('https://sealserver.trustkeeper.net/cert.php?customerId=w6oj3BWieJra4gUsmKaQ7dOFyrcgvC&amp;size=105x54&amp;style=', 'c_TW', 'location=no, toolbar=no, resizable=yes, scrollbars=yes, directories=no, status=no, width=615, height=720');} return false;" oncontextmenu="javascript:alert('Copying Prohibited by Law - Trusted Commerce is a Service Mark of TrustWave Holdings, Inc.'); return false;" alt="This site protected by Trustwave's Trusted Commerce program" title="This site protected by Trustwave's Trusted Commerce program" border="0"/>
	                </span>
	            </div>

	            <div class="footer-column" id="footer-column-right">
	            	<ul class="pull-right">
	            		<li>
	            			<a href="#{pageCssBean.faceBook}">
	            				<img class="footer-social-image" src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/socialMediaIcons/Facebook.jpg" border="0"/>
	            			</a>
	            		</li>
	            		<li>
	            			<a href="#{pageCssBean.linkedIn}">
	            				<img class="footer-social-image" src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/socialMediaIcons/LinkedIn.jpg" border="0"/>
	            			</a>
	            		</li>
	            		<li>
	            			<a href="#{pageCssBean.youTube}">
	            				<img class="footer-social-image" src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/socialMediaIcons/YouTube.jpg" border="0"/>
	            			</a>
	            		</li>
	            		<li>
	            			<a href="#{pageCssBean.wordPress}">
	            				<img class="footer-social-image" src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/socialMediaIcons/WordPress.jpg" border="0"/>
	            			</a>
	            		</li>
	            	</ul>
	            </div>
	    	</div>
            <div id="footer-lower">
            	<p>
        			 #{display['login.powered']} | <h:panelGroup rendered="#{not empty pageCssBean.copyRight}">Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script> #{pageCssBean.copyRight} </h:panelGroup> | <h:outputText value="#{pageCssBean.customerServiceInfo}" />
            	</p>
            </div>
        
    </div>
</footer>
