<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core" 
                xmlns:forgeview="http://jboss.org/forge/view" 
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j">
	<h:panelGroup class="navMain" id="blue-navbar">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                	<!-- Not sure if the following "button" section is used, it's not being rendered -->
                    <button type="button" class="btn btn-navbar padHide" data-toggle="collapse" data-target=".nav-collapse" label="">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span style="float:left; margin-top:-15px; margin-left:25px; color:#555555">MENU</span>
                    </button>
                    <div class="nav-collapse collapse">
                    	<c:if test="#{!credentialSelectionBean.isExternalCatalog()}">
	                    	<ul id="mainNavBar" class="nav nav-pills">
	                    		<ui:include src="/WEB-INF/components/inserts/product/categoryBrowseDropdown.xhtml" />	                    		 
	                    		<ui:include src="/WEB-INF/components/inserts/product/subCategoriesDropdown.xhtml" />
	                    		<h:panelGroup rendered="#{credentialSelectionBean.showInkAndTonerSearchMenu()}">
	                    			<li class="mobileHide"><a href="#{linksBean.inkTonerSearch}">#{display['nav.main.inkToner']}</a></li>
	                    		 </h:panelGroup>
	                    	</ul>
                    	</c:if>
                    </div>
                </div>
            </div>
        </div>
    </h:panelGroup>
</ui:composition>
