<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

			<li class="dropdown mobileHide">
                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-delay="1000" data-close-others="false">
                        #{display['template.helpCenter']}
                    </a>
                    <ul class="dropdown-menu">
                    	<c:if test="#{credentialSelectionBean.shoppingCartDisplayed}">
                        	<li><a href="#{linksBean.requestItem}">Request Item</a></li>
		      				<li class="divider"/>
                        </c:if>
		      			<li>
		      				<a href="#createIssueLog" data-toggle="modal">#{display['nav.top.issue']}</a>
		           		</li>
			           	<c:if test="#{credentialSelectionBean.hasPermission('shopping view issue logs')}">
				      		<li>
				      			<a href="#existingIssueLogs" onclick="loadExistingIssues();" data-toggle="modal">#{display['nav.top.issue.view']}</a>
				           	</li>
			           	</c:if>
			           	<!-- divider is rendered if any of the help center links is rendered -->
			           	<c:if test="#{credentialSelectionBean.hasPermission('shopping view rebate center') 
			           			or credentialSelectionBean.hasPermission('shopping view returns guide') 
			           			or credentialSelectionBean.hasPermission('shopping view user guide') 
			           			or credentialSelectionBean.hasPermission('shopping view special order form') 
			           			or credentialSelectionBean.hasPermission('shopping view custom order form') 
			           			or credentialSelectionBean.hasPermission('shopping view toner recycle form')}">
			           		<li class="divider"/>
			           	</c:if>
		               <c:if test="#{credentialSelectionBean.hasPermission('shopping view rebate center')}">       
			               	<li>
			                    <a href="/shopping/ecommerce/information/rebateCenter.xhtml" target="_blank">#{display['nav.top.rebate']}</a>
			                </li>	
			           </c:if> 
			           <c:if test="#{credentialSelectionBean.hasPermission('shopping view returns guide')}">     
				            <li>
			                	<h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/returns_278.pdf" target="_blank">
			         				#{display['nav.top.returns']}
			         	   		</h:outputLink>
			                </li>
		                </c:if>
		                <c:if test="#{credentialSelectionBean.hasPermission('shopping view user guide')}">
			                <li>
			                    <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/#{credentialSelectionBean.userGuideName}" target="_blank">
			              			#{display['nav.top.user']}
			              	   	</h:outputLink>
				            </li>
			            </c:if>
			            <c:if test="#{credentialSelectionBean.hasPermission('shopping view special order form')}">
		                	<li>
		                            <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/#{credentialSelectionBean.specialOrderGuideName}" target="_blank">
		          				#{display['nav.top.special']}
		          	   			</h:outputLink>
		                 	</li>
		                </c:if>
		               <c:if test="#{credentialSelectionBean.hasPermission('shopping view custom order form')}">
		                  	<li>
		                            <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/#{credentialSelectionBean.customOrderGuideName}" target="_blank">
		           					#{display['nav.top.custom']}
		           	   			</h:outputLink>
		     				</li>
		    			</c:if>
		    			<c:if test="#{credentialSelectionBean.hasPermission('shopping view toner recycle form')}">
			               <li>
			                   <h:outputLink value="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/TonerRecycle_278.pdf" target="_blank">
			                       #{display['nav.top.toner']}
			                   </h:outputLink>
			               </li>
		               </c:if>
                   </ul>
                    
			</li>

</ui:composition>
