<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    
    <div id="ip-hdr">    	
    	
    	<div id="header" class="navbar navbar-fluid container">
    		<div id="logo">
		        <a href="#{linksBean.home}">
		        	<img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/logo.png" 
		        		class="shoppingMainLogo"/>
		        </a>
		    </div>
	         <div id="ip-hdr-right"><!--header-right starts-->
              		<div id="hdr-nav"><!-- header navigation starts-->
				        <a4j:outputPanel ajaxRendered="true" id="shoppingCartForReRender">
					        <ul class="nav pull-right navTopLinks">
					        	<c:if test="#{credentialSelectionBean.shoppingCartDisplayed}">
									<ui:include src="./topNavBarOrdering.xhtml" />
								</c:if>
					        	<ui:include src="./topNavBarHelpCenter.xhtml" />
					        	<c:if test="#{!loginBean.isPunchout()}">
					        		<ui:include src="./topNavBarAccountLogout.xhtml" />
					        	</c:if>
					        	<c:if test="#{credentialSelectionBean.shoppingCartDisplayed}">
									<ui:include src="./topNavBarCart.xhtml" />
								</c:if>
					        </ul>
				        </a4j:outputPanel>
			        </div>
				<c:if test="#{!credentialSelectionBean.isExternalCatalog() and credentialSelectionBean.shoppingCartDisplayed}">
				
					<div>
						<div id="bannerMessageContainer" class="pull-right">
					        <c:forEach var="navigationBannerMessage" items="#{credentialSelectionBean.navigationBannerMessages}">
					        	<div class="pull-right">
					        		<h3 class="nav-banner-message">
					        			#{navigationBannerMessage}
					        		</h3>
					        	</div>
					        </c:forEach>
						</div>
						<div class="searchContainer"><div class="topSearch">
				        <form id="search-form" style="margin: 0;">
				            <div class="searchBoxWrapper">
				                <div class="searchBoxContainerInner">
				                    <div id="searchOuterBox" class="listInput searchSelectContainer">
				                        <h:inputText id="search-input" styleClass="addtoListInput typeahead" value="#{searchBean.queryData.searchString}" />
				                    </div>
				                </div>
				                <div id="hiddenSessionID" style="display:none">#{searchBean.findSessionId()}</div>
				                <a href="#" id="searchButton" class="btn btn-primary" onClick="$handleSearchRedirect(); return false;">
				                	<i id="search-icon" class="icon-search"></i>
				                </a>
				            </div>
				        </form>
				        </div></div>
				    </div>
		    	</c:if>
		    	</div>
	    </div>
		<ui:include src="/WEB-INF/components/inserts/experience/serviceLogModals.xhtml" />
		<c:if test="#{!credentialSelectionBean.isExternalCatalog() and credentialSelectionBean.shoppingCartDisplayed}">
		
	    <a4j:jsFunction name="initSearch" action="#{searchBean.newProductSearch()}" >                
	        <a4j:param name="searchTerm" assignTo="#{searchBean.queryData.searchString}" /> 
	        <a4j:param name="hierarchyKey" assignTo="#{searchBean.queryData.searchEngineHierarchyKey}" /> 
	    </a4j:jsFunction>
		<script type="text/javascript">
		    $(document).ready(function() {
			    addFunctionToCallAfterAjax(function() {
		    		setupSearchTypeahead(#{searchBean.getSearchTermsJson()});
		    		setupCartridgeNumberTypeahead(#{searchBean.getCartridgeSearchURL()});
		    		setupModelNumberTypeahead(#{searchBean.getModelSearchURL()});
		    	});
			    $( '#search-input' ).attr( 'placeholder', 'Enter Search Term here' ).val('').focus().blur();
			    //the following block of code sets the offsets for the category-menu dropdowns, 
			    //to get the effect where they extend to the right, but shift left if they would
			    //go off the page
			    var container = $( ".containerFull" ).first();
		    	var maxRight = container.offset().left + container.width();
			    $( ".category-menu" ).each(function(index, element) {
			    	$( element ).show();
				    var rightPosition = $( element ).offset().left + $( element ).width();
				    var currentTop = $( element ).offset().top;
				    var currentLeft = $( element ).offset().left;
				    if (rightPosition > maxRight) {
					    var diff = rightPosition - maxRight;
						$( element ).offset({ top: currentTop, left: currentLeft - diff});
					}
				    $( element ).hide();
		    	});
			});
		</script>
        </c:if>
    </div>
    <div class="modalContainer">
        <rich:popupPanel id="emptyCartModal" style="background:white;" height="42" width="305" resizeable="false" moveable="false" domElementAttachment="parent">
            <f:facet name="controls">
                <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('emptyCartModal')}.hide(); return false;" />
            </f:facet>
            <h:outputText value="#{validation['cashout.cart.empty']}" style="color:red;"/>
        </rich:popupPanel>
    </div>
	<div id="productCompareQuantity" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">Ã—</button>
				<h3 id="myModalLabel">Quantity Exceeded</h3>
			</div>
            <div class="modal-body">
				<h:outputLabel value="Up to #{productCompareBean.maxCompareQuantity} items can be compared at once." />
			</div>
            <div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
	</div>
    <div class="modalContainer">
        <rich:popupPanel id="waitModal" height="52" width="52" resizeable="false" moveable="false" domElementAttachment="parent" zindex="200">
            <img id="ajaxloader"  src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/ajax-loader.gif" />
        </rich:popupPanel>
    </div>
    <a4j:status onstart="ajaxStartWait();" onstop="ajaxStopWait();"/>
    <h:outputText id="items-added-json" value="#{addToCartBean.jsonData}" escape="false" />
    
    <c:if test="#{(hideBulletinsForMultipleCredential == null or !hideBulletinsForMultipleCredential)}">
    	<ui:include src="/WEB-INF/components/modals/bulletinDisplayModal.xhtml" />
    </c:if>
    <c:if test="#{not empty credentialSelectionBean.currentAXCXU}">
	    <script>
	    		<h:outputText value="#{favoritesBean.favoritesListJson}" escape="false" />
	            $(document).ready(function() {
	            	processData(favoritesDropdownData);
	            });
	    </script>
    </c:if>
    <div class="modalContainer span6">
			 <div id="addToListModal" class="modal hide fade addToListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">	
				<h:form id="addToFavoritesForm">
				<div class="modal-header">
					<h5 class="text-left">#{display['details.product.add']}</h5>
				</div>
				<div class="modal-body addToListModalBody">
				<h:panelGroup>
					<div class="span12 listInput favoritesListsInput">
						<p> List Name </p>
						<h:inputText id="selectedListNameInput"
							styleClass="addtoListInput typeahead"
							value="#{addToCartBean.addToFavoritesListBean.selectedFavoritesListName}"
							title="Enter list name" />
						<h:outputLabel
							value="Please provide the name of the favorites list to which you would like to add this product."
							style="display:none; color:red;" id="listInputRequiredMessage" />
					</div>
					<div class="span2 text-left">
						<a4j:commandLink styleClass="smallBtn"
							action="#{addToCartBean.addToFavoritesListBean.addProductToFavorites()}"
							oncomplete='$showAddedToListPopup(#{addToCartBean.addToFavoritesListBean.productAddedToList}, "#{addToCartBean.addToFavoritesListBean.selectedFavoritesListName}", "#{addToCartBean.addToFavoritesListBean.product.apdSku}");' 
							id="addListLink"
							onclick='waitOnNextAjax(); if(listInputNotEmpty("addToFavoritesForm")){$("#addToListModal").modal("hide");return true;}else{return false};'>
							#{display['details.product.add2']}
						</a4j:commandLink>
						<h:messages />
					</div>
					<div class="span2 text-left">
						<a4j:commandLink styleClass="smallBtn"							
							id="cancelListLink"
							onclick="$('#addToListModal').modal('hide'); return false;">
							Cancel
						</a4j:commandLink>
						<h:messages />
					</div>
				</h:panelGroup>
				</div>
				</h:form>
			</div>
	</div>
	<div class="modalContainer">
	            <rich:popupPanel id="item-added-to-list-popup" style="background:white;" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	                <f:facet name="controls">
	                    <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('item-added-to-list-popup')}.hide(); return false;" />
	                </f:facet>
	                <span id="added-to-list-text" style="color:black;padding:5px;"> Product added to favorites list </span>
	            </rich:popupPanel>
	</div>
</ui:composition>