<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
			
			<li class="dropdown mobileHide">
                    <a href="#" class="dropdown-toggle" 
                    		data-hover="dropdown" data-delay="1000" data-close-others="false">
                        #{display['nav.top.account']}
                    </a>
                    <ul class="dropdown-menu">
                        <c:if test="#{credentialSelectionBean.hasPermission('shopping view tasks')}">
                        	<li><a href="/shopping/ecommerce/task/taskList.xhtml">Tasks</a></li>
			      		</c:if>
                        <c:if test="#{credentialSelectionBean.shoppingCartDisplayed}">
							<li>
								<a href="#{linksBean.orderHistory}">#{display['nav.top.history']}</a>
							</li>
						</c:if>
						<!-- renders the divider if either of the above components are rendered -->
                        <c:if test="#{credentialSelectionBean.hasPermission('shopping view tasks') 
                        			or credentialSelectionBean.shoppingCartDisplayed}">
			      			<li class="divider"/>
						</c:if>
                        <c:if test="#{not loginBean.systemUser.concurrentAccess}">
                            <li><a href="#{linksBean.resetPassword}">Reset Password</a></li>
                        </c:if>
		      			<li class="divider"/>
		      			<li>
							<a href="#" onclick="logoutUser();" id="shoppingLogout">#{display['nav.top.logout']}</a>
		           		</li>
                   </ul>
                    
			</li>

</ui:composition>
