<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

	        <ui:include src="/WEB-INF/components/inserts/product/favoritesDropdown.xhtml">
	            <ui:param name="favoritesLists" value="#{favoritesBean.companyFavoritesLists}" />
	            <ui:param name="favoritesType" value="#{favoritesViewBean.COMPANY_FAVORITES_TYPE}" />
	        </ui:include>
			
	        <ui:include src="/WEB-INF/components/inserts/product/favoritesDropdown.xhtml">
	            <ui:param name="favoritesLists" value="#{favoritesBean.allUserFavoritesLists}" />
	            <ui:param name="favoritesType" value="#{favoritesViewBean.PERSONAL_FAVORITES_TYPE}" />
	        </ui:include>
			
			<li class="mobileHide">
				<h:outputLink value="#{expressOrderBean.orderPageLink}">#{display['nav.top.express']}</h:outputLink>
			</li>
			

</ui:composition>
