<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

		<script type="text/javascript">
			$(document).ready(function() {
				$( '#j_username' ).attr( 'placeholder', 'Enter Username' ).val('').focus().blur();
				$( '#j_password' ).attr( 'placeholder', 'Enter Password' ).val('').focus().blur();
			});
		</script>
        <div id="ip-hdr">
            
            <div id="header" class="navbar navbar-fluid container">
            	<div id="logo">
            		<h:panelGroup rendered="#{not loginBean.isMarfieldSubdomain}">
		            	<a href="#{linksBean.home}">
		            		<img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/APD-logo.png" 
		            			class="shoppingMainLogo"/>
		            	</a>
	            	</h:panelGroup>
            	</div>
	        	<h:panelGroup rendered="#{not empty pageCssBean.subDomainLogo}" layout="block" styleClass="subDomainLogoWrapper">
                    <img src="#{pageCssBean.subDomainLogo}" />
                </h:panelGroup>
               	<form id="login_form" class="form-inline" method="post" action="j_security_check">
               		<fieldset>
               			<h:panelGroup rendered="#{not loginBean.requiresDirectAccess}">
               				<!-- For most use cases, the username and password form will be displayed,
               				with additional account options -->
               				<div class="row-fluid" id="login-fields-row">
	                            <div id="login-UsernameFld" class="span4">
	                                <h:inputText id="j_username" required="true" 
	                                     styleClass="#{not component.valid ? 'ui-input-invalid' : ''}"/>
	                            </div>
	                            <div id="login-PasswordFld" class="span4">
	                                <h:inputSecret id="j_password" required="true" 
	                                     styleClass="#{not component.valid ? 'ui-input-invalid' : ''}"/>
	                            </div>
	                            <div class="span4">
	                            	<h:commandButton id="loginSubmit" value="Log in" class="btn btnRed" />
	                            </div>
                            </div>
							<div class="row-fluid" id="login-validation-row">
								<h:panelGroup rendered="#{not empty errorLogin and errorLogin}">
                       				<b>*Login Error: Either UserName/Password is incorrect.</b>
                       			</h:panelGroup>
                       		</div>
               				<div class="row-fluid" id="login-options-row">
                                <h:selectBooleanCheckbox id="rememberChk" value="Remember Me"/>
                                <h:outputLabel id="rememberLbl" value="Remember Me" for="rememberChk"/>
                            	<h:panelGroup rendered="#{not loginBean.isResetPasswordLinkHidden(pageCssBean.subdomainValue)}">
                                	<a href="#{linksBean.publicResetPassword}">Forgot Password</a>
                                </h:panelGroup>
		                        <h:panelGroup rendered="#{not loginBean.requiresUserMaintenance and not loginBean.isNovantSubdomain and not loginBean.isRegistrationLinkHidden(pageCssBean.subdomainValue)}">
									<a href="#{loginBean.createUserUrl}">Register</a>
		                        </h:panelGroup>
		                        <h:panelGroup rendered="#{not loginBean.requiresUserMaintenance and loginBean.isMarfieldSubdomain}">
									<a href="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/Marfield_UserGuide.pdf">User Guide</a>
		                        </h:panelGroup>
		                        <h:panelGroup rendered="#{loginBean.requiresUserMaintenance and not loginBean.isNovantSubdomain and not loginBean.isRegistrationLinkHidden(pageCssBean.subdomainValue)}">
									<a href="#userMaintenance" data-toggle="modal">User Maintenance</a>
		                        </h:panelGroup>
		                        <h:panelGroup rendered="#{not loginBean.requiresUserMaintenance and loginBean.isNovantSubdomain and not loginBean.isRegistrationLinkHidden(pageCssBean.subdomainValue)}">
		                            <a href="#{loginBean.novantRegistrationInfoPage}" class="btn btn-info" style="background:green;border-color: green;">Employee Discount Program</a>
		                        </h:panelGroup>
	                        </div>
               			</h:panelGroup>
               			<h:panelGroup rendered="#{loginBean.requiresDirectAccess}">
               				<!-- For "requires direct access", just a "shop now" button will be displayed -->
	                        <div id="loginShopNowBtn">
	                            <h:commandButton id="shopNowBtn" value="Shop Now" styleClass="btn btn-primary pull-right" />
	                        </div>
               			</h:panelGroup>
               		</fieldset>
               	</form>
            </div>
        </div>
        
        <!-- LOGIN MODALS BEGIN -->
        <!-- RESET PASSWORD MODAL -->
		<c:if test="#{not loginBean.requiresDirectAccess and not loginBean.isResetPasswordLinkHidden(pageCssBean.subdomainValue)}">
        	<div id="passwordReset" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <h:form id="modalForm1">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">Reset Password</h3>
					</div>
		            <div class="modal-body">
						<h:outputLabel value="Enter Username:" />
						<h:inputText value="#{loginBean.passResetUsername}" />
					</div>
		            <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<h:commandButton value="Submit" action="#{loginBean.resetPassword()}" styleClass="btn btn-primary">
							<f:ajax execute="@form" onevent="modalEventHandler"/>
						</h:commandButton>
					</div>
				</h:form>
            </div>
		</c:if>
		<!-- USER MAINTENANCE MODAL -->
		<c:if test="#{not loginBean.requiresDirectAccess and not loginBean.isRegistrationLinkHidden(pageCssBean.subdomainValue)}">
            <div id="userMaintenance" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            		<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">User Maintenance</h3>
					</div>
		            <div class="modal-body">
		            	<form action="#{loginBean.createUserUrl}">
		            		<button class="userMaintenanceBtns">Create User</button>
		            	</form>
		            	<form action="#{loginBean.addLocationUrl}">
		            		<button style="margin-top:-20px" class="userMaintenanceBtns">Add Location</button>
		            	</form>
		            	<form action="#{loginBean.changeUserUrl}">
		            		<button style="margin-top:20px" class="userMaintenanceBtns">Change/Remove User</button>
		            	</form>
		            	<form action="#{loginBean.changeLocationUrl}">
		            		<button style="margin-top:20px" class="userMaintenanceBtns">Change/Remove Location</button>
		            	</form>
		            	
					</div>
		            <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>						
					</div>                
            </div>
		</c:if>
		<!-- RECOMMENDED BROWSERS MODAL -->
		<div id="bestViewingExp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
             <h:form id="modalForm2">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h3 id="myModalLabel">Recommeded Browsers</h3>
                 </div>
                 <div class="modal-body">
                     <div>
                     <b>For the best shopping experience, please, use one of these recommend browsers:</b>
                     </div>
                     <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                         <img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/Websites/IE.png" width="100px" height="100px"/>
                         #{display['login.ieVersion']}
                     </div>
                     <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                         <img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/Websites/Chrome.png" width="100px" height="100px"/>
                         #{display['login.chromeVersion']}
                     </div>
                     <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                         <img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/Websites/Firefox.png" width="100px" height="100px"/>
                         #{display['login.firefoxVersion']}
                     </div>
                     <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                         <img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/Websites/Safari.png" width="100px" height="100px"/>
                         #{display['login.safariVersion']}
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                 </div>
             </h:form>
		</div>
		<!-- LOGIN MODALS END -->

</ui:composition>