<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<f:metadata>
	<f:viewParam name="punchoutToken"
		value="#{loginBean.punchoutSessionToken}" required="false" />
	<f:event type="preRenderView"
		listener="#{loginBean.validatePunchoutSessionToken()}" />
</f:metadata>

<h:body>
	<p>Invalid Request.  Please contact customer service #{propertiesBean.get('tenant','customerServicePhoneNumber')}</p>
</h:body>
</html>