<!DOCTYPE html> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceOrderHistoryTemplate.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{orderHistoryBean.retrieve}"/>
    </f:metadata>

    <ui:define name="page_content">
        <div class="row apdCenter container">	
            <div class="span6 shoppoingCart-Header">
                <h3>#{display['history.title']}</h3>
            </div>
        </div>
        <div class="row apdCenter container">	
            <h:form id="orderHistoryForm">
                <div class="row-fluid">
                    <ui:include src="/WEB-INF/components/inserts/order/orderSearch.xhtml"/>  
                    <ui:include src="/WEB-INF/components/inserts/order/orderResults.xhtml"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
