<!DOCTYPE html> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceOrderDetailsTemplate.xhtml">

    <ui:define name="page_content">
        <div class="row apdMarginTop container">
        <div class="row-fluid">
            <div class="span12 fl-wrapper">
                <div class="span8 orderHeader">
                    <div>
                        <h3>#{display['checkout.title']}#{orderDetailsBean.currentOrder.apdPo.value}</h3> 
                    </div>
                </div>

                <!-- ==== TOP LINKS ==== --> 
                <div class="shoppingBtns pull-right orderBtnRight">
                    <div class="rightSideBtn">
                        <h:form>
                            <span id="j_idt48"><em class="icon-backward"></em> 
                                <p><h:commandLink action="#{orderDetailsBean.returnToResults}">
                                        Return to Order Results</h:commandLink></p>
                            </span>  
                        </h:form>
                    </div>

                </div>
                <div class="clearfix"></div>
                <!-- ==== TOP LINKS END ==== --> 

                <div class="row-fluid">
                    <h:form class="span9 fl-container orderDetails">
                    	<div class="row-fluid">
                        <div class="span12 divInside-Fade">
                            <h5>#{display['results.history.title']}</h5>  
                        </div>
                        </div>

						<div class="row-fluid">
                        <div class="span12 headerBkgrd-pd mobileHide">
                            <div class="span2"><h4>Date</h4></div>
                            <div class="span4"><h4>Event/Notification</h4></div>
                            <div class="span4"><h4>Recipient</h4></div>
                            <div class="span2 pull-right"><h4>Actions</h4></div>
                            <div class="clearfix"></div>
                        </div>
                        </div>
						<a4j:repeat value="#{orderDetailsBean.orderNotifications}" var="notification">
							<div class="row-fluid">
	                        <div class="span12 headerBkgrd-pd mobileHide">
	                            <div class="span2">
	                            	<h:outputText value="#{notification.updateTimestamp != null ? notification.updateTimestamp : notification.messageMetadata.messageDate}">
	                            		<f:convertDateTime pattern="yyyy-MM-dd" />
	                            	</h:outputText>
	                            </div>
	                            <div class="span4"><h:outputText rendered="#{notification.eventType != null}" value="#{notification.eventType.label}" /></div>
	                            <div class="span4">#{notification.messageMetadata.destination}</div>
	                            <div class="span2 pull-right">
	                            	<a4j:commandButton value="Resend" action="#{orderDetailsBean.specifyToResend(notification)}" onclick="waitOnNextAjax();"
										render=":resendNotificationsModalDiv" styleClass="btn" 
										oncomplete="$('#resendNotificationsModal').modal('show'); return false;" />
								</div>
	                            <div class="clearfix"></div>
	                        </div>
	                        </div>
                        </a4j:repeat>

                    </h:form>

                    <!-- ====== INVOCE BOX ======= -->         
                    <div class="span3 pull-right orderBox">

                        <div>
                            <h5>Tracking Number(s)</h5>
                        </div>

                        <div>
                            <div class="span12">
								<a4j:repeat value="#{orderDetailsBean.trackingNumbers}" var="trackingNumber">
								#{trackingNumber} <br />
								</a4j:repeat>
                                <hr/>
                            </div>
                        </div>

                        <div>
                            <h5>Order Date</h5>
                            <p>
                           	<h:outputText value="#{orderDetailsBean.currentOrder.orderDate}">
                           		<f:convertDateTime pattern="yyyy-MM-dd" />
                           	</h:outputText>
							</p>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="row-fluid">
            <div class="accordion" id="accordion">
                <div class="span12 fl-wrapper">
                    <ui:include src="/cashout/orderBilling.xhtml">
                        <ui:param name="page" value="#{orderDetailsBean.pageValues}" />
                        <ui:param name="isReadOnly" value="#{true}" />
                    </ui:include>
                    <ui:include src="/cashout/orderShipping.xhtml">
                        <ui:param name="page" value="#{orderDetailsBean.pageValues}" />
                        <ui:param name="isReadOnly" value="#{true}" />
                    </ui:include>
                    <ui:include src="/cashout/orderContent.xhtml">
                           <ui:param name="page" value="#{orderDetailsBean.pageValues}" />
                           <ui:param name="liToProduct" value="#{lineItemToProduct}" />
                           <ui:param name="order" value="#{orderDetailsBean.currentOrder}" />
                           <ui:param name="isReadOnly" value="#{true}" />
                    </ui:include>
                    <h:form>
                    <c:if test="#{orderDetailsBean.currentOrder.status.value eq 'QUOTED'}">
                        <h:commandLink action="#{orderDetailsBean.placeOrder()}" 
                                         styleClass="checkoutBtn placeOrder" id="placeOrder" value="PLACE ORDER" />
                    </c:if>
                    <c:if test="#{orderDetailsBean.canReOrder()}">
                        <h:commandLink action="#{orderDetailsBean.reOrder()}" 
                                         styleClass="checkoutBtn placeOrder" id="placeOrder" value="RE-ORDER" />
                    </c:if>
					<a4j:commandLink value='Add Order Items To Cart' styleClass="checkoutBtn" action="#{shoppingCartBean.addOrderItemsToCart(orderDetailsBean.currentOrder)}"
					                   oncomplete="window.location.href='#{linksBean.cart}'"/>
                    </h:form>
            </div>
        </div>
        </div>
        <div id="push"></div>
        
        </div>
	   
		<div id="resendNotificationsModal" class="modal hide fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<h:form id="resendNotificationsModalForm">
			<h:panelGroup id="resendNotificationsModalDiv">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">Resend Notification</h3>
				</div>
	            <div class="modal-body">
					<h:outputLabel value="Specify an address to resend the notification to:" /><br />
					<h:inputText value="#{orderDetailsBean.resendEmailRecipient}"/>
				</div>
	            <div class="modal-footer">
		            <a4j:commandButton value="Resend" styleClass="btn btn-primary" onclick="$('#resendNotificationsModal').modal('hide');" action="#{orderDetailsBean.getResendEmailRecipient()}"
		            	oncomplete="resendNotificationFromDetails(); $('#notificationsConfirmModal').modal('show'); return false;" />
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				</div>
			</h:panelGroup>
			</h:form>
		</div>
		
		<div id="notificationsConfirmModal" class="modal hide fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<h:form id="notificationsConfirmModalForm">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">Notification Resent</h3>
				</div>
	            <div class="modal-body">
					<h:outputLabel value="The notification has been resent." />
				</div>
	            <div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</h:form>
		</div>
    </ui:define>
</ui:composition>

