@charset "UTF-8";
/*
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright (c) 2011, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
*/
/* Core styles for the page */
/*body {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        background-color: #5F5F5F;
        background-color: #FFF;
        color: #EFEFEF;
        color: rgb(0, 0, 0);
        font-size: 13px;
        padding-top: 67px;
        text-align: center;
        font-family: AppleMyungjo
}*/

#main {
    background-color: #C7C9BE;
}

#container {
    background: #5f5f5f;
    box-shadow: 0 5px 8px rgba(100, 100, 100, 0.8);
}

/*.container-fluid {
        width: 940px;
        margin: 0 auto;
        padding: 30px 0 10px 30px;
}*/

section {
    float: left;
    width: 555px;
    margin: 20px;
}

aside {
    font-size: 0.9em;
    width: 220px;
    float: left;
    margin: 20px 0px;
    border: 1px solid #666666;
    background: #EAECEE;
    padding: 20px;
}

aside ul {
    padding-left: 30px;
}

code {
    font-size: 0.9em;
}

a {
    color: #0e5974;
}


h1,h2,h3,h4,h5,h6 {
    color: #41484A;
    text-shadow: 0 1px 0 #ffffff;
}

/*h1 {
    padding-top: 55px;
}*/

table {
    border: hidden 1px #000000;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Member registration styles */
span.invalid {
    padding-left: 3px;
    color: red;
}

/*label {
        float: left;
        width: 15%;
        margin-left: 20px;
        margin-right: 0.5em;
        padding-top: 0.2em;
        text-align: right;
        font-weight: bold;
}*/

/*#register {
        float: left;
        margin-left: 85px;
}*/

/*
 * Header/footer
 */
.forgecontainer {
    background-color: #F2F2F2;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*	box-shadow: 0 2px 4px #000000;*/
    margin-top: 40px;
    padding: 5px 5px 10px 5px;
}

/*footer {
        clear: both;
        color: #c1c1c1;
        font-size: 0.85em;
        width: 100%;
        margin: 0px;
        padding-top: 20px;
        text-shadow: none;
        font-size: 12px;
        text-align: center;
}*/

footer #footer-wrapper {
    margin: 0 auto;
}

footer a {
    color: #bac9d1;
}

footer p {
    line-height: 10px;
}

/*
 * Navigation
 */
#navigation {
    float: left;
    margin-left: 5px;
    margin-top: 75px;
}

#navigation h3 {
    margin: 0 0 10px 10px;
}

/*#navigation ul {
        padding: 1px;
        border-radius: 5px;
        text-align: left;
        margin-left: 0;
        background-color: #fff;
        box-shadow: 0px 1px 3px #afafaf;
}*/

#navigation ul li {
    list-style: none;
}

#navigation a,#navigation li.nav-header,#navigation li.nav-header a {
    display: block;
    color: #867F10;
    font-weight: bold;
    padding: 3px;
    text-decoration: none;
    padding-left: 10px;
}

#navigation li.nav-header {
    margin-top: 5px;
}

#navigation a {
    padding-left: 15px;
    color: #444444;
}

#navigation li.nav-header a {
    margin-left: -10px;
    margin-top: 5px;
    color: #867F10;
}

#navigation li.nav-header a:hover {
    color: #6a640b;
}

#navigation a:hover,#navigation a.current:hover {
    border-radius: 0px;
    background-color: #edecec;
    color: #0E5974;
    text-decoration: none;
}

#navigation a.current {
    border-radius: 0px;
    background-color: #DDDDDD;
    color: #0E5974;
    text-decoration: none;
}

#navigation a#homeLink {
    border: none;
}

#navigation a#homeLink:hover {
    background-color: transparent;
    border: none;
    text-decoration: none;
}

/*
 * Content
 */
#content {
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

#content .search {
    display: block;
    background-image: url(search.png);
    background-position: 30px 3px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    padding-left: 70px;
}

/*#content .search .buttons {
        text-align: left;
        padding-left: 25%;
}*/

/*#content table .label {
        width: 25%;
        text-align: left;
        vertical-align: top;
        white-space: nowrap;
}*/

/*#content table .component {
        width: 75%;
        text-align: left;
        vertical-align: top;
}*/

#content table .component input {
    width: 95%;
}

#content table .component select {
    width: 96.6%
}

#content table .component input[type="checkbox"],#content table .component .rf-cal-inp,#content table .component .rf-insl-inp,#content table .component .rf-insp-inp
{
    width: auto;
}

/*#content .boolean-false {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(false.png);
}*/

/*#content .boolean-true {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(true.png);
}*/

#content .data-table .boolean-true {
    margin: auto;
}

#content .data-table .boolean-false {
    margin: auto;
}

#content .error {
    color: red;
    font-size: 10pt;
    text-align: left;
}

#content table .required {
    width: 1%;
    color: red;
    padding-top: 7pt;
    padding-left: 4pt;
    font-size: 20pt;
    line-height: 8pt;
    font-weight: bold;
}

#content .data-table {
    width: 100%;
    border: 1px solid #cccccc;
    margin-bottom: 7px;
}

#content .data-table thead th {
    background-color: #dddddd;
    border-bottom: 1px solid #cccccc;
}

#content .data-table thead th,#content .data-table tbody td,#content .data-table tfoot td
{
    text-align: left;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#content .data-table tfoot td {
    padding-right: 4px;
}

#content .data-table tbody tr:nth-child(2n) {
    background-color: #eeeeee;
}

#content .data-table tbody tr:hover,#content .data-table tfoot tr:hover
{
    background-color: #d2e8f2;
}

#content .data-table tbody tr a {
    display: block;
    color: #5b5b5b;
    text-decoration: none;
}

#content .remove-column {
    width: 1%;
    text-align: center;
}

#content .data-table .remove-button {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(remove.png);
}

#content .data-table-footer {
    width: 50%;
    margin-left: 50%;
    margin-top: 5px;
}

#content .data-table-footer select {
    width: 50%;
    /*height: 30px;*/
    vertical-align: middle;
    margin-right: 5px;
}

#content .data-table tfoot select {
    line-height: 30px;
    vertical-align: middle;
}

#content .add-button {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(add.png);
}

#content .buttons {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

#content .button,#content .buttons a {
    text-decoration: none;
    margin-right: 5px;
}

#content .button:hover,#content .buttons a:hover {
    background-color: #979026;
}

#content .paginator {
    display: block;
    text-align: right;
    padding-bottom: 5px;
}

#content .paginator-content {
    margin-left: 5px;
    margin-right: 5px;
}

#content h1 {
    border-bottom: 1px solid #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 49px;
    font-weight: 300;
    letter-spacing: -2px;
    padding-bottom: 10px;
}

#content h2 {
    color: #867f10;
    line-height: 46px;
    padding-top: 5px;
    border-top: 1px solid #ccc;
}

#content h2.success {
    color: #5d8a10;
    line-height: 46px;
    padding: 5px 0 20px 35px;
    border-top: 1px solid #ccc;
    background: url(true.png) no-repeat 0px 15px transparent;
}

#content p {
    padding-left: 25px;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
{
    margin-bottom: 5px;
    margin-top: 5px;
    height: 32px;
    length: 283px;
}

/* Label */
.label {
    background-color: transparent;
    text-shadow: 0 1px 0 #EFEFEF;
    color: #41484A;
}

label {
    font-weight: bold;
}

#menu {
    width: auto;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    background: #CCC;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.13), 0 -1px 0 rgba(0, 0, 0, 0.01)
        inset;
}

.row-fluid h3 {
    text-shadow: 0 1px 1px #fff;
}



.row-fluid .carousel-inner img {
    float: none;
}



p.logo {
    display: block;
    padding: 8px;
    float: right;
    margin-top: 120px;
    padding-right: 20px;
}

/* Navbar */
.navbar {
    margin: 0 auto;
}

.navbar-inner {
    border-radius: 0px;
    box-shadow: none;
}

.navbar .nav>li>a {
    font-size: 14px;
    color: #b5b5b5;
}

.navbar .nav>li>a:hover,.navbar .nav>li>a.current {
    color: #8ebf3a;
}

.navbar .brand {
    font-weight: bold;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
}

.navbar-inner {
	background-image: #195A81;
    border-top: 2px solid #000000;
      background-image: -moz-linear-gradient(top, #195A81, #195A81);
    background-image: -ms-linear-gradient(top, #195A81, #195A81);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#195A81),
        to(#195A81) );
    background-image: -webkit-linear-gradient(top, #195A81, #195A81);
    background-image: -o-linear-gradient(top, #195A81, #195A81);
    background-image: linear-gradient(top, #195A81, #195A81);
    background-image: -moz-linear-gradient(center top, #195A81, #195A81);
	/*
    background-image: -moz-linear-gradient(top, #083847, #04202E);
    background-image: -ms-linear-gradient(top, #083847, #04202E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#083847),
        to(#04202E) );
    background-image: -webkit-linear-gradient(top, #083847, #04202E);
    background-image: -o-linear-gradient(top, #083847, #04202E);
    background-image: linear-gradient(top, #083847, #04202E);
    background-image: -moz-linear-gradient(center top, #083847, #04202E);
    */
}

.navbar-fixed-top .brand {
    color: #FFF;
}

/* Carousel */
.carousel-control {
    border: none;
}

.carousel-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.70);
    padding: 10px 15px;
}

.carousel-caption h4,.carousel-caption p {
    color: #fff;
    margin-top: 10px;
}

.carousel-caption h4 {
    color: #ce4240;
    font-size: 32px;
    text-shadow: 0 2px 2px #000;
    font-family: 'Rokkitt', serif;
    font-weight: normal;
}

.carousel-caption p {
    width: 510px;
    float: left;
    color: #fff;
    font-weight: bold;
}

.carousel-caption .btn btn-danger {
    float: right;
}

/* Selection */
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,select:focus
{
    outline: thin solid #09F;
}

/* Buttons */
/*.btn:focus,a:focus {
        border: 0;
        outline: none;
}*/

select:focus {
    border: 1px solid #CCC;
}

/*button::-moz-focus-inner {
        border: 0;
}

.btn-primary {
        background-color: #817B10;  dk gold 
        *background-color: #817B10;
        background-image: -ms-linear-gradient(top, #B0A826, #979026);
         light gold, med gold 
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B0A826),
                to(#979026) );
        background-image: -webkit-linear-gradient(top, #B0A826, #979026);
        background-image: -o-linear-gradient(top, #B0A826, #979026);
        background-image: -moz-linear-gradient(top, #B0A826, #979026);
        background-image: linear-gradient(top, #B0A826, #979026);
        background-repeat: repeat-x;
        border-color: #979026 #979026 #7C7301;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#B0A826',
                endColorstr='#979026', GradientType=0 );
        filter: progid:dximagetransform.microsoft.gradient(enabled=false );
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-weight: bold;
        text-align: center;
        float: right;
        color: #fff !important;
        padding: 8px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-box-shadow: 0px 1px 2px rgba(137, 137, 137, 0.8);
        -webkit-box-shadow: 0px 1px 3px rgba(137, 137, 137, 0.8);
        box-shadow: 0px 1px 3px rgba(137, 137, 137, 0.8);
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]
        {
        background-color: #979026;
        *background-color: #979026;
}

.btn-primary:active,.btn-primary.active {
        background-color: #979026 \9;
}

a.btn-primary:active {
        font-weight: bold;
        color: #fff !important;
        background: #817B10;
        padding: 8px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

a.btn-danger:hover,a.btn-primary:hover {
        font-weight: bold;
        color: #fff !important;
        background: #817B10;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}*/

/* Input */
input,textarea,select,.uneditable-input {

}

/* Table */
#ticketSummaryView {
    padding: 0px 0px 25px 0;
}

.table-bordered tr {
    font-size: 13px;
    color: #666;
}

.table-bordered th {
    font-size: 13px;
    color: #333;
    background-color: #edf4ea;
}

h2.page-header {
    border-bottom: 1px solid #757575;
}

.page-header {
    border-bottom: 1px solid #DDDCDC;
    margin: 10px 0 18px 0;
}

h4.page-header {
    font-size: 16px;
}

#navigation_workArea {
    width: 940px;
    height: 721px;
}

.column1 {
    width: 310px;
    height: 100%;
    vertical-align: top;
    text-align: left;
}

.column2 {
    width: 610px;
    height: 100%;
    vertical-align: top;
    text-align: left;
    margin: 10px;
}

/*#workAreaColumn {
        width: 100%;
        height: 100%;
        padding: 10px;
}*/

div {

}

/*.buttons {
        margin: 5px;
        width: 100%;
        height: 40px:
}*/

/*.a {
        text-align: center;
        padding: 2px;
        margin-left: 50px;
        margin-right: 50px;
}*/
@charset "UTF-8";
/*
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright (c) 2011, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
*/
/* Core styles for the page */
/*body {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        background-color: #5F5F5F;
        background-color: #FFF;
        color: #EFEFEF;
        color: rgb(0, 0, 0);
        font-size: 13px;
        padding-top: 67px;
        text-align: center;
        font-family: AppleMyungjo
}*/

#main {
    background-color: #C7C9BE;
}

#container {
    background: #5f5f5f;
    box-shadow: 0 5px 8px rgba(100, 100, 100, 0.8);
}

/*.container-fluid {
        width: 940px;
        margin: 0 auto;
        padding: 30px 0 10px 30px;
}*/

section {
    float: left;
    width: 555px;
    margin: 20px;
}

aside {
    font-size: 0.9em;
    width: 220px;
    float: left;
    margin: 20px 0px;
    border: 1px solid #666666;
    background: #EAECEE;
    padding: 20px;
}

aside ul {
    padding-left: 30px;
}

code {
    font-size: 0.9em;
}

a {
    color: #0e5974;
}


h1,h2,h3,h4,h5,h6 {
    color: #41484A;
    text-shadow: 0 1px 0 #ffffff;
}

/*h1 {
    padding-top: 55px;
}*/

table {
    border: hidden 1px #000000;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Member registration styles */
span.invalid {
    padding-left: 3px;
    color: red;
}

/*label {
        float: left;
        width: 15%;
        margin-left: 20px;
        margin-right: 0.5em;
        padding-top: 0.2em;
        text-align: right;
        font-weight: bold;
}*/

/*#register {
        float: left;
        margin-left: 85px;
}*/

/*
 * Header/footer
 */
.forgecontainer {
    background-color: #F2F2F2;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*	box-shadow: 0 2px 4px #000000;*/
    margin-top: 40px;
    padding: 5px 5px 10px 5px;
}

/*footer {
        clear: both;
        color: #c1c1c1;
        font-size: 0.85em;
        width: 100%;
        margin: 0px;
        padding-top: 20px;
        text-shadow: none;
        font-size: 12px;
        text-align: center;
}*/

footer #footer-wrapper {
    margin: 0 auto;
}

footer a {
    color: #bac9d1;
}

footer p {
    line-height: 10px;
}

/*
 * Navigation
 */
#navigation {
    float: left;
    margin-left: 5px;
    margin-top: 75px;
}

#navigation h3 {
    margin: 0 0 10px 10px;
}

/*#navigation ul {
        padding: 1px;
        border-radius: 5px;
        text-align: left;
        margin-left: 0;
        background-color: #fff;
        box-shadow: 0px 1px 3px #afafaf;
}*/

#navigation ul li {
    list-style: none;
}

#navigation a,#navigation li.nav-header,#navigation li.nav-header a {
    display: block;
    color: #867F10;
    font-weight: bold;
    padding: 3px;
    text-decoration: none;
    padding-left: 10px;
}

#navigation li.nav-header {
    margin-top: 5px;
}

#navigation a {
    padding-left: 15px;
    color: #444444;
}

#navigation li.nav-header a {
    margin-left: -10px;
    margin-top: 5px;
    color: #867F10;
}

#navigation li.nav-header a:hover {
    color: #6a640b;
}

#navigation a:hover,#navigation a.current:hover {
    border-radius: 0px;
    background-color: #edecec;
    color: #0E5974;
    text-decoration: none;
}

#navigation a.current {
    border-radius: 0px;
    background-color: #DDDDDD;
    color: #0E5974;
    text-decoration: none;
}

#navigation a#homeLink {
    border: none;
}

#navigation a#homeLink:hover {
    background-color: transparent;
    border: none;
    text-decoration: none;
}

/*
 * Content
 */
#content {
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

#content .search {
    display: block;
    background-image: url(search.png);
    background-position: 30px 3px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    padding-left: 70px;
}

/*#content .search .buttons {
        text-align: left;
        padding-left: 25%;
}*/

/*#content table .label {
        width: 25%;
        text-align: left;
        vertical-align: top;
        white-space: nowrap;
}*/

/*#content table .component {
        width: 75%;
        text-align: left;
        vertical-align: top;
}*/

#content table .component input {
    width: 95%;
}

#content table .component select {
    width: 96.6%
}

#content table .component input[type="checkbox"],#content table .component .rf-cal-inp,#content table .component .rf-insl-inp,#content table .component .rf-insp-inp
{
    width: auto;
}

/*#content .boolean-false {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(false.png);
}*/

/*#content .boolean-true {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(true.png);
}*/

#content .data-table .boolean-true {
    margin: auto;
}

#content .data-table .boolean-false {
    margin: auto;
}

#content .error {
    color: red;
    font-size: 10pt;
    text-align: left;
}

#content table .required {
    width: 1%;
    color: red;
    padding-top: 7pt;
    padding-left: 4pt;
    font-size: 20pt;
    line-height: 8pt;
    font-weight: bold;
}

#content .data-table {
    width: 100%;
    border: 1px solid #cccccc;
    margin-bottom: 7px;
}

#content .data-table thead th {
    background-color: #dddddd;
    border-bottom: 1px solid #cccccc;
}

#content .data-table thead th,#content .data-table tbody td,#content .data-table tfoot td
{
    text-align: left;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#content .data-table tfoot td {
    padding-right: 4px;
}

#content .data-table tbody tr:nth-child(2n) {
    background-color: #eeeeee;
}

#content .data-table tbody tr:hover,#content .data-table tfoot tr:hover
{
    background-color: #d2e8f2;
}

#content .data-table tbody tr a {
    display: block;
    color: #5b5b5b;
    text-decoration: none;
}

#content .remove-column {
    width: 1%;
    text-align: center;
}

#content .data-table .remove-button {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(remove.png);
}

#content .data-table-footer {
    width: 50%;
    margin-left: 50%;
    margin-top: 5px;
}

#content .data-table-footer select {
    width: 50%;
    /*height: 30px;*/
    vertical-align: middle;
    margin-right: 5px;
}

#content .data-table tfoot select {
    line-height: 30px;
    vertical-align: middle;
}

#content .add-button {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(add.png);
}

#content .buttons {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

#content .button,#content .buttons a {
    text-decoration: none;
    margin-right: 5px;
}

#content .button:hover,#content .buttons a:hover {
    background-color: #979026;
}

#content .paginator {
    display: block;
    text-align: right;
    padding-bottom: 5px;
}

#content .paginator-content {
    margin-left: 5px;
    margin-right: 5px;
}

#content h1 {
    border-bottom: 1px solid #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 49px;
    font-weight: 300;
    letter-spacing: -2px;
    padding-bottom: 10px;
}

#content h2 {
    color: #867f10;
    line-height: 46px;
    padding-top: 5px;
    border-top: 1px solid #ccc;
}

#content h2.success {
    color: #5d8a10;
    line-height: 46px;
    padding: 5px 0 20px 35px;
    border-top: 1px solid #ccc;
    background: url(true.png) no-repeat 0px 15px transparent;
}

#content p {
    padding-left: 25px;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
{
    margin-bottom: 5px;
    margin-top: 5px;
    height: 32px;
    length: 283px;
}

/* Label */
.label {
    background-color: transparent;
    text-shadow: 0 1px 0 #EFEFEF;
    color: #41484A;
}

label {
    font-weight: bold;
}

#menu {
    width: auto;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    background: #CCC;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.13), 0 -1px 0 rgba(0, 0, 0, 0.01)
        inset;
}

.row-fluid h3 {
    text-shadow: 0 1px 1px #fff;
}



.row-fluid .carousel-inner img {
    float: none;
}



p.logo {
    display: block;
    padding: 8px;
    float: right;
    margin-top: 120px;
    padding-right: 20px;
}

/* Navbar */
.navbar {
    margin: 0 auto;
}

.navbar-inner {
    border-radius: 0px;
    box-shadow: none;
}

.navbar .nav>li>a {
    font-size: 14px;
    color: #b5b5b5;
}

.navbar .nav>li>a:hover,.navbar .nav>li>a.current {
    color: #8ebf3a;
}

.navbar .brand {
    font-weight: bold;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
}

.navbar-inner {
	background-image: #195A81;
    border-top: 2px solid #000000;
      background-image: -moz-linear-gradient(top, #195A81, #195A81);
    background-image: -ms-linear-gradient(top, #195A81, #195A81);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#195A81),
        to(#195A81) );
    background-image: -webkit-linear-gradient(top, #195A81, #195A81);
    background-image: -o-linear-gradient(top, #195A81, #195A81);
    background-image: linear-gradient(top, #195A81, #195A81);
    background-image: -moz-linear-gradient(center top, #195A81, #195A81);
	/*
    background-image: -moz-linear-gradient(top, #083847, #04202E);
    background-image: -ms-linear-gradient(top, #083847, #04202E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#083847),
        to(#04202E) );
    background-image: -webkit-linear-gradient(top, #083847, #04202E);
    background-image: -o-linear-gradient(top, #083847, #04202E);
    background-image: linear-gradient(top, #083847, #04202E);
    background-image: -moz-linear-gradient(center top, #083847, #04202E);
    */
}

.navbar-fixed-top .brand {
    color: #FFF;
}

/* Carousel */
.carousel-control {
    border: none;
}

.carousel-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.70);
    padding: 10px 15px;
}

.carousel-caption h4,.carousel-caption p {
    color: #fff;
    margin-top: 10px;
}

.carousel-caption h4 {
    color: #ce4240;
    font-size: 32px;
    text-shadow: 0 2px 2px #000;
    font-family: 'Rokkitt', serif;
    font-weight: normal;
}

.carousel-caption p {
    width: 510px;
    float: left;
    color: #fff;
    font-weight: bold;
}

.carousel-caption .btn btn-danger {
    float: right;
}

/* Selection */
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,select:focus
{
    outline: thin solid #09F;
}

/* Buttons */
/*.btn:focus,a:focus {
        border: 0;
        outline: none;
}*/

select:focus {
    border: 1px solid #CCC;
}

/*button::-moz-focus-inner {
        border: 0;
}

.btn-primary {
        background-color: #817B10;  dk gold 
        *background-color: #817B10;
        background-image: -ms-linear-gradient(top, #B0A826, #979026);
         light gold, med gold 
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B0A826),
                to(#979026) );
        background-image: -webkit-linear-gradient(top, #B0A826, #979026);
        background-image: -o-linear-gradient(top, #B0A826, #979026);
        background-image: -moz-linear-gradient(top, #B0A826, #979026);
        background-image: linear-gradient(top, #B0A826, #979026);
        background-repeat: repeat-x;
        border-color: #979026 #979026 #7C7301;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#B0A826',
                endColorstr='#979026', GradientType=0 );
        filter: progid:dximagetransform.microsoft.gradient(enabled=false );
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-weight: bold;
        text-align: center;
        float: right;
        color: #fff !important;
        padding: 8px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-box-shadow: 0px 1px 2px rgba(137, 137, 137, 0.8);
        -webkit-box-shadow: 0px 1px 3px rgba(137, 137, 137, 0.8);
        box-shadow: 0px 1px 3px rgba(137, 137, 137, 0.8);
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]
        {
        background-color: #979026;
        *background-color: #979026;
}

.btn-primary:active,.btn-primary.active {
        background-color: #979026 \9;
}

a.btn-primary:active {
        font-weight: bold;
        color: #fff !important;
        background: #817B10;
        padding: 8px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

a.btn-danger:hover,a.btn-primary:hover {
        font-weight: bold;
        color: #fff !important;
        background: #817B10;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}*/

/* Input */
input,textarea,select,.uneditable-input {

}

/* Table */
#ticketSummaryView {
    padding: 0px 0px 25px 0;
}

.table-bordered tr {
    font-size: 13px;
    color: #666;
}

.table-bordered th {
    font-size: 13px;
    color: #333;
    background-color: #edf4ea;
}

h2.page-header {
    border-bottom: 1px solid #757575;
}

.page-header {
    border-bottom: 1px solid #DDDCDC;
    margin: 10px 0 18px 0;
}

h4.page-header {
    font-size: 16px;
}

#navigation_workArea {
    width: 940px;
    height: 721px;
}

.column1 {
    width: 310px;
    height: 100%;
    vertical-align: top;
    text-align: left;
}

.column2 {
    width: 610px;
    height: 100%;
    vertical-align: top;
    text-align: left;
    margin: 10px;
}

/*#workAreaColumn {
        width: 100%;
        height: 100%;
        padding: 10px;
}*/

div {

}

/*.buttons {
        margin: 5px;
        width: 100%;
        height: 40px:
}*/

/*.a {
        text-align: center;
        padding: 2px;
        margin-left: 50px;
        margin-right: 50px;
}*/
