#searchBlock{
    padding-bottom: 25px;
}
#vendorBlock{
    padding-bottom: 25px;
}

#labelblock{
    float: left;
}
.labelSpan{
    display:block;
}

.collapse.in {
	overflow: visible;
}

#work\:hierarchy .well label {
	color:#34495e;
}
