amq.amqp.connector={{ amq_amqp_connector }}
amq.openwire.connector={{ amq_openwire_connector }}

amq.catalog.amqp.connector={{ amq_catalog_amqp_connector }}
amq.catalog.openwire.connector={{ amq_catalog_openwire_connector }}

amq.tempUsage.limitSize={{ amq_temp_usage_limit_size }}
amq.memoryUsage.limitSize={{ amq_memory_usage_limit_size }}
amq.catalog.storeUsage.limitSize={{ amq_catalog_store_usage_limit_size }}
amq.destinationPolicy.memoryLimit.size={{ amq_destination_policy_memory_limit_size }}
amq.brokerName={{ amq_broker_name }}
amq.catalog.brokerName={{ amq_catalog_broker_name }}

amq.catalog.brokerUris={{ amq_catalog_server_list_static }}

db.url=jdbc:mysql://{{ db_url }}:{{ db_port }}/amqbroker?relaxAutoCommit=true&autoReconnect=true
db.username={{ amq_db_username }}
db.password={{ amq_db_password }}
db.maxActive={{ amq_db_max_active }}
db.poolPreparedStatements={{ amq_db_pool_prepared_statements }}
