<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    <h:outputStylesheet library="css" name="override-styling.css" />
	
    <h:panelGroup styleClass="accordion-group" layout="block">
        <div class="accordion-heading divInside-Fade">
            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseDownloads">
                <h5>Catalog CSV Downloads<div class="arrowUp arrowDown">&nbsp;</div></h5></a>

        </div>
        <div id="collapseDownloads" class="accordion-body collapse in" style="height: auto;">
        <h:panelGroup styleClass="accordion-inner" layout="block">
        
        <div class="row-fluid">
        	<div class="span6">
        		CSV Type
        	</div>
        	<div class="span6">
        		Download Link
        	</div>
        </div>
        
        <div class="row-fluid">
        	<div class="span6">
        		Staged Upload CSV
        	</div>
        	<div class="span6">
        		<h:commandLink id="staged" value="Download" immediate="true" action="#{catalogBean.downloadStagedCatalog()}" />
        	</div>
        </div>
        
        <div class="row-fluid">
        	<div class="span6">
        		CSV Upload Report
        	</div>
        	<div class="span6">
        		<h:commandLink id="uploadReport" value="Download" immediate="true" action="#{catalogBean.uploadReport()}" />
        	</div>
        </div>
        
        <div class="row-fluid">
        	<div class="span6">
        		Generated Catalog CSV
        	</div>
        	<div class="span6">
        		<h:commandLink id="catalogCsv" value="Download" immediate="true" action="#{catalogBean.downloadCatalog()}" />
        	</div>
        </div>
        <h:panelGroup rendered="#{!catalogBean.isVendorCatalog()}">
	        <div class="row-fluid">
	        	<div class="span6">
	        		Generated Smart OCI
	        	</div>
	        	<div class="span6">
	        		<h:commandLink id="smartOci" value="Download" immediate="true" action="#{catalogBean.downloadSmartOci()}" />
	        	</div>
	        </div>
	   </h:panelGroup>			 
	</h:panelGroup>
	</div>
	</h:panelGroup>
	
</ui:composition>
