<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    <h:outputStylesheet library="css" name="override-styling.css" />
	
    <h:panelGroup styleClass="accordion-group" layout="block">
        <div class="accordion-heading divInside-Fade">
            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseProcessing">
                <h5>Catalog Processing Schedule<div class="arrowUp arrowDown">&nbsp;</div></h5></a>

        </div>
        <div id="collapseProcessing" class="accordion-body collapse in" style="height: auto;">
        <h:panelGroup styleClass="accordion-inner" layout="block">
        
        <div class="row-fluid">
        	<div class="span2">
        		Event
        	</div>
        	<div class="span3">
        		Process Every Night?
        	</div>
        	<div class="span4">
        		Process on a single day?
        	</div>
        	<div class="span3">
        		Process immediately when you click the "save" button?
        	</div>
        </div>
        
        <h:panelGroup styleClass="row-fluid" layout="block" id="scheduleUploadPanel">
        	<div class="span2">
        		CSV Upload
        	</div>
        	<h:panelGroup styleClass="span10" layout="block" rendered="#{catalogBean.diffCsvNew}">
        		(Once you upload the CSV, a preliminary check of the CSV contents will take place. 
        		Once this is complete, you can confirm the results, and schedule the CSV to be processed.)
        	</h:panelGroup>
        	<h:panelGroup styleClass="span10" layout="block" rendered="#{catalogBean.diffCsvUnconfirmed}">
				Preliminary check is complete. <h:commandLink id="prelimUploadReport" value="Click here" immediate="true" action="#{catalogBean.uploadReport()}" /> for the preliminary check results. 
				You can confirm that you want to process the CSV by <a4j:commandLink render=":scheduleUploadPanel" value="clicking here" immediate="true" action="#{catalogBean.setDiffCsvConfirmed(true)}" />, 
				or discard the CSV by <a4j:commandLink render=":scheduleUploadPanel" value="clicking here" immediate="true" action="#{catalogBean.catalog.setDiffCsvChecked(false)}" />.
        	</h:panelGroup>
        	<h:panelGroup styleClass="span3" layout="block" rendered="#{catalogBean.diffCsvConfirmed}">
				(Can't process every night, this is a one-time event.)
        	</h:panelGroup>
        	<h:panelGroup styleClass="span4" layout="block" rendered="#{catalogBean.diffCsvConfirmed}">
	            <rich:calendar id="catalogChangeDate" value="#{catalogBean.catalog.changeDate}" disabled="#{catalogBean.changeImmediate}" />
	            <h:message for="catalogChangeDate" styleClass="error"/>
        	</h:panelGroup>
        	<h:panelGroup styleClass="span3" layout="block" rendered="#{catalogBean.diffCsvConfirmed}">
		        <h:selectBooleanCheckbox id="catalogChangeImmediate" value="#{catalogBean.changeImmediate}">
		        	<f:ajax event="change" render="catalogChangeDate" />
		        </h:selectBooleanCheckbox>
        	</h:panelGroup>
        </h:panelGroup>
        
        <div class="row-fluid">
        	<div class="span2">
        		Catalog CSV Generation
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="catalogRegenerateNightly" value="#{catalogBean.catalog.regenerateCsvNightly}">
		        	<f:ajax event="change" render="catalogRegenerateOneTime" />
		        </h:selectBooleanCheckbox>
        	</div>
        	<div class="span4">
            	<rich:calendar id="catalogRegenerateOneTime" value="#{catalogBean.catalog.regenerateCsvDate}" 
            		disabled="#{catalogBean.catalog.regenerateCsvNightly}" />
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="catalogRegenerateOnSave" value="#{catalogBean.generateCsvOnSave}" />
        	</div>
        </div>
        
        <div class="row-fluid">
        	<div class="span2">
        		Catalog Reindex
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="catalogReindexNightly" value="#{catalogBean.catalog.reindexNightly}">
		        	<f:ajax event="change" render="catalogReindexOneTime" />
		        </h:selectBooleanCheckbox>
        	</div>
        	<div class="span4">
            	<rich:calendar id="catalogReindexOneTime" value="#{catalogBean.catalog.reindexDate}" 
            		disabled="#{catalogBean.catalog.reindexNightly}" />
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="catalogReindexOnSave" value="#{catalogBean.reindexOnSave}" />
        	</div>
        </div>
        <h:panelGroup rendered="#{!catalogBean.isVendorCatalog()}">
         <div class="row-fluid">
        	<div class="span2">
        		Smart OCI Generation
        	</div>
        	<div class="span3">
				(Can't process every night, this is a one-time event)
        	</div>
        	<div class="span4">
	            <rich:calendar id="smartOciChangeDate" value="#{catalogBean.catalog.regenerateSmartOciDate}" disabled="#{catalogBean.generateSmartOciOnSave}" />
	            <h:message for="smartOciChangeDate" styleClass="error"/>
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="smartOciChangeImmediate" value="#{catalogBean.generateSmartOciOnSave}">
		        	<f:ajax event="change" render="smartOciChangeDate" />
		        </h:selectBooleanCheckbox>
        	</div>
        </div>
        <h:panelGroup rendered="#{catalogBean.isSmartSearchCatalog()}">
        <div class="row-fluid">
        	<div class="span2">
        		Regenerate Smart Search Lists
        	</div>
        	<div class="span3">
				(Can't process every night, this is a one-time event)
        	</div>
        	<div class="span4">
	            (Can't schedule, will be processed this evening)
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="smartSearchListFlag" value="#{catalogBean.changeListFlag}" />
        	</div>
        </div>
        </h:panelGroup>
        </h:panelGroup>

        <h:outputLabel for="catalogRecipientsScheduleInput" value="Email to be notified when processing is complete"/>
        <h:panelGroup>
            <h:inputText id="catalogRecipientsScheduleInput" value="#{catalogBean.catalog.processingCompleteEmails}" />
        </h:panelGroup>
	
	</h:panelGroup>
	</div>
	</h:panelGroup>
	
</ui:composition>
