<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    <h:outputStylesheet library="css" name="override-styling.css" />
	
    <h:panelGroup styleClass="accordion-group" layout="block">
        <div class="accordion-heading divInside-Fade">
            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapsePricing">
                <h5>Catalog Category Pricing<div class="arrowUp arrowDown">&nbsp;</div></h5></a>

        </div>
        <div id="collapsePricing" class="accordion-body collapse in" style="height: auto;">
        <h:panelGroup styleClass="accordion-inner" layout="block">
		<a4j:repeat value="#{catalogBean.allCategories}" var="category">
		<div class="row-fluid">
			<div class="span4">
			<h:outputText value="#{category.name}:" />
			</div>
			<div class="span4">
			<h:selectOneMenu value="#{catalogBean.pricingMap[category.name].type}"
	       		converter="#{catalogXItemBean.pricingTypeConverter}">
	       		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>		    		
		    		<f:selectItems value="#{catalogXItemBean.allPricingTypes}"
		   				 var="type" itemValue="#{type}" itemLabel="#{type.name.concat(type.useCeiling ? '' : ', No Ceiling')}"  
		   				 itemDisabled="#{(type.isDisabledForVendorCatalogs and catalogBean.vendorCatalog)}"/>   			
	   		</h:selectOneMenu>
	   		</div>
			<div class="span4">
			<h:inputText value="#{catalogBean.pricingMap[category.name].parameter}" 
                                      id="category">
                        </h:inputText>
                        <rich:message for="category" styleClass="error"/>
            </div>
	   	</div>
		</a4j:repeat>
		</h:panelGroup>
		</div>
	</h:panelGroup>
	
</ui:composition>
