<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
    <h:outputStylesheet library="css" name="override-styling.css" />
    
    <ui:remove>
        The different sections should be collapsible, as per PHOEN-973.
    </ui:remove>
    <label>Top Level Hierarchy Priorities</label><br/>
    
	<rich:dataTable id="hierarchy" value="#{catalogBean.catalog.orderedTopLevelHierarchies}" var="hierarchy">

		<rich:column>
			<f:facet name="header">
				<h:outputText value="Name" />
			</f:facet>
			<h:outputText value="#{hierarchy.description}" />
		</rich:column>
		<rich:column>
			<f:facet name="header">
				<h:outputText value="Ordering" />
			</f:facet>
			<h:inputText value="#{hierarchy.ordering}" nullable="false"/>
		</rich:column>
		<rich:column>
			<f:facet name="header">
				<h:outputText value="Actions" />
			</f:facet>
			<a4j:commandLink value="Remove" action="#{catalogBean.removeTopLevelHierarchy(hierarchy)}" render="work:hierarchy" />
		</rich:column>
	</rich:dataTable>
	<h:panelGroup id="topLevelHierarchyAdd">
	    <h:panelGroup rendered="#{catalogBean.displayTopLevelHierarchyWarning()}">
	    	WARNING: The top navigation bar has a limited width, and the categories you've selected might cause rendering issues. 
	    	You should remove one of the categories, or select ones with shorter descriptions.
	    </h:panelGroup>
		<apd:search searchBean="#{topLevelHierarchyNodeSearchBean}" detailsRegion="work:topLevelHierarchyAdd" searchRegion="searching" />
		<h:panelGroup  rendered="#{topLevelHierarchyNodeSearchBean.selection != null}">
			<h:outputText value="Order:"/><h:inputText value="#{catalogBean.topLevelHierarchyXCatalogToAdd.ordering}" nullable="false"/>
			<a4j:commandLink value="Add Top Level Hierarchy" action="#{catalogBean.addTopLevelHierarchy()}" 
				render="work:hierarchy work:topLevelHierarchyAdd" />
		</h:panelGroup>
	</h:panelGroup>
	<br />
</ui:composition>
