<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
    <h:outputStylesheet library="css" name="override-styling.css" />
    
    <ui:remove>
        The different sections should be collapsible, as per PHOEN-973.
    </ui:remove>
    <label>Home Page Marketing Images</label><br/>
    
    <h:outputLabel for="marketingImageUrlTop" value="URL for Top Marketing Image:"/>
	<h:panelGroup>
	    <h:inputText id="marketingImageUrlTop" value="#{catalogBean.catalog.marketingImageUrlTop}" />
    </h:panelGroup>
    <h:outputLabel for="marketingImageLinkUrlTop" value="Link Destination for Top Marketing Image:"/>
	<h:panelGroup>
	    <h:inputText id="marketingImageLinkUrlTop" value="#{catalogBean.catalog.marketingImageLinkUrlTop}"/>
    </h:panelGroup>
    <h:outputLabel for="marketingImageUrlBottom" value="URL for Bottom Marketing Image:"/>
	<h:panelGroup>
	    <h:inputText id="marketingImageUrlBottom" value="#{catalogBean.catalog.marketingImageUrlBottom}" />
    </h:panelGroup>
    <h:outputLabel for="marketingLinkUrlBottom" value="Link Destination for Bottom Marketing Image::"/>
	<h:panelGroup>
	    <h:inputText id="marketingLinkUrlBottom" value="#{catalogBean.catalog.marketingLinkUrlBottom}" />
    </h:panelGroup>
           <ui:include src="/admin/homePageCarouselDisplay/homePageCarouselDisplay.xhtml">
           <ui:param name="bean" value="#{catalogBean}" />
			<ui:param name="homePageCarouselDisplayList" value="#{bean.getCarouselDisplayList()}" />
			<ui:param name="render" value="work" />
		</ui:include>       
	<br />
</ui:composition>
