<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<ui:param name="pageTitle" value="Catalog Load Test"/>

	<ui:define name="header">
		Catalog Load Test
	</ui:define>
	
	<ui:define name="main">
		<h:form id="work">
			<div class="btn-group">
				<h:commandLink value="Run Test" action="#{catalogLoadTestBean.initLoadTest()}" styleClass="btn btn-success" render="work" rendered="#{catalogLoadTestBean.canRunLoadTests()}" ><i class="icon-ok"></i></h:commandLink>
			</div>
			<br />
			<h:outputText rendered="#{catalogLoadTestBean.testResult != null}" value="Test results: #{catalogLoadTestBean.testResult} millis" />
		</h:form>
	</ui:define>

</ui:composition>