<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:panelGroup rendered="#{not catalogBean.isUpdatable(catalog)}">
		<h:outputText value="Processing for this catalog was started at #{catalog.lastProcessStart}, and hasn't yet completed. " />
		<br />
		<h:outputText rendered="#{catalogBean.estimateRendered}" value="The catalog is expected to complete processing around #{catalogBean.estimatedEnd}. " />
		<br />
		<h:outputText value="Are you sure you want to edit it? " />
		<br />

		<a4j:commandLink value="Update Email Recipient List" onclick="showPopup('work:catalogRecipientsModal')" styleClass="btn" />
		<br />

		<a4j:commandLink value="Terminate Processing, Create CSV" action="#{catalogBean.createCSV(catalog)}" styleClass="btn btn-success" rendered="#{catalogBean.canCreateCSV(catalog)}" />
		<br />
		<a4j:commandLink value="FORCE Terminate Processing, Create CSV" action="#{catalogBean.createCSV(catalog)}" styleClass="btn btn-danger" rendered="#{!catalogBean.canCreateCSV(catalog)}" />
		<br />
		<h:commandLink value="Edit In-flight Catalog (could terminate the CSV)" action="#{catalogBean.forceEdit()}" styleClass="btn btn-success" />
		
	</h:panelGroup>
	<rich:popupPanel rendered="#{not catalogBean.isUpdatable(catalog)}" id="catalogRecipientsModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		<a4j:region>
			<f:facet name="header">
				<h:outputText value="Update Catalog Recipients" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" 
					onclick="#{rich:component('work:catalogRecipientsModal')}.hide(); return false;" />
   			</f:facet>
			Email to be notified when processing is complete:
			<br />
			<h:inputText id="catalogRecipientsInput" value="#{catalog.processingCompleteEmails}" />
			<br />
			<div class="btn-group" layout="block">
				<h:commandLink value="Confirm and Save" styleClass="btn btn-primary" 
					action="#{catalogBean.simpleUpdate()}" />
				<a4j:commandLink value="Cancel" styleClass="btn btn-primary" 
					immediate="true" onclick="hidePopup('work:catalogRecipientsModal');" />
			</div>

		</a4j:region>
	      		
	</rich:popupPanel>	

</ui:composition>