<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<f:metadata>
		<f:event type="preRenderView" listener="#{serviceLogBean.setAccount(accountViewBean.account)}" />
		<f:event type="preRenderView" listener="#{serviceLogBean.showAccountLogs(accountViewBean.account.name)}" />
	</f:metadata>
	
	<h:panelGrid columnClasses="label,component,required" columns="3">

		<h:outputLabel for="accountName" value="Name:"/>
		<h:outputText id="accountName" value="#{accountViewBean.account.name}"/>
		<h:outputText/>

		<h:outputLabel for="accountParent" value="Parent Account:"/>
		<h:commandLink action="#{accountSearchBean.setSelection(accountViewBean.account.parentAccount)}" 
			render="work" value="#{accountViewBean.account.parentAccount.name}" id="accountParent" />
		<h:outputText/>

		<h:outputLabel for="accountRoot" value="Root Account:"/>
		<h:commandLink action="#{accountSearchBean.setSelection(accountViewBean.account.rootAccount)}" 
			render="work" value="#{accountViewBean.account.rootAccount.name}" id="accountRoot" />
		<h:outputText/>
		
		<h:outputLabel for="accountChildren" value="Child Accounts"/>
		<rich:dataTable id="accountChildren" 
			value="#{forgeview:asList(accountViewBean.children)}"
			var="account">
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Account Name" />
				</f:facet>
				<h:commandLink action="#{accountSearchBean.setSelection(account)}" 
					render="work" value="#{account.name}" />
			</rich:column>
		</rich:dataTable>
		<h:outputText/>

		<h:outputLabel for="accountCreationDate" value="Creation Date:"/>
		<h:outputText id="accountCreationDate" value="#{accountViewBean.account.creationDate}"/>
		<h:outputText/>

		<h:outputLabel for="accountApdVendorId" value="#{propertiesBean.get('tenant','code')} Designated Vendor ID:"/>
		<h:outputText id="accountApdVendorId" value="#{accountViewBean.account.apdAssignedAccountId}"/>
		<h:outputText/>

		<h:outputLabel for="csrContactPhone" value="Customer Service Contact Phone:"/>
		<h:outputText id="csrContactPhone" value="#{accountViewBean.account.csrPhone}"/>
		<h:outputText/>

		<h:outputLabel for="csrContactEmail" value="Customer Service Contact Email:"/>
		<h:outputText id="csrContactEmail" value="#{accountViewBean.account.csrEmail}"/>
		<h:outputText/>

		<h:outputLabel for="accountSolomon" value="Solomon Customer ID:"/>
		<h:outputText id="accountSolomon" value="#{accountViewBean.account.solomonCustomerId}"/>
		<h:outputText/>
		
		<h:outputLabel for="addressList" value="Addresses:"/>
		<apd:addressPaginationSection id="addressList" actionBean="#{accountViewBean}" editable="false" render="work" />
		<h:outputText/>
		
		<h:outputLabel for="phoneList" value="Phone Numbers:"/>
		<apd:phoneNumberList id="phoneList" actionBean="#{accountViewBean}" editable="false"
			phoneCollection="#{accountViewBean.account.numbers}" />
		<h:outputText/>

		<h:outputLabel for="bulletinList" value="Bulletins:"/>
		<rich:dataTable id="bulletinList" value="#{forgeview:asList(accountViewBean.account.bulletins)}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Name:" />
		       </f:facet>
		       <h:outputText value="#{row.name}" />
		    </rich:column>
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Message:" />
		       </f:facet>
		       <h:outputText value="#{row.message}" />
		    </rich:column>
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Expiration:" />
		       </f:facet>
		       <h:outputText value="#{row.expirationDate}" />
		    </rich:column>
        </rich:dataTable>
		<h:outputText/>

		<h:outputLabel for="groupList" value="Groups:"/>
		<rich:dataTable id="groupList" value="#{forgeview:asList(accountViewBean.account.groups)}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Name:" />
		       </f:facet>
		       <h:outputText value="#{row.name}" />
		    </rich:column>
        </rich:dataTable>
		<h:outputText/>

		<h:outputLabel for="blanketPos" value="Blanket PO Numbers:"/>
		<rich:dataTable id="blanketPos" value="#{forgeview:asList(accountViewBean.account.blanketPos)}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Value:" />
		       </f:facet>
		       <h:outputText value="#{row.value}" />
		    </rich:column>
        </rich:dataTable>
		<h:outputText/>

		<h:outputLabel for="properties" value="Account Properties:"/>
		<rich:dataTable id="properties" value="#{forgeview:asList(accountViewBean.account.properties)}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Type:" />
		       </f:facet>
		       <h:outputText value="#{row.type.name}" />
		    </rich:column>
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Value:" />
		       </f:facet>
		       <h:outputText value="#{row.value}" />
		    </rich:column>
        </rich:dataTable>
		<h:outputText/>

		<h:outputLabel for="ipWhitelist" value="Whitelisted IP Addresses:"/>
		<rich:dataTable id="ipWhitelist" value="#{forgeview:asList(accountViewBean.account.ips)}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Address:" />
		       </f:facet>
		       <h:outputText value="#{row.value}" />
		    </rich:column>
        </rich:dataTable>
		<h:outputText/>

		<h:outputLabel for="notificationProperties" value="Notification Recipients:"/>
		<rich:dataTable id="notificationProperties" value="#{forgeview:asList(accountViewBean.account.notificationProperties)}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Addressing:" />
		       </f:facet>
		       <h:outputText value="#{row.addressing}" />
		    </rich:column>
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Event:" />
		       </f:facet>
		       <h:outputText value="#{row.eventType}" />
		    </rich:column>
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Recipients:" />
		       </f:facet>
		       <h:outputText value="#{row.recipients}" />
		    </rich:column>
        </rich:dataTable>
		<h:outputText/>
		
		<h:outputLabel value="Service Logs:"/>
		<h:panelGroup id="serviceLog-area">
			<ui:include src="/customerservice/serviceLogList.xhtml">
				<ui:param name="render" value="work work" />
		    </ui:include>
		</h:panelGroup>
		<h:outputText/>

	</h:panelGrid>

</ui:composition>
