<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<div class="row">
		<h:form>
			<!--  column  1 of fields -->
			<div class=" span3 controls controls-row">

					<label id="popocprLabel"
					class="control-label" for="popcoprNum" data-toggle="tooltip"
					title="if this search field is not blank, the results will be the
						returns whose customer PO number, #{propertiesBean.get('tenant','code')} return number, or PR number matches the search field. PO means #{propertiesBean.get('tenant','code')} PO number or customer PO number. PCO is customer PO number when using ARIBA; PR is the purchase requisition number,
						also used with ARIBA.">PO/PCO/PR
					# </label> <h:inputText id="popcoprNum" value="#{returnSearchBean.poNumber}"
					styleClass="search-query">PO/PCO/PR</h:inputText>
					<label id="unLabel" class="control-label" for="userName"
						data-toggle="tooltip"
						title="Returns returns placed by the user whose User ID matches
							this field">User
						Name:</label>
					<h:inputText id="userName" class="search-query"
						value="#{returnSearchBean.username}">username</h:inputText>
					<div class="span4">
						<div class="span.5">
							<h:selectBooleanCheckbox id="closedCheckbox" value="#{returnSearchBean.closed}" /> 
						</div>
						<div class="span1">
							<label for="closedCheckbox">Closed</label>
						</div>
					</div>
					<div class="span4">
						<div class="span.5">
							<h:selectBooleanCheckbox id="reconciledCheckbox" value="#{returnSearchBean.reconciled}" />
						</div>
						<div class="span1"> 
							<label for="reconciledCheckbox">Reconciled</label>
						</div>
					</div>
					<div class="span4">
						<div class="span.5">
							<h:selectBooleanCheckbox id="unReconciledCheckbox" value="#{returnSearchBean.unreconciled}" />
						</div>
						<div class="span1"> 
							<label for="unReconciledCheckbox">Unreconciled</label>
						</div>
					</div>
			</div>
			<!--  column 2  of fields -->
			<div id="para1" class=" span4 controls controls-row">
				<label id="unLabel" class="control-label" for="raNumber">RA Number:</label>
				<h:inputText id="raNumber" class="search-query"
					value="#{returnSearchBean.raNumber}">ra number</h:inputText>
				<label id="odTLabel" class="control-label" for="returnStartDate"
					data-toggle="tooltip"
					title="the date range when the return was placed">Return submitted between</label>
				<rich:calendar id="returnStartDate" value="#{returnSearchBean.startDate}" />
				<label class="control-label" for="returnEndDate">and</label>
				<rich:calendar id="returnEndDate" value="#{returnSearchBean.endDate}" />
			</div>
			<!--  column 3 of fields -->
			<div class=" span3 controls controls-row">
				<a4j:commandLink action="#{returnSearchBean.retrieveReturnHistory}"
					styleClass="btn btn-apd" render=":return-results-form">
					Search
				</a4j:commandLink>
			</div>
		</h:form>
	</div>
	<script type="text/javascript">
	$(function ()  
	{ $('#apdReturnNumLabel').tooltip({placement: 'bottom'});
	$('#popocprLabel').tooltip({placement: 'bottom'});
	$('#emailLabel').tooltip({placement: 'bottom'});
	$('#unLabel').tooltip({placement: 'bottom'});
	$('#skuLabel').tooltip({placement: 'bottom'});
	$('#osLabel').tooltip({placement: 'bottom'});
	$('#mpLabel').tooltip({placement: 'bottom'});
	$('#iooLabel').tooltip({placement: 'bottom'});
	$('#odTLabel').tooltip({placement: 'bottom'});
		});
	</script>
</ui:composition>
