<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich"
	xmlns:forgeview="http://jboss.org/forge/view">

<h:head>
	<title>Phoenix Administration - Order Search</title>
	<h:outputStylesheet library="css/bootstrap" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="main-style-sheet.css" />
</h:head>

<h:body>

	<ui:include src="/timeout/idleLogoutModal.xhtml"/>
	<ui:include src="/WEB-INF/layout/administrationHeader.xhtml" />
	<div class="phoenix-container">
		<div id="os_os">
			<rich:messages id="errorPanel" globalOnly="true" styleClass="error" />
			<ui:insert name="main" />
		</div>
	</div>
	<ui:insert name="admin_footer">
		<a4j:outputPanel ajaxRendered="true">
			<h:form style="display:none" prependId="false">
				<h:inputHidden id="maximumErrorSeverity" value="#{facesContext.maximumSeverity.ordinal}" />
			</h:form>
		</a4j:outputPanel>
		
		<script type="text/javascript">
                //<![CDATA[

                /*function showPopupModal(modal) {
                 if (data.status == "success") {
                 RichFaces.$(modal).show();
                 }
                 }
                 function hidePopupModal(data, modal) {
                 if (data.status == "success") {
                 RichFaces.$(modal).hide();
                 }
                 }*/

                // Ajax convenience functions
                function isAjaxEvent(data, ajaxEvent) {
                    if (data) {
                        return data.status == ajaxEvent;
                    }
                }
                function isPreAjaxEvent() {
                }
                function isPostAjaxEvent() {
                }

                function ajaxRequestContainsErrors() {
                    var maximumErrorSeverity = document.getElementById("maximumErrorSeverity").value;
                    return maximumErrorSeverity == "2" || maximumErrorSeverity == "3";
                }

                jQuery.fn.center = function () {
                    this.css("position","absolute");
                    this.css("top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");
                    this.css("left", (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");
                    return this;
                }
                // Popup Panel control functions
                function showPopup(popupModalId) {
                    if (!ajaxRequestContainsErrors()) {
                        controlPopup(popupModalId, "show");
                    }
                    RichFaces.$(popupModalId).getContentElement().center();
                }                
                
                function hidePopup(popupModalId) {
                    if (!ajaxRequestContainsErrors()) {
                        controlPopup(popupModalId, "hide");
                    }
                }
                
                function controlPopup(popupModalId, operation) {

                    if (RichFaces) {
                        if (operation == "show") {
                            RichFaces.$(popupModalId).show();
                        } else if (operation == "hide") {
                            RichFaces.$(popupModalId).hide();
                        }
                    } else {
                        throw "Supported JavaScript implementation of popup modal control could not be found.";
                    }
                }

                // JSF AJAX issue workaround (START) (address known JSF issue AJAX response updates content in different form with missing/stale viewstate) 
                jsf.ajax.addOnEvent(function(data) {
                    if (data.status == "success") {
                        var viewState = getViewState(data.responseXML);

                        for (var i = 0; i < document.forms.length; i++) {
                            if (!hasViewState(document.forms[i])) {
                                createViewState(document.forms[i], viewState);
                            }
                        }
                    }
                });

                function getViewState(responseXML) {
                    var updates = responseXML.getElementsByTagName("update");

                    for (var i = 0; i < updates.length; i++) {
                        if (updates[i].getAttribute("id") == "javax.faces.ViewState") {
                            return updates[i].firstChild.nodeValue;
                        }
                    }

                    return null;
                }
                function hasViewState(form) {
                    if (form) {
                        for (var i = 0; i < form.elements.length; i++) {
                            if (form.elements[i].name == "javax.faces.ViewState") {
                                return true;
                            }
                        }
                        return false;
                    }
                }
                function createViewState(form, viewState) {
                    var hidden;
                    try {
                        hidden = document.createElement("<input name='javax.faces.ViewState'/>"); // IE6-8.
                    } catch (e) {
                        hidden = document.createElement("input");
                        hidden.setAttribute("name", "javax.faces.ViewState");
                    }
                    hidden.setAttribute("type", "hidden");
                    hidden.setAttribute("value", viewState);
                    hidden.setAttribute("autocomplete", "off");
                    form.appendChild(hidden);
                }
                // JSF AJAX issue workaround (END)
                //]]>
            </script>

	</ui:insert>				
	<ui:include src="/timeout/idleLogoutScripts.xhtml"/>
	<h:outputScript library="js" name="bootstrap-datepicker.js" />
</h:body>
</html>