<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich"
	xmlns:forgeview="http://jboss.org/forge/view">

<h:head>
	<title>Customer Service</title>
	<h:outputStylesheet library="css/bootstrap" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="main-style-sheet.css" />
</h:head>

<h:body>

	<ui:include src="/timeout/idleLogoutModal.xhtml"/>
	<ui:include src="administrationHeader.xhtml" />
	<div class="phoenix-container">
		<div id="idletimeout">
            You will be logged off in <span><!-- countdown place holder --></span>seconds due to inactivity. 
            <a id="idletimeout-resume" href="#">Click here to continue using this web page</a>.
        </div>
		<div id="work-block" class="container-fluid">
			<div id="navigationPangelGroup" class="span2">
				<ui:insert id="navigation" name="navigation"/>
			</div>
			<div id="workAreaColumn" class="span13">
				<rich:messages id="errorPanel" globalOnly="true" styleClass="error" />
				<h2>
					<ui:insert name="header" />
				</h2>
				<h3>
					<ui:insert name="subheader" />
				</h3>
				<ui:insert id="main" name="main">
					<ui:include src="defaultWorkArea.xhtml" />
				</ui:insert>
			</div>
		</div>
	</div>
	<ui:insert name="admin_footer">
		<a4j:outputPanel ajaxRendered="true">
			<h:form style="display:none" prependId="false">
				<h:inputHidden id="maximumErrorSeverity" value="#{facesContext.maximumSeverity.ordinal}" />
			</h:form>
		</a4j:outputPanel>		
		<script type="text/javascript">
                //<![CDATA[

                /*function showPopupModal(modal) {
                 if (data.status == "success") {
                 RichFaces.$(modal).show();
                 }
                 }
                 function hidePopupModal(data, modal) {
                 if (data.status == "success") {
                 RichFaces.$(modal).hide();
                 }
                 }*/

                // Ajax convenience functions
                if (!window["busystatus"]) {
                        var busystatus = {};
                }

                busystatus.onStatusChange = function onStatusChange(data) {
                        var status = data.status;

                        if (status === "begin") { // turn on busy indicator
                                document.body.style.cursor = 'wait';
                        } else { // turn off busy indicator, on either "complete" or "success"
                                document.body.style.cursor = 'auto';
                        }
                };

                jsf.ajax.addOnEvent(busystatus.onStatusChange);
                
                function isAjaxEvent(data, ajaxEvent) {
                    if (data) {
                        return data.status == ajaxEvent;
                    }
                }
                function isPreAjaxEvent() {
                }
                function isPostAjaxEvent() {
                }

                function ajaxRequestContainsErrors() {
                    var maximumErrorSeverity = document.getElementById("maximumErrorSeverity").value;
                    return maximumErrorSeverity == "2" || maximumErrorSeverity == "3";
                }

                jQuery.fn.center = function () {
                    this.css("position","absolute");
                    this.css("top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");
                    this.css("left", (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");
                    return this;
                }
                // Popup Panel control functions
                function showPopup(popupModalId) {
                    if (!ajaxRequestContainsErrors()) {
                        controlPopup(popupModalId, "show");
                    }
                    RichFaces.$(popupModalId).getContentElement().center();
                }
                function hidePopup(popupModalId) {
                    if (!ajaxRequestContainsErrors()) {
                        controlPopup(popupModalId, "hide");
                    }
                }
                function controlPopup(popupModalId, operation) {

                    if (RichFaces) {
                        if (operation == "show") {
                            RichFaces.$(popupModalId).show();
                        } else if (operation == "hide") {
                            RichFaces.$(popupModalId).hide();
                        }
                    } else {
                        throw "Supported JavaScript implementation of popup modal control could not be found.";
                    }
                }

                // JSF AJAX issue workaround (START) (address known JSF issue AJAX response updates content in different form with missing/stale viewstate) 
                jsf.ajax.addOnEvent(function(data) {
                    if (data.status == "success") {
                        var viewState = getViewState(data.responseXML);

                        for (var i = 0; i < document.forms.length; i++) {
                            if (!hasViewState(document.forms[i])) {
                                createViewState(document.forms[i], viewState);
                            }
                        }
                    }
                });

                function getViewState(responseXML) {
                    var updates = responseXML.getElementsByTagName("update");

                    for (var i = 0; i < updates.length; i++) {
                        if (updates[i].getAttribute("id") == "javax.faces.ViewState") {
                            return updates[i].firstChild.nodeValue;
                        }
                    }

                    return null;
                }
                function hasViewState(form) {
                    if (form) {
                        for (var i = 0; i < form.elements.length; i++) {
                            if (form.elements[i].name == "javax.faces.ViewState") {
                                return true;
                            }
                        }
                        return false;
                    }
                }
                function createViewState(form, viewState) {
                    var hidden;
                    try {
                        hidden = document.createElement("<input name='javax.faces.ViewState'/>"); // IE6-8.
                    } catch (e) {
                        hidden = document.createElement("input");
                        hidden.setAttribute("name", "javax.faces.ViewState");
                    }
                    hidden.setAttribute("type", "hidden");
                    hidden.setAttribute("value", viewState);
                    hidden.setAttribute("autocomplete", "off");
                    form.appendChild(hidden);
                }

                function getComboboxValue(id) {
    			    var x = document.getElementById(id).selectedIndex;
    			    var y = document.getElementById(id).options;
    			    return y[x].value;
    			}
    			function showAddNewVendorPopup(selectedValue) {
    				var table = document.getElementById('checkout:lineItems:bulletinList');
    				var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr");
    				for (var i = 0; i < rows.length; i++) {
    					var vendor = document.getElementById("checkout:lineItems:bulletinList:"+i+":lineItemVendor");
    					 var selected = vendor.options[vendor.selectedIndex].text;
    					
    					if(selected == 'Add New Vendor') {
    						RichFaces.$('addNewVendorModal').show();
        				}
    				}   				
    				
    			}


    			function calculateUnitPrice(margin) {

        			var id = margin.id;        			  				
    				var  sub = id.substring(0, id.lastIndexOf(":")+1);    				
    			    var margin = document.getElementById(id).value;     
    			    var cost = document.getElementById(sub+'unitCostInput').value;
    			    var unitprice = document.getElementById(sub+'unitPriceInput');
    			    
    			    if(cost > 0 && margin > 0) {
    			    	var price = (parseFloat(cost) + (cost * (margin/100))).toFixed(2);
    			        unitprice.value= price;
    			    } else {
    			       unitprice.value= 0;
    			    }
    			}

    			function calculateMargin(unitprice) {
    				
    				var id = unitprice.id;
        			var  sub = id.substring(0, id.lastIndexOf(":")+1);				
    			    var margin = document.getElementById(sub+'margin');     
    			    var cost = document.getElementById(sub+'unitCostInput').value;
    			    var unitprice = document.getElementById(id).value;
    			    
    			    if(cost > 0 && unitprice > 0) {
        			  var newMargin = ((Math.round(((unitprice - cost)/cost) * 100) / 100)* 100).toFixed(2); 			      
    			      margin.value = newMargin;    			      
    			    } else {
    			    	margin.value = 0;
    			    }
    			} 
    			  
                // JSF AJAX issue workaround (END)
                //]]>
            </script>

	</ui:insert>	
	<ui:include src="/timeout/idleLogoutScripts.xhtml"/>
	<h:outputScript library="js" name="pickList.js" />
</h:body>
</html>
