<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich"
	xmlns:forgeview="http://jboss.org/forge/view">

<h:head>
	<title>Customer Service</title>
	<h:outputStylesheet library="css/bootstrap" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="main-style-sheet.css" />
</h:head>

<h:body>
	<ui:include src="administrationHeader.xhtml" />
        	<div class="phoenix-container">
		<div id="work-block" class="container-fluid">
			<div id="navigationPangelGroup" class="span2">
				<ui:insert id="navigation" name="navigation"/>
			</div>
			<div id="workAreaColumn" class="span10">
				<rich:messages id="errorPanel" globalOnly="true" styleClass="error" />
				<h2>
					<ui:insert name="header" />
				</h2>
				<h3>
					<ui:insert name="subheader" />
				</h3>
				<ui:insert id="main" name="main">
					<ui:insert id="reportsMain" name="reportsMain" />
				</ui:insert>
			</div>
		</div>
	</div>
</h:body>
</html>
