<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceProductBrowseTemplate.xhtml">

<h:outputStylesheet>
.margins{
margin-top:-72px; 
margin-right:10px;
}
</h:outputStylesheet>
	<f:metadata>
        <f:viewParam name="searchString"
                     value="#{searchBean.queryData.searchString}" />
        <f:viewParam name="categoryId"
                     value="#{searchBean.categoryId}" />
        <f:viewParam name="refineSearchString"
                     value="#{searchBean.queryData.refineSearchStringParameter}"/>
        <f:viewParam name="selectedManufacturer"
                     value="#{searchBean.queryData.selectedManufacturer}" />
        <f:viewParam name="showNonCore"
                     value="#{searchBean.queryData.showNonCoreString}" />
        <f:viewParam name="filters"
                     value="#{searchBean.queryData.activeFiltersString}" />
        <f:viewParam name="hierarchyKey"
                     value="#{searchBean.queryData.searchEngineHierarchyKey}" />
        <f:viewParam name="green"
                     value="#{searchBean.queryData.greenFilterId}" />
         <f:viewParam name="filterToRemove"
                     value="#{searchBean.queryData.filterToRemove}" />
        <f:viewParam name="newSearch" value="#{searchBean.queryData.newSearch}"/>
        <f:viewParam name="lowPrice" value="#{searchBean.queryData.lowPrice}"/>
        <f:viewParam name="highPrice" value="#{searchBean.queryData.highPrice}"/>
        <f:viewParam name="start" value="#{searchBean.queryData.start}"/>
        <f:viewParam name="favoritesId" value="#{searchBean.queryData.favoritesId}"/>
        <f:viewParam name="favoritesName" value="#{searchBean.queryData.favoritesName}"/>
        <f:viewParam name="favoritesType" value="#{searchBean.queryData.favoritesType}"/>
        <f:viewParam name="mb" value="#{searchBean.queryData.matchbookId}" />
        <f:viewParam name="inkTonerManufacturer" value="#{searchBean.inkTonerManufacturer}" />
        <f:viewParam name="inkTonerModel" value="#{searchBean.queryData.inkTonerModel}" />
        <f:viewParam name="inkTonerModelCode" value="#{searchBean.queryData.inkTonerModelCode}" />
        <f:viewParam name="inkTonerManufacturerCode" value="#{searchBean.queryData.inkTonerManufacturerCode}" />
        <f:viewParam name="inkTonerCartridgeNumber" value="#{searchBean.queryData.cartridgeNumber}"/>
        <f:event type="preRenderView" listener="#{searchBean.productSearch()}"/>
        <f:event type="preRenderView" listener="#{searchBean.regenerateLastResultsUrl()}"/>
        </f:metadata>
	<ui:define name="page_content">        
            <a4j:jsFunction name="applyFilter" action="#{searchBean.applyFilter()}">                
                <a4j:param name="arg1" assignTo="#{searchBean.queryData.selectedFilterName}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="pageSizeValueChanged" action="#{searchBean.refreshPage}">                
                <a4j:param name="param1" assignTo="#{searchBean.pageSizeIndex}" /> 
            </a4j:jsFunction>
            <a4j:jsFunction name="sortByValueChanged" action="#{searchBean.refreshPage}">                
                <a4j:param name="param1" assignTo="#{searchBean.productSort.selectedSortByString}" /> 
            </a4j:jsFunction>
            
              <a4j:jsFunction name="viewByValueChanged" action="#{searchBean.refreshPage}">                
                <a4j:param name="param1" assignTo="#{searchBean.productView.selectedViewByString}" /> 
            </a4j:jsFunction>
            
            <a4j:jsFunction render="@none" name="deactivateFilter" action="#{searchBean.deactivateFilter()}">
                <a4j:param name="arg1" assignTo="#{searchBean.queryData.selectedFilterName}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="initRefineSearch" action="#{searchBean.productRefineSearchInit()}">                
                <a4j:param name="searchTerm" assignTo="#{searchBean.queryData.newRefineSearchString}" /> 
            </a4j:jsFunction>
				<div class="row apdMarginTop container productSearch apdMarginTop"> 
					<h:panelGroup styleClass="span2 mobileHide" layout="block" rendered="#{not searchBean.shouldRenderAnyFilters()}" />
					<h:panelGroup styleClass="span2 mobileHide" layout="block" rendered="#{searchBean.shouldRenderAnyFilters()}">
						<ui:include src="/WEB-INF/templates/category/appliedFilterMenu.xhtml"/>
						<ui:include src="/WEB-INF/templates/category/refineSearchMenu.xhtml"/>
						<ul class="filterList nav nav-tabs nav-stacked">
							<li class="filterListHeader">
				                <a><strong>FILTERS</strong></a>
				            </li>
						</ul>
						<ui:include src="/WEB-INF/templates/category/refineByCategoryMenu.xhtml"/>
						<ui:include src="/WEB-INF/templates/category/manufacturerMenu.xhtml"/>
						<ui:include src="/WEB-INF/templates/category/globalTypeMenu.xhtml"/>
						<ui:include src="/WEB-INF/templates/category/attributeFilterMenu.xhtml"/>
						<ui:include src="/WEB-INF/templates/category/coreFilterMenu.xhtml"/>
						<ui:include src="/WEB-INF/templates/category/greenFilterMenu.xhtml"/>
                        <h:panelGroup id="price-range-widget" layout="block" rendered="#{searchBean.shouldRenderPriceFilters()}"> 
                            <ul class="nav nav-tabs nav-stacked">
                                <li class="dropdown-submenu filterListHeader"><a href="#"><strong>PRICE</strong></a></li>
                            	<!-- TODO: refactor this section, per PHOEN-5374 -->
                                <li class="avaliableFilter">
                                    <a class="#{searchBean.priceFilterIsApplied(0.00,24.99) ? 'selected' : ''}"
                                    href="#{searchBean.priceFilterIsApplied(0.00,24.99) ? searchBean.getPriceUrl(0.0,0.0) : searchBean.getPriceUrl(0.00,24.99)}">Under $25</a>
                                </li>
                                <li class="avaliableFilter">
                                    <a class="#{searchBean.priceFilterIsApplied(25.00,50.00) ? 'selected' : ''}"
                                    href="#{searchBean.priceFilterIsApplied(25.00,50.00) ? searchBean.getPriceUrl(0.0,0.0) : searchBean.getPriceUrl(25.00,50.00)}">$25 to $50</a>
                                </li>
                                <li class="avaliableFilter">
                                    <a class="#{searchBean.priceFilterIsApplied(50.00,100.00) ? 'selected' : ''}"
                                    href="#{searchBean.priceFilterIsApplied(50.00,100.00) ? searchBean.getPriceUrl(0.0,0.0) : searchBean.getPriceUrl(50.00,100.00)}">$50 to $100</a>
                                </li>
                                <li class="avaliableFilter">
                                    <a class="#{searchBean.priceFilterIsApplied(100.00,200.00) ? 'selected' : ''}"
                                    href="#{searchBean.priceFilterIsApplied(100.00,200.00) ? searchBean.getPriceUrl(0.0,0.0) : searchBean.getPriceUrl(100.00,200.00)}">$100 to $200</a>
                                </li>
                                <li class="avaliableFilter">
                                    <a class="#{searchBean.priceFilterIsApplied(200.00,Float.MAX_VALUE) ? 'selected' : ''}"
                                    href="#{searchBean.priceFilterIsApplied(200.00,Float.MAX_VALUE) ? searchBean.getPriceUrl(0.0,0.0) : searchBean.getPriceUrl(200.00, Float.MAX_VALUE)}">Over $200</a>
                                </li>
                            </ul>
                        </h:panelGroup>
					</h:panelGroup>	
                        <h:form id="browse-form">
                        <h:panelGroup layout="block" styleClass="span10">
                            <div class="apdMarginTop marginLeft25">
                                <div class="row-fluid">
                                	<ui:include src="/WEB-INF/components/inserts/experience/searchMessages.xhtml" />
                                </div>
                            </div>
                            <h:panelGroup id="search-results" styleClass="row-fluid marginLeft25" layout="block" rendered="#{not empty searchBean.products}">
                                <div class="#{searchBean.productView.name eq 'ListView' ? 'span8' : 'span12'} productContainer">
	                                	<div class="span12">
	                                		<div class="pull-left">
		                               			<div class="foundItemsTitle">
		                               				<h:panelGroup rendered="#{not empty searchBean.previousQueryData.favoritesName}">
		                               					#{searchBean.previousQueryData.favoritesName}
		                               				</h:panelGroup>
		                               				<h:panelGroup rendered="#{empty searchBean.previousQueryData.favoritesName}">
		                               					Found #{searchBean.numFound} Items
		                               				</h:panelGroup>
		                               			</div>
					                            <h:panelGroup rendered="#{empty searchBean.products}">
			                               			<div class="featuredProductsTitle"> 
			                               				<strong>NO PRODUCTS FOUND THAT MATCH THE SELECTED FILTER</strong>
			                               			</div>
					                            </h:panelGroup>
				                            </div>
				                                                                        
				                            <h:panelGroup rendered="#{not empty searchBean.products}">
	                                             <div class="#{searchBean.productView.name eq 'ListView' ? 'pull-right' :'offset4'} mobileHide">
	                                                 <span class="help-inline sortByLabel">Products per page</span>
	                                                 <h:selectOneMenu id="page-size-selection"
	                                                                  value="#{searchBean.pageSize}"
	                                                                  onchange="pageSizeValueChanged(getComboboxIndex('browse-form:page-size-selection'))"
	                                                                  style="width: 48px;">
	                                                     <f:selectItems value="#{searchBean.productPageSizes}" />
	                                                 </h:selectOneMenu>
	                                             </div>
	                                         </h:panelGroup>
	                                	</div>
		                                <div class="row-fluid">
		                                	<div class="span12">
		                                		<div class="pull-left rightLinkPS">
		                                        <span class="help-inline sortByLabel">Sort By</span>
		                                        <h:selectOneMenu id="sortByMenu"
		                                                         value="#{searchBean.productSort.selectedSortBy}"
		                                                         onchange="sortByValueChanged(getComboboxValue('browse-form:sortByMenu'))"
		                                                         style="width: 170px;">
		                                            <f:selectItems value="#{searchBean.sortByOptions}" />
		                                        </h:selectOneMenu>
		                                		</div>
		                                		<h:panelGroup rendered="#{searchBean.showtableview == true}">
			                                		<div class="#{searchBean.productView.name eq 'ListView' ? 'pull-right' : 'offset4'} mobileHide">
		                                                 <span class="help-inline sortByLabel">Results View Type</span>
		                                                <h:selectOneMenu id="viewByMenu" styleClass="viewType"
			                                                         value="#{searchBean.productView.selectedViewBy}"
			                                                         onchange="viewByValueChanged(getComboboxValue('browse-form:viewByMenu'))"
			                                                         style="width: 90px;">
			                                            <f:selectItems value="#{searchBean.viewedByOptions}" />
			                                        </h:selectOneMenu> 
		                                             </div>
	                                           </h:panelGroup>
		                                		<div class="pull-right" style=" #{searchBean.productView.name eq 'ListView' ?'':'margin-top:-72px; margin-right:10px;'}">
		                                			<apd:pagination pageDisplay="#{searchBean.pageDisplay}" render="browse-form" forceDisplay="true" styleClass="pagination-centered" />
		                                		</div>
		                                		
		                                	<ui:include src="/WEB-INF/components/inserts/product/compareAddAll.xhtml">
                                            <ui:param name="section" value="Top" />
                                            <ui:param name="#{searchBean.productView.name eq 'ListView' ? '':'position'}" value="margin-top:-85px; margin-right:10px;" />
                                            <ui:param name="#{searchBean.productView.name eq 'ListView' ? 'margin1':''}" value="margin-top: -40px;" />
                                            <ui:param name="#{searchBean.productView.name eq 'ListView' ? 'margin2':''}" value="margin-top:7px;" />
                                        </ui:include>
		                                	</div>
		                                </div>
                                    <h:panelGroup id="productListBlock" layout="block">
						                <span class="pull-left">
											<rich:messages />
										</span>
                                        
                                        <ui:include src="#{searchBean.productView.name eq 'ListView' ? '/WEB-INF/components/inserts/product/productList.xhtml' : '/WEB-INF/components/inserts/product/productDatatable.xhtml'}">
                                            <ui:param name="products" value="#{searchBean.products}" />
                                            <ui:param name="allowCompare" value="true" />
                                            <ui:param name="parentBean" value="#{searchBean}"/>
                                        </ui:include>
                                        <ui:include src="/WEB-INF/components/inserts/product/compareAddAll.xhtml">
                                            <ui:param name="section" value="Bottom" />
                                            <ui:param name="#{searchBean.productView.name eq 'ListView' ? '':'position'}" value="margin-top:-45px; margin-right:10px;"/>
                                            <ui:param name="#{searchBean.productView.name eq 'ListView' ? 'margin1':''}" value="margin-top: -47px;" />
                                        </ui:include>
                                        <div class="span12">
                                            <apd:pagination pageDisplay="#{searchBean.pageDisplay}" render="browse-form" forceDisplay="true"/>
                                        </div>
                                    </h:panelGroup>
                                </div>
                               <h:panelGroup rendered="#{searchBean.productView.name eq 'ListView'}">
	                                <div class="span4">
	                                	<apd:featuredProducts products="#{searchBean.featuredProducts}" label="Featured Products"/>
	                                </div>
                                </h:panelGroup>
                            </h:panelGroup>
                            </h:panelGroup>
                        </h:form>
                     </div>
	</ui:define>
    <ui:define name="inserted-js">
        <script>    
            $(document).ready(function() {addFunctionToCallAfterAjax(function() {
              
                if (document.getElementById("refine-search-form:refine-search-input") != null) {
                    handleDefaultInputValue("refine-search-form:refine-search-input", "#{searchBean.defaultRefineSearchString}", true);
                    document.getElementById("refine-search-form:refine-search-input").onkeypress = function(event) {
                    if (event.which === 13) {
                        $handleRefineSearchRedirect();
                        }
                    };
                    $("#refine-search-form\\:refine-search-input").blur(function() {
                        if (this.value == '') {
                            handleDefaultInputValue("refine-search-form:refine-search-input", "#{searchBean.defaultRefineSearchString}", true);                       
                        }
                    });
                }
                validateFilters();
            });
            expandCheckedFilters();
            
            });

            function setupFilterShowHide(listName,showButtonName,hideButtonName){
            	category_size_li = $(listName +" li").size();
                category_show_all_index = category_size_li-1;
                show_fewer_index = category_size_li;
                if(category_size_li &gt; 8) {
                	$(listName+' li:lt(6)').show();
                	$(listName+' li:nth-child(' +category_show_all_index +')').show();
                	$(listName+' li:nth-child('+show_fewer_index+')').hide();
                	
                } 

                if (category_size_li &lt;= 8) {                    
                	$(listName+' li:lt('+category_size_li+')').show();
                	$(listName+' li:nth-child('+category_show_all_index+')').hide();
                    $(listName+' li:nth-child('+show_fewer_index+')').hide();
                }

				$(showButtonName).click(function (size,showAll,showFewer,list) {

					return function(){
	                    $(list+' li:lt('+size+')').show();
	                    $(list+' li:nth-child('+showAll+')').hide();
	                    $(list+' li:nth-child('+showFewer+')').show();
					};
				}(category_size_li,category_show_all_index,show_fewer_index,listName));

                $(hideButtonName).click(function (size,showAll,showFewer,list) {

					return function(){
	                	$(list+' li:lt('+size+')').hide();
	                	$(list+' li:lt(6)').show();
	                	$(list+' li:nth-child('+showAll+')').show();
	                	$(list+' li:nth-child('+showFewer+')').hide();
					};
                }(category_size_li,category_show_all_index,show_fewer_index,listName));
            }
           
            $(document).ready(function() {

                setupFilterShowHide("#categoryList","#showAllAvaliableCategories","#showFewerAvaliableCategories");

                setupFilterShowHide("#globalTypeList","#showAllAvaliableGlobalTypes","#showFewerAvaliableGlobalTypes");

                setupFilterShowHide("#manufacturerList","#showAllManufacturers","#showFewerManufacturers");
                
            });
                        
        </script>
    </ui:define>
</ui:composition>
