<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceProductCompareTemplate.xhtml">
    <f:metadata>
        <f:viewParam name="prevPageNumber" required = "false"/>
        <f:event type="preRenderView" listener="#{searchBean.addNewLastResultsUrl()}"/>
    </f:metadata>

    <ui:define name="page_content">
    <h:form id="compare-form">
        <h:outputScript library="js" name="setGetParameter.js" />
        <div class="row apdMarginTop container">	
            <div class="span6 shoppoingCart-Header">
                <h3>#{display['compare.header']}</h3>&#160;&#160; 
               	<p>
                    <a href="#" onclick="setGetParameter('page','#{searchBean.lastResultsPage}','#{searchBean.getReturnUrl()}','#{linksBean.home}');">
                        <em class="icon-backward"/>
                        #{display['compare.return']}
                    </a>
                </p>
            </div>
        </div>
        <div class="row-fluid show-grid">  
            <h:panelGroup id="images-block" layout="block" class="row-fluid sectionBordersFull container">                    
                <!-- ======== PRODUCT 1 ========== -->
                <div class="span2 featured-product"></div>
                <a4j:repeat rowKeyVar="index" var="comparisonItem" value="#{productCompareBean.compareList}">
                    <div class="span2 featured-product">
                        <!-- REMOVE -->    
                        <div class="pull-right">
                            <a4j:commandLink render="compare-form" styleClass="btn btn-small btnRed btnRemoveComp" action="#{productCompareBean.remove(index)}">
                                <i class="icon-remove icon-white"></i>
                            </a4j:commandLink>
                        </div>  

                        <!-- IMAGE -->
                        <div class="mobilePic">
                            <a class="thumbnail" href="#{comparisonItem.product.detailsLink}">
                            	<img src="#{comparisonItem.product.mainImageUrl}" class="crop153by153"/>
                            </a>
                        </div>
					</div>
				</a4j:repeat>
            </h:panelGroup>
            <h:panelGroup id="info-block" layout="block" class="row-fluid sectionBordersFull container">
            	<div class="span2 featured-product"></div>
                <a4j:repeat rowKeyVar="index" var="comparisonItem" value="#{productCompareBean.compareList}">
                	<div class="span2 featured-product">
                        <div class="product-infoComp">
                            <div class="manufacturer">#{comparisonItem.product.manufacturerName}</div>
                            <div class="title">
	                            <a href="#{comparisonItem.product.detailsLink}">
	                            	#{comparisonItem.product.name}
	                            </a>
                            </div>
                            <div class="sku">
                                <strong>#{display['compare.sku']}</strong>#{comparisonItem.product.customerSku}
                            </div>
                            <div class="product-icons">
		                        <a4j:repeat rendered="#{not empty comparisonItem.product.iconMap.keySet()}" value="#{viewUtils.mapToList(comparisonItem.product.iconMap)}" var="entry" rowKeyVar="index">
		                            <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
		                        </a4j:repeat>
                            </div>
                            <div class="btnsPS">
	                            
	                            <apd:addToCart product="#{comparisonItem.product}" narrow="true" />                                                         
	                                
                            </div>
                        </div>
                        <div class="clearfix"></div>

					</div>
				</a4j:repeat>
            </h:panelGroup>
            <h:panelGroup id="compare-block" layout="block" class="row-fluid sectionBordersFull container">
            	<div class="span2 featured-product grayHeaderBox"></div>
                <a4j:repeat rowKeyVar="index" var="comparisonItem" value="#{productCompareBean.compareList}">
                	<div class="span2 featured-product grayHeaderBox">
						<h5>#{display['compare.detail']}</h5>
                    </div>
                </a4j:repeat>
            </h:panelGroup>
            <a4j:repeat rowKeyVar="index" var="detail" value="#{productCompareBean.compileUniqueSpecLabels()}" >
	            <h:panelGroup id="specs-block" layout="block" class="row-fluid sectionBordersFull container">
                	<div class="span2 featured-product #{index % 2 == 0 ? 'compWhite' : 'compGray'}">
                           <div class="featured-product">
                               <p>#{detail}</p>
                           </div>
                    </div>    
	                <a4j:repeat var="comparisonItem" value="#{productCompareBean.compareList}">
	                	<div class="span2 featured-product #{index % 2 == 0 ? 'compWhite' : 'compGray'}">
                            <div class="featured-product">
                                <p>#{comparisonItem.retrieveValue(detail)}</p>
                            </div>
	                    </div>    
	                </a4j:repeat>
	            </h:panelGroup>
        	</a4j:repeat>
        </div>
        <div class="clearfix"></div>       
        <div id="push"></div>
    </h:form>
    </ui:define>


</ui:composition>
