<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceFavoriteProductListTemplate.xhtml"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
    <f:metadata>
        <f:event type="preRenderView" listener="#{favoritesBean.refreshPage()}"  />
    </f:metadata>
    
    <ui:define name="page_content">
       
      <div class="row apdCenter container">	
          <div class="span6 shoppoingCart-Header">
              <h3>#{display['favorites.company.title']}</h3>
          </div>
      </div>
      <div class="row apdCenter container">	
          <div class="row-fluid">
              <div class="span12 mobileHide">
                  <div class="pull-right">
                  <!-- 
                      <h:panelGroup rendered="#{not empty favoritesBean.errorMessage}">
                          <span class="help-inline sortByLabel">
                              <i class="icon-info-sign" rel="tooltip" title="Error"/>
                              <h:outputText class="error-text"
                                            value="#{favoritesBean.errorMessage}"/>
                              #{display['favorites.listName']}
                          </span>
                      </h:panelGroup>
                      <h:inputText value="#{favoritesBean.newListName}"/>
                    -->
                     
                  </div>
              </div>
              <div class="span12 fl-wrapper">
                  <div class="span12 fl-container">
                      <div class="span12 divInside-Fade">
                          <h5>#{display['favorites.favoriesList']}</h5>
                      </div>

                      <div class="span12 headerBkgrd-pd mobileHide">
                          <div class="span3"><h4>S. No</h4></div>
                          <div class="span5"><h4>List Name</h4></div>
                          <div class="span2"><h4> </h4></div>
                          <div class="span2 pull-right"><h4></h4></div>
                          <div class="clearfix"></div>
                      </div>
                      <a4j:repeat rowKeyVar="index" rendered="#{not empty favoritesBean.companyFavoritesLists}" var="list" 
                                                                value="#{favoritesBean.companyFavoritesLists}">
                          <h:panelGroup styleClass="#{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'} span12">
                              <div class="span3 listNameField"><p>#{index +1}</p></div>
                              <div class="span5"><p><a href="#{favoritesBean.getViewLink(list.name, list.id, favoritesViewBean.COMPANY_FAVORITES_TYPE)}">#{list.name}</a></p></div>
                              <div class="span2"><p></p></div>
                              <div class="span2 pull-right actionContainer"><p></p></div>
                              <div class="clearfix"></div>
                          </h:panelGroup>
                      </a4j:repeat>
                  </div>                 
              </div>      
          </div>          
      </div>
        
    </ui:define>

</ui:composition>