<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceFavoriteProductListTemplate.xhtml"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
    <f:metadata>
        <f:event type="preRenderView" listener="#{favoritesBean.refreshPage()}"  />
        <f:event type="preRenderView" listener="#{favoritesBean.checkPermission()}"  />
    </f:metadata>
    <ui:define name="page_content">
        <h:form id="listsForm">
            <div class="row apdCenter container">	
                <div class="span6 shoppoingCart-Header">
                    <h3>#{display['favorites.my.title']}</h3>
                </div>
            </div>
            <div class="row apdCenter container">	
                <div class="row-fluid">
                    <div class="span12 mobileHide">
                        <div class="pull-right">
                        <ui:remove>
                            <h:panelGroup rendered="#{not empty favoritesBean.errorMessage}">
                                <span class="help-inline sortByLabel">
                                    <i class="icon-info-sign" rel="tooltip" title="Error"/>
                                    <h:outputText class="error-text"
                                                  value="#{favoritesBean.errorMessage}"/>
                                    #{display['favorites.listName']}
                                </span>
                            </h:panelGroup>
                            <h:inputText value="#{favoritesBean.newListName}"/>
                         </ui:remove>
                           <h:commandLink styleClass="btn smallBtn" value="View All" action="#{favoritesBean.getAllUserFavorites()}"/>
                        </div>
                    </div>
                    <div class="span12 fl-wrapper">
                        <div class="span12 fl-container">
                            <div class="span12 divInside-Fade">
                                <h5>#{display['favorites.favoriesList']}</h5>
                            </div>

                            <div class="span12 headerBkgrd-pd mobileHide">
                                <div class="span3"><h4>List Name</h4></div>
                                <div class="span5"><h4>Product(s)</h4></div>
                                <div class="span2"><h4> </h4></div>
                                <div class="span2 pull-right"><h4>Actions</h4></div>
                                <div class="clearfix"></div>
                            </div>
                            <a4j:repeat rowKeyVar="index" rendered="#{not empty favoritesBean.userFavoritesListsPaginated}" var="list" 
                                                                      value="#{favoritesBean.userFavoritesListsPaginated}">
                                <h:panelGroup rendered="#{favoritesBean.getItemCount(list.id) >= 0}" styleClass="#{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'} span12">
                                    <div class="span3 listNameField">
                                        <p>
                                            <a href="#{favoritesBean.getViewLink(list.name, list.id, favoritesViewBean.PERSONAL_FAVORITES_TYPE)}">#{list.name}</a>
                                        </p>
                                    </div>
                                    <div class="span5"><p>#{favoritesBean.getItemCount(list.id)} Total Product(s)</p></div>
                                    <div class="span2"><p></p></div>
                                    <div class="span2 pull-right actionContainer">
                                        <a4j:commandLink render="listsForm" action="#{favoritesBean.setSelectedList(list)}">
                                            <i class="icon-pencil smallIcon" rel="tooltip" title="Edit"/>
                                        </a4j:commandLink>
                                        <a href="#{favoritesBean.getViewLink(list.name, list.id, favoritesViewBean.PERSONAL_FAVORITES_TYPE)}">
                                            <i class="icon-view smallIcon" rel="tooltip" title="View"/>
                                        </a>
                                        <a href="#confirmListDelete" onclick='setSelectedListById(${list.id});' data-toggle="modal">
                                            <i class="icon-trash smallIcon" rel="tooltip" title="Delete List"/>
                                        </a>              
                                    </div>
                                    <div class="clearfix"></div>
                                </h:panelGroup>
                            </a4j:repeat>
                        </div>
                        <apd:pagination pageDisplay="#{favoritesBean.listPaginationWidget}" render="listsForm" /> 
                    </div>      
                </div>
                <div class="row-fluid">
                    <h:panelGroup id="listsSummary" rendered="#{not empty favoritesBean.selectedList and favoritesBean.selectedList!=null}" layout="block" styleClass="span12 fl-wrapper">
                        <div class="span12 fl-container">
                            <div class="span12 divInside-Fade">
                                <h5>#{display['favorites.modify']}</h5>
                            </div>

                            <div class="span12 borderBottom">
                                <div class="span6 inline">
                                    <h4>#{display['favorites.favoritesListName']}</h4>
                                    <h:inputText id="listName" styleClass="input-medium search-query" value="#{favoritesBean.selectedList.name}" />
                                    <a4j:commandLink value="SAVE" render="listsForm" styleClass="btn smallBtn" action="#{favoritesBean.saveSelectedList}"/>
                                </div>

                                <div class="span2 pull-right">                                
                                    <a href="#confirmListDelete" class="btn btn-primary" onclick='setSelectedListById(${favoritesBean.selectedList.id});' data-toggle="modal">
                                                #{display['favorites.deleteList']}
                                    </a> 
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="span12" style="padding:10px">
                                <a4j:repeat id="itemListBlock" rowKeyVar="index" var="product" rendered="#{not empty favoritesBean.selectedListItems}" value="#{favoritesBean.selectedListItems}">
                                    <!-- ==== PRODUCT 1 ==== -->            
                                    <h:panelGroup rendered="#{not empty product}" styleClass="row-fluid show-grid">
                                        <!-- IMAGE -->
                                        <div class="span1 mobilePic">
                                            <a href="#{favoritesBean.getProductDetailURL(product)}">
                                                <img src="#{product.mainImageUrl}"/>
                                            </a>
                                        </div>

                                        <!-- DESC -->  
                                        <div class="span5 mobileRight">
                                            <p class="product-title"><a href="#{favoritesBean.getProductDetailURL(product)}">#{product.name}</a></p>
                                            <p class="product-man">#{product.manufacturerName}</p>
                                            <p class="product-sku"><strong>SKU:</strong> #{product.customerSku}</p>
                                        </div>

                                        <!-- FEATURED -->      
                                        <div class="span2 mobileRight">
                                            <div>
                                                <a4j:repeat rendered="#{not empty product.iconMap.keySet()}" value="#{viewUtils.mapToList(product.iconMap)}" var="entry" rowKeyVar="index">
                                                    <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
                                                </a4j:repeat>
                                            </div>
                                        </div>
                                        <!-- PRICE -->    
                                        <div class="span1 mobileRight">
                                            <p class="product-price">
                                                <h:outputText value="#{product.price}">
                                                    <f:convertNumber type="currency" currencySymbol="$" />
                                                </h:outputText>
                                            </p>
                                        </div>
                                        <!-- UNITS -->
                                        <div class="span1 mobileRight">
                                            <p class="product-units">#{product.units}</p>
                                        </div>

                                        <!-- REMOVE -->    
                                        <div class="span3 removeList pull-right">
                                            <p>#{display['favorites.remove']} 
                                                <a4j:commandLink render=":listsForm" styleClass="btn btn-small btnRed btnRemove" action="#{favoritesBean.removeFromSelectedList(product)}">
                                                    <i class="icon-remove icon-white" rel="tooltip" title="Delete Item"/>
                                                </a4j:commandLink>
                                            </p>
                                        </div>                
                                    </h:panelGroup>
                                    <!-- ==== PRODUCT END ==== --> 
                                </a4j:repeat>        
                            </div>

                            <div class="span12">

                            </div>
                        </div>
                        <apd:pagination pageDisplay="#{favoritesBean.itemPaginationWidget}" render="listsSummary" />
                    </h:panelGroup>     
                </div>
            </div>
        </h:form>     
         <div id="confirmListDelete" class="modal hide fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
            <h:form id="modalForm1">
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×</button>
                            <h3 id="myModalLabel">#{display['favorites.confirm']}</h3>
                    </div>
                    <div class="modal-body">
                        <h:outputLabel value="#{display['favorites.confirmQuestion']}" />
                    </div>
                    <div class="modal-footer">
                        <h:commandButton value="Yes" action="#{favoritesBean.removeSelectedList}" styleClass="btn btn-primary">
                            <f:ajax execute="@form" onevent="modalEventHandler"/>
                        </h:commandButton>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    aria-hidden="true">No</button>
                    </div>
            </h:form>
       </div>
    </ui:define>

</ui:composition>