<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceProductBrowseTemplate.xhtml">

	<f:metadata>
	</f:metadata>
	<ui:define name="page_content">
		<div>
			<script type="text/javascript">
				$(document).ready(function() {
					//colon is special character, so it has to be escaped
					$( '#cartridgeNumberForm\\:cartridgeNumber-input' ).attr( 'placeholder', 'Enter Cartridge Number' ).val('').focus().blur();
					$( '#brandModelForm\\:brandModel-input' ).attr( 'placeholder', 'Enter Model Number' ).val('').focus().blur();
				});
			</script>
			<div class="inkTonerSearchHeader">
				<h3 class="big-red-title-center">Ink and Toner Search</h3>
			</div>
			<h:form id="brandSelectForm">
				<div class="row-fluid">
					<div class="span5">
						<p class="ink-toner-search-field-header">Brand:</p>
						<div class="ink-toner-search-field-wrapper">
						<h:selectOneMenu id="brandMenu"
							converter="#{searchBean.inkTonerManufacturerConverter}"
							valueChangeListener="#{inkTonerSearchBean.manufacturerValueChanged}"
							value="#{inkTonerSearchBean.selectedManufacturer}"
							styleClass="ink-toner-menu #{empty inkTonerSearchBean.selectedManufacturer ? 'unselected-dropdown' : ''}" 
							onchange="$('#brandSelectForm\\:brandMenu').removeClass('unselected-dropdown')">
							<f:selectItem
								itemLabel="#{inkTonerSearchBean.SELECT_BRAND_DEFAULT}"
								noSelectionOption="true" itemDisabled="true" />
							<f:selectItems value="#{searchBean.manufacturers}"
								var="manufacturer" itemValue="#{manufacturer}"
								itemLabel="#{manufacturer.name}" />
							<f:ajax event="change" execute="@form" render="@form" />
	
						</h:selectOneMenu>
						</div>
					</div>
					<div class="span5">
						<p class="ink-toner-search-field-header">Model:</p>
						<div class="ink-toner-search-field-wrapper">
						<h:selectOneMenu
							rendered="#{inkTonerSearchBean.selectedManufacturer == null}"
							disabled="true" styleClass="ink-toner-menu unselected-dropdown">
							<f:selectItem itemValue="0" itemLabel="Select a brand first"
								noSelectionOption="true" itemDisabled="true" />
						</h:selectOneMenu>
						<h:selectOneMenu
							rendered="#{inkTonerSearchBean.selectedManufacturer != null}"
							id="second-menu" value="#{inkTonerSearchBean.selectedModel}"
							styleClass="ink-toner-menu">
							<f:selectItems value="#{inkTonerSearchBean.models}" var="model"
								itemLabel="#{model.model}" itemValue="#{model.model}" />
						</h:selectOneMenu>
						</div>
					</div>
					<div class="span2">
						<h:commandButton class="btn-primary btn  btn-ink-toner-search" value="Search"
							action="#{inkTonerSearchBean.search()}"
							onclick="return inkTonerBrandNotEmpty($(this).parent().children()[2].value, 
	                                                     '#{inkTonerSearchBean.SELECT_BRAND_DEFAULT}', 
	                                                     $($(this).parent().children()[5]).children()[0].id);" />
						<div>
							<h:outputText value="Please select a brand and model"
								id="brand-empty-error-msg"
								style="display:none; color: red; font-size: 12px; line-height: 1.0px;" />
						</div>
					</div>
				</div>
			</h:form>
			<h:form id="cartridgeNumberForm">
			<h:panelGroup id="searchByCartridgePanel" rendered="#{inkTonerSearchBean.isSearchByCartridgeSupported()}" layout="block" styleClass="row-fluid">
				<div class="span5">
					<p class="ink-toner-search-field-header">Cartridge Number:</p>
					<div id="cartdrigeNumberOuterBox" class="listInput cartridgeNumberContainer ink-toner-search-field-wrapper">
						<h:inputText id="cartridgeNumber-input" value="#{inkTonerSearchBean.cartridgeNumber}" styleClass="addtoListInput typeahead" />
					</div>
				</div>
				<div class="span2">
					<h:commandButton class="btn-primary btn  btn-ink-toner-search" value="Search"
						action="#{inkTonerSearchBean.searchByCartridgeNumber()}" />
				</div>
			</h:panelGroup>
			</h:form>
			<h:form id="brandModelForm">
			<h:panelGroup id="searchByModelPanel" rendered="#{inkTonerSearchBean.isSearchByModelSupported()}" layout="block" styleClass="row-fluid">
				<div class="span5">
					<p class="ink-toner-search-field-header"> Model Number:</p>
					<div id="modelNumberOuterBox" class="listInput modelNumberContainer ink-toner-search-field-wrapper">
						<h:inputText id="brandModel-input" value="#{inkTonerSearchBean.modelNumber}" styleClass="addtoListInput typeahead" />
					</div>
				</div>
				<div class="span2">
					<h:commandButton class="btn-primary btn btn-ink-toner-search" value="Search"
						action="#{inkTonerSearchBean.searchByModelNumber()}" />
				</div>
			</h:panelGroup>
			</h:form>
			<a4j:jsFunction name="submitBrandModel" action="#{inkTonerSearchBean.searchByModelNumber()}">                
	                <a4j:param name="modelNumber" assignTo="#{inkTonerSearchBean.modelNumber}" /> 
	        </a4j:jsFunction>
	        <a4j:jsFunction name="submitCartridgeNumber" action="#{inkTonerSearchBean.searchByCartridgeNumber()}">                
	                <a4j:param name="cartridgeNumber" assignTo="#{inkTonerSearchBean.cartridgeNumber}" /> 
	        </a4j:jsFunction>
	        <div>
	        	<h:messages styleClass="error"/>
	        </div>
        </div>
	</ui:define>
	</ui:composition>