<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceProductDetailsTemplate.xhtml">

    <f:metadata>
        <f:viewParam name="vendorName" value="#{productDetailsBean.vendorName}" required="true" />
        <f:viewParam name="apdSku"
                     value="#{productDetailsBean.apdSku}" required="true" />        
        <f:viewParam name="displayFavs" required="false" />
        <f:viewParam name="prevPageNumber" required = "false"/>
         <f:viewParam name="productAddedToList" value="#{productDetailsBean.productAddedToList}" required = "false"/>
         <f:viewParam name="displayFavoritesListName" value="#{productDetailsBean.displayFavoritesListName}" required = "false"/>
        <f:viewParam name="productTab" required = "false"/>
        <f:event type="preRenderView" listener="#{productDetailsBean.retrieve}"/>
        <f:event type="preRenderView" listener="#{searchBean.addNewLastResultsUrlIf(empty productTab)}"/>
    </f:metadata>

    <ui:define name="page_content">
        <script type="text/javascript">
            $(document).ready(function() {addFunctionToCallAfterAjax(function() {
               if ('#{displayFavs}' == 'true') {
                   document.getElementById("user-fav-dd").style.display='block';
                   hovering = false;
                   $("#user-fav-dd").hover(function() {
                       hovering = true;
                   });
                   setTimeout(function() {
                       if (!hovering) {
                           document.getElementById("user-fav-dd").style.display='none';
                       }
                   }, 3000);
                }               
            });
            showAddedToListModal();
            });
            function showAddedToListModal() {
                if ('#{productDetailsBean.productAddedToList}' == 'true') {
             	   showPopup('item-added-to-list-modal');
                }
            }
        </script>
        <h:outputScript library="js" name="setGetParameter.js" />
        <div class="row apdMarginTop container">
            <h:form id="productDetailsForm">
            	<div class="row-fluid">
            		<ui:include src="/WEB-INF/components/inserts/experience/searchMessages.xhtml" />
            	</div>
                <div class="row-fluid">
                	<h:panelGroup layout="block" styleClass="span12" rendered="#{not empty searchBean.breadcrumb.crumbs}">
                         <ul class="breadcrumb">
                             <a4j:repeat value="#{searchBean.breadcrumb.crumbs}"
                                         var="breadcrumb">
                                 <li>
                                     <a href="#{searchBean.breadcrumb.getCrumbURL(breadcrumb)}">#{breadcrumb.displayName}</a> 
                                     <span class="divider"> > </span></li>
                             </a4j:repeat>
                         </ul>
                    </h:panelGroup>
                    <div class="span9">
	                	<div class="span5" id="pd-main-image-wrapper">
	                        <!-- Slider -->
	                        <!-- Top part of the slider -->
	                        <div class="span12 returnLink">
	                            <p>
	                                <a href="#" onclick="setGetParameter('page','#{searchBean.lastResultsPage}','#{searchBean.getReturnUrl()}','#{linksBean.home}');">
	                                    <em class="icon-backward"/>
	                                    #{display['details.product.return']}
	                                </a>
	                            </p>
	                        </div>
	
	                        <div class="span12" id="carousel-bounding-box">
	                            <div class="carousel slide" id="myCarousel">
	                                <!-- Carousel items -->
	                                <div class="carousel-inner">
	                                    <a4j:repeat var="image" value="#{productDetailsBean.itemImages}" rowKeyVar="i">
	                                        <h:panelGroup rendered="#{i lt 4}">
	                                            <h:panelGroup rendered="#{i==0}">
	                                                <div class="active item" data-slide-number="#{i}"><img src="#{image}" class="crop250by250"/>                                                                                                                                           
														<a href="#{productDetailsBean.getLargerImageUrl(image)}" target="_blank"> <img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/btnPlus.png"/> View Larger Image</a>
													</div>
	                                            </h:panelGroup>
	                                            <h:panelGroup rendered="#{i!=0}">
	                                                <div class="item" data-slide-number="#{i}"><img src="#{image}" class="crop250by250"/>                                                                                            
														<a href="#{productDetailsBean.getLargerImageUrl(image)}" target="_blank"> <img src="#{propertiesBean.get('tenant','content.service.secure.tenant.domain')}/images/btnPlus.png"/>View Larger Image</a>
													</div>
	                                            </h:panelGroup>
	                                        </h:panelGroup>
	                                    </a4j:repeat>
	                                </div>                                
	                            </div>
	                        </div><!-- Bottom switcher of slider -->
	                        <ul class="thumbnails mobileHide">
	                            <a4j:repeat var="image" value="#{productDetailsBean.itemImages}" rowKeyVar="i">
	                                <h:panelGroup rendered="#{i lt 4}">
	                                    <li class="span3">
	                                        <a class="thumbnail" id="carousel-selector-#{i}"><img src="#{image}" class="crop60by60"/></a>
	                                    </li>         
	                                </h:panelGroup>
	                            </a4j:repeat>
	                        </ul>
	                    </div> 
	                    <!-- ======= DESCRIPTION ======== -->			
	                    <div class="span7 productContent">
	                        <div class="span12 product-Title">
	                        	<h:panelGroup rendered="#{not empty productDetailsBean.product.brandImage}" >
	                            	<img  src="#{productDetailsBean.product.brandImage}" class="crop75by75" />
	                            </h:panelGroup>
	                            <h3 class="text-left big-red-title">#{productDetailsBean.productName}</h3>
                                <h:panelGroup rendered="#{not empty productDetailsBean.sellingPoints}" layout="block" styleClass="span12 product-desc">
                                	<ul class="descBullet">
                                		<a4j:repeat value="#{productDetailsBean.sellingPoints}" var="sellingPoint">
											<li><p><h:outputText value="#{sellingPoint.value}" /></p></li>
										</a4j:repeat>
									</ul>
								</h:panelGroup>
	                            <div class="span6 product-features">
	                                <div>
			                            <p class="product-sku">MFR. SKU: #{productDetailsBean.productManufacturer}</p>
			                            <p class="product-sku">SKU: #{productDetailsBean.productSku}</p>
			                            <div class="product-icons">
					                        <a4j:repeat rendered="#{not empty productDetailsBean.product.iconMap.keySet()}" value="#{viewUtils.mapToList(productDetailsBean.product.iconMap)}" var="entry" rowKeyVar="index">
					                            <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
					                        </a4j:repeat>
					                    </div>
			                            
			                            <h:panelGroup rendered="#{not empty productDetailsBean.product.forModelNumbers}" >
										      <p class="product-sku">
										      	<strong>For use with / fits: </strong>
										      	#{productDetailsBean.product.forModelNumbers}
										      </p>							     
										</h:panelGroup>
	                            	</div>
	                            </div>
	                            <div class="span6 product-features">
	                            <div class="qtyContainer" id="add">
	                     	<h:panelGroup layout="block" id="addToCartSpan">
	                     	
                            	<apd:addToCart product="#{productDetailsBean.product}" narrow="true"/>
								<h:panelGroup rendered="#{addToCartBean.isDiscontinued(productDetailsBean.product)}" layout="block" styleClass="pull-right pd-add-to-cart-info">
	                                    <font color="red"><strong>Discontinued</strong></font>
                                        <h:panelGroup rendered="#{productDetailsBean.product.replacementSku != null and productDetailsBean.product.replacementVendor != null}">                                        
                                            <div>
                                                Replacement SKU: <a href="#{productBrowseBean.getReplacementProductDetailsLink(productDetailsBean.product)}">#{productDetailsBean.product.replacementSku}</a>
                                            </div>
                                        </h:panelGroup>
	                            </h:panelGroup>
                                <h:panelGroup rendered="#{addToCartBean.isContactRequired(productDetailsBean.product)}" layout="block" styleClass="pull-right pd-add-to-cart-info">                               
                                    <font color="red"><strong>Contact Us For Pricing : </strong></font>
                                       #{pageCssBean.callUsPhone}
                                </h:panelGroup>
						    </h:panelGroup>
						</div>
								</div> 
	                        </div>
	                    </div>
	                    <div class="row-fluid container pd-tabcontainer">
	                    <div class="span12 offset4">
	                        <div class="tabbable pd-tabs">
	                            <ul class="nav nav-tabs" id="productDetailTabs">
	                            	<a4j:repeat value="#{productRelationshipBean.orderedRelationshipTabList}" var="relationshipName" rowKeyVar="index">
			                                <li class="#{productDetailsBean.shouldRenderTab('relationshipTab'.concat(index), productTab) ? 'active' : ''}">
			                                    <a data-toggle="tab" class="show-in-modern-browsers" href="#relationshipTab#{index}">
			                                        <h5>#{relationshipName}</h5></a>
			                                    <!-- PHOEN-5372 the link used here should be available for both regular and peek product details,
			                                    	instead of just returning the regular product details link -->
			                                    <a class="show-in-ie7" href="#{productDetailsBean.product.detailsLink}&amp;productTab=relationshipTab#{index}">
			                                        <h5>#{relationshipName}</h5></a>
			                                </li>
	                            	</a4j:repeat>
	                                <li class="#{productDetailsBean.shouldRenderTab('tab1', productTab) ? 'active' : ''}">
	                                    <a data-toggle="tab" class="show-in-modern-browsers" href="#tab1">
	                                        <h5>#{display['details.product.productDetails']}</h5></a>
	                                    <!-- PHOEN-5372 the link used here should be available for both regular and peek product details,
	                                    	instead of just returning the regular product details link -->
	                                    <a class="show-in-ie7" href="#{productDetailsBean.product.detailsLink}&amp;productTab=tab1">
	                                        <h5>#{display['details.product.productDetails']}</h5></a>
	                                </li>
	                                <li class="#{productDetailsBean.shouldRenderTab('tab2', productTab) ? 'active' : ''}">
	                                    <a data-toggle="tab" class="show-in-modern-browsers" href="#tab2">
	                                        <h5>#{display['details.product.classifications']}</h5></a>
	                                    <!-- PHOEN-5372 the link used here should be available for both regular and peek product details,
	                                    	instead of just returning the regular product details link -->
	                                    <a class="show-in-ie7" href="#{productDetailsBean.product.detailsLink}&amp;productTab=tab2">
	                                        <h5>#{display['details.product.classifications']}</h5></a>
	                                </li>
	                            </ul>
	
	                            <ui:include src="/WEB-INF/components/inserts/product/productTabs.xhtml">
	                                <ui:param name="detailsBean" value="#{productDetailsBean}" />
	                                <ui:param name="productTab" value="#{productTab}" />
	                                <ui:param name="isPeekProduct" value="false" />
	                            </ui:include>
	                        </div>
	                    </div>
                	</div>
                
                    </div>
                    <!-- ======= DESCRIPTION END ======== -->
                    <h:outputScript name="js/spinner.js" target="head" />
                            <script type="text/javascript">
                            init("productDetailsForm","1");
                    </script>
                    <div class="span3" style="float:right">
	                    <apd:featuredProducts products='#{productRelationshipBean.substituteProductList}' label="#{display['details.product.substitutions']}"/>
	                    <h:panelGroup rendered="#{empty productRelationshipBean.substituteProductList}" >
	                    	<apd:featuredProducts products='#{productRelationshipBean.similarItemMap.get("UPSELL")}' label="Also Consider"/>
	                    </h:panelGroup>

                    </div>
                </div>
                <!-- ====== ADDED THIS CLASS ====== -->        
                <div class="clearfix"></div>
                <!-- ====== TABS ====== -->        
                
            </h:form>
        </div>        
        <div id="push"></div>  
        <div class="modalContainer">
            <rich:popupPanel id="item-added-to-list-modal" style="background:white;" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
                <f:facet name="controls">
                    <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('item-added-to-list-modal')}.hide(); return false;" />
                </f:facet>
                <span id="added-to-list-text" style="color:black;padding:5px;">#{productDetailsBean.apdSku} added to list "#{productDetailsBean.displayFavoritesListName}"</span>
            </rich:popupPanel>
        </div>
    </ui:define>

</ui:composition>
