<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceExpressOrderTemplate.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <f:metadata>
        <f:viewParam name="formSubmitted" value="#{requestItemBean.formSubmitted}" />
    </f:metadata>
    <ui:define name="page_title">#{display['request.title']}</ui:define>
    <ui:define name="page_content">
        <h:form rendered="#{not requestItemBean.formSubmitted}" id="requestForm" class="form-inline">
           
            <div>
                    <h2>#{display['request.header']}</h2>
                    <h5>#{display['request.instruction']}</h5>		
            </div>
             <h:panelGrid columns="3">
                <h:outputLabel value="Name of Requestor *" />
                <h:inputText id="requestor" value="#{requestItemBean.requestor}" 
                             required="true" requiredMessage="Please enter your name."/>
                <h:message for="requestor" class="error-text"/>
                
                <h:outputLabel value="Email Address *" />
                <h:inputText id="email" value="#{requestItemBean.email}">
                    <f:validator  validatorId="emailFieldValidator"/>
                </h:inputText>
                <h:message for="email" class="error-text"/>

                <h:outputLabel value="Requested Part # *" />
                <h:inputText id="partNumber" value="#{requestItemBean.partNumber}" 
                             required="true" requiredMessage="Please enter a part number." />
                <h:message for="partNumber" class="error-text"/>

                <h:outputLabel value="Item Description *" />
                <h:inputText id="description" value="#{requestItemBean.description}" 
                             required="true" requiredMessage="Please enter an item description."/>
                <h:message for="description" class="error-text"/>

                <h:outputLabel value="How often do you order this item*" />
                <h:inputText id="howOften" value="#{requestItemBean.howOften}" 
                             required="true" requiredMessage="Please enter an estimate on how often you order this item." />
                <h:message for="howOften" class="error-text"/>

                <h:outputLabel value="Quantity Needed *" />
                <h:inputText id="quantity" value="#{requestItemBean.quantity}" 
                             required="true" requiredMessage="Please enter the quantity needed."
                             validatorMessage="Please enter a valid number.">
                    <f:validateLongRange minimum="0" />
                </h:inputText>
                <h:message for="quantity" class="error-text"/>

                <h:outputLabel value="Div-Dept *" />
                <h:inputText id="divDept" value="#{requestItemBean.divDept}" 
                             required="true" requiredMessage="Please enter the Div-Department." />
                <h:message for="divDept" class="error-text"/>
            
            <div class="">
                <h:commandButton value="submit" action="#{requestItemBean.submit()}" styleClass="btn btn-primary" />
            </div>            
            </h:panelGrid>
            <div id="push"></div>
	</h:form>
        
        <h:panelGroup rendered="#{requestItemBean.formSubmitted}"><h3>#{display['request.submitted']}</h3></h:panelGroup>
        
    </ui:define>
</ui:composition>